Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

Update frequently-asked-questions.md
  docs/content/en/integration/openid-connect/frequently-asked-questions.md
Due: none

docs: fix typo (#5301)
  docs/content/en/integration/openid-connect/frequently-asked-questions.md
Due: none

docs(oidc): tailscale integration (#5287)
  docs/content/en/integration/openid-connect/tailscale/index.md
  docs/content/en/integration/openid-connect/tailscale/tailscale_signup_1.png
Due: none

docs: misc fix
  docs/content/en/integration/openid-connect/tailscale/index.md
Due: none

docs: misc fix (#5302)
  docs/content/en/integration/openid-connect/tailscale/index.md
Due: none

Create portal.json
  internal/server/locales/sl-SI/portal.json
Due: backend

Add files via upload
  docs/content/en/integration/openid-connect/Kasm-Workspace/index.md
Due: none

Add files via upload
  docs/content/en/integration/openid-connect/Kasm-Workspace/kasm.png
Due: none

Update index.md
  docs/content/en/integration/openid-connect/Kasm-Workspace/index.md
Due: none

Delete kasm.png
  docs/content/en/integration/openid-connect/Kasm-Workspace/kasm.png
Due: none

Add files via upload
  docs/content/en/integration/openid-connect/Kasm-Workspace/kasmconfig.png
Due: none

Final changes
  docs/content/en/integration/openid-connect/Kasm-Workspace/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/kasmconfig.png
Due: none

edit screenshot
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/kasm.png
  docs/content/en/integration/openid-connect/kasm-workspaces/kasmconfig.png
Due: none

Correct screenshot
  docs/content/en/integration/openid-connect/kasm-workspaces/kasm.png
Due: none

Screenshot
  docs/content/en/integration/openid-connect/kasm-workspaces/kasm.png
Due: none

Commit documentation files
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/kasm.png
Due: none

i18n: update translation for portal.json (German)
  internal/server/locales/de-DE/portal.json
Due: backend

i18n: update translation for portal.json (Hungarian)
  internal/server/locales/hu-HU/portal.json
Due: backend

i18n: update translation for portal.json (Slovenian)
  internal/server/locales/sl-SI/portal.json
Due: backend

i18n: update translation for portal.json (Chinese Traditional)
  internal/server/locales/zh-TW/portal.json
Due: backend

i18n: update translations (#5315)
  internal/server/locales/de-DE/portal.json
  internal/server/locales/hu-HU/portal.json
  internal/server/locales/sl-SI/portal.json
  internal/server/locales/zh-TW/portal.json
Due: backend

docs: implement developer certificate of origin (#5096)
  CONTRIBUTING.md
  cmd/authelia-gen/templates/docs-contributing-development-commitmsg.md.tmpl
  cmd/authelia-gen/templates/dot_commitlintrc.js.tmpl
  docs/content/en/contributing/guidelines/commit-message.md
  docs/content/en/contributing/guidelines/pull-request.md
  docs/content/en/integration/openid-connect/misago/index.md
  web/.commitlintrc.js
Due: frontend

i18n: update generated language support
  docs/content/en/integration/openid-connect/tailscale/index.md
  docs/data/languages.json
  web/src/i18n/index.ts
Due: frontend

i18n: update generated language support (#5316)
  docs/content/en/integration/openid-connect/tailscale/index.md
  docs/data/languages.json
  web/src/i18n/index.ts
Due: frontend

Update docs/content/en/integration/openid-connect/kasm-workspaces/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
Due: none

Update index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
Due: none

docs(oidc): kasm workspaces (#5314)
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/kasm.png
Due: none
