Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: add claims hydration bug to karakeep
  docs/content/integration/openid-connect/clients/karakeep/index.md
Due: none

docs: add claims hydration bug to karakeep (#10121)
  docs/content/integration/openid-connect/clients/karakeep/index.md
Due: none

docs: fixed correct token_endpoint_auth_method setting
  docs/content/integration/openid-connect/clients/mailcow/index.md
Due: none

docs: update mailcow (#10131)
  docs/content/integration/openid-connect/clients/mailcow/index.md
Due: none

docs: new blog post for securing apps with basic auth
  docs/content/blog/protecting-applications-with-basic-auth/authforward.webp
  docs/content/blog/protecting-applications-with-basic-auth/index.md
Due: none

docs: restore redirects for netlify
  docs/netlify.toml
Due: none

[Documentation] Add required claims for OIDC client Jenkins.
  docs/content/integration/openid-connect/clients/jenkins/index.md
Due: none

ci: add codeowners
  .github/CODEOWNERS
Due: none

ci: add codeowners (#10147)
  .github/CODEOWNERS
Due: none

docs: restore redirects for netlify (#10137)
  docs/netlify.toml
Due: none

Update docs/content/integration/openid-connect/clients/jenkins/index.md
  docs/content/integration/openid-connect/clients/jenkins/index.md
Due: none

fix(configuration): linting adjustments
  internal/configuration/schema/types_test.go
Due: backend

refactor: replace go-yaml/yaml with official yaml fork (#10120)
  cmd/authelia-gen/cmd_docs_date.go
  cmd/authelia-gen/cmd_docs_seo.go
  cmd/authelia-gen/cmd_misc.go
  cmd/authelia-gen/helpers.go
  go.mod
  go.sum
  internal/authentication/file_user_provider_database.go
  internal/commands/debug.go
  internal/commands/storage_run.go
  internal/commands/util.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/model/totp_configuration.go
  internal/model/totp_configuration_test.go
  internal/model/webauthn.go
  internal/model/webauthn_test.go
  internal/suites/suite_cli_test.go
  internal/templates/funcs.go
Due: backend

Update index.md
  docs/content/integration/openid-connect/clients/zipline/index.md
Due: none

docs(oidc): update zipline (#10151)
  docs/content/integration/openid-connect/clients/zipline/index.md
Due: none

fix(oidc): consent claims not written to database
  internal/handlers/handler_oauth2_consent.go
Due: backend

fix(oidc): consent form not restored (#10152)
  internal/handlers/handler_oauth2_consent.go
Due: backend

fix(web): fontawesome updates and overrides
  .trufflehog
  web/src/components/FailureIcon.tsx
  web/src/components/InformationIcon.tsx
  web/src/components/SuccessIcon.tsx
  web/vite.config.ts
Due: frontend

fix(authelia): remove auth proxy config
  docs/content/integration/openid-connect/clients/linkding/index.md
Due: none

docs(oidc): update linkding (#10158)
  docs/content/integration/openid-connect/clients/linkding/index.md
Due: none

docs(oidc): update nextcloud (#9874)
  docs/content/integration/openid-connect/clients/nextcloud/index.md
Due: none

test: add tests
  internal/commands/acl.go
  internal/commands/acl_test.go
Due: backend

test: add tests
  internal/commands/acl.go
Due: backend

test: add test coverage
  internal/model/one_time_code.go
  internal/model/one_time_code_test.go
Due: backend

test: add tests
  internal/commands/debug.go
  internal/handlers/handler_oauth2_authorization_claims.go
  internal/handlers/handler_oauth2_oidc_userinfo.go
  internal/handlers/handler_oauth2_token.go
  internal/oidc/claims.go
  internal/oidc/claims_test.go
  internal/oidc/client_test.go
  internal/oidc/util.go
Due: backend

test: add tests
  internal/model/one_time_code_test.go
  internal/model/types_test.go
Due: backend

test: add test coverage
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/model/one_time_code_test.go
Due: backend

test: add test coverage
  internal/commands/acl.go
  internal/commands/build-info.go
  internal/commands/config.go
  internal/commands/crypto.go
  internal/commands/crypto_hash.go
  internal/commands/crypto_helper.go
  internal/commands/debug.go
  internal/commands/storage_run.go
  internal/commands/util.go
  internal/totp/totp_test.go
Due: backend

test: add tests
  internal/commands/acl_test.go
  internal/oidc/claims_test.go
  internal/oidc/client_test.go
Due: backend

test: add tests
  internal/middlewares/errors_test.go
  internal/middlewares/password_policy_test.go
  internal/middlewares/util_test.go
  internal/middlewares/wrap_test.go
  internal/notification/file_notifier.go
  internal/notification/file_notifier_test.go
  internal/server/asset_test.go
  internal/service/signal_test.go
  internal/storage/sql_rows.go
  internal/storage/sql_rows_test.go
  internal/storage/types_test.go
  internal/utils/errs_test.go
Due: backend

test: add tests
  internal/totp/totp.go
  internal/totp/totp_test.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
  internal/utils/files_test.go
  internal/utils/locale_test.go
  internal/utils/strings.go
  internal/utils/time_test.go
Due: backend

test: add tests
  internal/model/user_test.go
  internal/regulation/regulator_blackbox_test.go
  internal/regulation/regulator_whitebox_test.go
  internal/regulation/types.go
  internal/regulation/types_test.go
  internal/regulation/util_test.go
Due: backend

test: add tests
  internal/model/types_test.go
  internal/model/user_opaque_identifier_test.go
  internal/model/user_test.go
  internal/model/uuid_test.go
  internal/model/webauthn_test.go
Due: backend

test: add tests
  internal/model/one_time_code_test.go
  internal/model/schema_migration_test.go
  internal/model/totp_configuration.go
  internal/model/totp_configuration_test.go
  internal/model/types_test.go
Due: backend

test: add tests
  internal/commands/storage_run.go
Due: backend

ci: adjust coverage config
  .codecov.yml
Due: none

test: add tests
  internal/commands/crypto_helper.go
  internal/configuration/test_resources/crypto/ecdsa.pair.P256.pem
  internal/configuration/test_resources/crypto/ecdsa.pair.P256.public.pem
  internal/configuration/test_resources/crypto/ed25519.pair.pem
  internal/configuration/test_resources/crypto/ed25519.pair.public.pem
  internal/configuration/test_resources/crypto/example.crl
  internal/configuration/test_resources/crypto/example.csr
  internal/configuration/test_resources/crypto/rsa.pair.2048.legacy.pem
  internal/configuration/test_resources/crypto/rsa.pair.2048.public.legacy.pem
  internal/suites/suite_cli_test.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
