Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: gofmt
  internal/authentication/file_user_provider.go
Due: backend

refactor: cmd
  internal/commands/crypto_hash.go
  internal/commands/root.go
Due: backend

refactor: web
  web/src/i18n/index.ts
Due: frontend

fix(web): old safari broadcastchannel not supported
  web/package.json
  web/pnpm-lock.yaml
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

refactor: adjust caching processes
  internal/middlewares/asset_override.go
  internal/server/asset.go
Due: backend

fix: await channel post message
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

fix: use explicit channel type
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

fix: trigger via event listener
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

refactor: fix lint
  internal/server/asset.go
Due: backend

fix(web): add broadcast redirection conditional
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

fix(web): fix redirection conditional for one factor use case
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

refactor(web): conditional order
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

refactor: adjust templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/templates/github_issue_template_feature.yml.tmpl
Due: none

fix: ignore yamllint
  .yamllint.yml
Due: none

fix(server): i18n etags missing (#3973)
  crowdin.yml
  internal/middlewares/asset_override.go
  internal/server/asset.go
  internal/server/const.go
  internal/server/handlers.go
  internal/server/locales/de-DE/portal.json
  internal/server/locales/es-ES/portal.json
  internal/server/locales/fr-FR/portal.json
  internal/server/locales/nl-NL/portal.json
  internal/server/locales/pt-PT/portal.json
  internal/server/locales/ru-RU/portal.json
  internal/server/locales/sv/portal.json
  internal/server/locales/zh-CN/portal.json
  internal/server/template.go
  web/src/i18n/index.ts
Due: backend, frontend

fix: misc linting issues etc
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/cmd_github.go
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/types.go
Due: none

feat: gen config key docs
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_docs.go
  cmd/authelia-gen/cmd_docs_keys.go
  cmd/authelia-gen/cmd_root.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/types.go
  docs/config/_default/menus/menus.en.toml
  docs/content/en/configuration/methods/environment.md
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/policies/privacy.md
  docs/content/en/policies/security.md
  docs/content/en/reference/guides/domain-sanitizaiton.md
  docs/content/en/reference/guides/troubleshooting-sanitizaiton.md
  docs/data/configkeys.json
  docs/layouts/policies/list.html
  docs/layouts/shortcodes/table-config-keys.html
  internal/configuration/helpers.go
  internal/configuration/helpers_test.go
  internal/configuration/sources.go
Due: backend

fix: remove unused code
  cmd/authelia-gen/cmd_locales.go
Due: none

docs: gen
  cmd/authelia-gen/cmd_docs_keys.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/content/en/reference/guides/troubleshooting-sanitizaiton.md
Due: none

fix: allow excluding the exact command path rather than just name
  cmd/authelia-gen/cmd_root.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_keys.md
Due: none

fix: run generators
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/content/en/reference/guides/internationalization.md
  docs/content/en/reference/guides/troubleshooting-sanitizaiton.md
  docs/data/languages.json
  internal/server/asset.go
  web/src/i18n/index.ts
Due: backend, frontend

fix: spacing
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  web/src/i18n/index.ts
Due: frontend

i18n: update translations (#3972)
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/content/en/reference/guides/internationalization.md
  docs/content/en/reference/guides/troubleshooting-sanitizaiton.md
  docs/data/languages.json
  internal/server/asset.go
  internal/server/locales/ar-SA/portal.json
  internal/server/locales/cs-CZ/portal.json
  internal/server/locales/da-DK/portal.json
  internal/server/locales/el-GR/portal.json
  internal/server/locales/es-ES/portal.json
  internal/server/locales/fi-FI/portal.json
  internal/server/locales/it-IT/portal.json
  internal/server/locales/ja-JP/portal.json
  internal/server/locales/nb-NO/portal.json
  internal/server/locales/nl-NL/portal.json
  internal/server/locales/no-NO/portal.json
  internal/server/locales/pl-PL/portal.json
  internal/server/locales/pt-BR/portal.json
  internal/server/locales/ro-RO/portal.json
  internal/server/locales/ru-RU/portal.json
  internal/server/locales/sv-SE/portal.json
  internal/server/locales/uk-UA/portal.json
  web/src/i18n/index.ts
Due: backend, frontend

ci: fix misc generator issues
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/types.go
Due: none

ci: fix misc generator issues (#4019)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/types.go
Due: none

ci: fix misc issue template issues
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/templates/github_issue_template_feature.yml.tmpl
Due: none

refactor: add istio proxy
  cmd/authelia-gen/cmd_github.go
Due: none

ci: fix misc issue template issues (#4020)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/templates/github_issue_template_feature.yml.tmpl
Due: none

docs: update oidc roadmap
  docs/content/en/roadmap/active/openid-connect.md
Due: none

docs: update oidc roadmap (#4021)
  docs/content/en/roadmap/active/openid-connect.md
Due: none

docs: fix shortcode issue
  docs/content/en/roadmap/active/openid-connect.md
Due: none

docs: fix shortcode issue (#4022)
  docs/content/en/roadmap/active/openid-connect.md
Due: none

fix: lint
  internal/commands/crypto_hash.go
Due: backend

build: update deps
  go.mod
  go.sum
Due: none

fix: overflow
  go.mod
  go.sum
Due: none

feat(oidc): hashed secrets
  go.mod
  go.sum
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/types.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/hasher.go
  internal/oidc/hasher_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
Due: backend

docs: update oidc roadmap (#4027)
  docs/content/en/roadmap/active/openid-connect.md
Due: none
