Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(oidc): hashed client secrets (#4026)
  cmd/authelia-gen/templates/docs-contributing-development-commitmsg.md.tmpl
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/contributing/guidelines/commit-message.md
  docs/content/en/contributing/guidelines/pull-request.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/reference/guides/rule-operators.md
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/types.go
  internal/configuration/test_resources/config_oidc.yml
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/hasher.go
  internal/oidc/hasher_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
Due: backend

docs(oidc): adjust client secret information
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/specific-information.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
Due: none

docs(oidc): adjust client secret information
  docs/content/en/integration/openid-connect/specific-information.md
Due: none

docs(oidc): adjust client secret information (#4211)
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/specific-information.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
Due: none

docs(oidc): fix missing link
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
Due: none

docs(oidc): fix missing link (#4212)
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
Due: none

feat(commands): random character generator
  docs/content/en/integration/openid-connect/specific-information.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_argon2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_bcrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_pbkdf2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_scrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_sha2crypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_rand.md
  internal/commands/const.go
  internal/commands/crypto.go
  internal/commands/crypto_hash.go
  internal/commands/util.go
Due: backend

test: bump suite timeouts
  internal/suites/suite_cli.go
  internal/suites/suite_duo_push.go
Due: none

feat(commands): random character generator (#4213)
  docs/content/en/integration/openid-connect/specific-information.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_argon2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_bcrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_pbkdf2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_scrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_sha2crypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_rand.md
  internal/commands/const.go
  internal/commands/crypto.go
  internal/commands/crypto_hash.go
  internal/commands/util.go
  internal/suites/suite_cli.go
  internal/suites/suite_duo_push.go
Due: backend

build(web): update deps
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(web): update deps (#4219)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(api): update swagger api
  cmd/authelia-scripts/cmd/gen.go
Due: none

build(api): update swagger api (#4220)
  cmd/authelia-scripts/cmd/gen.go
Due: none

feat(configuration): mtls client support
  docs/content/en/configuration/prologue/common.md
  internal/authentication/ldap_user_provider.go
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/notifier.go
  internal/configuration/schema/session.go
  internal/configuration/schema/shared.go
  internal/configuration/schema/types.go
  internal/configuration/test_resources/config.yml
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/session.go
  internal/configuration/validator/shared.go
  internal/notification/smtp_notifier.go
  internal/notification/smtp_notifier_test.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

docs: update docs
  config.template.yml
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/session/redis.md
  internal/configuration/config.template.yml
Due: backend

feat(configuration): comment template lines which prevent env
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

refactor: use consts
  internal/configuration/schema/const.go
  internal/configuration/schema/types.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const_test.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/session_test.go
Due: backend

refactor: remove dead code
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

refactor: gen
  config.template.yml
  docs/data/configkeys.json
  internal/configuration/config.template.yml
Due: backend

modify
  Dockerfile
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/caddy/Dockerfile
  internal/suites/example/compose/duo-api/Dockerfile
  internal/suites/example/compose/haproxy/Dockerfile
  internal/suites/example/compose/kind/Dockerfile
  internal/suites/example/compose/samba/Dockerfile
  web/src/i18n/index.ts
Due: frontend

modify
  examples/compose/local/setup.sh
Due: none

modify
  web/src/layouts/LoginLayout.tsx
Due: frontend

modify
  examples/compose/local/authelia/users_database.yml
  package-lock.json
  package.json
Due: none

test: add tests
  docs/content/en/configuration/prologue/common.md
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/session_test.go
Due: backend

modify
  cmd/authelia-scripts/cmd/helpers.go
Due: none

feat(configuration): mtls clients (#4221)
  config.template.yml
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/prologue/common.md
  docs/content/en/configuration/session/redis.md
  docs/data/configkeys.json
  internal/authentication/ldap_user_provider.go
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/notifier.go
  internal/configuration/schema/session.go
  internal/configuration/schema/shared.go
  internal/configuration/schema/types.go
  internal/configuration/test_resources/config.yml
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/const_test.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/configuration/validator/shared.go
  internal/notification/smtp_notifier.go
  internal/notification/smtp_notifier_test.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

revert: renaming
  internal/configuration/schema/const.go
Due: backend

docs: fix indenting
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

feat(configuration): comment unnecessary template lines (#4222)
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/const.go
Due: backend

fix(storage): mysql timestamp parsed incorrectly
  config.template.yml
  internal/configuration/config.template.yml
  internal/storage/const.go
  internal/storage/sql_provider_backend_mysql.go
Due: backend

fix(storage): mysql timestamp parsed incorrectly (#4230)
  config.template.yml
  internal/configuration/config.template.yml
  internal/storage/const.go
  internal/storage/sql_provider_backend_mysql.go
Due: backend

feat(storage): unix socket support
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  go.mod
  go.sum
  internal/commands/helpers.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/storage/const.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
Due: backend

refactor: lazy load x509 cert pool
  internal/commands/helpers.go
  internal/commands/helpers_test.go
  internal/commands/storage_run.go
Due: backend

fix: use parseconfig
  internal/storage/sql_provider_backend_postgres.go
Due: backend

feat(storage): unix socket support (#4231)
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  go.mod
  go.sum
  internal/commands/helpers.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/storage/const.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
Due: backend

feat(storage): tls connection support
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/data/configkeys.json
  internal/configuration/schema/keys.go
  internal/configuration/schema/storage.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
  internal/utils/crypto.go
Due: backend

fix: config
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/storage.go
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
Due: backend

fix: tests
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/storage.go
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
Due: backend

fix: lint
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
