Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

docs: few misc example fixes
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/roadmap/active/openid-connect.md
Due: none

docs: few misc example fixes (#6053)
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/roadmap/active/openid-connect.md
Due: none

refactor: adjust default redirect url behaviour
  cmd/authelia-scripts/cmd/gen.go
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/configuration.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/session.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_sign_totp_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/mocks/authelia_ctx.go
  internal/utils/url.go
Due: backend

refactor: adjust default redirect url behaviour (#6060)
  cmd/authelia-scripts/cmd/gen.go
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/configuration.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/session.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_sign_totp_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/mocks/authelia_ctx.go
  internal/utils/url.go
Due: backend

docs: misc adjustments and fixes
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  docs/content/en/configuration/first-factor/file.md
  docs/package.json
  docs/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: frontend

docs: misc adjustments and fixes (#6072)
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  docs/content/en/configuration/first-factor/file.md
  docs/package.json
  docs/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: frontend

docs: assign custom doc heading anchor to avoid HTML id collision
  docs/content/en/configuration/first-factor/file.md
Due: none

refactor(web): adjust usage for updated svgr plugin
  web/src/layouts/LoginLayout.tsx
Due: frontend

refactor: correct cli hint
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_validate.md
  internal/commands/const.go
Due: backend

refactor: correct cli hint (#6089)
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_validate.md
  internal/commands/const.go
Due: backend

docs: add missing content
  docs/content/en/configuration/first-factor/introduction.md
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/configuration/miscellaneous/ntp.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/prologue/common.md
  docs/content/en/configuration/second-factor/webauthn.md
  docs/content/en/configuration/security/regulation.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/content/en/configuration/telemetry/metrics.md
  docs/layouts/shortcodes/confkey.html
  docs/layouts/shortcodes/ref-common.html
Due: none

docs: add missing content (#6094)
  docs/content/en/configuration/first-factor/introduction.md
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/configuration/miscellaneous/ntp.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/prologue/common.md
  docs/content/en/configuration/second-factor/webauthn.md
  docs/content/en/configuration/security/regulation.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/content/en/configuration/telemetry/metrics.md
  docs/layouts/shortcodes/confkey.html
  docs/layouts/shortcodes/ref-common.html
Due: none

docs: add yummy styles
  docs/assets/scss/common/_global.scss
  docs/assets/scss/custom.scss
  docs/content/en/configuration/first-factor/introduction.md
  docs/content/en/configuration/methods/files.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/configuration/prologue/migration.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/integration/deployment/docker.md
  docs/content/en/integration/kubernetes/nginx-ingress.md
  docs/content/en/integration/kubernetes/secrets.md
  docs/content/en/integration/ldap/introduction.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/layouts/shortcodes/confkey.html
Due: none

docs: add yummy styles (#6095)
  docs/assets/scss/common/_global.scss
  docs/assets/scss/custom.scss
  docs/content/en/configuration/first-factor/introduction.md
  docs/content/en/configuration/methods/files.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/configuration/prologue/migration.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/integration/deployment/docker.md
  docs/content/en/integration/kubernetes/nginx-ingress.md
  docs/content/en/integration/kubernetes/secrets.md
  docs/content/en/integration/ldap/introduction.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/layouts/shortcodes/confkey.html
Due: none

docs: add multi-type config key implementation
  docs/content/en/configuration/first-factor/introduction.md
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/configuration/miscellaneous/ntp.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/prologue/common.md
  docs/content/en/configuration/second-factor/webauthn.md
  docs/content/en/configuration/security/regulation.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/layouts/shortcodes/confkey.html
Due: none

docs: add multi-type config key implementation (#6096)
  docs/content/en/configuration/first-factor/introduction.md
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/configuration/miscellaneous/ntp.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/prologue/common.md
  docs/content/en/configuration/second-factor/webauthn.md
  docs/content/en/configuration/security/regulation.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/layouts/shortcodes/confkey.html
Due: none

refactor: fix acl log message consistency
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
Due: backend

refactor: fix acl log message consistency (#6097)
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
Due: backend

refactor: use client secret directly
  internal/oidc/client_credentials.go
  internal/oidc/handler_introspection.go
Due: backend

refactor: use client secret directly (#6099)
  internal/oidc/client_credentials.go
  internal/oidc/handler_introspection.go
Due: backend

refactor: clock package
  docs/content/en/contributing/guidelines/commit-message.md
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/clock/fixed.go
  internal/clock/fixed_test.go
  internal/clock/provider.go
  internal/clock/real.go
  internal/clock/real_test.go
  internal/commands/context.go
  internal/middlewares/authelia_context.go
  internal/middlewares/types.go
  internal/mocks/authelia_ctx.go
  internal/oidc/client_credentials_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/regulation/regulator.go
  internal/regulation/types.go
  internal/utils/clock.go
  web/.commitlintrc.js
Due: backend, frontend

refactor: clock package (#6100)
  docs/content/en/contributing/guidelines/commit-message.md
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/clock/fixed.go
  internal/clock/fixed_test.go
  internal/clock/provider.go
  internal/clock/real.go
  internal/clock/real_test.go
  internal/commands/context.go
  internal/middlewares/authelia_context.go
  internal/middlewares/types.go
  internal/mocks/authelia_ctx.go
  internal/oidc/client_credentials_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/regulation/regulator.go
  internal/regulation/types.go
  internal/utils/clock.go
  web/.commitlintrc.js
Due: backend, frontend

refactor: clock newups
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/authentication/ldap_util.go
  internal/commands/context.go
  internal/middlewares/authelia_context.go
  internal/oidc/client_credentials_test.go
  internal/oidc/types_test.go
Due: backend

refactor: clock newups (#6101)
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/authentication/ldap_util.go
  internal/commands/context.go
  internal/middlewares/authelia_context.go
  internal/oidc/client_credentials_test.go
  internal/oidc/types_test.go
Due: backend

refactor: misc
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/access_control.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/log.go
  internal/configuration/schema/ntp.go
  internal/configuration/schema/server.go
  internal/configuration/schema/session.go
  internal/configuration/schema/storage.go
  internal/configuration/validator/duo_test.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/server_test.go
  internal/configuration/validator/storage_test.go
  internal/configuration/validator/telemetry_test.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_reset_password_step2.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/model/totp_configuration.go
  internal/model/totp_configuration_test.go
  internal/ntp/ntp_test.go
  internal/random/const.go
  internal/server/server_test.go
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
Due: backend

docs: fix indent
  docs/content/en/integration/openid-connect/frequently-asked-questions.md
Due: none

refactor: misc (#6102)
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/access_control.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/log.go
  internal/configuration/schema/ntp.go
  internal/configuration/schema/server.go
  internal/configuration/schema/session.go
  internal/configuration/schema/storage.go
  internal/configuration/validator/duo_test.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/server_test.go
  internal/configuration/validator/storage_test.go
  internal/configuration/validator/telemetry_test.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_reset_password_step2.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/model/totp_configuration.go
  internal/model/totp_configuration_test.go
  internal/ntp/ntp_test.go
  internal/random/const.go
  internal/server/server_test.go
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
Due: backend

refactor: misc
  internal/configuration/validator/keys_test.go
  internal/templates/src/notification/Event.txt
Due: backend

refactor: misc (#6103)
  internal/configuration/validator/keys_test.go
  internal/templates/src/notification/Event.txt
Due: backend

docs: fix indent (#6104)
  docs/content/en/integration/openid-connect/frequently-asked-questions.md
Due: none

fix(configuration): deprecated secrets not mapped
  internal/configuration/const.go
  internal/configuration/helpers.go
  internal/configuration/helpers_test.go
  internal/configuration/sources.go
Due: backend

fix(configuration): deprecated secrets not mapped (#6150)
  internal/configuration/const.go
  internal/configuration/helpers.go
  internal/configuration/helpers_test.go
  internal/configuration/sources.go
Due: backend

build: update and fix lockfiles
  docs/package.json
  docs/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: frontend

build: update and fix lockfiles (#6152)
  docs/package.json
  docs/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: frontend

chore: pkg import only once
  internal/storage/sql_provider_backend_sqlite.go
Due: backend

refactor: remove duplicate import (#6179)
  internal/storage/sql_provider_backend_sqlite.go
Due: backend

test: add example single line filter
  docs/content/en/configuration/methods/files.md
  docs/content/en/reference/guides/templating.md
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/provider_test.go
  internal/configuration/test_resources/config.filtered.yml
  internal/configuration/test_resources/example_password_secret
  internal/templates/funcs.go
Due: backend

test: add example single line filter
  internal/configuration/test_resources/config.filtered.yml
Due: backend

test: add example single line filter (#6186)
  docs/content/en/configuration/methods/files.md
  docs/content/en/reference/guides/templating.md
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/provider_test.go
  internal/configuration/test_resources/config.filtered.yml
  internal/configuration/test_resources/example_password_secret
  internal/templates/funcs.go
Due: backend

refactor(oidc): true nil error reporter
  internal/oidc/provider.go
  internal/oidc/types.go
Due: backend
