Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build: apply step security recommendations (#7550)
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
Due: none

[StepSecurity] Apply security best practices
  Dockerfile
  internal/suites/example/compose/caddy/Dockerfile
  internal/suites/example/compose/duo-api/Dockerfile
  internal/suites/example/compose/haproxy/Dockerfile
  internal/suites/example/compose/samba/Dockerfile
Due: none

Update internal/suites/example/compose/caddy/Dockerfile
  internal/suites/example/compose/caddy/Dockerfile
Due: none

fix(configuration): multiple storage providers allowed
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
Due: backend

build(deps): apply step security recommendations (#7559)
  Dockerfile
  internal/suites/example/compose/caddy/Dockerfile
  internal/suites/example/compose/duo-api/Dockerfile
  internal/suites/example/compose/haproxy/Dockerfile
  internal/suites/example/compose/samba/Dockerfile
Due: none

test: add some fuzzing tests
  internal/utils/strings_test.go
Due: backend

ci: update dependabot
  .github/dependabot.yml
Due: none

ci: update dependabot (#7590)
  .github/dependabot.yml
Due: none

test: add some fuzzing tests (#7579)
  internal/utils/strings_test.go
Due: backend

build: pin docker images
  .github/workflows/codeql-analysis.yml
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/authelia/Dockerfile.frontend
Due: none

build: pin docker images (#7595)
  .github/workflows/codeql-analysis.yml
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/authelia/Dockerfile.frontend
Due: none

fix(configuration): multiple storage providers allowed (#7574)
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
Due: backend

test: ensure mariadb started
  internal/suites/environment.go
  internal/suites/suite_high_availability_test.go
Due: none

fix: compose envs
  internal/suites/example/compose/mariadb/docker-compose.yml
Due: none

build: generate updated data
  docs/data/languages.json
  web/src/i18n/index.ts
Due: frontend

fix(storage): change encryption key fails
  internal/storage/sql_provider_queries.go
Due: backend

Update nextcloud integration docs
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

fix(storage): change encryption key fails (#7613)
  internal/storage/sql_provider_queries.go
Due: backend

docs: update nextcloud integration (#7614)
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

build: generate updated data (#7599)
  docs/data/languages.json
  web/src/i18n/index.ts
Due: frontend

release: v4.38.10
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

release: v4.38.10 (#7626)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

i18n: update translation for portal.json (Ukrainian)
  internal/server/locales/uk-UA/portal.json
Due: backend

i18n: update translation for settings.json (Dutch)
  internal/server/locales/nl-NL/settings.json
Due: backend

i18n: update translation for settings.json (Ukrainian)
  internal/server/locales/uk-UA/settings.json
Due: backend

i18n: update translations (#7628)
  internal/server/locales/nl-NL/settings.json
  internal/server/locales/uk-UA/portal.json
  internal/server/locales/uk-UA/settings.json
Due: backend

docs: gen
  docs/data/languages.json
Due: none

docs: gen (#7630)
  docs/data/languages.json
Due: none

feat(web): add oidc client mockup for admin management center
  web/src/App.tsx
  web/src/components/AccountSettingsMenu.tsx
  web/src/constants/Routes.ts
  web/src/layouts/AdminLayout.tsx
  web/src/views/AdminUI/AccordionItem.tsx
  web/src/views/AdminUI/AdminRouter.tsx
  web/src/views/AdminUI/AdminView.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
Due: frontend

fix(web): remove unnecessary whitespace from oidc client mockup
  web/src/components/AccountSettingsMenu.tsx
Due: frontend

feat: add oidc admin managment ui client mockup
  web/src/models/OpenIDConnect.ts
  web/src/views/AdminUI/AdminRouter.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientView.tsx
Due: frontend

feat: add oidc client type for managment ui
  web/src/models/OpenIDConnect.ts
Due: frontend

feat: make oidc clients more responsive for smaller screens
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
Due: frontend

feat: added editing of oidc client values, including arrays
  web/src/models/OpenIDConnect.ts
  web/src/views/AdminUI/Common/EditListItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientView.tsx
Due: frontend

feat: add display of oidc clients from config struct
  internal/handlers/handler_oidc_client_config.go
  internal/model/oidc_client_config.go
  internal/server/handlers.go
  web/src/hooks/OIDCClientConfig.ts
  web/src/models/OpenIDConnect.ts
  web/src/services/Api.ts
  web/src/services/OIDCClientConfig.ts
  web/src/views/AdminUI/Common/EditListItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientView.tsx
Due: backend, frontend

feat: change edit for oidc client scopes and minor formatting changes
  web/src/models/OpenIDConnect.ts
  web/src/views/AdminUI/Common/EditListItem.tsx
  web/src/views/AdminUI/Common/MultiSelectDropdown.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientView.tsx
Due: frontend

feat: minor changes to oidc clients ui
  web/src/models/OpenIDConnect.ts
  web/src/services/OIDCClientConfig.ts
  web/src/views/AdminUI/Common/EditListItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientView.tsx
Due: frontend

feat: allow pressing enter to enter new value for lists
  internal/handlers/handler_oidc_client_config.go
  web/src/views/AdminUI/Common/EditListItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
Due: backend, frontend

feat: fix some spacing issues, use callbacks to load oidc clients
  web/src/views/AdminUI/Common/EditListItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientItem.tsx
  web/src/views/AdminUI/OpenIDConnect/ClientView.tsx
Due: frontend

feat: add better organization of nav panel with dropdowns
  web/src/constants/Routes.ts
  web/src/layouts/AdminLayout.tsx
  web/src/views/AdminUI/AdminRouter.tsx
  web/src/views/AdminUI/OpenIDConnect/OIDCRouter.tsx
Due: frontend
