Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

feat(storage): postgresql schema and ssl options
  config.template.yml
  docs/configuration/storage/postgres.md
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/configuration/config.template.yml
  internal/configuration/schema/storage.go
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
Due: backend

fix(storage): duo/u2f upsert failure on postgresql (#2658)
  internal/handlers/handler_register_u2f_step2.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

fix(storage): make host required
  docs/configuration/storage/mariadb.md
  docs/configuration/storage/postgres.md
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
Due: backend

docs: consistent naming for configuration file (#2626)
  README.md
  config.template.yml
  docs/configuration/index.md
  internal/configuration/config.template.yml
  internal/suites/example/compose/nginx/backend/html/home/index.html
Due: backend

docs: update fail2ban example
  docs/security/measures.md
Due: none

test: fix cli suite
  internal/suites/suite_cli_test.go
Due: none

fix: remove unused default
  internal/configuration/schema/storage.go
Due: backend

feat(storage): postgresql schema and ssl options (#2659)
  config.template.yml
  docs/configuration/storage/mariadb.md
  docs/configuration/storage/postgres.md
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/configuration/config.template.yml
  internal/configuration/schema/storage.go
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
  internal/suites/suite_cli_test.go
Due: backend

fix(storage): rebind duo queries
  internal/storage/sql_provider_backend_postgres.go
Due: backend

fix(storage): rebind all queries (#2662)
  internal/storage/sql_provider_backend_postgres.go
Due: backend

fix: capitalization
  docs/security/measures.md
Due: none

docs: update fail2ban example (#2661)
  docs/security/measures.md
Due: none

refactor(web): only fetch totp conf if registered
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
Due: frontend

refactor: misc fixes
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_user_totp.go
  internal/handlers/handler_verify.go
  internal/suites/suite_cli_test.go
  internal/suites/suite_standalone_test.go
Due: backend

fix: test
  internal/authentication/ldap_user_provider_test.go
Due: backend

refactor: auth types
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_sign_u2f_step1.go
  internal/handlers/handler_sign_u2f_step2.go
  internal/handlers/handler_sign_u2f_step2_test.go
  internal/regulation/const.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
Due: backend

fix: don't fetch totp config if already 2fa
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
Due: frontend

fix: fail2ban config
  docs/security/measures.md
Due: none

fix(web): adjust totp otpdial conditional
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
Due: frontend

fix: adjust commit-msg hook for windows compatibility
  .github/commit-msg
  web/package.json
Due: frontend

fix(web): adjust totp otpdial conditional properly
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
Due: frontend

feat(storage): encrypt u2f key
  internal/mocks/storage.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema_pre1.go
Due: backend

refactor(web): only fetch totp conf if required (#2663)
  .github/commit-msg
  docs/security/measures.md
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_sign_u2f_step1.go
  internal/handlers/handler_sign_u2f_step2.go
  internal/handlers/handler_sign_u2f_step2_test.go
  internal/handlers/handler_user_totp.go
  internal/handlers/handler_verify.go
  internal/regulation/const.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/suites/suite_cli_test.go
  internal/suites/suite_standalone_test.go
  web/package.json
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
Due: backend, frontend

docs: add more detail about encryption
  docs/configuration/storage/index.md
  docs/security/measures.md
Due: none

refactor: record identity verification ips
  internal/handlers/handler_register_u2f_step1_test.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/mocks/storage.go
  internal/models/identity_verification.go
  internal/models/types.go
  internal/regulation/regulator.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

refactor: safer IP typing
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_register_u2f_step1_test.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_sign_totp_test.go
  internal/handlers/handler_sign_u2f_step2_test.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/mocks/storage.go
  internal/models/authentication_attempt.go
  internal/models/identity_verification.go
  internal/models/types.go
  internal/regulation/regulator.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
Due: backend

refactor: prevent upgrade from pre1 to v1 when v1 exclusive tables exist
  internal/models/types.go
  internal/storage/const.go
  internal/storage/sql_provider_schema.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend

refactor: include totp_configurations table in check
  internal/storage/const.go
  internal/storage/sql_provider_schema.go
Due: backend

docs: additional context and remove future guarantee
  docs/security/measures.md
  docs/security/threat-model.md
Due: none

refactor: 39 varchar for ip
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
Due: backend

feat(storage): encrypt u2f key (#2664)
  docs/configuration/storage/index.md
  docs/security/measures.md
  docs/security/threat-model.md
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_register_u2f_step1_test.go
  internal/handlers/handler_sign_duo_test.go
  internal/handlers/handler_sign_totp_test.go
  internal/handlers/handler_sign_u2f_step2_test.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/mocks/storage.go
  internal/models/authentication_attempt.go
  internal/models/identity_verification.go
  internal/models/types.go
  internal/regulation/regulator.go
  internal/storage/const.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_pre1.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend

release: v4.33.0
  web/package.json
Due: frontend

ci: publish authelia-git aur only on releases
  .buildkite/steps/aurpackages.sh
Due: none

ci: publish authelia-git aur only on releases (#2666)
  .buildkite/steps/aurpackages.sh
Due: none

ci: skip deploy aur step on master branch
  .buildkite/deployment.sh
Due: none

fix(storage): postgres schema hardcoded for existing tables
  internal/configuration/schema/storage.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
Due: backend

fix: wrong param type
  internal/storage/sql_provider_queries.go
Due: backend

ci: skip deploy aur step on master branch (#2668)
  .buildkite/deployment.sh
Due: none

refactor: if else to switch
  internal/storage/sql_provider_schema.go
Due: backend
