Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(suites): fix passive health checks for caddy suite
  internal/suites/example/compose/caddy/Caddyfile
  internal/suites/example/compose/caddy/Dockerfile
  internal/suites/example/compose/caddy/docker-compose.yml
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/verify_body_contains.go
Due: none

fix(suites): fix passive health checks for caddy suite (#3627)
  internal/suites/example/compose/caddy/Caddyfile
  internal/suites/example/compose/caddy/Dockerfile
  internal/suites/example/compose/caddy/docker-compose.yml
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/verify_body_contains.go
Due: none

docs: add oidc gitea integration
  docs/content/en/integration/openid-connect/gitea/gitea.png
  docs/content/en/integration/openid-connect/gitea/index.md
Due: none

docs: update date
  docs/content/en/integration/openid-connect/gitea/index.md
Due: none

docs: use details shortcode (#3586)
  docs/content/en/integration/deployment/docker.md
  docs/content/en/integration/kubernetes/introduction.md
  docs/content/en/integration/kubernetes/introduction/kubernetes.png
  docs/content/en/integration/kubernetes/secrets.md
  docs/content/en/integration/kubernetes/traefik-ingress.md
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/traefik.md
Due: none

docs: fill out remaining gitea info
  docs/content/en/integration/openid-connect/gitea/index.md
Due: none

docs: misc consistency fixes
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
Due: none

refactor(notifier): improve smtp errors
  internal/notification/smtp_notifier.go
Due: backend

test: add unit test
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix: lint
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix: failing test
  internal/handlers/handler_verify.go
Due: backend

docs: add yaml validation info
  docs/content/en/configuration/methods/files.md
Due: none

docs: add yaml validation info (#3650)
  docs/content/en/configuration/methods/files.md
Due: none

docs: add gitea oidc integration (#3645)
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/gitea.png
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
Due: none

Update internal/handlers/handler_verify_test.go
  internal/handlers/handler_verify_test.go
Due: backend

test: apply suggestions
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix: lints
  internal/handlers/handler_verify.go
Due: backend

i18n: update translation for portal.json (German)
  internal/server/locales/de/portal.json
Due: backend

i18n: update translation for portal.json (French)
  internal/server/locales/fr/portal.json
Due: backend

Update internal/handlers/handler_verify.go
  internal/handlers/handler_verify.go
Due: backend

fix(configuration): address parsing failure
  config.template.yml
  docs/content/en/configuration/prologue/common.md
  docs/content/en/configuration/telemetry/metrics.md
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks_test.go
  internal/configuration/schema/const.go
  internal/configuration/schema/telemetry.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/telemetry.go
  internal/configuration/validator/telemetry_test.go
Due: backend

feat(session): add validations for domains
  internal/configuration/schema/keys.go
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/suites/MultipleDomain/configuration.yml
Due: backend

refactor: renamed getcurrentdomain to getcurrentsessiondomain
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/handler_verify.go
  internal/middlewares/authelia_context.go
Due: backend

refactor: sessions (unchecked)
  internal/configuration/schema/session.go
  internal/configuration/validator/session.go
  internal/handlers/const.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/middlewares/authelia_context.go
  internal/session/provider.go
  internal/session/provider_test.go
  internal/session/session.go
Due: backend

Correct gramma
  docs/content/en/configuration/identity-providers/open-id-connect.md
Due: none

fix(handlers): fix redirect with timed out sessions on rules with bypass policy (#3599)
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

test: fix test
  internal/configuration/validator/telemetry_test.go
Due: backend

test: add port submatch check
  internal/authorization/authorizer_test.go
Due: backend

perf: parse once
  internal/authorization/access_control_domain.go
  internal/authorization/access_control_resource.go
  internal/authorization/types.go
  internal/authorization/types_test.go
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

fix(authorization): object path not normalized (#3661)
  internal/authorization/authorizer_test.go
  internal/authorization/types.go
  internal/authorization/types_test.go
  internal/middlewares/authelia_context.go
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

test: test address
  internal/suites/Standalone/configuration.yml
Due: none

refactor: factorize verify handler
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix(configuration): address parsing failure (#3653)
  config.template.yml
  docs/content/en/configuration/prologue/common.md
  docs/content/en/configuration/telemetry/metrics.md
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks_test.go
  internal/configuration/schema/const.go
  internal/configuration/schema/telemetry.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/telemetry.go
  internal/configuration/validator/telemetry_test.go
  internal/suites/Standalone/configuration.yml
Due: backend

refactor: factorize verify handler
  internal/handlers/handler_verify.go
Due: backend

release: v4.36.2
  web/package.json
Due: frontend

release: v4.36.2 (#3663)
  web/package.json
Due: frontend

fix(handlers): consent session generated unnecessarily
  internal/authentication/const.go
  internal/authorization/access_control_rule.go
  internal/authorization/authorizer.go
  internal/authorization/authorizer_test.go
  internal/authorization/const.go
  internal/authorization/util.go
  internal/authorization/util_test.go
  internal/commands/acl.go
  internal/handlers/const.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/types.go
  internal/oidc/client.go
  internal/oidc/store.go
  web/src/hooks/Workflow.ts
  web/src/services/FirstFactor.ts
  web/src/services/OneTimePassword.ts
  web/src/services/PushNotification.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
Due: backend, frontend

test: fix lint
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
Due: frontend

fix: ensure authorization endpoint handles all consent redirections
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/response.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
