Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

test(suites): traefik3
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  internal/suites/Traefik2/docker-compose.yml
  internal/suites/Traefik3/configuration.yml
  internal/suites/Traefik3/docker-compose.yml
  internal/suites/Traefik3/favicon.ico
  internal/suites/Traefik3/logo.png
  internal/suites/Traefik3/users.yml
  internal/suites/example/compose/authelia/docker-compose.backend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.backend.dist.yml
  internal/suites/example/compose/authelia/docker-compose.frontend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.frontend.dist.yml
  internal/suites/example/compose/httpbin/docker-compose.yml
  internal/suites/example/compose/nginx/backend/docker-compose.yml
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/example/compose/traefik3/config/dynamic/tls.yml
  internal/suites/example/compose/traefik3/config/static.yml
  internal/suites/example/compose/traefik3/docker-compose.yml
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_traefik3.go
  internal/suites/suite_traefik3_test.go
Due: none

docs: use legacy icon
  docs/assets/scss/common/_custom.scss
  docs/content/integration/proxies/support.md
  docs/content/overview/prologue/supported-proxies.md
  docs/layouts/shortcodes/support.html
  internal/suites/example/compose/traefik/docker-compose.yml
Due: none

refactor: remove traefik v1 labels
  internal/suites/example/compose/authelia/docker-compose.backend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.backend.dist.yml
  internal/suites/example/compose/authelia/docker-compose.frontend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.frontend.dist.yml
  internal/suites/example/compose/httpbin/docker-compose.yml
  internal/suites/example/compose/nginx/backend/docker-compose.yml
Due: none

docs(configuration): add documentation for password_change config
  docs/content/configuration/first-factor/introduction.md
  internal/configuration/config.template.yml
Due: backend

fix references in callouts
  docs/content/configuration/security/access-control.md
Due: none

remove whitespace
  docs/content/integration/openid-connect/introduction.md
Due: none

fix: callout reference in traefik ingress
  docs/content/integration/kubernetes/traefik-ingress.md
Due: none

fix: missing envoy reference in istio
  docs/content/integration/kubernetes/istio.md
Due: none

fix: add missing rfc reference
  docs/content/configuration/miscellaneous/logging.md
Due: none

ci(buildkite): integration container updates and hook refactor
  .buildkite/hooks/post-command
  .buildkite/integration.sh
Due: none

docs: fix references in callouts (#8047)
  docs/content/configuration/miscellaneous/logging.md
  docs/content/configuration/security/access-control.md
  docs/content/integration/kubernetes/istio.md
  docs/content/integration/kubernetes/traefik-ingress.md
  docs/content/integration/openid-connect/introduction.md
Due: none

ci(buildkite): integration container updates and hook refactor (#8048)
  .buildkite/hooks/post-command
  .buildkite/integration.sh
Due: none

Outline: remove error-creating quotes
  docs/content/integration/openid-connect/outline/index.md
Due: none

docs(oidc): update outline (#8054)
  docs/content/integration/openid-connect/outline/index.md
Due: none

test(suites): traefik3 (#8032)
  docs/assets/scss/common/_custom.scss
  docs/content/integration/proxies/support.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  docs/content/overview/prologue/supported-proxies.md
  docs/layouts/shortcodes/support.html
  internal/suites/Traefik/configuration.yml
  internal/suites/Traefik/docker-compose.yml
  internal/suites/Traefik/favicon.ico
  internal/suites/Traefik/logo.png
  internal/suites/Traefik/users.yml
  internal/suites/Traefik2/configuration.yml
  internal/suites/Traefik2/docker-compose.yml
  internal/suites/Traefik2/users.yml
  internal/suites/example/compose/authelia/docker-compose.backend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.backend.dist.yml
  internal/suites/example/compose/authelia/docker-compose.frontend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.frontend.dist.yml
  internal/suites/example/compose/httpbin/docker-compose.yml
  internal/suites/example/compose/nginx/backend/docker-compose.yml
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/example/compose/traefik/config/dynamic/tls.yml
  internal/suites/example/compose/traefik/config/static.yml
  internal/suites/example/compose/traefik/docker-compose.v2.yml
  internal/suites/example/compose/traefik/docker-compose.v3.yml
  internal/suites/example/compose/traefik/docker-compose.yml
  internal/suites/example/compose/traefik2/docker-compose.yml
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_traefik.go
  internal/suites/suite_traefik3.go
  internal/suites/suite_traefik3_test.go
  internal/suites/suite_traefik_test.go
Due: none

refactor(suites): remove commentary from suite based user databases
  internal/suites/BypassAll/users.yml
  internal/suites/CLI/users.yml
  internal/suites/Caddy/users.yml
  internal/suites/Docker/users.yml
  internal/suites/DuoPush/users.yml
  internal/suites/Envoy/users.yml
  internal/suites/HAProxy/users.yml
  internal/suites/MariaDB/users.yml
  internal/suites/MultiCookieDomain/users.yml
  internal/suites/MySQL/users.yml
  internal/suites/NetworkACL/users.yml
  internal/suites/OIDC/users.yml
  internal/suites/OIDCTraefik/users.yml
  internal/suites/OneFactorOnly/users.yml
  internal/suites/PathPrefix/users.yml
  internal/suites/Postgres/users.yml
  internal/suites/ShortTimeouts/users.yml
  internal/suites/Standalone/users.yml
  internal/suites/Traefik/users.yml
  internal/suites/TwoFactor/users.yml
Due: none

refactor(suites): remove commentary from suite based user databases (#8055)
  internal/suites/BypassAll/users.yml
  internal/suites/CLI/users.yml
  internal/suites/Caddy/users.yml
  internal/suites/Docker/users.yml
  internal/suites/DuoPush/users.yml
  internal/suites/Envoy/users.yml
  internal/suites/HAProxy/users.yml
  internal/suites/MariaDB/users.yml
  internal/suites/MultiCookieDomain/users.yml
  internal/suites/MySQL/users.yml
  internal/suites/NetworkACL/users.yml
  internal/suites/OIDC/users.yml
  internal/suites/OIDCTraefik/users.yml
  internal/suites/OneFactorOnly/users.yml
  internal/suites/PathPrefix/users.yml
  internal/suites/Postgres/users.yml
  internal/suites/ShortTimeouts/users.yml
  internal/suites/Standalone/users.yml
  internal/suites/Traefik/users.yml
  internal/suites/TwoFactor/users.yml
Due: none

refactor: generate mocks
  internal/authentication/file_user_provider_database_mock_test.go
  internal/authentication/file_user_provider_hash_mock_test.go
  internal/authentication/ldap_client_factory_mock_test.go
  internal/authentication/ldap_client_mock_test.go
  internal/mocks/duo_api.go
  internal/mocks/gen.go
  internal/mocks/notifier.go
  internal/mocks/oauth2_access_requester.go
  internal/mocks/oauth2_access_token_strategy.go
  internal/mocks/oauth2_client_credentials_grant_storage.go
  internal/mocks/oauth2_pkce_request_storage.go
  internal/mocks/oauth2_storage.go
  internal/mocks/oauth2_token_introspector.go
  internal/mocks/oauth2_token_revocation_storage.go
  internal/mocks/oauth2_transactional.go
  internal/mocks/random.go
  internal/mocks/storage.go
  internal/mocks/totp.go
  internal/mocks/user_provider.go
Due: backend

feat(configuration): reusable definitions
  cmd/authelia-gen/cmd_docs_jsonschema.go
  cmd/authelia-gen/helpers.go
  config.template.yml
  docs/content/configuration/definitions/_index.md
  docs/content/configuration/definitions/introduction.md
  docs/content/configuration/definitions/network.md
  docs/content/configuration/prologue/common.md
  docs/content/configuration/security/access-control.md
  docs/layouts/shortcodes/confkey.html
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/authorization/access_control_rule.go
  internal/authorization/authorizer_test.go
  internal/authorization/types.go
  internal/authorization/util.go
  internal/authorization/util_test.go
  internal/commands/context.go
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/definitions.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/sources.go
  internal/configuration/test_resources/config_with_definitions.yml
  internal/configuration/test_resources/decode_networks.yml
  internal/configuration/test_resources/decode_networks_abc.yml
  internal/configuration/types.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/keys.go
  internal/utils/ip.go
  internal/utils/ip_test.go
Due: backend

feat(authentication): additional and custom attributes
  config.template.yml
  docs/content/configuration/definitions/_index.md
  docs/content/configuration/definitions/introduction.md
  docs/content/configuration/definitions/network.md
  docs/content/configuration/definitions/user-attributes.md
  docs/content/contributing/guidelines/commit-message.md
  docs/content/reference/guides/passwords.md
  docs/data/configkeys.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/user-database.json
  go.mod
  go.sum
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database.go
  internal/authentication/file_user_provider_test.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/types.go
  internal/authentication/user_provider.go
  internal/commands/const.go
  internal/commands/context.go
  internal/commands/root.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/schema/definitions.go
  internal/configuration/schema/keys.go
  internal/expression/const.go
  internal/expression/types.go
  internal/expression/user_activation.go
  internal/expression/user_attributes.go
  internal/expression/util.go
  internal/middlewares/authelia_context.go
  internal/middlewares/types.go
  internal/mocks/user_provider.go
  internal/oidc/config.go
  web/.commitlintrc.cjs
Due: backend, frontend

feat(oidc): authorization policy network criteria
  config.template.yml
  docs/content/configuration/definitions/user-attributes.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/commands/context.go
  internal/configuration/config.template.yml
  internal/configuration/provider_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_policy.go
  internal/oidc/client_policy_test.go
  internal/oidc/client_test.go
  internal/oidc/discovery_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
Due: backend

feat(oidc): prompt parameter support
  docs/content/configuration/definitions/user-attributes.md
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_implicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/response.go
  internal/handlers/types.go
  internal/mocks/storage.go
  internal/oidc/const.go
  internal/oidc/session.go
  internal/oidc/types.go
  internal/oidc/util.go
  internal/server/handlers.go
  internal/session/user_session.go
  internal/storage/migrations/mysql/V0016.OAuth2ConsentSubjectNULL.down.sql
  internal/storage/migrations/mysql/V0016.OAuth2ConsentSubjectNULL.up.sql
  internal/storage/migrations/postgres/V0016.OAuth2ConsentSubjectNULL.down.sql
  internal/storage/migrations/postgres/V0016.OAuth2ConsentSubjectNULL.up.sql
  internal/storage/migrations/sqlite/V0016.OAuth2ConsentSubjectNULL.down.sql
  internal/storage/migrations/sqlite/V0016.OAuth2ConsentSubjectNULL.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  web/src/App.tsx
  web/src/constants/Routes.ts
  web/src/services/Api.ts
  web/src/services/ConsentOpenIDConnect.ts
  web/src/services/FirstFactor.ts
  web/src/views/ConsentPortal/ConsentPortal.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDecisionFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentLoginFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentPortal.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: backend, frontend

docs: traefik support
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/helpers.go
  cmd/authelia-gen/types.go
  docs/content/integration/proxies/traefik.md
  docs/data/misc.json
  docs/layouts/shortcodes/supported-product.html
Due: none

Update cmd/authelia-gen/helpers.go
  cmd/authelia-gen/helpers.go
Due: none

Update docs/layouts/shortcodes/supported-product.html
  docs/layouts/shortcodes/supported-product.html
Due: none

docs: traefik support
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/helpers.go
Due: none

docs: traefik support (#8058)
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/helpers.go
  cmd/authelia-gen/types.go
  docs/content/integration/proxies/traefik.md
  docs/data/misc.json
  docs/layouts/shortcodes/supported-product.html
Due: none

docs: add logical oidc aliases
  config.template.yml
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  internal/configuration/config.template.yml
Due: backend

feat(web): add inspect menu to totp credential
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordCredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
Due: frontend

fix(web): add message to 2fa settings when nothing is rendered
  internal/server/locales/en/settings.json
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordCredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

docs: add logical oidc aliases (#8060)
  config.template.yml
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  internal/configuration/config.template.yml
Due: backend

refactor: generate mocks (#8057)
  internal/authentication/file_user_provider_database_mock_test.go
  internal/authentication/file_user_provider_hash_mock_test.go
  internal/authentication/ldap_client_factory_mock_test.go
  internal/authentication/ldap_client_mock_test.go
  internal/mocks/duo_api.go
  internal/mocks/gen.go
  internal/mocks/notifier.go
  internal/mocks/oauth2_access_requester.go
  internal/mocks/oauth2_access_token_strategy.go
  internal/mocks/oauth2_client_credentials_grant_storage.go
  internal/mocks/oauth2_pkce_request_storage.go
  internal/mocks/oauth2_storage.go
  internal/mocks/oauth2_token_introspector.go
  internal/mocks/oauth2_token_revocation_storage.go
  internal/mocks/oauth2_transactional.go
  internal/mocks/random.go
  internal/mocks/storage.go
  internal/mocks/totp.go
  internal/mocks/user_provider.go
Due: backend

i18n: update translation for portal.json (Chinese Traditional)
  internal/server/locales/zh-TW/portal.json
Due: backend

i18n: update translation for settings.json (Chinese Traditional)
  internal/server/locales/zh-TW/settings.json
Due: backend

i18n: update translations (#8064)
  internal/server/locales/zh-TW/portal.json
  internal/server/locales/zh-TW/settings.json
Due: backend

i18n(web): fix/add translations for password change dialog
  internal/server/locales/en/settings.json
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

Fix monospace formatting
  docs/content/integration/openid-connect/oauth-2.0-bearer-token-usage.md
Due: none

docs: add missing grave (#8072)
  docs/content/integration/openid-connect/oauth-2.0-bearer-token-usage.md
Due: none
