Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

feat: allow password change to be disabled
  internal/configuration/schema/authentication.go
  internal/configuration/schema/keys.go
  internal/handlers/handler_configuration.go
  internal/handlers/types.go
  internal/server/handlers.go
  internal/server/template.go
  internal/suites/SecuritySettings/configuration.yml
  web/src/models/Configuration.ts
  web/src/services/Configuration.ts
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

refactor(suites): move tests to existing suites, remove unneeded suite
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/suite_caddy_test.go
  internal/suites/suite_envoy_test.go
  internal/suites/suite_pathprefix_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  internal/suites/suite_standalone_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: frontend

docs(configuration): add documentation for password_change config
  docs/content/configuration/first-factor/introduction.md
  internal/configuration/config.template.yml
Due: backend

fix: reference existing errors, add pw change to ldap suite
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/suites/suite_ldap_test.go
Due: backend

i18n(web): fix/add translations for password change dialog
  internal/server/locales/en/settings.json
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

Update docs/content/configuration/identity-validation/reset-password.md
  docs/content/configuration/identity-validation/reset-password.md
Due: none

fix(web): internalization
  internal/server/locales/en/portal.json
  internal/server/locales/en/settings.json
  web/src/components/AccountSettingsMenu.tsx
  web/src/components/WebAuthnTryIcon.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/WebAuthnMethod.tsx
Due: backend, frontend

i18n: update translation for portal.json (German)
  internal/server/locales/de-DE/portal.json
Due: backend

i18n: update translation for settings.json (German)
  internal/server/locales/de-DE/settings.json
Due: backend

i18n: update translations (#8322)
  internal/server/locales/de-DE/portal.json
  internal/server/locales/de-DE/settings.json
Due: backend

fix(web): internalization
  internal/server/locales/en/settings.json
Due: backend

docs: adjust internal yaml references
  internal/authentication/file_user_provider_test.go
  internal/commands/const.go
  internal/commands/storage.go
  internal/suites/suite_cli_test.go
Due: backend

docs: adjust generated docs
  docs/content/reference/cli/authelia/authelia_storage_user_identifiers_export.md
  docs/content/reference/cli/authelia/authelia_storage_user_identifiers_import.md
  docs/content/reference/cli/authelia/authelia_storage_user_totp_export.md
  docs/content/reference/cli/authelia/authelia_storage_user_totp_import.md
  docs/content/reference/cli/authelia/authelia_storage_user_webauthn_export.md
  docs/content/reference/cli/authelia/authelia_storage_user_webauthn_import.md
Due: none

docs: adjust misc other .yaml references
  docs/content/configuration/methods/files.md
  docs/content/integration/kubernetes/secrets.md
  docs/content/integration/kubernetes/traefik-ingress.md
Due: none

build(deps): update required node version
  web/package.json
Due: frontend

build(deps): update required node version (#8335)
  web/package.json
Due: frontend

docs: generate
  docs/content/policies/code-of-conduct.md
  docs/data/misc.json
Due: none

docs: generate (#8337)
  docs/content/policies/code-of-conduct.md
  docs/data/misc.json
Due: none

documentation: fill correct callback urls for OIDC config in librechat dotenv
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs(oidc): update librechat dotenv (#8341)
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs: fix missing link
  docs/content/reference/guides/proxy-authorization.md
Due: none

Update Harbor integration documentation page
  docs/content/integration/openid-connect/harbor/index.md
Due: none

docs(oidc): update harbor integration (#8356)
  docs/content/integration/openid-connect/harbor/index.md
Due: none

fix(web): missing translations (#8318)
  internal/server/locales/en/portal.json
  internal/server/locales/en/settings.json
  web/src/components/AccountSettingsMenu.tsx
  web/src/components/WebAuthnTryIcon.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/WebAuthnMethod.tsx
Due: backend, frontend

i18n: update translation for portal.json (Romanian)
  internal/server/locales/ro-RO/portal.json
Due: backend

i18n: update translation for settings.json (Romanian)
  internal/server/locales/ro-RO/settings.json
Due: backend

i18n: update translation for portal.json (French)
  internal/server/locales/fr-FR/portal.json
Due: backend

i18n: update translation for settings.json (French)
  internal/server/locales/fr-FR/settings.json
Due: backend

i18n: update translation for portal.json (Spanish)
  internal/server/locales/es-ES/portal.json
Due: backend

i18n: update translation for settings.json (Spanish)
  internal/server/locales/es-ES/settings.json
Due: backend

i18n: update translation for portal.json (Afrikaans)
  internal/server/locales/af-ZA/portal.json
Due: backend

i18n: update translation for settings.json (Afrikaans)
  internal/server/locales/af-ZA/settings.json
Due: backend

i18n: update translation for portal.json (Arabic)
  internal/server/locales/ar-SA/portal.json
Due: backend

i18n: update translation for settings.json (Arabic)
  internal/server/locales/ar-SA/settings.json
Due: backend

i18n: update translation for portal.json (Bulgarian)
  internal/server/locales/bg-BG/portal.json
Due: backend

i18n: update translation for settings.json (Bulgarian)
  internal/server/locales/bg-BG/settings.json
Due: backend
