Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build(deps): update module github.com/golang-jwt/jwt to v4 (#2235)
  go.mod
  go.sum
  internal/handlers/handler_register_u2f_step1_test.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/middlewares/types.go
Due: backend

fix(oidc): do not lower case in log messages
  internal/oidc/store.go
Due: backend

Apply suggestions from code review
  internal/server/error_handler.go
  internal/server/server.go
  internal/server/template.go
Due: backend

Apply suggestions from code review
  internal/storage/mysql_provider.go
  internal/storage/postgres_provider.go
  internal/storage/sqlite_provider.go
  internal/storage/sqlmock_provider.go
Due: backend

fix(oidc): do not lower case in log messages (#2236)
  internal/oidc/store.go
Due: backend

fix(server): use lower case in error messages (#2151)
  internal/server/error_handler.go
  internal/server/template.go
Due: backend

fix(storage): use lower case in error messages (#2145)
  internal/storage/errors.go
  internal/storage/sql_provider_test.go
  internal/storage/upgrades.go
Due: backend

refactor: use x_authelia prefix.
  .healthcheck.env
  healthcheck.sh
  internal/server/const.go
  internal/server/template.go
Due: backend

fix: missing prefix
  internal/server/template.go
Due: backend

fix: missing nil
  internal/server/template.go
Due: backend

refactor: use config
  healthcheck.sh
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/server/const.go
  internal/server/server.go
  internal/server/template.go
Due: backend

docs: enhance supported proxies documentation (#2210)
  docs/_includes/head_custom.html
  docs/_sass/custom/custom.scss
  docs/deployment/supported-proxies/nginx.md
  docs/home/supported-proxies.md
Due: none

build(deps): update font awesome
  web/package.json
  web/yarn.lock
Due: frontend

perf(authentication): improve ldap dynamic replacement performance
  docs/configuration/authentication/ldap.md
  internal/authentication/const.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

fix: lint issue
  internal/authentication/ldap_user_provider.go
Due: backend

remove testing comment
  healthcheck.sh
Due: none

docs: add docs
  config.template.yml
  docs/configuration/server.md
  internal/configuration/config.template.yml
Due: backend

feat(authentication): allow customizable ldap connection timeout
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_connection_factory_mock.go
  internal/authentication/ldap_user_provider.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

refactor: configuration agnostic healthcheck (#2231)
  .dockerignore
  .healthcheck.env
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
  config.template.yml
  docs/configuration/server.md
  healthcheck.sh
  internal/configuration/config.template.yml
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/server/const.go
  internal/server/server.go
  internal/server/template.go
Due: backend

perf(authentication): improve ldap dynamic replacement performance (#2239)
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/const.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/test_resources/config.yml
  internal/configuration/test_resources/config_alt.yml
  internal/configuration/test_resources/config_bad_keys.yml
  internal/configuration/test_resources/config_with_secret.yml
  internal/configuration/validator/authentication_test.go
  internal/suites/HighAvailability/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/example/compose/ldap/ldif/03-base.ldif
  internal/suites/example/kube/authelia/configs/configuration.yml
  internal/suites/example/kube/ldap/base.ldif
  internal/utils/const.go
Due: backend

feat(authentication): allow customizable ldap connection timeout (#2240)
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_connection_factory_mock.go
  internal/authentication/ldap_user_provider.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

release: v4.30.0
  .buildkite/RELEASE.md
Due: none

release: v4.30.0 (#2241)
  .buildkite/RELEASE.md
Due: none

ci(buildkite): make test concurrency gate conditional
  .buildkite/pipeline.sh
Due: none

fix(cmd): remove microbadger references
  README.md
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/docker.go
Due: none

fix(oidc): missing validator key
  internal/configuration/validator/const.go
Due: backend

revert: return removed key
  internal/configuration/validator/const.go
Due: backend

ci(buildkite): fix apt repo readme
  .buildkite/steps/aptdeploy.sh
Due: none

ci(buildkite): make test concurrency gate conditional (#2242)
  .buildkite/pipeline.sh
Due: none

fix(cmd): remove microbadger references (#2243)
  README.md
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/docker.go
Due: none

ci(buildkite): fix apt repo readme (#2245)
  .buildkite/steps/aptdeploy.sh
Due: none

ci(buildkite): allow retry on successful docker deploy steps
  .buildkite/steps/deployimages.sh
Due: none

fix(configuration): missing oidc minimum_parameter_entropy validator key (#2244)
  internal/configuration/validator/const.go
Due: backend

ci(buildkite): allow retry on successful docker deploy steps (#2246)
  .buildkite/steps/deployimages.sh
Due: none

fix(notifier): regression in startup check
  internal/commands/root.go
Due: backend

fix(notifier): regression in startup check (#2248)
  internal/commands/root.go
Due: backend

release: v4.30.1
  .buildkite/RELEASE.md
Due: none

release: v4.30.1 (#2249)
  .buildkite/RELEASE.md
Due: none

fix: healthcheck always exit 0
  healthcheck.sh
Due: none

fix: healthcheck always exit 0 (#2250)
  healthcheck.sh
Due: none
