Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

.codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      backend:
        flags:
          - backend
      frontend:
        flags:
          - frontend
      integration:
        flags:
          - integration

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"
  integration:
    paths:
      - "internal/suites/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

test: set ctx error instead of just 404
  internal/server/template.go
Due: backend

test: use ANY router
  internal/server/server.go
Due: backend

test: adjust 405 response to 404
  internal/suites/scenario_backend_protection_test.go
Due: integration

refactor: remove unnecessary check
  internal/server/template.go
Due: backend

fix(server): send 404 on missing api endpoints instead of 405 (#1806)
  internal/server/server.go
  internal/suites/scenario_backend_protection_test.go
Due: backend, integration

fix(handlers): log user as '<anonymous>' instead of a blank string
  internal/handlers/handler_verify.go
Due: backend

refactor(session): use github.com/fasthttp/session/v2 instead of github.com/authelia/session/v2
  go.mod
  go.sum
  internal/session/encrypting_serializer.go
  internal/session/encrypting_serializer_test.go
  internal/session/mocks/mock_storer.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/session/types.go
Due: backend

refactor: update fosite and fix tests for master
  go.mod
  go.sum
  internal/authorization/authorizer.go
  internal/configuration/schema/configuration.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/oidc.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/suites/suite_oidc.go
Due: backend, integration

fix: make oidc optional
  go.mod
  go.sum
  internal/server/server.go
Due: backend

fix: resolve linting
  internal/authorization/authorizer.go
  internal/authorization/util.go
  internal/authorization/util_test.go
  internal/commands/rsa.go
  internal/middlewares/authelia_context.go
  internal/middlewares/host.go
  internal/middlewares/identity_verification.go
  internal/middlewares/types.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/oidc/oauth2_auth_test.go
  internal/oidc/oauth2_jwks.go
  internal/oidc/oauth2_token.go
Due: backend

fix: resolve app.tsx merge
  web/src/App.tsx
Due: frontend

fix: resolve linting issues
  web/src/hooks/Consent.ts
  web/src/services/Consent.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: frontend

refactor: resolve linting issues
  internal/middlewares/authelia_context.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/middlewares/identity_verification.go
Due: backend

refactor: resolve eslint issues
  web/src/App.tsx
  web/src/hooks/Consent.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: frontend

refactor: resolve gocyclo issue
  internal/oidc/oauth2.go
  internal/server/server.go
Due: backend

fix: nil ptr
  internal/configuration/validator/secrets.go
Due: backend

fix: config validation const
  internal/configuration/validator/const.go
Due: backend

test: refactor oidc and add/refactor tests
  cmd/authelia-suites/main.go
  internal/configuration/reader_test.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/oauth.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/oauth.go
  internal/configuration/validator/oauth_test.go
  internal/configuration/validator/oidc.go
  internal/configuration/validator/secrets.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/server/server.go
  internal/utils/certificates_test.go
  internal/utils/const.go
  internal/utils/files.go
  internal/utils/files_test.go
Due: backend

feat: enhance schema and testing
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/reader.go
  internal/configuration/reader_test.go
  internal/configuration/schema/oauth.go
  internal/configuration/validator/const.go
  internal/configuration/validator/oauth.go
  internal/configuration/validator/oauth_test.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
Due: backend

refactor: remove health check in tests
  internal/configuration/validator/oauth_test.go
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/authelia/docker-compose.backend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.backend.dist.yml
Due: backend, integration

refactor: revert verify urls to previous behavior
  internal/middlewares/authelia_context.go
  internal/middlewares/identity_verification.go
  internal/oidc/oauth2_auth.go
Due: backend

test: fix oidc suite
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDC/docker-compose.yml
Due: integration

test: fix oidc suite config
  internal/suites/OIDC/configuration.yml
Due: integration

test: fix oidc users db and issuer_private_key
  internal/configuration/reader.go
  internal/configuration/schema/oauth.go
  internal/configuration/validator/const.go
  internal/configuration/validator/oauth.go
  internal/configuration/validator/oauth_test.go
  internal/configuration/validator/secrets.go
  internal/oidc/oauth2.go
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDC/users.yml
Due: backend, integration

test: fix altered test result and lint issue
  internal/configuration/reader.go
  internal/configuration/reader_test.go
  internal/configuration/validator/oauth.go
Due: backend

test: fix validation of config key names
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/oauth_test.go
  internal/oidc/oauth2_auth.go
Due: backend

test: remove assert
  internal/configuration/reader_test.go
Due: backend

build(deps): update to golang 1.16.2 explicitly
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
Due: none

docs(authorization): document changed resources behavior
  docs/configuration/access-control.md
Due: none

build(deps): update to golang 1.16.2 explicitly (#1818)
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
Due: none

build(deps): update dependency chai to v4.3.4
  web/package.json
  web/yarn.lock
Due: frontend

docs(authorization): document changed resources behavior (#1819)
  docs/configuration/access-control.md
Due: none

build(deps): update dependency @types/node to v14.14.34
  web/package.json
  web/yarn.lock
Due: frontend

fix(web): fix compilation and running in development mode
  web/package.json
Due: frontend

fix(web): fix compilation and running in development mode (#1821)
  web/package.json
Due: frontend

release: v4.27.2
  .buildkite/RELEASE.md
Due: none

fix(handlers): log user as '<anonymous>' instead of a blank string (#1808)
  internal/handlers/handler_verify.go
Due: backend

refactor(session): use github.com/fasthttp/session/v2 instead of github.com/authelia/session/v2 (#1809)
  go.mod
  go.sum
  internal/session/encrypting_serializer.go
  internal/session/encrypting_serializer_test.go
  internal/session/mocks/mock_storer.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/session/types.go
Due: backend

release: v4.27.2 (#1822)
  .buildkite/RELEASE.md
Due: none

test(suites): short mode skip suites testing
  internal/suites/scenario_backend_protection_test.go
  internal/suites/scenario_bypass_policy_test.go
  internal/suites/scenario_custom_headers_test.go
  internal/suites/scenario_default_redirection_url_test.go
  internal/suites/scenario_inactivity_test.go
  internal/suites/scenario_one_factor_test.go
  internal/suites/scenario_password_complexity_test.go
  internal/suites/scenario_redirection_check_test.go
  internal/suites/scenario_redirection_url_test.go
  internal/suites/scenario_regulation_test.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/scenario_signin_email_test.go
  internal/suites/scenario_two_factor_test.go
  internal/suites/scenario_user_preferences_test.go
  internal/suites/suite_activedirectory_test.go
  internal/suites/suite_bypass_all_test.go
  internal/suites/suite_cli_test.go
  internal/suites/suite_docker_test.go
  internal/suites/suite_duo_push_test.go
  internal/suites/suite_haproxy_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_kubernetes_test.go
  internal/suites/suite_ldap_test.go
  internal/suites/suite_mariadb_test.go
  internal/suites/suite_mysql_test.go
  internal/suites/suite_network_acl_test.go
  internal/suites/suite_one_factor_only_test.go
  internal/suites/suite_pathprefix_test.go
  internal/suites/suite_postgres_test.go
  internal/suites/suite_short_timeouts_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/suite_traefik2_test.go
  internal/suites/suite_traefik_test.go
Due: integration
