Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: adjust guidelines
  cmd/authelia-gen/const.go
  cmd/authelia-gen/templates/dot_commitlintrc.js.tmpl
  docs/content/en/blog/pre-release-notes-4.37/index.md
  docs/content/en/contributing/guidelines/_index.md
  docs/content/en/contributing/guidelines/commit-message.md
  docs/content/en/contributing/guidelines/documentation.md
  docs/content/en/contributing/guidelines/introduction.md
  docs/content/en/contributing/guidelines/pull-request.md
  docs/content/en/contributing/guidelines/style.md
  docs/content/en/contributing/prologue/documentation.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  web/.commitlintrc.js
Due: frontend

docs: fix menu
  docs/content/en/contributing/guidelines/commit-message.md
  docs/content/en/contributing/guidelines/documentation.md
  docs/content/en/contributing/guidelines/introduction.md
  docs/content/en/contributing/guidelines/pull-request.md
  docs/content/en/contributing/guidelines/style.md
Due: none

docs: fix headings
  docs/content/en/contributing/guidelines/commit-message.md
  docs/content/en/contributing/guidelines/documentation.md
  docs/content/en/contributing/guidelines/pull-request.md
  docs/content/en/contributing/guidelines/style.md
Due: none

fix: unused arg
  internal/configuration/validator/identity_providers.go
Due: backend

test: add tests
  internal/configuration/schema/types_test.go
Due: backend

test: add more tests
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/handlers/handler_oidc_userinfo.go
  internal/utils/crypto.go
Due: backend

refactor: interface{} to any
  internal/oidc/provider.go
  internal/oidc/types.go
Due: backend

refactor: apply suggestions
  docs/content/en/configuration/identity-providers/open-id-connect.md
  internal/configuration/schema/const.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/oidc/keys.go
Due: backend

feat(oidc): issuer jwk certificates (#3989)
  config.template.yml
  docs/content/en/configuration/identity-providers/open-id-connect.md
  internal/configuration/config.template.yml
  internal/configuration/const.go
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/const.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_userinfo.go
  internal/logging/logger.go
  internal/oidc/keys.go
  internal/oidc/keys_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/utils/crypto.go
Due: backend

Update docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/notifications/smtp.md
Due: none

Update internal/suites/Standalone/configuration.yml
  internal/suites/Standalone/configuration.yml
Due: none

feat(notification): add disable_starttls option (#3855)
  docs/content/en/configuration/notifications/smtp.md
  internal/configuration/schema/keys.go
  internal/configuration/schema/notifier.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/notification/smtp_notifier.go
Due: backend

docs: add envoy docs (#3789)
  README.md
  docs/content/en/integration/kubernetes/istio.md
  docs/content/en/integration/kubernetes/nginx-ingress.md
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/support.md
  docs/content/en/overview/prologue/supported-proxies.md
Due: none

docs: adjust guidelines (#4113)
  cmd/authelia-gen/const.go
  cmd/authelia-gen/templates/dot_commitlintrc.js.tmpl
  docs/content/en/blog/pre-release-notes-4.37/index.md
  docs/content/en/contributing/guidelines/_index.md
  docs/content/en/contributing/guidelines/commit-message.md
  docs/content/en/contributing/guidelines/documentation.md
  docs/content/en/contributing/guidelines/introduction.md
  docs/content/en/contributing/guidelines/pull-request.md
  docs/content/en/contributing/guidelines/style.md
  docs/content/en/contributing/prologue/documentation.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  web/.commitlintrc.js
Due: frontend

fix: include consent_id
  internal/handlers/response.go
Due: backend

fix: redirect users for consent at authorization endpoint if not responded
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/response.go
Due: backend

test(suites): use iss cert
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDCTraefik/configuration.yml
Due: none

test(suites): use iss cert (#4114)
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDCTraefik/configuration.yml
Due: none

refactor: implementation specifics
  internal/handlers/handler_oidc_userinfo.go
  internal/middlewares/types.go
  internal/oidc/const.go
  internal/oidc/keys.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/types.go
  internal/server/handlers.go
  internal/suites/scenario_oidc_test.go
Due: backend

refactor(web): query hooks
  web/src/constants/SearchParams.ts
  web/src/hooks/Consent.ts
  web/src/hooks/RedirectionURL.ts
  web/src/hooks/Workflow.ts
  web/src/services/FirstFactor.ts
  web/src/services/OneTimePassword.ts
  web/src/services/PushNotification.ts
  web/src/services/SignOut.ts
  web/src/services/Webauthn.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: frontend

fix(web): workflow in webauthn
  web/src/models/Webauthn.ts
  web/src/services/Webauthn.ts
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
Due: frontend

build: bump oidc-tester-app
  internal/suites/example/compose/oidc-client/docker-compose.yml
Due: none

fix: config
  cmd/authelia-gen/cmd_code.go
  config.template.yml
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/roadmap/active/openid-connect.md
  docs/data/configkeys.json
  internal/authentication/ldap_user_provider_test.go
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/deprecation.go
  internal/configuration/provider.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
Due: backend

refactor(oidc): store
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/response.go
  internal/oidc/store.go
  internal/oidc/types.go
Due: backend

refactor: gen
  docs/content/en/contributing/guidelines/commit-message.md
  docs/content/en/contributing/guidelines/documentation.md
  docs/content/en/contributing/guidelines/introduction.md
  docs/content/en/integration/kubernetes/istio.md
  docs/content/en/reference/cli/authelia/authelia_storage_user.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_delete.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_list.md
  docs/data/configkeys.json
  internal/configuration/schema/keys.go
Due: backend

refactor: private key decoding and generators
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/templates/docs-contributing-development-commitmsg.md.tmpl
  docs/content/en/contributing/guidelines/documentation.md
  docs/content/en/contributing/guidelines/introduction.md
  docs/content/en/integration/kubernetes/istio.md
  docs/data/configkeys.json
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider.go
Due: backend

refactor: private key decoding and generators (#4116)
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/templates/docs-contributing-development-commitmsg.md.tmpl
  docs/content/en/contributing/guidelines/documentation.md
  docs/content/en/contributing/guidelines/introduction.md
  docs/content/en/integration/kubernetes/istio.md
  docs/data/configkeys.json
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider.go
Due: backend

fix(handlers): fix basic auth on bypass rule
  cmd/authelia-gen/types.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix: entrypoint
  internal/suites/example/compose/oidc-client/docker-compose.yml
Due: none

feat(oidc): token endpoint signing method
  internal/oidc/client.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/suites/example/compose/oidc-client/docker-compose.yml
Due: backend

test: add test for fix #3716
  internal/handlers/handler_verify_test.go
Due: backend

refactor: gen
  docs/content/en/contributing/guidelines/commit-message.md
  internal/configuration/schema/keys.go
Due: backend

docs: fix envoy docs
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/support.md
Due: none

Apply suggestions from code review
  docs/content/en/configuration/miscellaneous/server.md
  internal/server/asset.go
Due: backend

docs: fix envoy docs (#4119)
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/support.md
Due: none

docs: fix istio docs and readme
  README.md
  docs/content/en/integration/kubernetes/istio.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/support.md
Due: none

docs: fix istio docs and readme (#4120)
  README.md
  docs/content/en/integration/kubernetes/istio.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/support.md
Due: none

refactor: misc oidc refactoring
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
Due: backend

revert: token endpoint auth changes
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/types.go
Due: backend

docs: fix url ref
  docs/content/en/integration/kubernetes/istio.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/support.md
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
