Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

Add support for OpenID Connect with fosite.
  go.mod
  go.sum
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/oidc/oauth2_introspect.go
  internal/oidc/oauth2_revoke.go
  internal/oidc/oauth2_token.go
  internal/server/server.go
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDC/docker-compose.yml
  internal/suites/OIDC/users.yml
  internal/suites/suite_oidc.go
  internal/suites/suite_oidc_test.go
Due: backend, integration

[EXAMPLE] net/http adaptor/abstraction layer
  internal/middlewares/authelia_context.go
  internal/middlewares/net_http_context.go
  internal/middlewares/types.go
Due: backend

[WIP] Add support for OpenID Connect.
  compose/local/users_database.yml
  go.mod
  go.sum
  internal/middlewares/authelia_context.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/middlewares/net_http_context.go
  internal/middlewares/types.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/oidc/oauth2_auth_test.go
  internal/oidc/oauth2_jwks.go
  internal/oidc/oauth2_token.go
  internal/oidc/oauth2_well_known_config.go
  internal/server/server.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend, integration

Fix
  internal/oidc/oauth2.go
Due: backend

Introduce command to generate RSA keypairs.
  cmd/authelia-scripts/main.go
  cmd/authelia/main.go
  internal/commands/certificates.go
  internal/commands/rsa.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/oidc.go
  internal/oidc/oauth2.go
  internal/suites/OIDC/keypair/key.pem
  internal/suites/OIDC/keypair/key.pub
  internal/utils/rsa.go
Due: backend, integration

[CI] Exclude internal/suites/ in coverage
  .buildkite/hooks/post-command
  .codecov.yml
  Dockerfile.coverage
  cmd/authelia-scripts/cmd_suites.go
Due: none

[CI] Add Codecov support (#1065)
  .buildkite/deployment.sh
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-artifact
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/buildimages.sh
  .buildkite/steps/ghartifacts.sh
  .codecov.yml
  .gitignore
  Dockerfile.coverage
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/cmd_unittest.go
  cmd/authelia/main_test.go
  internal/suites/example/compose/authelia/docker-compose.backend.dist.yml
  web/package.json
  web/yarn.lock
Due: backend, frontend, integration

Working oidc-client.
  cmd/authelia-scripts/cmd_bootstrap.go
  internal/configuration/reader.go
  internal/configuration/schema/oidc.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/oidc.go
  internal/configuration/validator/secrets.go
  internal/handlers/handler_health.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/oidc/oauth2_introspect.go
  internal/oidc/oauth2_jwks.go
  internal/oidc/oauth2_revoke.go
  internal/oidc/oauth2_token.go
  internal/server/server.go
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDC/docker-compose.yml
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/authelia/docker-compose.backend.dev.yml
  internal/suites/example/compose/authelia/docker-compose.backend.dist.yml
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/example/compose/oidc-client/entrypoint.sh
  internal/suites/suite_oidc.go
Due: backend, integration

Read configuration from config file.
  internal/configuration/schema/oidc.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/oidc/oauth2_token.go
  internal/suites/OIDC/configuration.yml
Due: backend, integration

mod tidy
  go.sum
Due: none

[MISC] Update QEMU to v5.0.0-2
  cmd/authelia-scripts/cmd_docker.go
Due: none

[CI] Add retries and exit with non-zero status if codecov upload fails
  .buildkite/hooks/post-command
Due: none

[MISC] Update QEMU to v5.0.0-2 (#1090)
  .buildkite/hooks/post-command
  cmd/authelia-scripts/cmd_docker.go
Due: none

[DOCS] Improve documentation around Remote-User and Remote-Groups usage.
  docs/deployment/supported-proxies/index.md
Due: none

[MISC] Validate domain set in session is not a wildcard domain.
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

[DOCS] Add google analytics tracking to the documentation.
  docs/_config.yml
Due: none

Update docs/deployment/supported-proxies/index.md
  docs/deployment/supported-proxies/index.md
Due: none

[MISC] Validate domain set in session is not a wildcard domain. (#1092)
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

[DOCS] Add google analytics tracking to the documentation. (#1093)
  docs/_config.yml
Due: none

[DOCS] Improve documentation around Remote-User and Remote-Groups usage. (#1091)
  docs/deployment/supported-proxies/index.md
Due: none

[MISC] Catch and warn on malformed configuration yaml
  cmd/authelia/coverage_test.go
  cmd/authelia/main.go
  internal/configuration/reader.go
  internal/configuration/reader_test.go
  internal/configuration/test_resources/config_bad_quoting.yml
Due: backend

[MISC] Catch and warn on malformed configuration yaml (#1089)
  cmd/authelia/coverage_test.go
  cmd/authelia/main.go
  internal/configuration/reader.go
  internal/configuration/reader_test.go
  internal/configuration/test_resources/config_bad_quoting.yml
Due: backend

Update go.sum
  go.sum
Due: none

[RELEASE] 4.19.2
  .buildkite/RELEASE.md
Due: none

[MISC] Configure docs to be served under /docs base url.
  docs/_config.yml
Due: none

[RELEASE] v4.19.2 (#1104)
  .buildkite/RELEASE.md
Due: none

[MISC] Configure docs to be served under /docs base url. (#1105)
  docs/_config.yml
Due: none

Serve docs under www.authelia.com/docs.
  docs/_config.yml
Due: none

[DOCS] Add trailing slash in baseurl of documentation.
  docs/_config.yml
Due: none

[DOCS] Try to remove url from docs config.
  docs/_config.yml
Due: none

Remove custom CNAME.
  CNAME
Due: none

[DOCS] Main logo redirects to root of www.authelia.com.
  docs/_layouts/default.html
Due: none

[DOCS] Fix link for K8s setup
  docs/roadmap.md
Due: none

[DOCS] Fix link for K8s setup (#1110)
  docs/roadmap.md
Due: none

Example of authelia lite on docker swarm
  compose/lite/docker-compose-swarm.yml
Due: none

Add OIDC consent screen.
  config.template.yml
  go.mod
  go.sum
  internal/authorization/authorizer.go
  internal/configuration/reader.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/oidc.go
  internal/configuration/validator/const.go
  internal/configuration/validator/oidc.go
  internal/configuration/validator/secrets.go
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/middlewares/const.go
  internal/middlewares/host.go
  internal/middlewares/identity_verification.go
  internal/oidc/oauth2.go
  internal/oidc/oauth2_auth.go
  internal/oidc/oidc_consent.go
  internal/oidc/oidc_consent_test.go
  internal/session/types.go
  internal/suites/OIDC/configuration.yml
  web/src/App.tsx
  web/src/Routes.ts
  web/src/hooks/Consent.ts
  web/src/services/Api.ts
  web/src/services/Consent.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend, integration

Fix log_file_path in in miscellaneous.md docs
  docs/configuration/miscellaneous.md
Due: none

Generate config and userdb with 0600 permissions
  internal/authentication/file_user_provider.go
  internal/configuration/reader.go
Due: backend

Fix log_file_path in config.template.yml
  config.template.yml
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/
  frontend: any of: web/
  integration: any of: internal/suites/
