Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: update
  docs/content/reference/guides/authentication-method-references.md
  docs/content/reference/guides/webauthn.md
  docs/static/schemas/v4.39/json-schema/configuration.json
Due: none

fix: misc
  docs/content/configuration/second-factor/webauthn.md
  docs/content/reference/guides/webauthn.md
  go.mod
  go.sum
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_passkey_test.go
Due: backend

build(deps): update
  go.mod
  go.sum
Due: none

fix: unused component
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialItem.tsx
Due: frontend

refactor: misc fixups
  docs/content/configuration/second-factor/webauthn.md
  internal/commands/storage_run.go
  internal/configuration/defaults.go
  internal/configuration/provider_test.go
  internal/configuration/schema/webauthn.go
  internal/configuration/test_resources/config.webauthn-defaults.yml
  internal/configuration/validator/webauthn.go
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/handlers/handler_register_webauthn_test.go
  internal/handlers/handler_sign_webauthn_test.go
  internal/webauthn/metadata.go
Due: backend

build(deps): update webauthn npm pkg
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build: bump deps
  go.mod
  go.sum
Due: none

build(deps): update @simplewebauthn monorep to v13 (major)
  web/package.json
  web/pnpm-lock.yaml
  web/src/models/WebAuthn.ts
  web/src/services/WebAuthn.ts
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
Due: frontend

test(suites): add mds3 tests
  docs/content/reference/cli/authelia/authelia_storage_cache.md
  docs/content/reference/cli/authelia/authelia_storage_cache_mds3.md
  docs/content/reference/cli/authelia/authelia_storage_cache_mds3_delete.md
  docs/content/reference/cli/authelia/authelia_storage_cache_mds3_dump.md
  docs/content/reference/cli/authelia/authelia_storage_cache_mds3_status.md
  docs/content/reference/cli/authelia/authelia_storage_cache_mds3_update.md
  docs/content/reference/guides/authentication-method-references.md
  docs/content/reference/guides/webauthn.md
  internal/commands/const.go
  internal/commands/storage_run.go
  internal/suites/docker.go
  internal/suites/suite_cli_test.go
Due: backend

refactor: fix rebase
  docs/static/schemas/v4.39/json-schema/exports.identifiers.json
  docs/static/schemas/v4.39/json-schema/exports.totp.json
  docs/static/schemas/v4.39/json-schema/user-database.json
Due: none

refactor: apply suggestions from code review
  internal/handlers/const.go
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_sign_password.go
Due: backend

build(deps): bump webauthn
  go.mod
  go.sum
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

amend! fix(configuration): accept single-letter TLD in cookie domain
  internal/configuration/validator/const.go
  internal/configuration/validator/session_test.go
Due: backend

fixup! fix(configuration): accept single-letter TLD in cookie domain
  internal/configuration/validator/const.go
Due: backend

Clarify websockets configuration for NPM.
  docs/content/integration/proxies/nginx-proxy-manager/index.md
Due: none

release: v4.38.19
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

fix(handlers): regulation flow (#8683)
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_firstfactor_test.go
Due: backend

Update docs/content/integration/proxies/nginx-proxy-manager/index.md
  docs/content/integration/proxies/nginx-proxy-manager/index.md
Due: none

docs: include notes about websockets for npm (#8668)
  docs/content/integration/proxies/nginx-proxy-manager/index.md
Due: none

Update internal/configuration/validator/const.go
  internal/configuration/validator/const.go
Due: backend

fix(configuration): unregisterable domains not accepted (#8663)
  internal/configuration/validator/const.go
  internal/configuration/validator/session_test.go
Due: backend

test(configuration): add test case for ipv6 domains
  internal/configuration/validator/session_test.go
Due: backend

test(configuration): add test case for ipv6 domains (#8699)
  internal/configuration/validator/session_test.go
Due: backend

refactor: force complete regenerate
  internal/handlers/handler_firstfactor.go
Due: backend

refactor(notifier): smtp auth preference
  internal/notification/smtp_auth.go
Due: backend

refactor(notifier): smtp auth preference (#8700)
  internal/notification/smtp_auth.go
Due: backend

build: add allowed hosts to vite config
  web/vite.config.ts
Due: frontend

build: add allowed hosts to vite config (#8703)
  web/vite.config.ts
Due: frontend

Matomo needs scope email to work
  docs/content/integration/openid-connect/matomo/index.md
Due: none

docs(oidc): fix dokuwiki oidc configuration
  docs/content/integration/openid-connect/dokuwiki/index.md
Due: none

docs(oidc): update dokuwiki oidc configuration (#8716)
  docs/content/integration/openid-connect/dokuwiki/index.md
Due: none

build: pnpm 10
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build: pnpm 10 (#8717)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

docs(oidc): fix inconsistency in Hedgedoc
  docs/content/integration/openid-connect/hedge-doc/index.md
Due: none

refactor: adjust session regenerate (#8725)
  internal/handlers/handler_firstfactor.go
Due: backend

i18n: update translation for portal.json (Portuguese, Brazilian)
  internal/server/locales/pt-BR/portal.json
Due: backend

i18n: update translation for settings.json (Portuguese, Brazilian)
  internal/server/locales/pt-BR/settings.json
Due: backend

feat: properly set lang attribute for document root
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  web/src/i18n/index.ts
Due: frontend

docs: adjust wording in feature description
  docs/layouts/partials/prefooter/features/en.html
Due: none

i18n: update translations (#8735)
  internal/server/locales/pt-BR/portal.json
  internal/server/locales/pt-BR/settings.json
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
