Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build(deps): update dependency @types/react-router-dom to v5.1.9
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update module github.com/mitchellh/mapstructure to v1.4.2
  go.mod
  go.sum
Due: none

build(deps): update dependency @types/react to v17.0.21
  web/package.json
  web/yarn.lock
Due: frontend

feat: add config flag to hash-password tool (#2047)
  docs/configuration/authentication/file.md
  internal/commands/hash.go
Due: backend

fix(server): remove obselete memory check warning
  internal/server/server.go
  web/.commitlintrc.js
Due: backend, frontend

fix(server): remove obselete memory check warning (#2380)
  internal/server/server.go
  web/.commitlintrc.js
Due: backend, frontend

feat: builds with gox and buildx
  .buildkite/annotations/artifacts
  .buildkite/deployment.sh
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-artifact
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/buildimages.sh
  .buildkite/steps/debhelper.sh
  .buildkite/steps/debpackages.sh
  .buildkite/steps/deployimages.sh
  .buildkite/steps/ghartifacts.sh
  .dockerignore
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage.dockerignore
  cmd/authelia-scripts/cmd_build.go
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/docker.go
Due: none

build(deps): update dependency prettier to v2.4.1
  web/package.json
  web/yarn.lock
Due: frontend

refactor: clean up docker helper
  .buildkite/pipeline.sh
  Dockerfile.dev
  Dockerfile.dev.dockerignore
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/const.go
  cmd/authelia-scripts/docker.go
  cmd/authelia-scripts/main.go
Due: none

refactor: variant -> container
  cmd/authelia-scripts/cmd_docker.go
Due: none

feat: builds with gox and buildx (#2381)
  .buildkite/annotations/artifacts
  .buildkite/deployment.sh
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-artifact
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/buildimages.sh
  .buildkite/steps/debhelper.sh
  .buildkite/steps/debpackages.sh
  .buildkite/steps/deployimages.sh
  .buildkite/steps/ghartifacts.sh
  .dockerignore
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage.dockerignore
  Dockerfile.dev
  Dockerfile.dev.dockerignore
  cmd/authelia-scripts/cmd_build.go
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/const.go
  cmd/authelia-scripts/docker.go
  cmd/authelia-scripts/main.go
Due: none

refactor: use authelia/debpackager:latest manifest
  .buildkite/steps/debhelper.sh
Due: none

refactor: use authelia/debpackager:latest manifest (#2383)
  .buildkite/steps/debhelper.sh
Due: none

ci(buildkite): remove test concurrency step
  .buildkite/pipeline.sh
Due: none

docs(ntp): add docs
  config.template.yml
  docs/configuration/ntp.md
  docs/configuration/one-time-password.md
  docs/configuration/regulation.md
  docs/configuration/secrets.md
  docs/configuration/server.md
  docs/configuration/session/index.md
  docs/configuration/storage/index.md
  docs/configuration/theme.md
  internal/commands/root.go
  internal/configuration/config.template.yml
  internal/configuration/schema/ntp.go
  internal/configuration/validator/ntp.go
  internal/ntp/ntp.go
Due: backend

Apply suggestions from code review
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_verify.go
Due: backend

docs: add ntp docs to totp
  docs/configuration/one-time-password.md
Due: none

fix: remove concurrency_group from integration test steps
  .buildkite/pipeline.sh
Due: none

ci(buildkite): remove test concurrency step (#2384)
  .buildkite/pipeline.sh
Due: none

fix(ntp): misc issues
  config.template.yml
  docs/configuration/ntp.md
  internal/configuration/config.template.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/ntp.go
Due: backend

fix: uppercase logger errors and remove unused param
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix(ntp): unit test
  internal/configuration/validator/ntp_test.go
Due: backend

fix(ntp): address review
  internal/configuration/validator/configuration.go
  internal/configuration/validator/ntp.go
  internal/ntp/ntp_test.go
  internal/ntp/util.go
  internal/suites/Standalone/configuration.yml
Due: backend

feat(ntp): check clock sync on startup (#2251)
  config.template.yml
  docs/configuration/ntp.md
  docs/configuration/one-time-password.md
  docs/configuration/regulation.md
  docs/configuration/secrets.md
  docs/configuration/server.md
  docs/configuration/session/index.md
  docs/configuration/storage/index.md
  docs/configuration/theme.md
  internal/commands/root.go
  internal/configuration/config.template.yml
  internal/configuration/schema/configuration.go
  internal/configuration/schema/ntp.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/ntp.go
  internal/configuration/validator/ntp_test.go
  internal/middlewares/types.go
  internal/ntp/const.go
  internal/ntp/ntp.go
  internal/ntp/ntp_test.go
  internal/ntp/types.go
  internal/ntp/util.go
  internal/ntp/util_test.go
  internal/suites/Standalone/configuration.yml
Due: backend

refactor(handlers): lower case error messages (#2289)
  internal/handlers/errors.go
  internal/handlers/handler_checks_safe_redirection.go
  internal/handlers/handler_configuration.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_register_u2f_step1.go
  internal/handlers/handler_register_u2f_step1_test.go
  internal/handlers/handler_register_u2f_step2.go
  internal/handlers/handler_reset_password_step1.go
  internal/handlers/handler_reset_password_step2.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_u2f_step1.go
  internal/handlers/handler_sign_u2f_step1_test.go
  internal/handlers/handler_sign_u2f_step2.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/handlers/response.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
Due: backend

refactor: factorize startup checks
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
  internal/authentication/user_provider.go
  internal/commands/root.go
  internal/middlewares/types.go
  internal/mocks/mock_notifier.go
  internal/mocks/mock_user_provider.go
  internal/notification/file_notifier.go
  internal/notification/notifier.go
  internal/notification/smtp_notifier.go
  internal/ntp/ntp.go
  internal/ntp/ntp_test.go
Due: backend

refactor: address linting issues
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
  internal/commands/root.go
  internal/notification/file_notifier.go
  internal/notification/smtp_notifier.go
  internal/ntp/ntp.go
  internal/ntp/ntp_test.go
Due: backend

refactor: factorize startup checks (#2386)
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
  internal/authentication/user_provider.go
  internal/commands/root.go
  internal/middlewares/types.go
  internal/mocks/mock_notifier.go
  internal/mocks/mock_user_provider.go
  internal/notification/file_notifier.go
  internal/notification/notifier.go
  internal/notification/smtp_notifier.go
  internal/ntp/ntp.go
  internal/ntp/ntp_test.go
Due: backend

release: v4.31.0
  .buildkite/RELEASE.md
Due: none

release: v4.31.0 (#2387)
  .buildkite/RELEASE.md
Due: none

ci(buildkite): fix index update post release
  .buildkite/hooks/post-command
Due: none

ci(buildkite): fix index update post release (#2388)
  .buildkite/hooks/post-command
Due: none

ci(buildkite): fix ghcr tag cleanup
  .buildkite/hooks/post-command
Due: none

ci(buildkite): do not remove empty tags
  .buildkite/hooks/post-command
Due: none

ci(buildkite): fix ghcr tag cleanup (#2390)
  .buildkite/hooks/post-command
Due: none

ci(buildkite): improve logging for post-manifest tag cleanup
  .buildkite/hooks/post-command
Due: none

ci(buildkite): improve logging for post-manifest tag cleanup (#2394)
  .buildkite/hooks/post-command
Due: none

ci(buildkite): fix post-manifest tag cleanup
  .buildkite/hooks/post-command
Due: none

ci(buildkite): fix post-manifest tag cleanup (#2395)
  .buildkite/hooks/post-command
Due: none

Create BNDurNEE 2Our King
  BNDurNEE 2Our King
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
