Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

[FIX] Better basic auth error reporting
  internal/handlers/handler_verify.go
Due: backend

[FIX] Return 401 when using basic auth instead of redirecting
  internal/handlers/handler_verify.go
Due: backend

[TESTS] Add tests for auth=basic query param
  internal/handlers/handler_verify_test.go
Due: backend

[FEATURE] Add auth query param to /api/verify (#1353)
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

build(deps): update dependency typescript to v4.2.2
  web/package.json
  web/yarn.lock
Due: frontend

feat(handlers): authorization header switch via query param to /api/verify (#1563)
  docs/deployment/supported-proxies/haproxy.md
  docs/deployment/supported-proxies/nginx.md
  docs/deployment/supported-proxies/traefik1.x.md
  docs/deployment/supported-proxies/traefik2.x.md
  docs/features/single-factor.md
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix(configuration): lower argon2id default memory requirements
  docs/configuration/authentication/file.md
  internal/configuration/schema/authentication.go
Due: backend

test: fix broken tests
  internal/authentication/password_hash_test.go
Due: backend

build(deps): update dependency eslint-config-prettier to v8.1.0
  web/package.json
  web/yarn.lock
Due: frontend

fix(authorization): allow subject rules to match anonymous users
  docs/configuration/access-control.md
  internal/authorization/access_control_rule.go
  internal/authorization/access_control_subjects.go
  internal/authorization/authorizer_test.go
  internal/authorization/types.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/const.go
Due: backend

resolve incorrect test and fix misc merge inconsistencies
  go.mod
  go.sum
  internal/authorization/authorizer_test.go
Due: backend

fix misc merge inconsistencies
  go.mod
  go.sum
  internal/session/encrypting_serializer.go
  internal/session/encrypting_serializer_test.go
  internal/session/mocks/mock_storer.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/session/types.go
Due: backend

feat(api): add new params
  api/openapi.yml
Due: none

add test
  api/openapi.yml
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
Due: backend

docs(api): wording adjustments
  api/openapi.yml
Due: none

feat(session): add redis sentinel provider
  config.template.yml
  go.mod
  go.sum
  internal/configuration/config.template.yml
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/types.go
Due: backend

fix(session): resolve linting and tests
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/session.go
Due: backend

refactor(session): use int for ports
  internal/configuration/schema/session.go
  internal/configuration/validator/session_test.go
Due: backend

refactor(configuration): adjust tests and validation
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

refactor(configuration): add err format consts
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

refactor(configuration): explicitly map redis structs
  internal/configuration/schema/session.go
Due: backend

refactor(session): merge redis/redis sentinel providers
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/session/provider_config.go
Due: backend

refactor(session): add additional checks to redis providers
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/session/provider_config.go
Due: backend

feat(session): add redis cluster provider
  cmd/authelia/main.go
  go.mod
  go.sum
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/types.go
Due: backend

fix: update config for new values
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

fix: provide nil certpool to affected tests/mocks
  internal/handlers/handler_verify_test.go
  internal/middlewares/authelia_context_test.go
  internal/mocks/mock_authelia_ctx.go
  internal/session/provider_config_test.go
  internal/session/provider_test.go
Due: backend

refactor(session): remove redis cluster
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/types.go
Due: backend

fix: incorrect length check in tests
  internal/configuration/validator/session_test.go
Due: backend

build(deps): update dependency query-string to v6.14.1
  web/package.json
  web/yarn.lock
Due: frontend

docs: add docs and other refactoring
  config.template.yml
  docs/configuration/session.md
  internal/configuration/config.template.yml
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/session/provider_config.go
Due: backend

test: add additional tests to cover uncovered code
  docs/configuration/session.md
  internal/configuration/schema/session.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
Due: backend

test: add request method into testing and proxy docs
  docs/deployment/supported-proxies/haproxy.md
  docs/deployment/supported-proxies/nginx.md
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: integration

test: add several checks and refactor schema validation for ACL
  internal/configuration/validator/access_control.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/regulation_test.go
Due: backend

docs: expand explanation of host and nodes relation for redis
  config.template.yml
  docs/configuration/session.md
  internal/configuration/config.template.yml
  internal/session/provider_config.go
Due: backend

test: add integration test for methods acl
  internal/suites/Standalone/configuration.yml
  internal/suites/suite_standalone_test.go
Due: integration

test: amend test to use secure domain
  internal/handlers/handler_verify.go
  internal/suites/Standalone/configuration.yml
  internal/suites/suite_standalone_test.go
Due: backend, integration

test: amend test to use secure domain
  internal/suites/suite_standalone_test.go
Due: integration

test: X-Forwarded-Method presence sets rm query param
  internal/suites/suite_standalone_test.go
Due: integration

test: fix erroneous URL
  internal/suites/suite_standalone_test.go
Due: integration

test: not sure even why
  internal/suites/suite_standalone_test.go
Due: integration

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/
  frontend: any of: web/
  integration: any of: internal/suites/
