Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(authentication): additional and custom attributes
  config.template.yml
  docs/content/configuration/definitions/_index.md
  docs/content/configuration/definitions/introduction.md
  docs/content/configuration/definitions/network.md
  docs/content/configuration/definitions/user-attributes.md
  docs/content/contributing/guidelines/commit-message.md
  docs/content/reference/guides/passwords.md
  docs/data/configkeys.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/user-database.json
  go.mod
  go.sum
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database.go
  internal/authentication/file_user_provider_test.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/types.go
  internal/authentication/user_provider.go
  internal/commands/const.go
  internal/commands/context.go
  internal/commands/root.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/schema/definitions.go
  internal/configuration/schema/keys.go
  internal/expression/const.go
  internal/expression/types.go
  internal/expression/user_activation.go
  internal/expression/user_attributes.go
  internal/expression/util.go
  internal/middlewares/authelia_context.go
  internal/middlewares/types.go
  internal/mocks/user_provider.go
  internal/oidc/config.go
  web/.commitlintrc.cjs
Due: backend, frontend

feat(oidc): authorization policy network criteria
  config.template.yml
  docs/content/configuration/definitions/user-attributes.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/commands/context.go
  internal/configuration/config.template.yml
  internal/configuration/provider_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/mocks/user_provider.go
  internal/oidc/client.go
  internal/oidc/client_policy.go
  internal/oidc/client_policy_test.go
  internal/oidc/client_test.go
  internal/oidc/discovery_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
Due: backend

feat(oidc): prompt parameter support
  docs/content/configuration/definitions/user-attributes.md
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_implicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/response.go
  internal/handlers/types.go
  internal/mocks/storage.go
  internal/oidc/const.go
  internal/oidc/session.go
  internal/oidc/types.go
  internal/oidc/util.go
  internal/server/handlers.go
  internal/session/user_session.go
  internal/storage/migrations/mysql/V0016.OAuth2ConsentSubjectNULL.down.sql
  internal/storage/migrations/mysql/V0016.OAuth2ConsentSubjectNULL.up.sql
  internal/storage/migrations/postgres/V0016.OAuth2ConsentSubjectNULL.down.sql
  internal/storage/migrations/postgres/V0016.OAuth2ConsentSubjectNULL.up.sql
  internal/storage/migrations/sqlite/V0016.OAuth2ConsentSubjectNULL.down.sql
  internal/storage/migrations/sqlite/V0016.OAuth2ConsentSubjectNULL.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  web/src/App.tsx
  web/src/constants/Routes.ts
  web/src/services/Api.ts
  web/src/services/ConsentOpenIDConnect.ts
  web/src/services/FirstFactor.ts
  web/src/views/ConsentPortal/ConsentPortal.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDecisionFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentLoginFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentPortal.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: backend, frontend

feat(oidc): claims parameter support
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/integration/openid-connect/introduction.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oauth_authorization_claims.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/oidc.go
  internal/handlers/oidc_test.go
  internal/model/oidc.go
  internal/oidc/claims.go
  internal/oidc/claims_test.go
  internal/oidc/client.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/session.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/scenario_oidc_test.go
  web/src/services/ConsentOpenIDConnect.ts
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDecisionFormView.tsx
Due: backend, frontend

fix(web): totp credential ui shows too much info (#8062)
  internal/server/locales/en/settings.json
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordCredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

docs: references in callouts
  docs/content/integration/openid-connect/bookstack/index.md
  docs/content/integration/openid-connect/budibase/index.md
  docs/content/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/integration/openid-connect/gitlab/index.md
  docs/content/integration/openid-connect/hedge-doc/index.md
  docs/content/integration/openid-connect/homarr/index.md
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/mealie/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/outline/index.md
  docs/content/integration/openid-connect/proxmox/index.md
  docs/content/integration/openid-connect/seafile/index.md
  docs/content/integration/openid-connect/synology-dsm/index.md
Due: none

docs: add comma reported by ai
  docs/content/integration/openid-connect/gitlab/index.md
Due: none

docs: fix references in callouts (#8089)
  docs/content/integration/openid-connect/bookstack/index.md
  docs/content/integration/openid-connect/budibase/index.md
  docs/content/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/integration/openid-connect/gitlab/index.md
  docs/content/integration/openid-connect/hedge-doc/index.md
  docs/content/integration/openid-connect/homarr/index.md
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/mealie/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/outline/index.md
  docs/content/integration/openid-connect/proxmox/index.md
  docs/content/integration/openid-connect/seafile/index.md
  docs/content/integration/openid-connect/synology-dsm/index.md
Due: none

docs: add link to references on how to generate a secure hmac secret
  docs/content/configuration/identity-validation/reset-password.md
Due: none

docs: add sponsorship alert
  docs/config/_default/languages.toml
  docs/config/_default/params.toml
  docs/content/contributing/prologue/financial.md
  docs/layouts/partials/prefooter/support/en.html
Due: none

docs: add link to references on how to generate a secure hmac secret (#8097)
  docs/content/configuration/identity-validation/reset-password.md
Due: none

Remove docker containers after generating secrets
  docs/content/reference/guides/generating-secure-values.md
Due: none

Add --rm argument to some other docker commands
  docs/content/integration/openid-connect/frequently-asked-questions.md
Due: none

docs: include docker remove argument (#8103)
  docs/content/integration/openid-connect/frequently-asked-questions.md
  docs/content/reference/guides/generating-secure-values.md
Due: none

docs: add sponsorship alert (#8099)
  docs/config/_default/languages.toml
  docs/config/_default/params.toml
  docs/content/contributing/prologue/financial.md
  docs/layouts/partials/prefooter/support/en.html
Due: none

docs(oidc): mealie v2.0.0
  docs/content/integration/openid-connect/mealie/index.md
Due: none

docs(oidc): mealie v2.0.0 (#8110)
  docs/content/integration/openid-connect/mealie/index.md
Due: none

docs: update notification templates
  docs/content/reference/guides/notification-templates.md
Due: none

docs: update notification templates (#8115)
  docs/content/reference/guides/notification-templates.md
Due: none

docs: adjust example template
  docs/content/reference/guides/notification-templates.md
Due: none

docs: adjust example template (#8116)
  docs/content/reference/guides/notification-templates.md
Due: none

docs: add no preview email templates
  examples/templates/notifications/no-preview/Event.html
  examples/templates/notifications/no-preview/IdentityVerificationJWT.html
  examples/templates/notifications/no-preview/IdentityVerificationOTC.html
  examples/templates/notifications/no-preview/README.md
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
Due: backend

test(configuration): add config directory test
  internal/configuration/provider_test.go
  internal/configuration/test_resources/config-dir/filtered/access-control.yml
  internal/configuration/test_resources/config-dir/filtered/authentication-backend.yml
  internal/configuration/test_resources/config-dir/filtered/general.yml
  internal/configuration/test_resources/config-dir/filtered/identity-providers.yml
  internal/configuration/test_resources/config-dir/filtered/notifier.yml
  internal/configuration/test_resources/config-dir/filtered/session.yml
  internal/configuration/test_resources/config-dir/filtered/storage.yml
Due: backend

test(configuration): add config directory test (#8117)
  internal/configuration/provider_test.go
  internal/configuration/test_resources/config-dir/filtered/access-control.yml
  internal/configuration/test_resources/config-dir/filtered/authentication-backend.yml
  internal/configuration/test_resources/config-dir/filtered/general.yml
  internal/configuration/test_resources/config-dir/filtered/identity-providers.yml
  internal/configuration/test_resources/config-dir/filtered/notifier.yml
  internal/configuration/test_resources/config-dir/filtered/session.yml
  internal/configuration/test_resources/config-dir/filtered/storage.yml
Due: backend

test(configuration): add read file tests
  internal/configuration/provider_test.go
Due: backend

test(configuration): add read file tests (#8118)
  internal/configuration/provider_test.go
Due: backend

fix(configuration): utilise updated psl for domain validation
  internal/configuration/validator/util.go
Due: backend

refactor(configuration): use new lib api instead of drop-in replacement
  go.mod
  go.sum
  internal/configuration/validator/const.go
  internal/configuration/validator/util.go
  internal/configuration/validator/util_test.go
Due: backend

fix(configuration): utilise updated psl for domain validation (#8119)
  go.mod
  go.sum
  internal/configuration/validator/const.go
  internal/configuration/validator/util.go
  internal/configuration/validator/util_test.go
Due: backend

ci: skip traefik2 major upgrade
  .renovaterc
Due: none

fix(configuration): templating panic edge case
  internal/configuration/koanf_provider_filtered_file.go
Due: backend

ci(renovate): skip traefik2 major upgrade (#8129)
  .renovaterc
Due: none

fix(configuration): templating panic edge case (#8130)
  internal/configuration/koanf_provider_filtered_file.go
Due: backend

release: v4.38.17
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

release: v4.38.17 (#8137)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

fix(web): adjust import for jest test setup
  web/src/setupTests.ts
Due: frontend

fix(web): include i18n initialization in jest test setup
  web/src/components/PrivacyPolicyDrawer.test.tsx
  web/src/components/PrivacyPolicyLink.test.tsx
  web/src/setupTests.ts
Due: frontend

fix(session): add connection timeout and retry options to redis
  config.template.yml
  docs/data/configkeys.json
  docs/data/languages.json
  docs/data/misc.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/session.go
  internal/session/provider_config.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
