Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(web): misc ux improvements
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
Due: frontend

feat(web): caps lock detection
  internal/server/locales/en/portal.json
  web/src/services/CapsLock.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
Due: backend, frontend

refactor: misc beta fixes
  api/openapi.yml
  cmd/authelia-gen/const.go
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-validation/_index.md
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/identity-validation/introduction.md
  docs/content/en/configuration/identity-validation/reset-password.md
  go.mod
  go.sum
  internal/configuration/provider_test.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/const.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/storage/migrations/mysql/V0012.WebAuthnMultiCookieDomain.down.sql
  internal/storage/migrations/mysql/V0012.WebAuthnMultiCookieDomain.up.sql
  internal/storage/migrations/postgres/V0012.WebAuthnMultiCookieDomain.down.sql
  internal/storage/migrations/postgres/V0012.WebAuthnMultiCookieDomain.up.sql
  web/pnpm-lock.yaml
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

refactor: generate
  docs/content/en/configuration/identity-validation/_index.md
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/identity-validation/introduction.md
  docs/content/en/configuration/identity-validation/reset-password.md
  docs/content/en/contributing/guidelines/database-schema.md
  docs/content/en/reference/integrations/database-integrations.md
  docs/content/en/reference/integrations/introduction.md
  examples/compose/lite/authelia/configuration.yml
  internal/configuration/test_resources/config_with_secret.yml
  internal/configuration/validator/access_control.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/BypassAll/configuration.yml
  internal/suites/CLI/configuration.yml
  internal/suites/Caddy/configuration.yml
  internal/suites/Docker/configuration.yml
  internal/suites/DuoPush/configuration.yml
  internal/suites/Envoy/configuration.yml
  internal/suites/HAProxy/configuration.yml
  internal/suites/HighAvailability/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/MariaDB/configuration.yml
  internal/suites/MultiCookieDomain/configuration.yml
  internal/suites/MySQL/configuration.yml
  internal/suites/NetworkACL/configuration.yml
  internal/suites/OIDCTraefik/configuration.yml
  internal/suites/OneFactorOnly/configuration.yml
  internal/suites/PathPrefix/configuration.yml
  internal/suites/Postgres/configuration.yml
  internal/suites/ShortTimeouts/configuration.yml
  internal/suites/Traefik/configuration.yml
  internal/suites/Traefik2/configuration.yml
Due: backend

docs: misc beta updates
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/prologue/get-started.md
Due: none

fix: webauthn user handle encoding
  web/src/services/WebAuthn.ts
Due: frontend

refactor: temp legacy
  docs/content/en/configuration/identity-validation/_index.md
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/identity-validation/introduction.md
  docs/content/en/configuration/identity-validation/reset-password.md
  docs/static/schemas/latest/json-schema/exports.webauthn.json
  docs/static/schemas/v4.38/json-schema/exports.webauthn.json
  internal/model/webauthn.go
  internal/storage/sql_provider_queries.go
Due: backend

docs: misc docs fixes
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/security/access-control.md
  docs/content/en/integration/deployment/docker.md
Due: none

build(deps): update module github.com/go-webauthn/webauthn to v0.10.0
  go.mod
  go.sum
  web/pnpm-lock.yaml
Due: frontend

refactor: email table width
  examples/templates/notifications/html_email_with_button_and_link.html
  internal/templates/src/notification/IdentityVerificationJWT.html
  internal/templates/src/notification/IdentityVerificationOTC.html
Due: backend

refactor: temp totp
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_totp_test.go
  internal/handlers/handler_webauthn_credentials_test.go
Due: backend

test(suites): revert rename
  internal/suites/example/kube/authelia/configs/configuration.yml
  internal/suites/suite_activedirectory_test.go
  internal/suites/suite_caddy_test.go
  internal/suites/suite_docker_test.go
  internal/suites/suite_envoy_test.go
  internal/suites/suite_haproxy_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_kubernetes_test.go
  internal/suites/suite_ldap_test.go
  internal/suites/suite_mariadb_test.go
  internal/suites/suite_mysql_test.go
  internal/suites/suite_pathprefix_test.go
  internal/suites/suite_postgres_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/suite_traefik2_test.go
  internal/suites/suite_traefik_test.go
Due: none

refactor: temp webauthn
  internal/server/locales/en/settings.json
  web/src/models/WebAuthn.ts
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialItem.tsx
Due: backend, frontend

feat: recover panics
  internal/middlewares/authelia_context.go
  internal/middlewares/errors.go
  internal/middlewares/log_request.go
  internal/middlewares/wrap.go
  internal/server/handlers.go
Due: backend

refactor: improvements
  docs/content/en/configuration/security/access-control.md
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/content/en/reference/guides/templating.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/authorization/access_control_subjects.go
  internal/authorization/authorizer_test.go
  internal/authorization/const.go
  internal/authorization/types.go
  internal/authorization/util.go
  internal/configuration/schema/server.go
  internal/configuration/schema/types.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/model/oidc_test.go
  internal/oidc/const.go
  internal/oidc/flow_client_credentials.go
  internal/oidc/flow_client_credentials_test.go
  internal/oidc/flow_refresh.go
  internal/oidc/session.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/templates/funcs.go
Due: backend

feat: authz bearer
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/miscellaneous/server-endpoints-authz.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/const.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/configuration/validator/util.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/model/authorization.go
  internal/model/authorization_test.go
  internal/model/const.go
  internal/oidc/amr.go
  internal/oidc/const.go
  internal/server/locales/en/portal.json
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: backend, frontend

fix(oidc): public client authentication panic
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_credentials.go
Due: backend

deprecate: issuer_private_key and issuer_certificate_chain
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/deprecation.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

docs(oidc): ocis
  docs/content/en/integration/openid-connect/ocis/index.md
  docs/layouts/shortcodes/oidc-common.html
Due: none

docs(oidc): common update
  docs/content/en/integration/memos/index.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/budibase/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/firezone/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/minio/index.md
  docs/content/en/integration/openid-connect/misago/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/roundcube/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
  docs/content/en/integration/openid-connect/tailscale/index.md
  docs/content/en/integration/openid-connect/windmill/index.md
  docs/content/en/integration/trusted-header-sso/organizr/index.md
  docs/content/en/integration/trusted-header-sso/seafile/index.md
  docs/layouts/shortcodes/oidc-common.html
Due: none

docs(oidc): common update (#6549)
  docs/content/en/integration/memos/index.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/budibase/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/firezone/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/kasm-workspaces/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/minio/index.md
  docs/content/en/integration/openid-connect/misago/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/roundcube/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
  docs/content/en/integration/openid-connect/tailscale/index.md
  docs/content/en/integration/openid-connect/windmill/index.md
  docs/content/en/integration/trusted-header-sso/organizr/index.md
  docs/content/en/integration/trusted-header-sso/seafile/index.md
  docs/layouts/shortcodes/oidc-common.html
Due: none

Update docs/content/en/integration/openid-connect/powerdns/index.md
  docs/content/en/integration/openid-connect/powerdns/index.md
Due: none

docs(oidc) : add powerdns integration (#6491)
  docs/content/en/integration/openid-connect/powerdns/index.md
  docs/content/en/integration/openid-connect/powerdns/powerdns.png
Due: none

fix authelia in fail2ban
  docs/content/en/overview/security/measures.md
Due: none

Update MinIO integration doc with working config
  docs/content/en/integration/openid-connect/minio/index.md
Due: none

deprecate: issuer_private_key and issuer_certificate_chain
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/deprecation.go
  internal/configuration/helpers_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/model/authorization.go
  internal/model/authorization_test.go
Due: backend

docs(oidc): update minio integration (#6571)
  docs/content/en/integration/openid-connect/minio/index.md
Due: none

updating lldap repository
  docs/content/en/reference/guides/ldap.md
Due: none

docs: update lldap repository link (#6589)
  docs/content/en/reference/guides/ldap.md
Due: none

docs: clarify roadmap
  docs/content/en/roadmap/active/dashboard-control-panel-for-admins.md
  docs/content/en/roadmap/active/dashboard-control-panel-for-users.md
  docs/content/en/roadmap/prologue/introduction.md
Due: none

docs: clarify roadmap (#6628)
  docs/content/en/roadmap/active/dashboard-control-panel-for-admins.md
  docs/content/en/roadmap/active/dashboard-control-panel-for-users.md
  docs/content/en/roadmap/prologue/introduction.md
Due: none

fix(web): fix base64 decoding
  web/src/utils/Base64.ts
Due: frontend

ci(husky): adjust hooks for v9 convention
  .github/commit-msg
  .github/pre-commit
  docs/content/en/contributing/guidelines/commit-message.md
  web/.commitlintrc.cjs
  web/package.json
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
