Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

docs(oidc): uptime kuma integration (#6829)
  docs/content/en/integration/openid-connect/uptime-kuma/index.md
  docs/content/en/integration/openid-connect/uptime-kuma/uptime-kuma-authentication.png
Due: none

refactor: factorize tooling and logs
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oauth_revocation.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/oidc/util.go
Due: backend

docs: preliminary blog post
  docs/content/en/blog/release-notes-4.38/index.md
  docs/content/en/integration/openid-connect/uptime-kuma/index.md
Due: none

docs: preliminary blog post
  docs/content/en/integration/openid-connect/uptime-kuma/index.md
Due: none

Apply suggestions from code review
  docs/content/en/blog/release-notes-4.38/index.md
Due: none

Update docs/content/en/integration/openid-connect/uptime-kuma/index.md
  docs/content/en/integration/openid-connect/uptime-kuma/index.md
Due: none

docs: preliminary blog post (#6836)
  docs/content/en/blog/release-notes-4.38/index.md
  docs/content/en/integration/openid-connect/uptime-kuma/index.md
Due: none

test(suites): use new template filter for secrets
  internal/configuration/const.go
  internal/configuration/provider_test.go
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDC/docker-compose.yml
  internal/suites/OIDCTraefik/configuration.yml
  internal/suites/OIDCTraefik/docker-compose.yml
Due: backend

test(suites): use new template filter for secrets (#6838)
  internal/configuration/const.go
  internal/configuration/provider_test.go
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDC/docker-compose.yml
  internal/suites/OIDCTraefik/configuration.yml
  internal/suites/OIDCTraefik/docker-compose.yml
Due: backend

refactor: factorize tooling and logs (#6835)
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oauth_revocation.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/oidc/util.go
Due: backend

docs: fix csp
  docs/content/en/blog/release-notes-4.38/index.md
Due: none

docs: additional blog notes (#6839)
  docs/content/en/blog/release-notes-4.38/index.md
Due: none

build(deps): bump authelia.com/provider/oauth2
  go.mod
  go.sum
  internal/oidc/config.go
Due: backend

build(deps): bump authelia.com/provider/oauth2 (#6842)
  go.mod
  go.sum
  internal/oidc/config.go
Due: backend

fix: netlify
  docs/config/_default/hugo.toml
  docs/layouts/index.headers
  docs/layouts/index.redirects
  docs/package.json
Due: none

fix: headers
  docs/layouts/index.headers
  docs/netlify.toml
Due: none

docs: fix missing variables
  docs/assets/scss/common/_variables-custom.scss
Due: none

docs: fix media type
  docs/config/_default/hugo.toml
Due: none

docs: remove staging config
  docs/config/staging/hugo.toml
Due: none

docs: fix csp
  docs/layouts/index.headers
Due: none

docs: fix misc
  docs/assets/svgs/.gitkeep
  docs/config/_default/hugo.toml
  docs/config/_default/menus/menus.en.toml
  docs/config/next/hugo.toml
  docs/config/production/hugo.toml
  docs/static/fonts/vendor/jost/jost-v4-latin-500.woff
  docs/static/fonts/vendor/jost/jost-v4-latin-500.woff2
  docs/static/fonts/vendor/jost/jost-v4-latin-500italic.woff
  docs/static/fonts/vendor/jost/jost-v4-latin-500italic.woff2
  docs/static/fonts/vendor/jost/jost-v4-latin-700.woff
  docs/static/fonts/vendor/jost/jost-v4-latin-700.woff2
  docs/static/fonts/vendor/jost/jost-v4-latin-700italic.woff
  docs/static/fonts/vendor/jost/jost-v4-latin-700italic.woff2
  docs/static/fonts/vendor/jost/jost-v4-latin-italic.woff
  docs/static/fonts/vendor/jost/jost-v4-latin-italic.woff2
  docs/static/fonts/vendor/jost/jost-v4-latin-regular.woff
  docs/static/fonts/vendor/jost/jost-v4-latin-regular.woff2
Due: none

fix: x
  docs/config/_default/module.toml
  docs/config/_default/params.toml
  docs/config/next/hugo.toml
  docs/netlify.toml
Due: none

refactor: x
  docs/config/_default/module.toml
  docs/config/_default/params.toml
  docs/layouts/index.html
  docs/layouts/partials/prefooter/blog/en.html
  docs/layouts/partials/prefooter/features/en.html
  docs/layouts/partials/prefooter/support/en.html
  docs/static/fonts/bootstrap-icons.woff
  docs/static/fonts/bootstrap-icons.woff2
Due: none

fix: purgecss
  docs/config/postcss.config.js
  docs/content/blog/release-notes-4.38/index.md
  docs/content/integration/openid-connect/uptime-kuma/index.md
  docs/content/integration/openid-connect/uptime-kuma/uptime-kuma-authentication.png
  docs/package.json
Due: none

fix: blog weight
  docs/content/blog/release-notes-4.38/index.md
Due: none

fix: misc
  docs/assets/scss/common/_custom.scss
  docs/content/blog/release-notes-4.38/index.md
  docs/content/contributors/amir-zarrinkafsh/_index.md
  docs/content/contributors/clement-michaud/_index.md
  docs/content/contributors/james-elliott/_index.md
  docs/content/contributors/manuel-nunez/_index.md
  docs/content/roadmap/active/dashboard-control-panel-for-users.md
  docs/content/roadmap/active/multi-domain-protection.md
  docs/content/roadmap/active/openid-connect.md
  docs/content/roadmap/active/webauthn.md
Due: none

fix: misc
  docs/content/blog/release-notes-4.38/index.md
Due: none

docs: fix meta
  docs/config/_default/params.toml
  docs/content/contributing/prologue/documentation-contributions.md
  docs/layouts/partials/head/seo.html
  docs/layouts/partials/seo/_internal.opengraph.html
  docs/layouts/partials/seo/opengraph.html
  docs/layouts/partials/seo/title.html
  docs/netlify.toml
  docs/static/cover.png
  docs/static/favicon.ico
  docs/static/favicon.png
  docs/static/favicon.svg
  docs/static/mask-icon.svg
Due: none

release: v4.38.0
  .github/ISSUE_TEMPLATE/bug-report.yml
  web/package.json
Due: frontend

refactor: config naming
  config.template.yml
  docs/content/blog/release-notes-4.38/index.md
  docs/content/configuration/identity-validation/elevated-session.md
  docs/content/configuration/identity-validation/introduction.md
  docs/content/configuration/identity-validation/reset-password.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_validation.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/identity_validation.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
  internal/middlewares/identity_verification.go
  internal/middlewares/require_auth_test.go
  internal/suites/MultiCookieDomain/configuration.yml
Due: backend

refactor: config naming (#6852)
  config.template.yml
  docs/content/blog/release-notes-4.38/index.md
  docs/content/configuration/identity-validation/elevated-session.md
  docs/content/configuration/identity-validation/introduction.md
  docs/content/configuration/identity-validation/reset-password.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_validation.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/identity_validation.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
  internal/middlewares/identity_verification.go
  internal/middlewares/require_auth_test.go
  internal/suites/MultiCookieDomain/configuration.yml
Due: backend
