Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: factorize haproxy and nginx config
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/reference/guides/proxy-authorization.md
  internal/handlers/const.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

refactor: use forward auth for haproxy
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/haproxy.md
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/traefik.md
  docs/content/en/integration/proxies/traefikv1.md
  docs/content/en/reference/guides/proxy-authorization.md
  internal/handlers/const.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/server/handlers.go
  internal/suites/example/compose/haproxy/auth-request.lua
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

refactor: nobody special redirect
  internal/handlers/const.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_impl_authrequest_test.go
  internal/handlers/handler_authz_impl_extauthz.go
  internal/handlers/handler_authz_impl_extauthz_test.go
  internal/handlers/handler_authz_impl_forwardauth.go
  internal/handlers/handler_authz_impl_forwardauth_test.go
  internal/handlers/handler_authz_impl_legacy.go
  internal/handlers/handler_authz_impl_legacy_test.go
  internal/middlewares/authelia_context.go
Due: backend

refactor: remove unused code
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_types.go
Due: backend

test: add extra validations for refresh tokens
  docs/content/en/integration/openid-connect/introduction.md
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

refactor: deuplicate some test consts
  internal/oidc/client_test.go
  internal/oidc/const_test.go
  internal/oidc/provider_test.go
  internal/oidc/store_test.go
  internal/oidc/types_test.go
Due: backend

docs: add adaptation blurbs (#5163)
  docs/content/en/integration/prologue/get-started.md
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/haproxy.md
  docs/content/en/integration/proxies/nginx-proxy-manager/index.md
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/skipper.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/integration/proxies/traefik.md
  docs/content/en/integration/proxies/traefikv1.md
Due: none

refactor: more tests and factorizations
  internal/storage/migrations.go
  internal/storage/migrations_test.go
Due: backend

fix(storage): postgresql webauthn tbl invalid aaguid constraint (#5183)
  internal/model/schema_migration.go
  internal/storage/migrations.go
  internal/storage/migrations/V0007.ConsistencyFixes.postgres.up.sql
  internal/storage/migrations/V0009.FixConstraints.all.down.sql
  internal/storage/migrations/V0009.FixConstraints.all.up.sql
  internal/storage/migrations/V0009.FixConstraints.postgres.up.sql
  internal/storage/migrations_test.go
  internal/storage/sql_provider_schema.go
Due: backend

refactor: apply suggestions from review
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_impl_authrequest_test.go
  internal/handlers/handler_authz_impl_extauthz_test.go
  internal/handlers/handler_authz_impl_forwardauth_test.go
  internal/suites/example/compose/haproxy/haproxy.cfg
Due: backend

refactor: update openapi
  api/openapi.yml
  docs/content/en/reference/guides/templating.md
  internal/templates/funcs.go
Due: backend

refactor: update status codes
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
Due: backend

test: fix lint
  internal/handlers/handler_authz_builder.go
Due: backend

fix: openapi
  api/openapi.yml
  docs/content/en/reference/guides/templating.md
  internal/server/template.go
  internal/server/template_test.go
  internal/templates/funcs.go
  internal/templates/provider.go
Due: backend

feat(handlers): authz authrequest authelia url (#5181)
  api/openapi.yml
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/haproxy.md
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/traefik.md
  docs/content/en/integration/proxies/traefikv1.md
  docs/content/en/reference/guides/proxy-authorization.md
  docs/content/en/reference/guides/templating.md
  internal/handlers/const.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_impl_authrequest.go
  internal/handlers/handler_authz_impl_authrequest_test.go
  internal/handlers/handler_authz_impl_extauthz.go
  internal/handlers/handler_authz_impl_extauthz_test.go
  internal/handlers/handler_authz_impl_forwardauth.go
  internal/handlers/handler_authz_impl_forwardauth_test.go
  internal/handlers/handler_authz_impl_legacy.go
  internal/handlers/handler_authz_impl_legacy_test.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_authz_util.go
  internal/handlers/handler_oidc_userinfo.go
  internal/middlewares/authelia_context.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/server/handlers.go
  internal/server/template.go
  internal/server/template_test.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/HighAvailability/configuration.yml
  internal/suites/MultiCookieDomain/configuration.yml
  internal/suites/example/compose/haproxy/auth-request.lua
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/templates/funcs.go
  internal/templates/provider.go
Due: backend

fix: openapi
  api/openapi.yml
  docs/content/en/reference/guides/templating.md
  internal/server/server_test.go
  internal/server/template.go
  internal/server/template_test.go
  internal/templates/funcs.go
  internal/templates/provider.go
Due: backend

fix: openapi
  api/openapi.yml
Due: none

refactor: adjust template
  api/openapi.yml
  internal/server/template_test.go
Due: backend

refactor: adjust openapi (#5192)
  api/openapi.yml
  internal/server/server_test.go
  internal/server/template_test.go
Due: backend

test: add test case
  internal/configuration/validator/identity_providers_test.go
Due: backend

fix(configuration): secret permission errors panic (#5141)
  internal/configuration/const.go
  internal/configuration/koanf_callbacks.go
  internal/configuration/koanf_callbacks_test.go
  internal/configuration/provider_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/utils/const.go
  internal/utils/errs.go
Due: backend

fix(deprecation): warn logs_file instead of host
  internal/configuration/deprecation.go
Due: backend

refactor: misleading host deprecation warning (#5194)
  internal/configuration/deprecation.go
Due: backend

fix: unused element
  web/src/layouts/LoginLayout.tsx
Due: frontend

refactor: discovery metadata
  internal/oidc/discovery.go
  internal/oidc/provider.go
  internal/oidc/types.go
Due: backend

fix: remove microsoft images
  LICENSE
  LICENSES/LicenseRef-Balto.txt
  LICENSES/LicenseRef-Docker.txt
  LICENSES/LicenseRef-LinuxFoundationTrademark.txt
  LICENSES/LicenseRef-MicrosoftTrademark.txt
  README.md
  docs/content/en/information/about.md
  docs/static/images/logos/azure.svg
  docs/static/images/logos/azure.svg.license
  docs/static/images/logos/docker.logo.png.license
  docs/static/images/logos/goland.svg.license
  docs/static/images/logos/intellij-idea.svg.license
  docs/static/images/logos/jetbrains.svg.license
  docs/static/images/logos/kubernetes.png.license
  docs/static/images/logos/microsoft.svg
  docs/static/images/logos/microsoft.svg.license
  docs/static/images/logos/webstorm.svg.license
Due: none

docs: fix missing migration
  docs/content/en/configuration/storage/migrations.md
Due: none

docs: fix missing migration (#5202)
  docs/content/en/configuration/storage/migrations.md
Due: none

docs: adjust references of webauthn
  cmd/authelia-scripts/cmd/gen.go
  docs/content/en/blog/pre-release-notes-4.38/index.md
  docs/content/en/contributing/guidelines/testing.md
  docs/content/en/contributors/amir-zarrinkafsh/_index.md
  docs/content/en/contributors/clement-michaud/_index.md
  docs/content/en/contributors/manuel-nunez/_index.md
  docs/content/en/information/about.md
  docs/content/en/integration/openid-connect/firezone/index.md
  docs/content/en/integration/openid-connect/minio/index.md
  docs/content/en/integration/openid-connect/misago/index.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/reference/cli/authelia/authelia_storage_user.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_delete.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_export.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_import.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_list.md
  internal/commands/const.go
  internal/commands/helpers.go
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/webauthn.go
  internal/handlers/webauthn_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/mocks/storage.go
  internal/model/const.go
  internal/model/user_info.go
  internal/model/user_info_test.go
  internal/model/webauthn.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
Due: backend

docs: adjust references of webauthn (#5203)
  cmd/authelia-scripts/cmd/gen.go
  docs/content/en/blog/pre-release-notes-4.38/index.md
  docs/content/en/contributing/guidelines/testing.md
  docs/content/en/contributors/amir-zarrinkafsh/_index.md
  docs/content/en/contributors/clement-michaud/_index.md
  docs/content/en/contributors/manuel-nunez/_index.md
  docs/content/en/information/about.md
  docs/content/en/integration/openid-connect/firezone/index.md
  docs/content/en/integration/openid-connect/minio/index.md
  docs/content/en/integration/openid-connect/misago/index.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/reference/cli/authelia/authelia_storage_user.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_delete.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_export.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_import.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_webauthn_list.md
  internal/commands/const.go
  internal/commands/helpers.go
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/webauthn.go
  internal/handlers/webauthn_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/mocks/storage.go
  internal/model/const.go
  internal/model/user_info.go
  internal/model/user_info_test.go
  internal/model/webauthn.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
Due: backend

fix(model): yaml encoding of totp and webauthn fails
  internal/model/totp_configuration.go
  internal/model/totp_configuration_test.go
  internal/model/types_test.go
  internal/model/webauthn.go
  internal/model/webauthn_test.go
Due: backend

build: update lockfiles
  docs/package.json
  docs/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: frontend

refactor(web): update pnpm dep configuration
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build: update lockfiles (#5212)
  docs/package.json
  docs/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor(web): use vitest for frontend testing and coverage
  web/package.json
  web/pnpm-lock.yaml
  web/src/setupTests.js
  web/tsconfig.json
  web/vite.config.ts
Due: frontend

refactor(web): switch to istanbul from c8 for instrumentation
  web/package.json
  web/pnpm-lock.yaml
  web/vite.config.ts
Due: frontend

test(web): additional frontend component tests
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/NotificationBar.test.tsx
  web/src/components/PrivacyPolicyDrawer.test.tsx
  web/src/components/PrivacyPolicyLink.test.tsx
  web/src/setupTests.js
  web/src/setupTests.ts
  web/vite.config.ts
Due: frontend

test(web): change test comparison
  web/src/components/TimerIcon.test.tsx
Due: frontend

test(web): additional frontend component tests and fix typo
  web/src/components/TimerIcon.test.tsx
  web/src/components/TypographyWithTooltip.test.tsx
  web/src/components/TypographyWithTooltip.tsx
  web/src/layouts/LoginLayout.tsx
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
