Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build: comment labels
  cmd/authelia-scripts/cmd/helpers_docker.go
Due: none

build: include prints
  cmd/authelia-scripts/cmd/helpers_docker.go
Due: none

build: include os
  cmd/authelia-scripts/cmd/helpers_docker.go
  cmd/authelia-scripts/cmd/types.go
Due: none

build: refactor
  cmd/authelia-scripts/cmd/helpers_docker.go
  cmd/authelia-scripts/cmd/types.go
Due: none

build: add annotations [skip test]
  cmd/authelia-scripts/cmd/helpers_docker.go
Due: none

build: add labels in addition to annotations [skip test]
  cmd/authelia-scripts/cmd/helpers_docker.go
Due: none

refactor: base.name label [skip test]
  cmd/authelia-scripts/cmd/helpers_docker.go
Due: none

Fix link
  docs/content/en/integration/kubernetes/introduction.md
Due: none

fix-link
  docs/content/en/integration/kubernetes/introduction.md
Due: none

Update introduction.md
  docs/content/en/integration/kubernetes/introduction.md
Due: none

Added container override steps/variables
  docs/content/en/integration/openid-connect/grafana/index.md
Due: none

Spelling
  docs/content/en/integration/openid-connect/grafana/index.md
Due: none

docs: fix helm chart link (#3843)
  docs/content/en/integration/kubernetes/introduction.md
Due: none

build(deps): go mod tidy
  go.sum
Due: none

fix: misc issues
  internal/commands/crypto_hash.go
  internal/configuration/validator/authentication_test.go
Due: backend

fix: misc lint issues
  internal/configuration/validator/authentication.go
  internal/configuration/validator/const.go
Due: backend

build(deps): bump github.com/go-crypt/crypt
  go.mod
  go.sum
Due: none

fix: more misc lints
  internal/commands/crypto.go
  internal/commands/crypto_hash.go
Due: backend

build(deps): bump github.com/go-crypt/crypt to v0.1.2
  go.mod
  go.sum
Due: none

feat: password input
  go.mod
  go.sum
  internal/commands/const.go
  internal/commands/crypto_hash.go
Due: backend

fix(notification): text emails not encoded as quoted printable
  internal/handlers/handler_reset_password_step2.go
  internal/middlewares/identity_verification.go
  internal/mocks/notifier.go
  internal/notification/file_notifier.go
  internal/notification/notifier.go
  internal/notification/smtp_notifier.go
Due: backend

fix(notification): fix disable-required on starttls
  internal/notification/smtp_notifier.go
Due: backend

refactor(web): replaced setinterval by broadcastchannel
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

refactor: fix lint issues, cleanup and remove page visibility hook
  web/src/hooks/PageVisibility.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

ci: add eslint rule for sorting imports
  web/.eslintrc.js
  web/src/App.tsx
  web/src/components/NotificationBar.tsx
  web/src/components/TimerIcon.tsx
  web/src/hooks/IntermittentClass.ts
  web/src/hooks/Mounted.ts
  web/src/hooks/RemoteCall.ts
  web/src/hooks/Timer.ts
  web/src/layouts/LoginLayout.tsx
  web/src/services/Configuration.ts
  web/src/services/Consent.ts
  web/src/services/PushNotification.ts
  web/src/services/RegisterDevice.ts
  web/src/services/ResetPassword.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

ci: add eslint rule for sorting imports (#3858)
  web/.eslintrc.js
  web/src/App.tsx
  web/src/components/NotificationBar.tsx
  web/src/components/TimerIcon.tsx
  web/src/hooks/IntermittentClass.ts
  web/src/hooks/Mounted.ts
  web/src/hooks/RemoteCall.ts
  web/src/hooks/Timer.ts
  web/src/layouts/LoginLayout.tsx
  web/src/services/Configuration.ts
  web/src/services/Consent.ts
  web/src/services/PushNotification.ts
  web/src/services/RegisterDevice.ts
  web/src/services/ResetPassword.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

refactor: minor adjustments
  internal/handlers/handler_reset_password_step2.go
  internal/middlewares/identity_verification.go
Due: backend

refactor: simplify email encoding
  internal/notification/smtp_notifier.go
  internal/templates/src/notification/Envelope.tmpl
  internal/templates/types.go
Due: backend

refactor: print email
  internal/notification/smtp_notifier.go
Due: backend

refactor: extra newline
  internal/notification/const.go
  internal/notification/smtp_notifier.go
Due: backend

refactor(web): replace setinterval with broadcast channel (#3857)
  web/src/hooks/PageVisibility.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

refactor: use stdlib writers and writeclosers
  .gitattributes
  docs/content/en/reference/guides/notification-templates.md
  examples/templates/notifications/envelope_with_message_id.tmpl
  internal/notification/const.go
  internal/notification/smtp_notifier.go
  internal/templates/provider.go
  internal/templates/src/notification/Envelope.tmpl
  internal/templates/types.go
  web/src/assets/images/applestore-badge.svg
  web/src/assets/images/user.svg
Due: backend, frontend

refactor: revert use of parsed uri
  internal/middlewares/identity_verification.go
Due: backend

refactor: use binary encoding
  internal/notification/const.go
  internal/notification/smtp_notifier.go
  internal/utils/io.go
Due: backend

fix: use rfc order for multipart
  internal/notification/smtp_notifier.go
Due: backend

build(deps): github.com/go-webauthn/webauthn v0.4.0
  go.mod
  go.sum
Due: none

build(deps): github.com/go-webauthn/webauthn v0.4.0 (#3866)
  go.mod
  go.sum
Due: none

refactor(templates): ensure old values are not present in the envelope template
  internal/templates/provider.go
  internal/templates/util.go
Due: backend

feat(notification): add disable_start_tls option
  internal/configuration/schema/keys.go
  internal/configuration/schema/notifier.go
  internal/notification/smtp_notifier.go
  internal/suites/Standalone/configuration.yml
Due: backend

refactor(notification): honor server extension advertisements
  internal/duo/duo.go
  internal/notification/const.go
  internal/notification/smtp_notifier.go
  internal/notification/smtp_util.go
Due: backend
