Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build(deps): update dependency @types/react to v18.0.4
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/react to v18.0.5
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(commands): addede failfast to go test
  cmd/authelia-scripts/cmd_suites.go
Due: none

build(deps): update dependency @types/node to v16.11.27
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

test: adding autoreload test (draft)
  internal/suites/scenario_one_factor_test.go
  internal/suites/scenario_redirection_check_test.go
  internal/suites/suite_standalone.go
Due: none

build(deps): update dependency vite to v2.9.5
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

test: add test for reload tab
  internal/suites/scenario_one_factor_test.go
  internal/suites/suite_standalone.go
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

test: add more time to tests
  internal/suites/scenario_redirection_check_test.go
  internal/suites/suite_standalone.go
Due: none

Fix Typo (Hasicorp -> Hashicorp)
  docs/community/oidc-integrations.md
Due: none

build(deps): update dependency @types/react-dom to v18.0.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

docs: fix typo (#3191)
  docs/community/oidc-integrations.md
Due: none

build(deps): remove dependency react-ga
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): remove dependency eslint-plugin-flowtype
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): remove dependency react-ga (#3193)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): remove dependency eslint-plugin-flowtype (#3194)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): add dependency eslint and esbuild
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): add dependency eslint and esbuild (#3195)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite-plugin-eslint to v1.4.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite-plugin-eslint to v1.4.0 (#3196)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite-plugin-istanbul to v2.7.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite-plugin-istanbul to v2.7.1 (#3197)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency golang to v1.17.9
  internal/suites/example/compose/authelia/Dockerfile.backend
Due: none

feat(server): zxcvbn password policy server side (#3151)
  api/openapi.yml
  config.template.yml
  docs/configuration/password_policy.md
  go.mod
  go.sum
  internal/commands/helpers.go
  internal/configuration/config.template.yml
  internal/configuration/schema/password_policy.go
  internal/configuration/validator/const.go
  internal/configuration/validator/keys_test.go
  internal/configuration/validator/password_policy.go
  internal/configuration/validator/password_policy_test.go
  internal/handlers/types.go
  internal/middlewares/password_policy.go
  internal/middlewares/password_policy_test.go
  web/src/components/PasswordMeter.test.tsx
  web/src/models/PasswordPolicy.ts
  web/src/services/PasswordPolicyConfiguration.ts
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: backend, frontend

refactor: config key location
  config.template.yml
  docs/configuration/access-control.md
  docs/configuration/miscellaneous.md
  internal/configuration/config.template.yml
  internal/configuration/schema/access_control.go
  internal/configuration/schema/configuration.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/handlers/handler_user_info.go
Due: backend

feat(configuration): automatically map old keys
  docs/configuration/migration.md
  internal/configuration/deprecation.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/model/const.go
  internal/model/semver.go
Due: backend

refactor(configuration): remove ptr for duoapi and notifier
  internal/configuration/provider_test.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/duo.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/duo.go
  internal/configuration/validator/duo_test.go
  internal/configuration/validator/notifier.go
  internal/handlers/handler_configuration_test.go
  internal/handlers/handler_reset_password_step2.go
  internal/handlers/handler_user_info_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/middlewares/identity_verification.go
  internal/server/handlers.go
Due: backend

Improved Portainer docs. Tested with CE and EE
  docs/community/oidc-integrations/portainer.md
Due: none

Delete portainer.gif
  docs/images/portainer.gif
Due: none

Readd portainer.gif
  docs/images/portainer.gif
Due: none

build(deps): update dependency @testing-library/react to v13.1.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @testing-library/react to v13.1.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: apply mapfunc
  internal/configuration/provider.go
Due: backend

docs: add docs to disable duo
  config.template.yml
  docs/configuration/duo-push-notifications.md
  internal/configuration/config.template.yml
Due: backend

refactor(configuration): remove ptr for duoapi and notifier (#3200)
  config.template.yml
  docs/configuration/duo-push-notifications.md
  internal/configuration/config.template.yml
  internal/configuration/provider_test.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/duo.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/duo.go
  internal/configuration/validator/duo_test.go
  internal/configuration/validator/notifier.go
  internal/handlers/handler_configuration_test.go
  internal/handlers/handler_reset_password_step2.go
  internal/handlers/handler_user_info_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/middlewares/identity_verification.go
  internal/server/handlers.go
Due: backend

refactor: move disable_reset_password
  config.template.yml
  docs/configuration/authentication/file.md
  docs/configuration/authentication/index.md
  docs/configuration/authentication/ldap.md
  docs/features/password-reset.md
  docs/security/measures.md
  internal/authentication/ldap_user_provider.go
  internal/configuration/config.template.yml
  internal/configuration/deprecation.go
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/model/const.go
  internal/model/semver.go
  internal/server/handlers.go
Due: backend

test: add tests and fix issues
  internal/model/semver.go
  internal/model/semver_test.go
Due: backend

docs: replace image
  docs/images/portainer.gif
Due: none

docs: update portainer ce and ee (#3202)
  docs/community/oidc-integrations/portainer.md
  docs/images/portainer.gif
Due: none

ci: introduce config key gen
  .reviewdog.yml
  cmd/authelia-scripts/cmd_gen.go
  cmd/authelia-scripts/main.go
  internal/configuration/koanf_callbacks.go
  internal/configuration/schema/keys.go
  internal/configuration/sources.go
  internal/configuration/validator/const.go
  internal/configuration/validator/keys.go
  internal/configuration/validator/keys_test.go
Due: backend

fix: adjust format
  cmd/authelia-scripts/cmd_gen.go
  internal/configuration/schema/keys.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
