Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

feat(storage): tls connection support (#4233)
  config.template.yml
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/data/configkeys.json
  internal/configuration/config.template.yml
  internal/configuration/schema/keys.go
  internal/configuration/schema/storage.go
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
  internal/utils/crypto.go
Due: backend

refactor: generate
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
Due: none

refactor: generate
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/helpers.go
  cmd/authelia-gen/templates.go
  cmd/authelia-gen/templates/server_gen.go.tmpl
  cmd/authelia-gen/types.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/data/misc.json
  internal/server/gen.go
Due: backend

refactor: revert rttf
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/const.go
Due: none

refactor: csp gen (#4163)
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_docs.go
  cmd/authelia-gen/cmd_docs_cli.go
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/cmd_docs_date.go
  cmd/authelia-gen/cmd_docs_keys.go
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/cmd_root.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/helpers.go
  cmd/authelia-gen/templates.go
  cmd/authelia-gen/templates/server_gen.go.tmpl
  cmd/authelia-gen/types.go
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/data/misc.json
  docs/layouts/shortcodes/csp.html
  internal/server/const.go
  internal/server/gen.go
  internal/server/template.go
Due: backend

release: v4.37.0
  web/package.json
Due: frontend

refactor: generate
  docs/data/misc.json
  internal/server/gen.go
Due: backend

Minor fixes in "Forwarded Headers" documentation
  docs/content/en/integration/proxies/fowarded-headers/index.md
Due: none

docs: grammar fixes for forwarded headers (#4237)
  docs/content/en/integration/proxies/fowarded-headers/index.md
Due: none

refactor: fix misc alignment issues and gen
  config.template.yml
  docs/data/misc.json
  internal/configuration/config.template.yml
  internal/server/gen.go
Due: backend

refactor: fix misc alignment issues and gen (#4239)
  config.template.yml
  docs/data/misc.json
  internal/configuration/config.template.yml
  internal/server/gen.go
Due: backend

refactor: update users_database examples
  docs/content/en/reference/guides/passwords.md
  examples/compose/lite/authelia/users_database.yml
  examples/compose/local/authelia/users_database.yml
  internal/authentication/users_database.template.yml
Due: backend

refactor: update users_database examples (#4240)
  docs/content/en/reference/guides/passwords.md
  examples/compose/lite/authelia/users_database.yml
  examples/compose/local/authelia/users_database.yml
  internal/authentication/users_database.template.yml
Due: backend

release: v4.37.0 (#4236)
  web/package.json
Due: frontend

docs: update issue templates
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

docs: update issue templates (#4241)
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

docs: fix missing secret links
  docs/content/en/configuration/methods/secrets.md
Due: none

docs: fix missing doc
  docs/content/en/configuration/first-factor/ldap.md
Due: none

docs: fix missing secret links (#4242)
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/methods/secrets.md
Due: none

fix(utils): fix pre-commit scripts compatibility with posix shells
  .github/pre-commit
  .github/required-apps
Due: none

docs: refactor generator guides
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/configuration/miscellaneous/guides.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/configuration/storage/introduction.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/content/en/integration/openid-connect/specific-information.md
  docs/content/en/overview/prologue/architecture/index.md
  docs/content/en/reference/guides/generating-secure-values.md
Due: none

docs: refactor generator guides (#4244)
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/configuration/miscellaneous/guides.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/configuration/storage/introduction.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/content/en/integration/openid-connect/specific-information.md
  docs/content/en/overview/prologue/architecture/index.md
  docs/content/en/reference/guides/generating-secure-values.md
Due: none

Update a broken link in the docs
  docs/content/en/configuration/miscellaneous/introduction.md
Due: none

fix(storage): postgresql default port incorrect
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.up.sql
  internal/storage/sql_provider_backend_postgres.go
Due: backend

fix(storage): postgresql default port incorrect (#4251)
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.up.sql
  internal/storage/sql_provider_backend_postgres.go
Due: backend

release: v4.37.1
  web/package.json
Due: frontend

release: v4.37.1 (#4252)
  web/package.json
Due: frontend

Update a broken link in the docs (#4250)
  docs/content/en/configuration/miscellaneous/introduction.md
Due: none

refactor: explicitly close the database during shutdown
  internal/commands/root.go
Due: backend

docs: misc fix
  docs/content/en/configuration/miscellaneous/server.md
Due: none

fix(storage): mysql collation mismatching
  docs/content/en/configuration/storage/mysql.md
  internal/storage/const.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
Due: backend

fix: prepared statement issue
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
Due: backend

fix: include backup tables
  internal/storage/sql_provider_schema.go
Due: backend

fix: table as fmt
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
Due: backend

fix: query
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
Due: backend

fix: fmt
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
Due: backend

fix(storage): mysql collations
  internal/storage/migrations/V0001.Initial_Schema.all.down.sql
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.all.down.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.postgres.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.sqlite.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.all.down.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.postgres.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.sqlite.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.all.down.sql
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.postgres.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
  internal/storage/migrations_test.go
Due: backend

refactor: close database connections on shutdown (#4255)
  docs/content/en/configuration/miscellaneous/server.md
  internal/commands/root.go
Due: backend

build(deps): update module github.com/ory/fosite to v0.43.0
  go.mod
  go.sum
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oauth_revocation.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_implicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/handler_oidc_token.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/keys.go
  internal/oidc/provider.go
  internal/oidc/types.go
Due: backend
