Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build(deps): update node.js to v17
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/duo-api/Dockerfile
Due: none

build(deps): update dependency vite-plugin-istanbul to v2.2.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(web): allow instrumentation of frontend in prod mode
  web/vite.config.ts
Due: frontend

build(deps): update dependency @types/react to v17.0.31
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency husky to v7.0.4
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/react to v17.0.32
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor(web): replace deprecated plugin with @vitejs/plugin-react
  web/package.json
  web/pnpm-lock.yaml
  web/vite.config.ts
Due: frontend

refactor(web): replace deprecated plugin with @vitejs/plugin-react (#2533)
  web/package.json
  web/pnpm-lock.yaml
  web/vite.config.ts
Due: frontend

fix(web): misleading 2fa registration errors
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/DeviceRegistration/RegisterSecurityKey.tsx
Due: frontend

fix(authentication): only check argon2id salt for b64 encoding
  internal/authentication/password_hash.go
Due: backend

build(deps): update dependency @vitejs/plugin-react to v1.0.6
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency eslint-plugin-flowtype to v7
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/node to v16.10.9
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: model not using time.Time
  internal/models/model_migration.go
Due: backend

build(deps): update dependency @types/react to v17.0.33
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: missing query param
  internal/storage/query.go
  internal/storage/sql_provider.go
Due: backend

fix: inconsistent schema
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
Due: backend

fix: request_uri
  internal/storage/query.go
Due: backend

build(deps): update dependency @types/react-router-dom to v5.3.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite to v2.6.12
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency axios to v0.24.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/node to v16.11.6
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update typescript-eslint monorepo to v5.2.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency eslint-plugin-flowtype to v8
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: migration query rebind
  internal/storage/schema.go
Due: backend

build(deps): update dependency vite to v2.6.13
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update github.com/duosecurity/duo_api_golang commit hash to 72da735
  go.mod
  go.sum
Due: none

build(deps): update dependency @vitejs/plugin-react to v1.0.7
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency eslint-plugin-flowtype to v8.0.3
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: linting and add schema methods to interface
  internal/storage/provider.go
  internal/storage/provider_mock.go
  internal/storage/schema.go
Due: backend

fix: linting
  internal/handlers/const.go
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_sign_totp_test.go
  internal/handlers/totp.go
  internal/middlewares/identity_verification.go
  internal/storage/schema.go
  internal/storage/sql_provider.go
Due: backend

fix: linting
  internal/models/model_authentication_attempt.go
  internal/models/model_identity_verification.go
  internal/models/model_migration.go
  internal/models/model_totp_configuration.go
  internal/models/model_u2f_device.go
  internal/models/type_ipaddress.go
  internal/models/type_time.go
Due: backend

fix: linting
  internal/storage/config.go
  internal/storage/query.go
  internal/storage/sql_provider.go
Due: backend

fix: linting
  internal/storage/const.go
  internal/storage/migrations.go
  internal/storage/migrations_test.go
  internal/storage/mysql_provider.go
  internal/storage/postgres_provider.go
  internal/storage/sqlite_provider.go
Due: backend

fix: linting
  internal/storage/schema_pre1.go
  internal/storage/sql_provider.go
Due: backend

fix: linting
  internal/storage/schema_pre1.go
Due: backend

feat(session): add support for acl-based sentinel auth against redis (#2516)
  docs/configuration/session/redis.md
  internal/configuration/schema/session.go
  internal/session/provider_config.go
Due: backend

docs(session): add redis sentinel username to config template
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

build(deps): update deep module github.com/tidwall/gjson to v1.11.0
  go.mod
  go.sum
Due: none
