Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

update and enhance OIDC documentation
  docs/configuration/identity-providers/oidc.md
Due: none

build(deps): update module github.com/spf13/cobra to v1.2.1
  go.mod
  go.sum
Due: none

refactor: const prefix of const
  internal/configuration/const.go
  internal/configuration/helpers.go
  internal/configuration/koanf_callbacks.go
  internal/configuration/koanf_callbacks_test.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/sources.go
  internal/configuration/template_test.go
Due: backend

fix(utils): use lower case in error messages
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/regulation_test.go
  internal/configuration/validator/session_test.go
  internal/utils/check.go
  internal/utils/exec.go
  internal/utils/rsa.go
  internal/utils/time.go
  internal/utils/time_test.go
Due: backend

fix(storage): use lower case in error messages
  internal/storage/errors.go
  internal/storage/mysql_provider.go
  internal/storage/postgres_provider.go
  internal/storage/sql_provider_test.go
  internal/storage/sqlite_provider.go
  internal/storage/sqlmock_provider.go
  internal/storage/upgrades.go
Due: backend

fix issue with integration tests
  internal/suites/suite_one_factor_only_test.go
  internal/suites/suite_standalone_test.go
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

handle bot recommendation
  internal/handlers/handler_checks_safe_redirection.go
  internal/mocks/mock_authelia_ctx.go
Due: backend

fix integration test & add dot to comment
  internal/mocks/mock_authelia_ctx.go
  internal/suites/suite_one_factor_only_test.go
Due: backend

fix(utils): use lower case in error messages (#2144)
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/regulation_test.go
  internal/configuration/validator/session_test.go
  internal/utils/check.go
  internal/utils/exec.go
  internal/utils/rsa.go
  internal/utils/time.go
  internal/utils/time_test.go
Due: backend

feat(oidc): userinfo endpoint
  config.template.yml
  docs/configuration/identity-providers/oidc.md
  go.mod
  go.sum
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/handlers/const.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/oidc_register.go
  internal/oidc/client.go
  internal/oidc/provider.go
  internal/oidc/types.go
Due: backend

test: userinfo defaults and valid value checking
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

refactor(authentication): log ldap warning on startup in rare condition (#2141)
  cmd/authelia/main.go
  internal/authentication/ldap_user_provider.go
Due: backend

refactor: apply suggestions from review
  internal/commands/configuration.go
  internal/configuration/sources_test.go
  internal/configuration/template.go
  internal/configuration/template_test.go
Due: backend

ldap: use the ModifyPassword exop for pwd resets
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_user_provider.go
Due: backend

tests: fix the mocks and reflect new behavior in test
  internal/authentication/ldap_connection_factory_mock.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

correct the comment
  internal/authentication/ldap_connection_factory.go
Due: backend

dont use password modify if it doesn't exist
  internal/authentication/ldap_user_provider.go
Due: backend

build(deps): update dependency @craco/craco to v6.2.0
  web/package.json
  web/yarn.lock
Due: frontend

feat: publish and deploy to apt.authelia.com
  .buildkite/deployment.sh
  .buildkite/hooks/pre-command
  .buildkite/steps/aptdeploy.sh
  .buildkite/steps/ghartifacts.sh
  README.md
  docs/images/logos/balto.svg
Due: none

feat: publish and deploy to apt.authelia.com (#2148)
  .buildkite/deployment.sh
  .buildkite/hooks/pre-command
  .buildkite/steps/aptdeploy.sh
  .buildkite/steps/ghartifacts.sh
  README.md
  docs/images/logos/balto.svg
Due: none

wip
  internal/configuration/const.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/sources.go
  internal/configuration/types.go
Due: backend

ci: add markdownlint
  .markdownlint.yml
  .reviewdog.yml
Due: none

fix: yamllint errors
  .markdownlint.yml
  .reviewdog.yml
Due: none

fix: adjust style
  .markdownlint.yml
Due: none

add checkServer to the password reset test
  internal/authentication/ldap_user_provider_test.go
Due: backend

fix a typo
  internal/authentication/ldap_user_provider_test.go
Due: backend

fix an error later in the same function
  internal/authentication/ldap_user_provider_test.go
Due: backend

further fix unit tests to match human expectation
  internal/authentication/ldap_user_provider_test.go
Due: backend

correct syntax
  internal/authentication/ldap_user_provider_test.go
Due: backend

checkServer does not close the connection
  internal/authentication/ldap_user_provider_test.go
Due: backend

run a gofmt pass
  internal/authentication/ldap_connection_factory_mock.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

Update docs/configuration/identity-providers/oidc.md
  docs/configuration/identity-providers/oidc.md
Due: none

updateddocs according to @clems4ever's suggestions
  docs/community/oidc-integrations.md
  docs/configuration/identity-providers/oidc.md
  docs/configuration/secrets.md
Due: none

add `tr` command in pipe to remove newline which could cause confusion
  docs/configuration/secrets.md
Due: none

fix last integration test
  internal/suites/suite_one_factor_only_test.go
Due: none

fix(session): use lower case in error messages
  internal/session/encrypting_serializer.go
Due: backend

fix(server): use lower case in error and log messages
  internal/server/error_handler.go
  internal/server/server.go
  internal/server/template.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
