Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

feat(configuration): ip cidr native decoding
  cmd/authelia-gen/cmd_docs_jsonschema.go
  docs/content/configuration/definitions/_index.md
  docs/content/configuration/definitions/introduction.md
  docs/content/configuration/definitions/network.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/configuration/prologue/common.md
  docs/content/configuration/security/access-control.md
  docs/layouts/shortcodes/confkey.html
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/authorization/access_control_rule.go
  internal/authorization/authorizer_test.go
  internal/authorization/util.go
  internal/authorization/util_test.go
  internal/commands/context.go
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/definitions.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/sources.go
  internal/configuration/test_resources/config_with_definitions.yml
  internal/configuration/test_resources/decode_networks.yml
  internal/configuration/test_resources/decode_networks_abc.yml
  internal/configuration/types.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/identity_providers.go
  internal/oidc/store.go
  internal/utils/ip.go
  internal/utils/ip_test.go
Due: backend

feat(oidc): anchor claims request to allowed scopes
  internal/authentication/user_provider.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/oidc/claims.go
  internal/oidc/claims_test.go
  internal/oidc/types.go
  internal/oidc/util.go
Due: backend

refactor: rebase
  internal/authentication/const.go
  internal/authentication/file_user_provider_database.go
  internal/authentication/ldap_user_provider.go
  web/src/views/ConsentPortal/ConsentPortal.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDecisionFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDeviceAuthorizationFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentLoginFormView.tsx
Due: backend, frontend

feat(oidc): endpoint auth methods
  config.template.yml
  docs/content/configuration/definitions/_index.md
  docs/content/configuration/definitions/introduction.md
  docs/content/configuration/definitions/network.md
  docs/content/configuration/definitions/user-attributes.md
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/user-database.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/util.go
  internal/oidc/claims.go
  internal/oidc/client.go
  internal/oidc/types.go
Due: backend

fix: client auth
  go.mod
  go.sum
  internal/oidc/store.go
Due: backend

add bare metal apt instructions
  docs/content/integration/deployment/bare-metal.md
Due: none

docs: add bare metal apt instructions (#7818)
  docs/content/integration/deployment/bare-metal.md
Due: none

chore: Docker - Remove `VOLUME` directive
  Dockerfile
  Dockerfile.coverage
  Dockerfile.dev
Due: none

build(deps): update module github.com/go-crypt/crypt to v0.3.0
  go.mod
  go.sum
Due: none

Adds optional config for handling existing local users
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

Fixed spacing
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

fix node-red config missing pkce
  docs/content/integration/openid-connect/node-red/index.md
Due: none

build: use pnpm for dev builds
  Dockerfile.dev
Due: none

ci: temporarily skip k8s suite
  .buildkite/steps/e2etests.sh
Due: none

ci: temporarily skip k8s suite (#7846)
  .buildkite/steps/e2etests.sh
Due: none

build: use pnpm for dev builds (#7845)
  Dockerfile.dev
Due: none

fix(configuration): slice init length (#7720)
  internal/configuration/validator/server.go
Due: backend

refactor: linting
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database_mock_test.go
  internal/authentication/file_user_provider_hash_mock_test.go
  internal/authentication/gen.go
  internal/authentication/ldap_client_factory_mock_test.go
  internal/authentication/ldap_client_mock_test.go
  internal/authentication/ldap_user_provider.go
  internal/commands/storage_run.go
  internal/configuration/deprecation.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_address.go
  internal/configuration/schema/types_address_test.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/session_test.go
  internal/configuration/validator/storage_test.go
  internal/handlers/func_test.go
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_register_totp_test.go
  internal/handlers/types.go
  internal/mocks/totp.go
  internal/model/totp_configuration.go
  internal/notification/smtp_notifier.go
  internal/server/handlers.go
  internal/server/template.go
  internal/session/types.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/suites/action_totp.go
  internal/suites/suite_cli_test.go
  internal/totp/provider.go
  internal/totp/totp.go
  internal/totp/totp_test.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
  internal/utils/time.go
Due: backend

Create librechat.md
  docs/content/integration/openid-connect/LibreChat/librechat.md
Due: none

Update example lite configuration.yml
  examples/compose/lite/authelia/configuration.yml
Due: none

docs(oidc): add librechat integration (#7877)
  docs/content/integration/openid-connect/LibreChat/librechat.md
Due: none

docs: misc fixes
  docs/content/integration/openid-connect/LibreChat/librechat.md
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs: misc fixes (#7884)
  docs/content/integration/openid-connect/LibreChat/librechat.md
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs: undraft
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs: undraft (#7886)
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs: consistency
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs: consistency (#7887)
  docs/content/integration/openid-connect/librechat/index.md
Due: none

docs: faq updates
  docs/content/integration/openid-connect/frequently-asked-questions.md
  docs/content/integration/openid-connect/librechat/index.md
  docs/content/integration/trusted-header-sso/frequently-asked-questions.md
  docs/content/reference/guides/frequently-asked-questions.md
Due: none

docs: faq updates (#7888)
  docs/content/integration/openid-connect/frequently-asked-questions.md
  docs/content/integration/openid-connect/librechat/index.md
  docs/content/integration/trusted-header-sso/frequently-asked-questions.md
  docs/content/reference/guides/frequently-asked-questions.md
Due: none

refactor: linting (#7863)
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database_mock_test.go
  internal/authentication/file_user_provider_hash_mock_test.go
  internal/authentication/gen.go
  internal/authentication/ldap_client_factory_mock_test.go
  internal/authentication/ldap_client_mock_test.go
  internal/authentication/ldap_user_provider.go
  internal/commands/storage_run.go
  internal/configuration/deprecation.go
  internal/configuration/schema/types.go
  internal/configuration/schema/types_address.go
  internal/configuration/schema/types_address_test.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/session_test.go
  internal/configuration/validator/storage_test.go
  internal/handlers/func_test.go
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_register_totp_test.go
  internal/handlers/types.go
  internal/mocks/totp.go
  internal/model/totp_configuration.go
  internal/notification/smtp_notifier.go
  internal/server/handlers.go
  internal/server/template.go
  internal/session/types.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/suites/action_totp.go
  internal/suites/suite_cli_test.go
  internal/totp/provider.go
  internal/totp/totp.go
  internal/totp/totp_test.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
  internal/utils/time.go
Due: backend

release: v4.38.11
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/integration/trusted-header-sso/frequently-asked-questions.md
  docs/data/misc.json
  web/package.json
Due: frontend

release: v4.38.11 (#7898)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/integration/trusted-header-sso/frequently-asked-questions.md
  docs/data/misc.json
  web/package.json
Due: frontend

i18n: update translation for portal.json (French)
  internal/server/locales/fr-FR/portal.json
Due: backend

i18n: update translation for portal.json (French) (#7899)
  internal/server/locales/fr-FR/portal.json
Due: backend

fix(web): authenticated layout inconsistent
  web/src/layouts/MinimalLayout.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: frontend

fix(web): authenticated layout inconsistent (#7900)
  web/src/layouts/MinimalLayout.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: frontend

fix: grammar and minor changes to email templates
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_webauthn_credentials.go
  internal/handlers/util.go
  internal/middlewares/identity_verification.go
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/Event.txt
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationJWT.txt
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/embed/notification/IdentityVerificationOTC.txt
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
  internal/templates/types.go
Due: backend

fix(handlers): fix failing session-elevation test
  internal/handlers/handler_session_elevation_test.go
Due: backend

fix(templates): grammar and enhancements to emails (#7903)
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_session_elevation_test.go
  internal/handlers/handler_webauthn_credentials.go
  internal/handlers/util.go
  internal/middlewares/identity_verification.go
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/Event.txt
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationJWT.txt
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/embed/notification/IdentityVerificationOTC.txt
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
  internal/templates/types.go
Due: backend
