Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

[BUGFIX] Static Session Expiration Key (#1564)
  docs/security/measures.md
  go.mod
  go.sum
  internal/session/encrypting_serializer.go
  internal/session/encrypting_serializer_test.go
  internal/session/mocks/mock_storer.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/session/types.go
Due: backend

Add multiple buttons and set default value to OTP URL
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
Due: frontend

Add notifications on click for secret buttons
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
Due: frontend

Fix integration tests
  internal/suites/action_totp.go
Due: integration

Hide TextField if secret isn't present
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
Due: frontend

[FEATURE] Display TOTP secret on device registration
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
Due: frontend

[FEATURE] Display TOTP secret on device registration (#1551)
  internal/suites/action_totp.go
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
Due: frontend, integration

[DOCS] Fix typo in IPv6 address notes
  docs/configuration/authentication/ldap.md
  docs/configuration/miscellaneous.md
  docs/configuration/notifier/smtp.md
  docs/configuration/session.md
  docs/configuration/storage/mariadb.md
  docs/configuration/storage/mysql.md
  docs/configuration/storage/postgres.md
Due: none

[CI] Update QEMU to v5.2.0-1
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/main.go
Due: none

Fix linting error from golangci-lint 1.34.1 update
  internal/configuration/validator/configuration.go
Due: backend

[DOCS] Fix typo in IPv6 address notes (#1566)
  docs/configuration/authentication/ldap.md
  docs/configuration/miscellaneous.md
  docs/configuration/notifier/smtp.md
  docs/configuration/session.md
  docs/configuration/storage/mariadb.md
  docs/configuration/storage/mysql.md
  docs/configuration/storage/postgres.md
Due: none

[CI] Update QEMU to v5.2.0-1 (#1567)
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/main.go
  internal/configuration/validator/configuration.go
Due: backend

[FEATURE] Validate ACLs and add network groups
  config.template.yml
  docs/configuration/access-control.md
  internal/authorization/authorizer.go
  internal/authorization/const.go
  internal/authorization/ip_matcher.go
  internal/authorization/ip_matcher_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/schema/const.go
  internal/configuration/test_resources/config.yml
  internal/configuration/test_resources/config_alt.yml
  internal/configuration/test_resources/config_bad_keys.yml
  internal/configuration/test_resources/config_with_secret.yml
  internal/configuration/validator/access_control.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/suites/NetworkACL/configuration.yml
Due: backend, integration

fix misc linting issues
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_connection_factory_mock.go
  internal/configuration/validator/notifier.go
  internal/utils/certificates.go
Due: backend

uniform deprecation notices for ease * additional adjustments to linting * additional tests
  internal/configuration/schema/authentication.go
  internal/configuration/schema/notifier.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/utils/certificates.go
  internal/utils/certificates_test.go
Due: backend

add non-fatal to certificate loading when system certs could not be loaded
  internal/utils/certificates.go
Due: backend

update other 4.28 deprecation areas
  internal/authentication/ldap_user_provider.go
  internal/configuration/validator/const.go
Due: backend

[DEPRECATE] Remove Old LDAP and TLS Configuration Bindings
  cmd/authelia/main.go
  internal/authentication/ldap_user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/notifier.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/utils/certificates.go
  internal/utils/certificates_test.go
Due: backend

fix suite configs
  internal/suites/LDAP/configuration.yml
  internal/suites/example/kube/authelia/configs/configuration.yml
Due: integration

adjust some errors
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

fix another test config
  internal/suites/ActiveDirectory/configuration.yml
Due: integration

fix Suite ShortTimeouts
  internal/suites/ShortTimeouts/configuration.yml
Due: integration

fix tls config keys validation
  internal/configuration/validator/const.go
Due: backend

fix certificate directory not loading certificates due to no path and add test
  internal/utils/certificates.go
  internal/utils/certificates_test.go
Due: backend

add warnings pusher for the StructValidator * make the schema suites uninform * utilize the warnings in the StructValidator
  internal/authentication/ldap_user_provider.go
  internal/configuration/reader.go
  internal/configuration/schema/validator.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/storage_test.go
Due: backend

fix imports
  internal/configuration/reader.go
Due: backend

fix test suite usage for skip_verify
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/example/kube/authelia/configs/configuration.yml
Due: integration

add additional tests
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/notifier_test.go
Due: backend

extract filter parsing * test filter parsing
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

update ErrorContainer interface * add tests to the structvalidator
  internal/configuration/schema/validator.go
  internal/configuration/schema/validator_test.go
Due: backend

add NewTLSConfig test
  internal/utils/certificates_test.go
Due: backend

move baseDN for users/groups into parsed values * add tests to cover many of the outstanding areas in LDAP * add explicit defered close to UpdatePassword
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

add some basic testing to SMTP notifier
  internal/notification/smtp_notifier_test.go
Due: backend

Update example to set correct internal trusted ranges.
  docs/deployment/supported-proxies/nginx.md
Due: none

Update example to set correct internal trusted ranges. (#1575)
  docs/deployment/supported-proxies/nginx.md
Due: none

[FEATURE] Add API docs and swagger-ui
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
  cmd/authelia-scripts/cmd_build.go
  cmd/authelia-scripts/const.go
  internal/server/index.go
  internal/server/public_html.gen.go
  internal/server/server.go
  swagger/authelia-api.yml
  swagger/index.html
Due: backend

Update descriptions and summaries in API spec
  swagger/authelia-api.yml
Due: none

Template and inject the session name during runtime into swagger-ui
  internal/server/const.go
  internal/server/server.go
  internal/server/template.go
  swagger/authelia-api.yml
  web/.gitignore
Due: backend, frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/
  frontend: any of: web/
  integration: any of: internal/suites/
