Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

.codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      backend:
        flags:
          - backend
      frontend:
        flags:
          - frontend
      integration:
        flags:
          - integration

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"
  integration:
    paths:
      - "internal/suites/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

fix skipCi option
  .all-contributorsrc
Due: none

skip builds for .all-contributorsrc
  .buildkite/pipeline.sh
Due: none

skip deployment for .all-contributorsrc
  .buildkite/deployment.sh
Due: none

ci: consider .all-contributorsrc a docs file for the pipeline
  .buildkite/deployment.sh
  .buildkite/pipeline.sh
Due: none

escape period
  .buildkite/deployment.sh
  .buildkite/pipeline.sh
Due: none

ci: consider .all-contributorsrc a docs file for the pipeline (#1704)
  .buildkite/deployment.sh
  .buildkite/pipeline.sh
Due: none

Apply suggestions from code review
  docs/configuration/access-control.md
  internal/authorization/method_matcher.go
Due: backend

build(deps): update dependency @craco/craco to v6.1.1
  web/package.json
  web/yarn.lock
Due: frontend

refactor(web): improve 2fa enrollment process
  docs/configuration/one-time-password.md
  docs/features/2fa/one-time-password.md
  docs/features/2fa/push-notifications.md
  docs/features/2fa/security-key.md
  internal/suites/scenario_available_methods_test.go
  internal/suites/suite_duo_push_test.go
  internal/suites/suite_standalone_test.go
  internal/templates/html_email.go
  internal/templates/plaintext_email.go
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecurityKeyMethod.tsx
Due: backend, frontend, integration

Fix invalid path in Getting Started
  docs/getting-started.md
Due: none

build(deps): update dependency typescript to v4.1.4
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update dependency @types/chai to v4.2.15
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update dependency typescript to v4.1.5
  web/package.json
  web/yarn.lock
Due: frontend

ci(buildkite): utilise conventional-changelog for release notes
  .buildkite/deployment.sh
  .buildkite/pipeline.sh
  .buildkite/steps/ghartifacts.sh
  BREAKING.md
  README.md
Due: none

ci(buildkite): utilise conventional-changelog for release notes (#1714)
  .buildkite/deployment.sh
  .buildkite/pipeline.sh
  .buildkite/steps/ghartifacts.sh
  BREAKING.md
  README.md
Due: none

build(deps): update dependency @types/node to v14.14.26
  web/package.json
  web/yarn.lock
Due: frontend

Apply suggestions from code review
  docs/features/2fa/one-time-password.md
  docs/features/2fa/security-key.md
Due: none

fix(web): improve 2fa enrollment process (#1706)
  docs/configuration/one-time-password.md
  docs/features/2fa/one-time-password.md
  docs/features/2fa/push-notifications.md
  docs/features/2fa/security-key.md
  internal/suites/scenario_available_methods_test.go
  internal/suites/suite_duo_push_test.go
  internal/suites/suite_standalone_test.go
  internal/templates/html_email.go
  internal/templates/plaintext_email.go
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecurityKeyMethod.tsx
Due: backend, frontend, integration

build(deps): update swagger-ui to v3.43.0
  cmd/authelia-scripts/cmd_build.go
Due: none

release: v4.26.1
  .buildkite/RELEASE.md
Due: none

build(deps): update swagger-ui to v3.43.0 (#1717)
  cmd/authelia-scripts/cmd_build.go
Due: none

release: v4.26.1 (#1718)
  .buildkite/RELEASE.md
Due: none

build(deps): update dependency @types/node to v14.14.27
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update dependency @types/react to v17.0.2
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update dependency @types/react-dom to v17.0.1
  web/package.json
  web/yarn.lock
Due: frontend

fix(web): fix otp input box with themes
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
Due: frontend

fix(web): fix otp input box with themes (#1723)
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
Due: frontend

build(deps): update dependency @types/node to v14.14.28
  web/package.json
  web/yarn.lock
Due: frontend

docs: refactor several areas of documentation
  .yamllint.yaml
  README.md
  SECURITY.md
  config.template.yml
  docs/community/using-remote-user-header-for-sso-with-jira.md
  docs/configuration/authentication/file.md
  docs/configuration/authentication/index.md
  docs/configuration/authentication/ldap.md
  docs/configuration/duo-push-notifications.md
  docs/configuration/index.md
  docs/configuration/miscellaneous.md
  docs/configuration/notifier/filesystem.md
  docs/configuration/notifier/index.md
  docs/configuration/notifier/smtp.md
  docs/configuration/one-time-password.md
  docs/configuration/regulation.md
  docs/configuration/server.md
  docs/configuration/session.md
  docs/configuration/storage/mariadb.md
  docs/configuration/storage/mysql.md
  docs/configuration/storage/postgres.md
  docs/configuration/storage/sqlite.md
  docs/configuration/theme.md
  docs/contributing/authelia-scripts.md
  docs/contributing/build-and-dev.md
  docs/contributing/commitmsg-guidelines.md
  docs/contributing/index.md
  docs/contributing/style-guide.md
  docs/contributing/suites.md
  docs/deployment/deployment-kubernetes.md
  docs/faq.md
  docs/features/statelessness.md
  docs/roadmap.md
  docs/security/index.md
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/handlers/handler_verify.go
Due: backend

misc: add required newline
  .yamllint.yaml
Due: none

docs: add redis database_index documentation
  docs/configuration/session.md
Due: none

docs: update and clear up descriptions in session
  config.template.yml
Due: none

chore: address code review
  docs/configuration/access-control.md
  internal/authorization/access_control_rule.go
  internal/handlers/handler_verify_test.go
  internal/handlers/types.go
Due: backend

chore: update copyright
  docs/_config.yml
Due: none

build(deps): update alpine docker tag to v3.13.2
  Dockerfile
  Dockerfile.coverage
  internal/suites/example/compose/kind/Dockerfile
  internal/suites/example/compose/samba/Dockerfile
Due: integration

build(deps): update arm32v7/alpine docker tag to v3.13.2
  Dockerfile.arm32v7
Due: none

build(deps): update arm64v8/alpine docker tag to v3.13.2
  Dockerfile.arm64v8
Due: none

build(deps): update dependency @types/node to v14.14.29
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update dependency @types/node to v14.14.30
  web/package.json
  web/yarn.lock
Due: frontend

feat: go:embed static assets
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
  cmd/authelia-scripts/cmd_build.go
  cmd/authelia-scripts/const.go
  go.mod
  go.sum
  internal/authentication/configuration.gen.go
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_test.go
  internal/authentication/users_database.template.yml
  internal/configuration/config.template.yml
  internal/configuration/configuration.gen.go
  internal/configuration/reader.go
  internal/configuration/reader_test.go
  internal/server/const.go
  internal/server/public_html.gen.go
  internal/server/public_html/api/index.html
  internal/server/public_html/api/openapi.yml
  internal/server/public_html/index.html
  internal/server/server.go
  internal/server/template.go
  internal/suites/example/compose/authelia/Dockerfile.backend
Due: backend, integration
