Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

docs: fix pictures in readme
  README.md
  docs/static/images/2fa-methods-dark.png
  docs/static/images/2fa-methods-light.png
  docs/static/images/dark.png
  docs/static/images/light.png
Due: none

docs: fix pictures in readme (#9020)
  README.md
  docs/static/images/2fa-methods-dark.png
  docs/static/images/2fa-methods-light.png
  docs/static/images/dark.png
  docs/static/images/light.png
Due: none

build(deps): bump transitive deps
  docs/package.json
  docs/pnpm-lock.yaml
  examples/templates/notifications/no-preview/Event.html
  examples/templates/notifications/no-preview/IdentityVerificationJWT.html
  examples/templates/notifications/no-preview/IdentityVerificationOTC.html
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationJWT.txt
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/src/components/Brand.tsx
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/postcss.config.js
  internal/templates/src/tailwind.config.ts
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): bump transitive deps (#9027)
  docs/package.json
  docs/pnpm-lock.yaml
  examples/templates/notifications/no-preview/Event.html
  examples/templates/notifications/no-preview/IdentityVerificationJWT.html
  examples/templates/notifications/no-preview/IdentityVerificationOTC.html
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationJWT.txt
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/src/components/Brand.tsx
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/postcss.config.js
  internal/templates/src/tailwind.config.ts
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): bump transitive deps
  docs/package.json
  docs/pnpm-lock.yaml
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): bump transitive deps (#9030)
  docs/package.json
  docs/pnpm-lock.yaml
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build: fix email typing and regenerate emails
  .gitignore
  docs/.gitignore
  internal/templates/src/.prettierrc.js
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/prettier.config.ts
Due: backend

correct jellyfin oidc documentation
  docs/content/integration/openid-connect/jellyfin/index.md
Due: none

i18n: add new translation for hardcoded "OR" and add translation "Sign in with a passkey" in English and French
  internal/server/locales/en/portal.json
  internal/server/locales/fr-FR/portal.json
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
Due: backend, frontend

i18n: revert French translations
  internal/server/locales/fr-FR/portal.json
Due: backend

i18n: update translation for portal.json (French)
  internal/server/locales/fr-FR/portal.json
Due: backend

i18n: update translation for settings.json (Dutch)
  internal/server/locales/nl-NL/settings.json
Due: backend

i18n: update translations (#9040)
  internal/server/locales/fr-FR/portal.json
  internal/server/locales/nl-NL/settings.json
Due: backend

ci: add allowed hosts from env file to vite server configuration
  web/vite.config.ts
Due: frontend

ci: add allowed hosts from env file to vite server configuration (#9043)
  web/vite.config.ts
Due: frontend

ci: include musl binaries in build process
  .buildkite/annotations/artifacts
  .buildkite/hooks/pre-artifact
  .buildkite/steps/ghartifacts.sh
  cmd/authelia-scripts/cmd/build.go
Due: none

ci: include musl binaries in build process (#9045)
  .buildkite/annotations/artifacts
  .buildkite/hooks/pre-artifact
  .buildkite/steps/ghartifacts.sh
  cmd/authelia-scripts/cmd/build.go
Due: none

refactor: umask
  internal/authentication/ldap_client_factory.go
  internal/commands/context.go
  internal/commands/crypto.go
  internal/commands/root.go
  internal/commands/storage_run.go
  internal/commands/util.go
  internal/configuration/schema/const.go
  internal/configuration/schema/shared.go
  internal/configuration/schema/types_address.go
  internal/logging/file.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/notification/const.go
  internal/notification/smtp_notifier.go
  internal/service/signal_test.go
  internal/session/provider_config.go
  internal/storage/sql_provider_backend_mysql.go
  internal/storage/sql_provider_backend_postgres.go
  internal/utils/const.go
  internal/utils/crypto.go
  internal/utils/files.go
  internal/utils/files_test.go
  internal/utils/strings.go
Due: backend

build(deps): update transitive dependencies
  docs/package.json
  docs/pnpm-lock.yaml
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): update transitive dependencies (#9046)
  docs/package.json
  docs/pnpm-lock.yaml
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

Apply suggestions from code review
  internal/server/locales/en/portal.json
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
Due: backend, frontend

i18n: add missing translation (#9039)
  internal/server/locales/en/portal.json
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
Due: backend, frontend

feat(docs): update pictures in overview
  docs/content/overview/authentication/first-factor/1FA.png
  docs/content/overview/authentication/first-factor/index.md
  docs/content/overview/authentication/one-time-password/2FA-TOTP.png
  docs/content/overview/authentication/one-time-password/REGISTER-TOTP.png
  docs/content/overview/authentication/one-time-password/index.md
  docs/content/overview/authentication/password-policy/index.md
  docs/content/overview/authentication/password-policy/password-policy-classic-1.png
  docs/content/overview/authentication/password-policy/password-policy-zxcvbn-1.png
  docs/content/overview/authentication/push-notification/2FA-PUSH.png
  docs/content/overview/authentication/push-notification/index.md
  docs/content/overview/authentication/security-key/2FA-U2F.png
  docs/content/overview/authentication/security-key/REGISTER-U2F.png
  docs/content/overview/authentication/security-key/index.md
  docs/content/overview/authentication/security-key/passkeys.png
  docs/content/overview/authentication/security-key/password_2fa.png
Due: none

fix(docs): image scaling of oled image in blog post
  docs/content/blog/release-notes-4.39/index.md
Due: none

fix(docs): use a smaller image to avoid shrinking on smaller screens
  docs/content/blog/release-notes-4.39/index.md
  docs/content/blog/release-notes-4.39/oled.png
Due: none

docs: update pictures in overview (#9051)
  docs/content/blog/release-notes-4.39/index.md
  docs/content/blog/release-notes-4.39/oled.png
  docs/content/overview/authentication/first-factor/1FA.png
  docs/content/overview/authentication/first-factor/index.md
  docs/content/overview/authentication/one-time-password/2FA-TOTP.png
  docs/content/overview/authentication/one-time-password/REGISTER-TOTP.png
  docs/content/overview/authentication/one-time-password/index.md
  docs/content/overview/authentication/password-policy/index.md
  docs/content/overview/authentication/password-policy/password-policy-classic-1.png
  docs/content/overview/authentication/password-policy/password-policy-zxcvbn-1.png
  docs/content/overview/authentication/push-notification/2FA-PUSH.png
  docs/content/overview/authentication/push-notification/index.md
  docs/content/overview/authentication/security-key/2FA-U2F.png
  docs/content/overview/authentication/security-key/REGISTER-U2F.png
  docs/content/overview/authentication/security-key/index.md
  docs/content/overview/authentication/security-key/passkeys.png
  docs/content/overview/authentication/security-key/password_2fa.png
Due: none

i18n: update translation for portal.json (Portuguese, Brazilian)
  internal/server/locales/pt-BR/portal.json
Due: backend

i18n: update translation for portal.json (Romanian)
  internal/server/locales/ro-RO/portal.json
Due: backend

i18n: update translation for portal.json (Spanish)
  internal/server/locales/es-ES/portal.json
Due: backend

i18n: update translation for portal.json (Czech)
  internal/server/locales/cs-CZ/portal.json
Due: backend

i18n: update translation for portal.json (Danish)
  internal/server/locales/da-DK/portal.json
Due: backend

i18n: update translation for portal.json (German)
  internal/server/locales/de-DE/portal.json
Due: backend

i18n: update translation for portal.json (Greek)
  internal/server/locales/el-GR/portal.json
Due: backend

i18n: update translation for portal.json (Italian)
  internal/server/locales/it-IT/portal.json
Due: backend

i18n: update translation for portal.json (Dutch)
  internal/server/locales/nl-NL/portal.json
Due: backend

i18n: update translation for portal.json (Norwegian)
  internal/server/locales/no-NO/portal.json
Due: backend

i18n: update translation for portal.json (Polish)
  internal/server/locales/pl-PL/portal.json
Due: backend

i18n: update translation for portal.json (Portuguese)
  internal/server/locales/pt-PT/portal.json
Due: backend

i18n: update translation for portal.json (Swedish)
  internal/server/locales/sv-SE/portal.json
Due: backend
