Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: configuration not sending appropriate methods
  internal/authentication/const.go
  internal/handlers/handler_configuration.go
  internal/handlers/types.go
  internal/server/server.go
  internal/session/types.go
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: backend, frontend

fix: down migrations
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
Due: backend

fix: missing semi colon
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: frontend

fix: tests
  internal/handlers/handler_configuration_test.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/handler_user_info_test.go
  internal/regulation/const.go
Due: backend

fix: use appid since origin not available in ajax request
  internal/handlers/const.go
  internal/handlers/errors.go
  internal/handlers/webauthn.go
Due: backend

fix: use correct rp id and origin and add user configurable override
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/handlers/webauthn.go
Due: backend

fix: nil ptr
  internal/configuration/validator/configuration.go
  internal/configuration/validator/webauthn.go
Due: backend

fix: register webauthn route
  internal/handlers/handler_register_webauthn.go
  web/src/App.tsx
  web/src/constants/Routes.ts
Due: backend, frontend

fix: incorrect column name
  internal/storage/sql_provider_queries.go
Due: backend

fix: incorrect columns in insert
  internal/storage/sql_provider_queries.go
Due: backend

fix: incorrect column name attestation should be attestation_type
  internal/storage/sql_provider_queries.go
Due: backend

deps: bump webauthn
  go.mod
  go.sum
Due: none

fix(configuration): set defaults
  internal/configuration/schema/webauthn.go
  internal/configuration/validator/const.go
  internal/configuration/validator/webauthn.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/webauthn.go
Due: backend

fix(suites): available methods changed
  internal/handlers/webauthn.go
  internal/suites/scenario_backend_protection_test.go
  internal/suites/suite_standalone_test.go
Due: backend

fix: appropriately decode aaguids
  internal/models/webauthn.go
  internal/suites/scenario_backend_protection_test.go
Due: backend

feat: clone_warning
  internal/handlers/handler_sign_webauthn.go
  internal/models/types.go
  internal/models/webauthn.go
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

fix: missing param
  internal/handlers/handler_sign_webauthn.go
  internal/models/webauthn.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

fix: store kid as bytes
  internal/handlers/handler_sign_webauthn.go
  internal/models/types.go
  internal/models/webauthn.go
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/suites/suite_cli_test.go
Due: backend

deps: update webauthn
  go.mod
  go.sum
Due: none

feat: transport
  go.mod
  go.sum
  internal/models/webauthn.go
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

fix: db insert migration
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
Due: backend

build(deps): update traefik docker tag to v1.7.34
  internal/suites/example/compose/traefik/docker-compose.yml
Due: none

build(deps): update traefik docker tag to v2.5.5
  internal/suites/example/compose/traefik2/docker-compose.yml
Due: none

build(deps): update dependency react-router-dom to v6.1.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(api): fix grouping for user info endpoints
  api/openapi.yml
Due: none

feat: unique key constraint kid
  config.template.yml
  docs/configuration/webauthn.md
  internal/configuration/config.template.yml
  internal/configuration/provider_test.go
  internal/configuration/schema/webauthn.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/webauthn.go
  internal/models/types.go
  internal/models/webauthn.go
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/sql_provider_backend_sqlite.go
Due: backend

fix: suite
  internal/suites/suite_duo_push_test.go
Due: none

fix(api): fix grouping for user info endpoints (#2710)
  api/openapi.yml
Due: none

fix(storage): use single tx for migrations
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_pre1.go
  internal/storage/types.go
Due: backend

deps: bump webauthn
  go.mod
  go.sum
  internal/mocks/storage.go
Due: backend

feat: resident key
  internal/handlers/handler_register_webauthn.go
Due: backend

build(deps): update dependency vite to v2.7.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(web): fixed english i18n for Incorrect password
  web/src/i18n/locales/en.json
Due: frontend

fix(web): english locale
  web/src/i18n/locales/en.json
Due: frontend

build(deps): update dependency @vitejs/plugin-react to v1.1.3
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update typescript-eslint monorepo to v5.7.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency jest to v27.4.5
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency typescript to v4.5.4
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

feat: log webauthn/totp created time and creator ip
  internal/commands/storage_run.go
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_register_webauthn.go
  internal/mocks/totp.go
  internal/models/totp_configuration.go
  internal/models/webauthn.go
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/totp/provider.go
  internal/totp/totp.go
Due: backend
