Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: suite
  internal/suites/suite_cli_test.go
Due: none

build(deps): update dependency @types/node to v16.11.13
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

feat(web): password-policy-frontend
  web/package.json
  web/pnpm-lock.yaml
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

build(deps): update dependency eslint-config-react-app to v7
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor(web): i18n
  web/package.json
  web/src/i18n/index.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/LoadingPage/LoadingPage.tsx
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/tsconfig.json
Due: frontend

feat: record last used time
  internal/models/webauthn.go
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

revert: bring u2f registration back
  config.template.yml
  go.mod
  go.sum
  internal/authentication/const.go
  internal/configuration/config.template.yml
  internal/configuration/schema/webauthn.go
  internal/configuration/validator/const.go
  internal/handlers/const.go
  internal/handlers/handler_configuration.go
  internal/handlers/handler_register_u2f.go
  internal/handlers/handler_register_u2f_test.go
  internal/server/server.go
  internal/session/types.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/constants/Routes.ts
  web/src/models/Methods.ts
  web/src/services/Api.ts
  web/src/services/RegisterDevice.ts
  web/src/services/UserInfo.ts
  web/src/views/DeviceRegistration/RegisterU2F.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
Due: backend, frontend

Update web/package.json
  web/package.json
Due: frontend

feat(web): password policy
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

fix(web): fixed pnpm-lock
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/node to v16.11.14
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

feat(web): implemented componente password-metter
  web/src/components/PasswordMeter.test.tsx
  web/src/components/PasswordMeter.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

fix(web): fixed package json
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(web): updated package json
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Add annotations for NGINX Ingress to k8s doc
  docs/deployment/deployment-kubernetes.md
Due: none

docs: add annotations for nginx ingress to k8s doc (#2726)
  docs/deployment/deployment-kubernetes.md
Due: none

build(deps): update dependency vite to v2.7.3
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update module github.com/deckarep/golang-set to v1.8.0
  go.mod
  go.sum
Due: none

feat(configuration): implement password_policy
  internal/configuration/schema/configuration.go
  internal/configuration/schema/password_policy.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/password_policy.go
  internal/handlers/handler_reset_password_step1.go
  internal/handlers/types.go
  internal/suites/Standalone/configuration.yml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): update dependency react-router-dom to v6.2.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

feat(configuration): password_policy validations
  internal/configuration/schema/password_policy.go
  internal/configuration/validator/password_policy.go
  internal/suites/Standalone/configuration.yml
Due: backend

feat(web): added support for password rules
  web/src/components/PasswordMeter.test.tsx
  web/src/components/PasswordMeter.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

feat(web): display policy related errors
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

feat(handlers): support policy validation
  internal/handlers/const.go
  internal/handlers/errors.go
  internal/handlers/handler_reset_password_step2.go
Due: backend

refactor(handlers): refactor of validatepassword
  internal/handlers/handler_reset_password_step2.go
  internal/suites/Standalone/configuration.yml
Due: backend

fix(suites): fixed yaml lints
  internal/suites/Standalone/configuration.yml
Due: none

fix(handlers): fixed lint errors
  internal/handlers/errors.go
  internal/handlers/handler_reset_password_step2.go
Due: backend

revert(suites): disabled password_policy
  internal/suites/Standalone/configuration.yml
Due: none

docs(configuration): added password policy docs
  docs/configuration/password_policy.md
  docs/features/password-policy.md
  docs/images/password-policy-classic-1.png
  docs/images/password-policy-zxcvbn-1.png
Due: none

fix(web): rebuild pnpm-lock
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite to v2.7.4
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update typescript-eslint monorepo to v5.8.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/node to v16.11.15
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite to v2.7.5
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update swagger-ui to v4.1.3
  cmd/authelia-scripts/cmd_build.go
Due: none

build(deps): update dependency vite to v2.7.6
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update traefik docker tag to v2.5.6
  internal/suites/example/compose/traefik2/docker-compose.yml
Due: none

build(deps): update dependency eslint-plugin-react to v7.28.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/node to v16.11.17
  web/package.json
  web/pnpm-lock.yaml
Due: frontend
