Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

.codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      backend:
        flags:
          - backend
      frontend:
        flags:
          - frontend
      integration:
        flags:
          - integration

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"
  integration:
    paths:
      - "internal/suites/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

build(deps): update module github.com/fasthttp/router to v1.3.8
  go.mod
  go.sum
Due: none

feat(session): implement redis username
  config.template.yml
  docs/configuration/session.md
  go.sum
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/session/provider_config.go
Due: backend

fix misc merge inconsistencies
  go.mod
  go.sum
  internal/session/encrypting_serializer.go
  internal/session/encrypting_serializer_test.go
  internal/session/mocks/mock_storer.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/session/types.go
Due: backend

build(deps): update module github.com/valyala/fasthttp to v1.22.0
  go.mod
  go.sum
Due: none

ci: add redis-sentinel to suite highavailability
  internal/suites/HighAvailability/configuration.yml
  internal/suites/example/compose/redis-sentinel/docker-compose.yml
  internal/suites/example/compose/redis/docker-compose.yml
  internal/suites/suite_high_availability.go
Due: integration

ci: add redis-sentinel quorum
  internal/suites/HighAvailability/configuration.yml
  internal/suites/example/compose/redis-sentinel/docker-compose.yml
Due: integration

fix: sentinel password
  go.mod
  go.sum
Due: none

fix(session): sentinel password
  go.mod
  go.sum
Due: none

build(deps): update traefik docker tag to v2.4.6
  internal/suites/example/compose/traefik2/docker-compose.yml
Due: integration

build(deps): update module github.com/fasthttp/router to v1.3.9
  go.mod
  go.sum
Due: none

feat(session): implement memcache, mysql, postgres and sqlite3 session providers
  config.template.yml
  go.sum
  internal/configuration/config.template.yml
  internal/configuration/schema/session.go
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/types.go
Due: backend

build(deps): update dependency chai to v4.3.1
  web/package.json
  web/yarn.lock
Due: frontend

refactor: apply suggestsions from code review
  api/openapi.yml
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/const.go
Due: backend

refactor: revert change to fasthttp/session/v2 from authelia/session/v2
  internal/session/encrypting_serializer.go
  internal/session/encrypting_serializer_test.go
  internal/session/mocks/mock_storer.go
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/provider_config_test.go
  internal/session/types.go
Due: backend

refactor(session): use refactored redis provider
  go.mod
  go.sum
  internal/session/provider.go
  internal/session/provider_config.go
  internal/session/types.go
Due: backend

test: fix test for refactor
  internal/session/provider_config_test.go
Due: backend

fix(configuration): lower argon2id default memory requirements (#1762)
  docs/configuration/authentication/file.md
  internal/authentication/password_hash_test.go
  internal/configuration/schema/authentication.go
Due: backend

test: use redis alpine library image for redis sentinel
  cmd/authelia-scripts/cmd_bootstrap.go
  internal/suites/HighAvailability/configuration.yml
  internal/suites/example/compose/redis-sentinel/docker-compose.yml
  internal/suites/example/compose/redis/docker-compose.yml
  internal/suites/example/compose/redis/entrypoint.sh
  internal/suites/example/compose/redis/sentinel-users.acl
  internal/suites/example/compose/redis/templates/master.conf
  internal/suites/example/compose/redis/templates/sentinel.conf
  internal/suites/example/compose/redis/templates/slave.conf
  internal/suites/example/compose/redis/users.acl
  internal/suites/suite_high_availability.go
Due: integration

test: use expose instead of ports
  internal/suites/example/compose/redis/docker-compose.yml
Due: integration

test: use redis fqdn
  internal/suites/HighAvailability/configuration.yml
Due: integration

test: use redis ip
  internal/suites/HighAvailability/configuration.yml
Due: integration

test: adjust redis ip range
  cmd/authelia-scripts/cmd_bootstrap.go
  internal/suites/HighAvailability/configuration.yml
  internal/suites/example/compose/redis/docker-compose.yml
Due: integration

test: adjust redis config
  internal/suites/example/compose/redis/templates/sentinel.conf
  internal/suites/example/compose/redis/templates/slave.conf
Due: integration

test: make entrypoint.sh executable
  internal/suites/example/compose/redis/entrypoint.sh
Due: integration

test: fix entrypoint.sh if/elif
  internal/suites/example/compose/redis/entrypoint.sh
Due: integration

build(deps): update dependency chai to v4.3.3
  web/package.json
  web/yarn.lock
Due: frontend

fix: work around upstream libraries inability to provide sentinel user
  internal/suites/HighAvailability/configuration.yml
Due: integration

fix: disable sentinel auth user
  internal/suites/HighAvailability/configuration.yml
  internal/suites/example/compose/redis/docker-compose.yml
  internal/suites/example/compose/redis/sentinel-users.acl
  internal/suites/example/compose/redis/templates/sentinel.conf
  internal/suites/example/compose/redis/users.acl
Due: integration

test: add redis failover tests
  internal/suites/docker.go
  internal/suites/suite_high_availability_test.go
Due: integration

test: defer docker start
  internal/suites/docker.go
  internal/suites/suite_high_availability_test.go
Due: integration

test: adjust sleep
  internal/suites/HighAvailability/configuration.yml
  internal/suites/suite_high_availability_test.go
Due: integration

test: attempt logout before login
  internal/suites/suite_high_availability_test.go
Due: integration

build(deps): update haproxy docker tag to v2.3.6
  internal/suites/example/compose/haproxy/Dockerfile
Due: integration

test: attempt visit before login and tune timeouts
  internal/suites/example/compose/redis/templates/sentinel.conf
  internal/suites/suite_high_availability_test.go
Due: integration

test: add additional logging
  internal/suites/suite_high_availability_test.go
Due: integration

test: add sentinel integration test
  internal/suites/suite_high_availability_test.go
Due: integration

test: add secondary node failure to tests
  internal/suites/suite_high_availability_test.go
Due: integration

test: fix password usage
  internal/suites/example/compose/redis/templates/master.conf
  internal/suites/example/compose/redis/templates/sentinel.conf
  internal/suites/example/compose/redis/templates/slave.conf
  internal/suites/example/compose/redis/users.acl
  internal/suites/suite_high_availability_test.go
Due: integration

test: bump test timeout
  internal/suites/suite_high_availability.go
Due: integration

test: add sleep
  internal/suites/suite_high_availability_test.go
Due: integration
