Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

.codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      backend:
        flags:
          - backend
      frontend:
        flags:
          - frontend
      integration:
        flags:
          - integration

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"
  integration:
    paths:
      - "internal/suites/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

[MISC] Consistently utilise correct logging interface (#1487)
  cmd/authelia-scripts/cmd_bootstrap.go
  cmd/authelia/main.go
  internal/notification/smtp_notifier.go
Due: backend

[FEATURE] Create dedicated health endpoint (#1489)
  healthcheck.sh
  internal/handlers/handler_health.go
  internal/server/server.go
  internal/utils/aes.go
Due: backend

[FEATURE] Add JSON log formatting option (#1488)
  cmd/authelia/main.go
  config.template.yml
  docs/configuration/miscellaneous.md
  internal/configuration/schema/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: backend

[FEATURE] Support MSAD password reset via unicodePwd attribute
  .buildkite/steps/e2etests.sh
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/ActiveDirectory/docker-compose.yml
  internal/suites/environment.go
  internal/suites/example/compose/samba/Dockerfile
  internal/suites/example/compose/samba/docker-compose.yml
  internal/suites/example/compose/samba/init.sh
  internal/suites/suite_activedirectory.go
  internal/suites/suite_activedirectory_test.go
Due: backend, integration

Clean up LDAP user provisioning
  internal/suites/example/compose/ldap/ldif/base.ldif
  internal/suites/example/compose/samba/init.sh
Due: integration

Minor styling refactor to suites
  internal/suites/environment.go
  internal/suites/suite_activedirectory.go
  internal/suites/suite_bypass_all.go
  internal/suites/suite_docker.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_haproxy.go
  internal/suites/suite_high_availability.go
  internal/suites/suite_ldap.go
  internal/suites/suite_mariadb.go
  internal/suites/suite_mysql.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_one_factor_only.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_postgres.go
  internal/suites/suite_short_timeouts.go
  internal/suites/suite_standalone.go
  internal/suites/suite_traefik.go
  internal/suites/suite_traefik2.go
Due: integration

Add notification message for password complexity errors
  internal/handlers/const.go
  internal/handlers/handler_reset_password_step2.go
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: backend, frontend

Fix Authelia home splash to reference correct link for webmail
  internal/suites/example/compose/nginx/backend/html/home/index.html
Due: integration

Add password complexity integration test
  internal/suites/action_reset_password.go
  internal/suites/scenario_password_complexity_test.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/suite_activedirectory_test.go
Due: integration

Rename implementation default from rfc to custom
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

[MISC] Refactor webdriver port initialization
  internal/suites/suite_network_acl_test.go
  internal/suites/utils.go
  internal/suites/webdriver.go
Due: integration

* add specific defaults for LDAP (activedirectory implementation) * add docs to show the new defaults * add docs explaining the importance of users filter * add tests
  docs/configuration/authentication/ldap.md
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

* update instances of LDAP implementation names to use the new consts where applicable * made the 'custom' case in the UpdatePassword method for the implementation switch the default case instead
  internal/authentication/ldap_user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

* update config examples due to the new defaults * apply changes from code review
  config.template.yml
  docs/configuration/authentication/ldap.md
Due: none

* replace schema default name from MSAD to ActiveDirectory for consistency * fix missing default for username_attribute
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

* replace test raising on empty username attribute with not raising on empty
  internal/configuration/validator/authentication_test.go
Due: backend

[FEATURE] Support MSAD password reset via unicodePwd attribute (#1460)
  .buildkite/steps/e2etests.sh
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/handlers/const.go
  internal/handlers/handler_reset_password_step2.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/ActiveDirectory/docker-compose.yml
  internal/suites/action_reset_password.go
  internal/suites/environment.go
  internal/suites/example/compose/ldap/ldif/base.ldif
  internal/suites/example/compose/nginx/backend/html/home/index.html
  internal/suites/example/compose/samba/Dockerfile
  internal/suites/example/compose/samba/docker-compose.yml
  internal/suites/example/compose/samba/init.sh
  internal/suites/scenario_password_complexity_test.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/suite_activedirectory.go
  internal/suites/suite_activedirectory_test.go
  internal/suites/suite_bypass_all.go
  internal/suites/suite_docker.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_haproxy.go
  internal/suites/suite_high_availability.go
  internal/suites/suite_ldap.go
  internal/suites/suite_mariadb.go
  internal/suites/suite_mysql.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_one_factor_only.go
  internal/suites/suite_postgres.go
  internal/suites/suite_short_timeouts.go
  internal/suites/suite_standalone.go
  internal/suites/suite_traefik.go
  internal/suites/suite_traefik2.go
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: backend, frontend, integration

[BUGFIX] Make username_attribute a mandatory placeholder in users_filter
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

Update version referenced in docs for fix
  docs/configuration/authentication/ldap.md
Due: none

[BUGFIX] Make username_attribute a mandatory placeholder in users_filter (#1449)
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

[MISC] Refactor webdriver port initialization (#1491)
  internal/suites/suite_network_acl_test.go
  internal/suites/utils.go
  internal/suites/webdriver.go
Due: integration

* add unit tests * invalidate session if it is theoretically hijacked and log it as a warning (can only be determined if the header doesn't match the cookie) * add example PAM script
  docs/features/single-factor.md
  go.mod
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

* add tests * minor refactoring
  go.mod
  internal/configuration/validator/totp.go
  internal/configuration/validator/totp_test.go
  internal/handlers/totp.go
  internal/handlers/totp_test.go
Due: backend

* relocate sha512 hashing const to the internal/configuration/schema namespace * replace all instances of md5, sha1, sha256, and sha512 with the new consts
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_test.go
  internal/authentication/password_hash.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/const.go
  internal/configuration/validator/totp.go
  internal/configuration/validator/totp_test.go
  internal/handlers/totp.go
  internal/handlers/totp_test.go
Due: backend

[CI] Add metadata switch for codecov verbose output
  .buildkite/hooks/post-command
Due: none

[CI] Add metadata switch for codecov verbose output (#1494)
  .buildkite/hooks/post-command
Due: none

[CI] Exclude non-coverage files from codecov upload
  .buildkite/hooks/post-command
Due: none

Ignore React serviceWorker.ts for coverage
  .codecov.yml
Due: none

* go mod tidy
  go.sum
Due: none

[CI] Exclude non-coverage files from codecov upload (#1495)
  .buildkite/hooks/post-command
  .codecov.yml
Due: none

* go mod bump to 1.15
  go.mod
Due: none

[FEATURE] Add Optional Check for Session Username on VerifyGet (#1427)
  docs/features/single-factor.md
  go.mod
  go.sum
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

[FEATURE] LDAP StartTLS
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_connection_factory_mock.go
  internal/authentication/ldap_user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/validator/const.go
Due: backend

* add mock unit tests * ignore gosec issue * comment exported method
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

add docs * add TLS min version support * add tests
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/const.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/utils/const.go
  internal/utils/strings.go
Due: backend

fix lint issues * minor adjustments * remove SSL3.0
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/configuration/validator/authentication.go
  internal/utils/const.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend

add tls consts
  internal/utils/const.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend

deprecate old filter placeholders
  BREAKING.md
  internal/authentication/ldap_user_provider.go
Due: backend

fix linting
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
Due: backend

make suite ActiveDirectory use StartTLS
  internal/suites/ActiveDirectory/configuration.yml
Due: integration
