Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

refactor(web): use new grid (#7248)
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

refactor: fix email layout
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/Event.txt
  internal/templates/src/emails/Event.tsx
Due: backend

refactor: fix email layout (#7752)
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/Event.txt
  internal/templates/src/emails/Event.tsx
Due: backend

Fixed typo
  docs/content/reference/guides/ldap.md
Due: none

docs: typo fix (#7753)
  docs/content/reference/guides/ldap.md
Due: none

docs(oidc): update integration documentation for Paperless
  docs/content/integration/openid-connect/paperless/index.md
Due: none

docs(oidc): update integration documentation for paperless (#7756)
  docs/content/integration/openid-connect/paperless/index.md
Due: none

Update generating-secure-values.md
  docs/content/reference/guides/generating-secure-values.md
Due: none

docs: fix tpo in generating-secure-values.md (#7764)
  docs/content/reference/guides/generating-secure-values.md
Due: none

refactor: mui 6
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsGrid.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
Due: frontend

refactor: fix email imports
  internal/templates/src/emails/Event.tsx
Due: backend

build(deps): update material-ui monorepo to v6 (#7766)
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsGrid.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
Due: frontend

refactor: fix email imports (#7772)
  internal/templates/src/emails/Event.tsx
Due: backend

fix(commands): uid logged instead of gid
  internal/commands/context.go
Due: backend

fix(commands): uid logged instead of gid (#7774)
  internal/commands/context.go
Due: backend

build(deps): update module authelia.com/provider/oauth2 to v0.1.16
  go.mod
  go.sum
  internal/oidc/client.go
  internal/oidc/types.go
Due: backend

build(deps): update module authelia.com/provider/oauth2 to v0.1.15 (#7784)
  go.mod
  go.sum
  internal/oidc/client.go
  internal/oidc/types.go
Due: backend

Update docs/README.md
  docs/README.md
Due: none

Update docs/content/configuration/second-factor/duo.md
  docs/content/configuration/second-factor/duo.md
Due: none

Update docs/content/configuration/first-factor/introduction.md
  docs/content/configuration/first-factor/introduction.md
Due: none

Update docs/content/integration/openid-connect/proxmox/index.md
  docs/content/integration/openid-connect/proxmox/index.md
Due: none

Update docs/content/configuration/miscellaneous/introduction.md
  docs/content/configuration/miscellaneous/introduction.md
Due: none

Update docs/content/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/integration/openid-connect/cloudflare-zerotrust/index.md
Due: none

Update docs/content/blog/pre-release-notes-4.37/index.md
  docs/content/blog/pre-release-notes-4.37/index.md
Due: none

docs: use callouts
  docs/content/integration/openid-connect/introduction.md
Due: none

fix(authentication): ldap attributes treated case-sensitive
  internal/authentication/ldap_user_provider.go
Due: backend

fix(authentication): ldap attributes treated case-sensitive (#7793)
  internal/authentication/ldap_user_provider.go
Due: backend

refactor(web): fix mui6 consent view
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: frontend

refactor(web): fix mui6 consent view (#7794)
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: frontend

fix(oidc): jwt assertions aud overly strict
  go.mod
  go.sum
  internal/middlewares/authelia_context.go
  internal/model/const.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/config.go
  internal/oidc/config_test.go
  internal/oidc/types_test.go
  internal/storage/sql_provider.go
Due: backend

fix(oidc): jwt assertions aud overly strict (#7798)
  go.mod
  go.sum
  internal/middlewares/authelia_context.go
  internal/model/const.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/config.go
  internal/oidc/config_test.go
  internal/oidc/types_test.go
  internal/storage/sql_provider.go
Due: backend

feat(oidc): claims parameter support
  docs/content/integration/openid-connect/introduction.md
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/oidc.go
  internal/handlers/oidc_test.go
  internal/model/oidc.go
  internal/oidc/claims.go
  internal/oidc/claims_test.go
  internal/oidc/client.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/session.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  web/src/services/Claims.ts
  web/src/services/Consent.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: backend, frontend

feat(oidc): add remaining standard claims
  docs/content/integration/openid-connect/introduction.md
  docs/content/reference/guides/passwords.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/latest/json-schema/user-database.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/user-database.json
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/types.go
  internal/authentication/user_provider.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/const.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/oidc.go
  internal/mocks/user_provider.go
  internal/oidc/claims.go
  internal/oidc/claims_test.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/session.go
  internal/oidc/types.go
  internal/suites/scenario_oidc_test.go
Due: backend

feat(oidc): oauth 2.0 device authorization grant
  .gitignore
  docs/content/integration/openid-connect/introduction.md
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oauth_device_code.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/provider.go
  internal/oidc/store.go
  internal/server/handlers.go
  internal/storage/const.go
  internal/storage/migrations/mysql/V0016.OAuth2DeviceCode.down.sql
  internal/storage/migrations/mysql/V0016.OAuth2DeviceCode.up.sql
  internal/storage/migrations/postgres/V0016.OAuth2DeviceCode.down.sql
  internal/storage/migrations/postgres/V0016.OAuth2DeviceCode.up.sql
  internal/storage/migrations/sqlite/V0016.OAuth2DeviceCode.down.sql
  internal/storage/migrations/sqlite/V0016.OAuth2DeviceCode.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
  internal/storage/types.go
Due: backend

fix(oidc): device code not properly handled
  internal/handlers/handler_oauth_device_authorization.go
  internal/handlers/handler_oauth_device_code.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_implicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/response.go
  internal/handlers/types.go
  internal/model/oidc.go
  internal/oidc/claims.go
  internal/oidc/provider.go
  internal/oidc/session.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/server/handlers.go
Due: backend

feat(oidc): client networks authorization policy
  docs/data/configkeys.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/user-database.json
  internal/authorization/access_control_rule.go
  internal/authorization/types.go
  internal/authorization/util.go
  internal/authorization/util_test.go
  internal/commands/context.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_policy.go
  internal/oidc/client_policy_test.go
  internal/oidc/client_test.go
  internal/oidc/discovery_test.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
Due: backend
