Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(suites): fix gitignore of .env.development with vite hmr
  internal/suites/const.go
  internal/suites/utils.go
  web/.env.development
Due: frontend

refactor: factorize and test core strategy
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/core_strategy_hmac.go
  internal/oidc/core_strategy_hmac_test.go
Due: backend

refactor: gen docs
  docs/data/configkeys.json
Due: none

docs: make several openid connect areas uniform
  docs/content/en/configuration/identity-providers/introduction.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/configuration/methods/environment.md
Due: none

docs: make several openid connect areas uniform
  docs/content/en/configuration/identity-providers/introduction.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
Due: none

docs: adjust keys generators
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/helpers.go
  docs/data/configkeys.json
Due: none

docs: make several openid connect areas uniform (#4824)
  docs/content/en/configuration/identity-providers/introduction.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
  docs/content/en/integration/openid-connect/synology-dsm/index.md
Due: none

docs: adjust env docs
  docs/content/en/configuration/methods/environment.md
Due: none

docs: adjust key generators (#4825)
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/helpers.go
  docs/data/configkeys.json
Due: none

docs: env adjustment (#4826)
  docs/content/en/configuration/methods/environment.md
Due: none

docs: add version to the docs data misc generator
  cmd/authelia-gen/cmd_commit_msg.go
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/cmd_root.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/types.go
  docs/data/misc.json
  docs/layouts/index.html
Due: none

docs: add version to the docs data misc generator (#4827)
  cmd/authelia-gen/cmd_commit_msg.go
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/cmd_root.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/types.go
  docs/data/misc.json
  docs/layouts/index.html
Due: none

release: v4.38.0-beta1
  web/package.json
Due: frontend

docs: add pre-release
  docs/content/en/blog/pre-release-notes-4.38/index.md
Due: none

docs: add pre-release / beta info
  docs/content/en/blog/pre-release-notes-4.38/index.md
Due: none

docs: add pre-release / beta info (#4829)
  docs/content/en/blog/pre-release-notes-4.38/index.md
Due: none

docs: add missing features
  docs/content/en/blog/pre-release-notes-4.38/index.md
Due: none

docs: add missing features (#4830)
  docs/content/en/blog/pre-release-notes-4.38/index.md
Due: none

docs: fix misc issues
  docs/content/en/integration/proxies/traefik.md
Due: none

docs: fix misc issues (#4831)
  docs/content/en/integration/proxies/traefik.md
Due: none

docs: fix typo
  docs/content/en/configuration/methods/environment.md
Due: none

docs: fix typo (#4832)
  docs/content/en/configuration/methods/environment.md
Due: none

docs: gen
  docs/content/en/blog/pre-release-notes-4.38/index.md
  docs/content/en/configuration/miscellaneous/privacy-policy.md
  docs/content/en/configuration/miscellaneous/server-endpoints-authz.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/content/en/reference/guides/proxy-authorization.md
Due: none

docs: gen (#4833)
  docs/content/en/blog/pre-release-notes-4.38/index.md
  docs/content/en/configuration/miscellaneous/privacy-policy.md
  docs/content/en/configuration/miscellaneous/server-endpoints-authz.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/content/en/reference/guides/proxy-authorization.md
Due: none

docs: fix typo
  docs/content/en/reference/guides/generating-secure-values.md
Due: none

docs: fix ip addresses
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/haproxy.md
  docs/content/en/integration/proxies/traefik.md
  docs/content/en/integration/proxies/traefikv1.md
Due: none

docs: fix ip addresses (#4843)
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/haproxy.md
  docs/content/en/integration/proxies/traefik.md
  docs/content/en/integration/proxies/traefikv1.md
Due: none

docs: fix typo (#4842)
  docs/content/en/reference/guides/generating-secure-values.md
Due: none

ci: fix npm run
  .editorconfig
  .github/commit-msg
  .github/pre-commit
  .github/required-apps
Due: none

i18n: update translation for portal.json (Norwegian)
  internal/server/locales/no-NO/portal.json
Due: backend

i18n: update translation for portal.json (Norwegian Bokmal)
  internal/server/locales/nb-NO/portal.json
Due: backend

ci: fix npm run (#4849)
  .editorconfig
  .github/commit-msg
  .github/pre-commit
  .github/required-apps
Due: none

i18n: update translations (#4850)
  internal/server/locales/nb-NO/portal.json
  internal/server/locales/no-NO/portal.json
Due: backend

build(deps): use @simplewebauthn/browser
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/types.go
  internal/middlewares/identity_verification.go
  internal/server/handlers.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/WebauthnTryIcon.tsx
  web/src/models/Webauthn.ts
  web/src/services/Api.ts
  web/src/services/Webauthn.ts
  web/src/utils/Base64.ts
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
Due: backend, frontend

docs: fix missing yaml example
  docs/content/en/configuration/session/introduction.md
Due: none

docs: fix missing yaml example (#4853)
  docs/content/en/configuration/session/introduction.md
Due: none

refactor: check for missing period in cookie domain
  internal/configuration/validator/const.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

refactor: add some more useful templating funcs
  docs/content/en/reference/guides/templating.md
  internal/templates/funcs.go
  internal/templates/funcs_test.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
