Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix typo in statelessness.md
  docs/content/en/overview/authorization/statelessness.md
Due: none

docs: small typo (#6649)
  docs/content/en/overview/authorization/statelessness.md
Due: none

fix: breaking change
  go.mod
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
Due: backend

refactor: adjustments
  internal/notification/smtp_notifier.go
Due: backend

create freshrss oidc integration
  docs/content/en/integration/openid-connect/freshrss/index.md
Due: none

refactor(configuration): adjust router path resolution for unix socket
  internal/configuration/schema/types_address.go
  internal/configuration/schema/types_address_test.go
Due: backend

Grafana OIDC doc updates
  docs/content/en/integration/openid-connect/grafana/index.md
Due: none

refactor(configuration): adjust router path resolution for unix socket (#6694)
  internal/configuration/schema/types_address.go
  internal/configuration/schema/types_address_test.go
Due: backend

Apply suggestions from code review
  docs/content/en/integration/openid-connect/freshrss/index.md
Due: none

Update docs/content/en/integration/openid-connect/freshrss/index.md
  docs/content/en/integration/openid-connect/freshrss/index.md
Due: none

ci: remove container read-only mounts
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/nginx-proxy-manager/index.md
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/swag.md
  internal/suites/ActiveDirectory/docker-compose.yml
  internal/suites/BypassAll/docker-compose.yml
  internal/suites/CLI/docker-compose.yml
  internal/suites/Caddy/docker-compose.yml
  internal/suites/Docker/docker-compose.yml
  internal/suites/DuoPush/docker-compose.yml
  internal/suites/Envoy/docker-compose.yml
  internal/suites/HAProxy/docker-compose.yml
  internal/suites/HighAvailability/docker-compose.yml
  internal/suites/LDAP/docker-compose.yml
  internal/suites/MariaDB/docker-compose.yml
  internal/suites/MultiCookieDomain/docker-compose.yml
  internal/suites/MySQL/docker-compose.yml
  internal/suites/NetworkACL/docker-compose.yml
  internal/suites/OIDC/docker-compose.yml
  internal/suites/OIDCTraefik/docker-compose.yml
  internal/suites/OneFactorOnly/docker-compose.yml
  internal/suites/PathPrefix/docker-compose.yml
  internal/suites/Postgres/docker-compose.yml
  internal/suites/ShortTimeouts/docker-compose.yml
  internal/suites/Standalone/docker-compose.yml
  internal/suites/Traefik/docker-compose.yml
  internal/suites/Traefik2/docker-compose.yml
  internal/suites/example/compose/haproxy/docker-compose.yml
Due: none

refactor: linting updates
  cmd/authelia-gen/cmd_docs_date.go
  cmd/authelia-scripts/cmd/bootstrap.go
  cmd/authelia-scripts/cmd/suites.go
  internal/authentication/file_user_provider_test.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/schema/types_address_test.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/session_test.go
  internal/handlers/handler_authz_impl_authrequest_test.go
  internal/middlewares/authelia_context_test.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/middlewares/password_policy_test.go
  internal/oidc/flow_client_credentials_test.go
  internal/oidc/flow_refresh_test.go
  internal/oidc/types_test.go
  internal/suites/environment.go
  internal/suites/kubernetes.go
  internal/suites/scenario_oidc_test.go
  internal/utils/crypto_test.go
  internal/utils/exec_test.go
Due: backend

perf(web): implement lazy loading
  web/src/App.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/vite.config.ts
Due: frontend

feat(web): per-device two factor method
  internal/middlewares/require_first_factor.go
  web/src/constants/LocalStorage.ts
  web/src/i18n/detectors/localStorageCustom.ts
  web/src/services/Configuration.ts
  web/src/services/LocalStorage.ts
  web/src/services/UserInfo.ts
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

refactor(web): misc refactoring
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.test.tsx
  web/src/components/AccountSettingsMenu.tsx
  web/src/components/PasswordMeter.test.tsx
  web/src/index.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/SettingsLayout.tsx
  web/src/services/LocalStorage.ts
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
  web/src/views/Settings/Test/TestView.tsx
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/DeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialDetailsDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsGrid.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsStack.tsx
  web/vite.config.ts
Due: frontend

feat(web): second factor identity verification
  internal/configuration/schema/identity_validation.go
  internal/configuration/validator/identity_validation.go
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_webauthn_credentials.go
  internal/handlers/types.go
  internal/handlers/util.go
  internal/middlewares/require_auth.go
  internal/middlewares/require_auth_test.go
  internal/middlewares/require_first_factor.go
  internal/mocks/authelia_ctx.go
  internal/server/handlers.go
  internal/storage/sql_provider.go
  web/src/App.tsx
  web/src/components/AccountSettingsMenu.tsx
  web/src/constants/Routes.ts
  web/src/hooks/Revoke.ts
  web/src/services/UserSessionElevation.ts
  web/src/services/WebAuthn.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/Revoke/RevokeOneTimeCodeView.tsx
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
  web/src/views/Settings/Common/SecondFactorDialog.tsx
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
  web/src/views/Settings/Common/SecondFactorMethodOneTimePassword.tsx
  web/src/views/Settings/Common/SecondFactorMethodWebAuthn.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

i18n: translations
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/server/locales/en/settings.json
  web/src/App.tsx
  web/src/components/Brand.tsx
  web/src/constants/LocalStorage.ts
  web/src/i18n/detectors/localStorageCustom.ts
  web/src/i18n/index.ts
  web/src/layouts/SettingsLayout.tsx
  web/src/services/LocalStorage.ts
  web/src/themes/index.ts
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialEditDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
Due: backend, frontend

refactor: adjust layouts
  internal/handlers/handler_authz_types.go
  internal/server/locales/en/settings.json
  internal/suites/MultiCookieDomain/configuration.yml
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/constants/Routes.ts
  web/src/layouts/SettingsLayout.tsx
  web/src/views/Settings/SettingsRouter.tsx
  web/src/views/Settings/SettingsView.tsx
  web/src/views/Settings/Test/TestView.tsx
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

feat(web): revoke reset password tokens
  api/openapi.yml
  docs/content/en/configuration/storage/migrations.md
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_reset_password_step1.go
  internal/handlers/handler_reset_password_step2.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/types.go
  internal/middlewares/identity_verification.go
  internal/middlewares/types.go
  internal/mocks/storage.go
  internal/model/identity_verification.go
  internal/server/handlers.go
  internal/storage/migrations/V0014.RevokeResetPasswordJWT.mysql.down.sql
  internal/storage/migrations/V0014.RevokeResetPasswordJWT.mysql.up.sql
  internal/storage/migrations/V0014.RevokeResetPasswordJWT.postgres.down.sql
  internal/storage/migrations/V0014.RevokeResetPasswordJWT.postgres.up.sql
  internal/storage/migrations/V0014.RevokeResetPasswordJWT.sqlite.down.sql
  internal/storage/migrations/V0014.RevokeResetPasswordJWT.sqlite.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
  internal/templates/src/notification/IdentityVerificationJWT.html
  internal/templates/src/notification/IdentityVerificationJWT.txt
  internal/templates/src/notification/IdentityVerificationOTC.html
  internal/templates/src/notification/IdentityVerificationOTC.txt
  internal/templates/types.go
  web/src/App.tsx
  web/src/constants/Routes.ts
  web/src/hooks/Revoke.ts
  web/src/services/ResetPassword.ts
  web/src/views/Revoke/RevokeResetPasswordTokenView.tsx
Due: backend, frontend

refactor(web): misc ux improvements
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
Due: frontend

i18n: add missing translations
  internal/server/locales/en/portal.json
Due: backend

refactor: imports
  internal/handlers/handler_authz_types.go
  web/src/views/Revoke/RevokeOneTimeCodeView.tsx
  web/src/views/Settings/Common/SecondFactorDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

build(deps): update module github.com/go-webauthn/webauthn to v0.10.0
  go.mod
  go.sum
  web/pnpm-lock.yaml
Due: frontend

test(suites): revert rename
  internal/suites/example/kube/authelia/configs/configuration.yml
  internal/suites/suite_activedirectory_test.go
  internal/suites/suite_caddy_test.go
  internal/suites/suite_docker_test.go
  internal/suites/suite_envoy_test.go
  internal/suites/suite_haproxy_test.go
  internal/suites/suite_high_availability_test.go
  internal/suites/suite_kubernetes_test.go
  internal/suites/suite_ldap_test.go
  internal/suites/suite_mariadb_test.go
  internal/suites/suite_mysql_test.go
  internal/suites/suite_pathprefix_test.go
  internal/suites/suite_postgres_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/suite_traefik2_test.go
  internal/suites/suite_traefik_test.go
Due: none

refactor: temp legacy
  docs/content/en/configuration/identity-validation/_index.md
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/identity-validation/introduction.md
  docs/content/en/configuration/identity-validation/reset-password.md
  docs/static/schemas/latest/json-schema/exports.webauthn.json
  docs/static/schemas/v4.38/json-schema/exports.webauthn.json
  internal/model/webauthn.go
  internal/storage/sql_provider_queries.go
Due: backend

docs: misc beta updates
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/prologue/get-started.md
Due: none

refactor: email table width
  examples/templates/notifications/html_email_with_button_and_link.html
  internal/templates/src/notification/IdentityVerificationJWT.html
  internal/templates/src/notification/IdentityVerificationOTC.html
Due: backend

refactor: generate
  docs/content/en/configuration/identity-validation/_index.md
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/identity-validation/introduction.md
  docs/content/en/configuration/identity-validation/reset-password.md
  docs/content/en/contributing/guidelines/database-schema.md
  docs/content/en/reference/integrations/database-integrations.md
  docs/content/en/reference/integrations/introduction.md
  examples/compose/lite/authelia/configuration.yml
  internal/configuration/test_resources/config_with_secret.yml
  internal/configuration/validator/access_control.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/BypassAll/configuration.yml
  internal/suites/CLI/configuration.yml
  internal/suites/Caddy/configuration.yml
  internal/suites/Docker/configuration.yml
  internal/suites/DuoPush/configuration.yml
  internal/suites/Envoy/configuration.yml
  internal/suites/HAProxy/configuration.yml
  internal/suites/HighAvailability/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/MariaDB/configuration.yml
  internal/suites/MultiCookieDomain/configuration.yml
  internal/suites/MySQL/configuration.yml
  internal/suites/NetworkACL/configuration.yml
  internal/suites/OIDCTraefik/configuration.yml
  internal/suites/OneFactorOnly/configuration.yml
  internal/suites/PathPrefix/configuration.yml
  internal/suites/Postgres/configuration.yml
  internal/suites/ShortTimeouts/configuration.yml
  internal/suites/Traefik/configuration.yml
  internal/suites/Traefik2/configuration.yml
Due: backend

refactor: misc beta fixes
  api/openapi.yml
  cmd/authelia-gen/const.go
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-validation/_index.md
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/identity-validation/introduction.md
  docs/content/en/configuration/identity-validation/reset-password.md
  go.mod
  go.sum
  internal/configuration/provider_test.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/const.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_session_elevation.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/storage/migrations/mysql/V0012.WebAuthnMultiCookieDomain.down.sql
  internal/storage/migrations/mysql/V0012.WebAuthnMultiCookieDomain.up.sql
  internal/storage/migrations/postgres/V0012.WebAuthnMultiCookieDomain.down.sql
  internal/storage/migrations/postgres/V0012.WebAuthnMultiCookieDomain.up.sql
  web/pnpm-lock.yaml
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

feat(web): caps lock detection
  internal/server/locales/en/portal.json
  web/src/services/CapsLock.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
Due: backend, frontend

docs: misc docs fixes
  docs/content/en/configuration/identity-validation/elevated-session.md
  docs/content/en/configuration/security/access-control.md
  docs/content/en/integration/deployment/docker.md
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
