Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: add hwk
  internal/session/user_session.go
Due: backend

test: add tests and fix issues
  internal/session/const.go
  internal/session/provider_test.go
  internal/session/user_session.go
Due: backend

fix: use new oidc tester
  docs/configuration/identity-providers/oidc.md
  internal/oidc/const.go
  internal/session/const.go
  internal/session/provider_test.go
  internal/session/user_session.go
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/example/compose/oidc-client/entrypoint.sh
Due: backend

fix: add comments and unexport methods
  internal/session/user_session.go
Due: backend

fix: remove debug logging
  internal/handlers/handler_oidc_token.go
  internal/oidc/store.go
Due: backend

build(deps): bump oidc-tester-app
  internal/suites/example/compose/oidc-client/docker-compose.yml
Due: none

fix: schema
  internal/handlers/handler_oidc_authorization.go
  internal/storage/migrations/V0004.OpenIDConenct.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConenct.postgres.up.sql
Due: backend

build(deps): update typescript-eslint monorepo to v5.14.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: use ua-parser-js
  web/package.json
  web/pnpm-lock.yaml
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
Due: frontend

fix: register
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
Due: frontend

docs: add docs about remember me duration
  docs/configuration/session/index.md
  internal/handlers/handler_firstfactor.go
Due: backend

build: fix deb packaging
  .buildkite/steps/debhelper.sh
Due: none

build: utilize new makedeb spec (#2980)
  .buildkite/steps/debhelper.sh
Due: none

docs: add docs about remember me duration (#2979)
  docs/configuration/session/index.md
  internal/handlers/handler_firstfactor.go
Due: backend

build(deps): update dependency react-i18next to v11.15.6
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency qrcode.react to v2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update module github.com/valyala/fasthttp to v1.34.0
  go.mod
  go.sum
Due: none

build: fix go.sum
  go.sum
Due: none

build(deps): update dependency @testing-library/react to v12.1.4
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update mui monorepo to v5.5.0
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/components/AppStoreBadges.tsx
  web/src/components/ColoredSnackbarContent.tsx
  web/src/components/FixedTextField.tsx
  web/src/components/LinearProgressBar.tsx
  web/src/components/NotificationBar.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/themes/Dark.ts
  web/src/themes/Grey.ts
  web/src/themes/Light.ts
  web/src/themes/index.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoadingPage/LoadingPage.tsx
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/IconWithContext.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

fix(configuration): cannot disable remember me anymore
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/validator/session.go
Due: backend

test: fix
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

docs(oidc): add subject storage to storage beta
  docs/configuration/identity-providers/oidc.md
  docs/roadmap/oidc.md
Due: none

fix(configuration): cannot disable remember me (#2985)
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

feat(configuration): allow rfc4918 http verbs in acl
  api/openapi.yml
  internal/configuration/validator/access_control.go
  internal/configuration/validator/const.go
Due: backend

docs(oidc): add subject storage to storage beta (#2987)
  docs/configuration/identity-providers/oidc.md
  docs/roadmap/oidc.md
Due: none

build(deps): update dependency i18next to v21.6.14
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency axios to v0.26.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency qrcode.react to v2 (#2990)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

release: v4.34.4
  web/package.json
Due: frontend

release: v4.34.4 (#2991)
  web/package.json
Due: frontend

build(deps): update dependency @types/react to v17.0.40
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Merge remote-tracking branch 'origin/master' into feat-acl-domain-regex
  internal/model/oidc.go
  internal/oidc/store.go
Due: backend

fix: add console logging
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
Due: frontend

build(deps): update module github.com/spf13/cobra to v1.4.0
  go.mod
  go.sum
Due: none

fix: go.sum
  go.sum
Due: none

build(deps): update module github.com/ory/herodot to v0.9.13
  go.mod
  go.sum
Due: none

fix: themes
  web/src/themes/Dark.ts
  web/src/themes/Grey.ts
  web/src/themes/Light.ts
  web/src/themes/index.ts
  web/src/themes/theme.d.ts
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
