Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

.codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      backend:
        flags:
          - backend
      frontend:
        flags:
          - frontend
      integration:
        flags:
          - integration

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"
  integration:
    paths:
      - "internal/suites/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

fix(web): use theme.spacing for margins
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: frontend

build(deps): update swagger-ui to v3.45.0
  api/index.html
  cmd/authelia-scripts/cmd_build.go
Due: none

fix(notification): don't remove file based notifier on start up
  internal/notification/file_notifier.go
Due: backend

fix: fix early exit in setup.sh script
  compose/local/setup.sh
Due: none

build(deps): update swagger-ui to v3.45.0 (#1861)
  api/index.html
  cmd/authelia-scripts/cmd_build.go
Due: none

release: v4.27.3
  .buildkite/RELEASE.md
Due: none

release: v4.27.3 (#1866)
  .buildkite/RELEASE.md
Due: none

ci: add yamllint
  .reviewdog.yml
Due: none

ci: .reviewdog.yml to yamllint
  .reviewdog.yml
Due: none

ci: yamllint parsable
  .reviewdog.yml
Due: none

Make sure oidc-client docker image is latest in oidc suite.
  internal/suites/docker.go
  internal/suites/suite_oidc.go
Due: integration

fix: fix arguments for running oidc-tester-app.
  internal/suites/example/compose/oidc-client/entrypoint.sh
Due: integration

ci: publish docker images to ghcr (#1860)
  .buildkite/hooks/post-command
  .buildkite/steps/ghartifacts.sh
  .github/probot.js
  .golangci.yml
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/const.go
  cmd/authelia-scripts/docker.go
Due: none

build(deps): update module github.com/valyala/fasthttp to v1.23.0
  go.mod
  go.sum
Due: none

build(deps): update module github.com/workiva/go-datastructures to v1.0.53
  go.mod
  go.sum
Due: none

build(deps): update traefik docker tag to v1.7.29
  internal/suites/example/compose/traefik/docker-compose.yml
Due: integration

fix: remove health checks on compose examples
  compose/lite/docker-compose.yml
  compose/local/docker-compose.yml
Due: none

deps: adjust whoami dep
  compose/lite/docker-compose.yml
  compose/local/docker-compose.yml
  docs/deployment/deployment-lite.md
Due: none

release: v4.27.4
  .buildkite/RELEASE.md
Due: none

fix: remove health checks on compose examples (#1871)
  compose/lite/docker-compose.yml
  compose/local/docker-compose.yml
  docs/deployment/deployment-lite.md
Due: none

release: v4.27.4 (#1872)
  .buildkite/RELEASE.md
Due: none

Apply suggestions from code review
  compose/local/setup.sh
Due: none

fix: exit setup.sh if missing pre-requisites (#1863)
  compose/local/setup.sh
Due: none

fix(notification): don't remove file based notifier on start up (#1862)
  internal/notification/file_notifier.go
Due: backend

build(deps): update haproxy docker tag to v2.3.9
  internal/suites/example/compose/haproxy/Dockerfile
Due: integration

build(deps): update alpine docker tag to v3.13.4
  Dockerfile
  Dockerfile.coverage
  internal/suites/example/compose/kind/Dockerfile
  internal/suites/example/compose/samba/Dockerfile
Due: integration

build(deps): update arm32v7/alpine docker tag to v3.13.4
  Dockerfile.arm32v7
Due: none

build(deps): update arm64v8/alpine docker tag to v3.13.4
  Dockerfile.arm64v8
Due: none

build(deps): update module github.com/go-sql-driver/mysql to v1.6.0
  go.mod
  go.sum
Due: none

build(deps): update dependency classnames to v2.3.0
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update module golang.org/x/text to v0.3.6
  go.mod
  go.sum
Due: none

Update authelia.service
  authelia.service
Due: none

build(deps): update dependency classnames to v2.3.1
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update golang docker tag to v1.16.3
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
Due: none

feat(web): add oidc consent loading view
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: frontend

fix: linting issues
  internal/suites/docker.go
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: frontend, integration

build(deps): update dependency @types/chai to v4.2.16
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update module github.com/fasthttp/router to v1.3.11
  go.mod
  go.sum
Due: none

build(deps): update module github.com/fasthttp/session/v2 to v2.3.1
  go.mod
  go.sum
Due: none

ci(buildkite): log ghcr id on tag removal
  .buildkite/hooks/post-command
Due: none
