Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

docs: refactor access control configuration sections (#1945)
  docs/configuration/access-control.md
Due: none

refactor: key validator
  internal/commands/root.go
  internal/configuration/provider.go
  internal/configuration/validator/const.go
  internal/configuration/validator/keys.go
Due: backend

fix: missing ignore
  internal/commands/root.go
  internal/configuration/const.go
  internal/configuration/koanf_callbacks.go
  internal/configuration/provider.go
Due: backend

build(deps): update traefik docker tag to v2.4.9
  internal/suites/example/compose/traefik2/docker-compose.yml
Due: none

test: add tests
  internal/configuration/const.go
  internal/configuration/koanf_provider_secerts_test.go
  internal/configuration/provider_test.go
Due: backend

refactor: double underscore env
  docs/configuration/index.md
  docs/configuration/secrets.md
  examples/compose/lite/authelia/configuration.yml
  examples/compose/local/authelia/configuration.yml
  internal/commands/root.go
  internal/commands/validate.go
  internal/configuration/const.go
  internal/configuration/koanf_callbacks.go
  internal/configuration/koanf_provider_secerts_test.go
  internal/configuration/koanf_provider_secrets.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
Due: backend

fix: typo
  internal/suites/LDAP/configuration.yml
Due: none

fix: path/filepath instead of path and cyclo
  internal/commands/certificates.go
  internal/commands/completion.go
  internal/commands/rsa.go
  internal/suites/LDAP/configuration.yml
  internal/utils/certificates.go
Due: backend

test: fix test cases
  internal/commands/certificates.go
  internal/suites/suite_cli_test.go
Due: backend

build(deps): bump github.com/knadh/koanf to 1.1.1
  go.mod
  go.sum
Due: none

feat: build and distribute .deb packages
  .buildkite/annotations/artifacts
  .buildkite/deployment.sh
  .buildkite/hooks/pre-artifact
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/aurhelper.sh
  .buildkite/steps/buildimages.sh
  .buildkite/steps/debpackages.sh
  .buildkite/steps/e2etests.sh
  .buildkite/steps/ghartifacts.sh
  README.md
Due: none

fix: pkgver reference in debpackages.sh
  .buildkite/steps/aurhelper.sh
  .buildkite/steps/debpackages.sh
Due: none

refactor: split deb packaging jobs and quote variables
  .buildkite/deployment.sh
  .buildkite/hooks/post-checkout
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-artifact
  .buildkite/hooks/pre-command
  .buildkite/hooks/pre-exit
  .buildkite/pipeline.sh
  .buildkite/steps/aurhelper.sh
  .buildkite/steps/debhelper.sh
  .buildkite/steps/debpackages.sh
  .buildkite/steps/ghartifacts.sh
Due: none

fix: pipeline upload for debpackages
  .buildkite/pipeline.sh
Due: none

fix: depends_on key for debpackages
  .buildkite/steps/debpackages.sh
Due: none

fix: add depends_on: ~ for debpackages step
  .buildkite/pipeline.sh
Due: none

fix: pre-artifact hook for debpackages
  .buildkite/hooks/pre-artifact
Due: none

fix: add .deb suffix in pre-artifact hook
  .buildkite/hooks/pre-artifact
Due: none

fix: variable reference in debhelper.sh
  .buildkite/steps/debhelper.sh
Due: none

refactor: silence wget output in debhelper.sh
  .buildkite/steps/debhelper.sh
Due: none

refactor: make build concurrency gate only depend_on docker builds
  .buildkite/pipeline.sh
Due: none

refactor: make build concurrency gate also depend_on coverage build
  .buildkite/pipeline.sh
Due: none

refactor: drop qemu binary requirement
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  cmd/authelia-scripts/cmd_docker.go
Due: none

refactor: drop qemu binary requirement (#2116)
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  cmd/authelia-scripts/cmd_docker.go
Due: none

build(deps): update dependency react-otp-input to v2.4.0
  web/package.json
  web/yarn.lock
Due: frontend

refactor: remove dependencies for build concurrency gate
  .buildkite/pipeline.sh
Due: none

refactor: code review
  config.template.yml
  docs/configuration/identity-providers/oidc.md
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/handlers/handler_oidc_authorize.go
  internal/handlers/handler_oidc_jwks.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/hasher.go
  internal/oidc/keys.go
  internal/oidc/provider.go
  internal/oidc/store.go
  internal/oidc/types.go
Due: backend

refactor: simplification
  internal/commands/root.go
  internal/commands/validate.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
Due: backend

refactor: cra build path
  .buildkite/pipeline.sh
  cmd/authelia-scripts/cmd_build.go
  cmd/authelia-scripts/cmd_ci.go
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/main.go
  web/.env.production
Due: frontend

fix: build output directory in coverage dockerfile
  Dockerfile.coverage
Due: none

test: fix changed default
  internal/configuration/validator/identity_providers_test.go
Due: backend

refactor: sane defaults for refresh token
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

build(deps): update swagger-ui to v3.51.0
  cmd/authelia-scripts/cmd_build.go
Due: none

build(deps): update swagger-ui to v3.51.0 (#2118)
  cmd/authelia-scripts/cmd_build.go
Due: none

refactor: 90m instead of 150m
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

docs: add docs about token lifespans
  docs/configuration/identity-providers/oidc.md
Due: none

refactor: config cobra args, misc other changes
  internal/commands/build.go
  internal/commands/certificates.go
  internal/commands/completion.go
  internal/commands/configuration.go
  internal/commands/const.go
  internal/commands/root.go
  internal/commands/rsa.go
  internal/server/server.go
Due: backend

refactor: change listening log message
  internal/server/server.go
  internal/suites/environment.go
Due: backend

refactor: cra build path (#2117)
  .buildkite/pipeline.sh
  Dockerfile.coverage
  cmd/authelia-scripts/cmd_build.go
  cmd/authelia-scripts/cmd_ci.go
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/main.go
  web/.env.production
Due: frontend
