Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(storage): typo in oidc update query (#3535)
  internal/storage/sql_provider_queries.go
Due: backend

docs: update ldap docs
  config.template.yml
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/reference/guides/ldap.md
  internal/configuration/config.template.yml
Due: backend

feat(authentication): unauthenticated ldap bind (#3291)
  config.template.yml
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/reference/guides/ldap.md
  internal/authentication/ldap_client_mock.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/types.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/const.go
Due: backend

build(deps): bump
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(model): potential panic
  internal/model/oidc.go
Due: backend

refactor: add logging
  internal/handlers/handler_oidc_token.go
Due: backend

fix(model): potential panic (#3538)
  internal/handlers/handler_oidc_token.go
  internal/model/oidc.go
Due: backend

feat(storage): add unix socket support for mysql provider
  internal/configuration/validator/const.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/storage/sql_provider_backend_mysql.go
Due: backend

i18n: update translation for portal.json (Chinese Simplified)
  internal/server/locales/zh-CN/portal.json
Due: backend

i18n: update translation for portal.json (Dutch)
  internal/server/locales/nl-NL/portal.json
Due: backend

refactor(suites): rename test and move into standalone suite
  internal/suites/scenario_one_factor_test.go
  internal/suites/scenario_redirection_check_test.go
  internal/suites/suite_standalone_test.go
Due: none

refactor(suites): utilise must methods and add commentary
  internal/suites/suite_standalone_test.go
Due: none

refactor(web): reload state on visibility changes instead of timer
  web/src/hooks/PageVisibility.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

refactor(web): add timer back for integration test in headless mode
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

feat(web): auto-redirect on appropriate authentication state changes (#3187)
  internal/suites/suite_standalone.go
  internal/suites/suite_standalone_test.go
  web/src/hooks/PageVisibility.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

Remove full bundle
  README.md
Due: none

docs: add branding reference guide
  docs/content/en/reference/guides/branding.md
  docs/static/images/branding/logo.png
  docs/static/images/branding/logo.psd
  docs/static/images/branding/logo.svg
  docs/static/images/branding/title.png
  docs/static/images/branding/title.psd
  docs/static/images/branding/title.svg
Due: none

fix: dark colors
  web/src/themes/Dark.ts
Due: frontend

docs: add branding reference guide (#3549)
  docs/content/en/reference/guides/branding.md
  docs/static/images/branding/logo.png
  docs/static/images/branding/logo.psd
  docs/static/images/branding/logo.svg
  docs/static/images/branding/title.png
  docs/static/images/branding/title.psd
  docs/static/images/branding/title.svg
Due: none

fix: spacing
  web/src/layouts/LoginLayout.tsx
  web/src/themes/Dark.ts
  web/src/themes/Grey.ts
  web/src/themes/Light.ts
Due: frontend

revert: fix: spacing
  web/src/layouts/LoginLayout.tsx
  web/src/themes/Dark.ts
  web/src/themes/Grey.ts
  web/src/themes/Light.ts
  web/src/themes/index.ts
Due: frontend

docs: adjust branding usage
  docs/content/en/reference/guides/branding.md
Due: none

docs(deps): sync
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs(deps): sync (#3551)
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: adjust branding usage (#3550)
  docs/content/en/reference/guides/branding.md
Due: none

ci: add issue template generator
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/misc.md
  cmd/authelia-gen/cmd_code_keys.go
  cmd/authelia-gen/cmd_docs.go
  cmd/authelia-gen/cmd_github.go
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/main.go
  cmd/authelia-gen/templates.go
  cmd/authelia-gen/templates/dot_commitlintrc.js.tmpl
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/templates/github_issue_template_feature.yml.tmpl
  cmd/authelia-gen/templates/internal_configuration_schema_keys.go.tmpl
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  cmd/authelia-gen/types.go
  docs/content/en/reference/guides/locales.md
  docs/layouts/shortcodes/table-i18n-locales.html
Due: none

fix(authentication): poorly formatted log message
  internal/authentication/ldap_user_provider_startup.go
Due: backend

build(deps): update esbuild
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update mui monorepo to v5.8.4 (major) (#3215)
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.tsx
  web/src/components/AppStoreBadges.tsx
  web/src/components/ColoredSnackbarContent.test.tsx
  web/src/components/ColoredSnackbarContent.tsx
  web/src/components/FixedTextField.test.tsx
  web/src/components/FixedTextField.tsx
  web/src/components/LinearProgressBar.test.tsx
  web/src/components/LinearProgressBar.tsx
  web/src/components/NotificationBar.tsx
  web/src/components/PasswordMeter.tsx
  web/src/components/TypographyWithTootip.tsx
  web/src/hooks/NotificationsContext.ts
  web/src/index.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/models/Notifications.ts
  web/src/themes/Dark.ts
  web/src/themes/Grey.ts
  web/src/themes/Light.ts
  web/src/themes/index.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/IconWithContext.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

fix(authentication): poorly formatted log message (#3563)
  internal/authentication/ldap_user_provider_startup.go
Due: backend

refactor: funcs
  internal/configuration/koanf_util.go
  internal/configuration/provider.go
  internal/configuration/template.go
Due: backend

docs: improve secrets documentation
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/configuration/miscellaneous/introduction.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/second-factor/duo.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/content/en/integration/deployment/docker.md
Due: none

docs: fix missing secret refactoring
  docs/content/en/configuration/storage/introduction.md
Due: none

docs: improve secrets documentation (#3565)
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/configuration/miscellaneous/introduction.md
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/configuration/second-factor/duo.md
  docs/content/en/configuration/session/introduction.md
  docs/content/en/configuration/session/redis.md
  docs/content/en/configuration/storage/introduction.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/configuration/storage/postgres.md
  docs/content/en/integration/deployment/docker.md
Due: none

docs: update caddy example
  docs/content/en/integration/proxies/caddy.md
Due: none

docs: update caddy example (#3566)
  docs/content/en/integration/proxies/caddy.md
Due: none

docs: fix csp
  docs/assets/js/clipboard.js
  docs/layouts/index.headers
Due: none

docs: fix clipboard
  docs/assets/js/clipboard.js
Due: none

docs: adjust node build version
  docs/netlify.toml
  docs/package.json
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
