Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

* check for errors after identity_verification
  go.sum
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/templates/html_email.go
  internal/templates/plaintext_email.go
Due: backend

* fix nil ptr * go mod tidy * remove needless checks
  go.sum
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
Due: backend

* use multipart/atlernative instead
  internal/notification/smtp_notifier.go
  internal/utils/const.go
Due: backend

Add note to Kubernetes page about potential OOM
  docs/deployment/deployment-kubernetes.md
Due: none

* add rfc5322 compliant date header
  internal/notification/const.go
  internal/notification/smtp_notifier.go
Due: backend

Update docs/deployment/deployment-kubernetes.md
  docs/deployment/deployment-kubernetes.md
Due: none

[DOCS] Add FAQ for Kubernetes deployment (#1252)
  docs/deployment/deployment-kubernetes.md
Due: none

* fix linting issues
  internal/notification/smtp_notifier.go
  internal/utils/const.go
Due: backend

Fixed minor typo of "Fowarded" to "Forwarded"
  internal/handlers/errors.go
  internal/handlers/handler_register_u2f_step1_test.go
  internal/handlers/handler_sign_u2f_step1_test.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/middlewares/errors.go
  internal/middlewares/identity_verification_test.go
Due: backend

[MISC] Fixed typo in X-Forwarded headers (#1280)
  internal/handlers/errors.go
  internal/handlers/handler_register_u2f_step1_test.go
  internal/handlers/handler_sign_u2f_step1_test.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/middlewares/errors.go
  internal/middlewares/identity_verification_test.go
Due: backend

[FEATURE] Plain Text Email Notifications (#1238)
  config.template.yml
  docs/configuration/notifier/filesystem.md
  docs/configuration/notifier/smtp.md
  go.sum
  internal/configuration/schema/notifier.go
  internal/configuration/validator/const.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/mocks/mock_notifier.go
  internal/notification/const.go
  internal/notification/file_notifier.go
  internal/notification/notifier.go
  internal/notification/smtp_notifier.go
  internal/templates/html_email.go
  internal/templates/plaintext_email.go
  internal/utils/const.go
Due: backend

Updated secrets.md with a functional DaemonSet
  docs/configuration/secrets.md
Due: none

[MISC] Address errors from linter updates
  cmd/authelia/main.go
  internal/authentication/ldap_user_provider.go
  internal/commands/certificates.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/keys_test.go
  internal/handlers/handler_firstfactor.go
  internal/storage/errors.go
  internal/utils/strings.go
Due: backend

[MISC] Address errors from linter updates (#1308)
  cmd/authelia/main.go
  internal/authentication/ldap_user_provider.go
  internal/commands/certificates.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/keys_test.go
  internal/handlers/handler_firstfactor.go
  internal/storage/errors.go
  internal/utils/strings.go
Due: backend

[CI] Fail linting step on errors
  .buildkite/pipeline.sh
Due: none

[CI] Fail linting step on errors (#1307)
  .buildkite/pipeline.sh
Due: none

[FEATURE] Support updated haproxy-auth-request This version removes the dependency of lua-socket which seemed to result in many unsupported and broken BSD/Pfsense deployments.
  docs/deployment/supported-proxies/haproxy.md
  internal/suites/example/compose/haproxy/Dockerfile
  internal/suites/example/compose/haproxy/auth-request.lua
  internal/suites/example/compose/haproxy/docker-compose.yml
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/haproxy/http.lua
Due: integration

Fix docs indentation
  docs/deployment/supported-proxies/haproxy.md
Due: none

Add haproxy-lua-http to TLS enabled configuration
  docs/deployment/supported-proxies/haproxy.md
Due: none

[FEATURE] TOTP using SHA512 Algorithm
  internal/handlers/handler_register_totp.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_totp_test.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/handlers/totp.go
  internal/handlers/totp_mock.go
  internal/storage/const.go
  internal/storage/mysql_provider.go
  internal/storage/postgres_provider.go
  internal/storage/provider.go
  internal/storage/provider_mock.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_test.go
  internal/storage/sqlite_provider.go
  internal/storage/sqlmock_provider.go
  internal/storage/upgrades.go
Due: backend

* temp debug logging
  internal/handlers/handler_sign_totp.go
Due: backend

* fix suites (they still use sha1) * remove temp logging
  internal/handlers/handler_sign_totp.go
  internal/suites/action_totp.go
Due: backend, integration

[FEATURE] Support updated haproxy-auth-request (#1310)
  docs/deployment/supported-proxies/haproxy.md
  internal/suites/example/compose/haproxy/Dockerfile
  internal/suites/example/compose/haproxy/auth-request.lua
  internal/suites/example/compose/haproxy/docker-compose.yml
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/haproxy/http.lua
Due: integration

[CI] Update QEMU to v5.1.0-2
  cmd/authelia-scripts/cmd_docker.go
Due: none

Fix linter errors from golangci-lint update
  cmd/authelia-scripts/main.go
  internal/authentication/file_user_provider_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/secrets.go
  internal/handlers/handler_verify_test.go
  internal/notification/smtp_notifier.go
  internal/storage/sql_provider_test.go
Due: backend

[CI] Update QEMU to v5.1.0-2 (#1321)
  cmd/authelia-scripts/cmd_docker.go
  cmd/authelia-scripts/main.go
  internal/authentication/file_user_provider_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/secrets.go
  internal/handlers/handler_verify_test.go
  internal/notification/smtp_notifier.go
  internal/storage/sql_provider_test.go
Due: backend

[DOCS] Fix default layout
  docs/_layouts/default.html
Due: none

[DOCS] Fix default layout (#1329)
  docs/_layouts/default.html
Due: none

add traefik example docs for redirect with X-ORIGINAL-URL http header
  docs/deployment/supported-proxies/traefik2.x.md
Due: none

Remove unneeded line
  docs/deployment/supported-proxies/traefik2.x.md
Due: none

[RELEASE] v4.22.0
  .buildkite/RELEASE.md
Due: none

[RELEASE] v4.22.0 (#1266)
  .buildkite/RELEASE.md
Due: none

[BUGFIX] Fix HAProxy redirects
  docs/deployment/supported-proxies/haproxy.md
  internal/suites/example/compose/haproxy/haproxy.cfg
Due: integration

[BUGFIX] Fix HAProxy redirects (#1333)
  docs/deployment/supported-proxies/haproxy.md
  internal/suites/example/compose/haproxy/haproxy.cfg
Due: integration

[DOCS] Clean HAProxy examples
  docs/deployment/supported-proxies/haproxy.md
  internal/suites/example/compose/haproxy/haproxy.cfg
Due: integration

[DOCS] Clean HAProxy examples (#1338)
  docs/deployment/supported-proxies/haproxy.md
  internal/suites/example/compose/haproxy/haproxy.cfg
Due: integration

changed TCP socket for API endpoints
  docs/configuration/secrets.md
Due: none

Updated secrets.md with a functional DaemonSet (#1287)
  docs/configuration/secrets.md
Due: none

Update measures.md
  docs/security/measures.md
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/
  frontend: any of: web/
  integration: any of: internal/suites/
