Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: debug oidc claims hydration
  docs/content/reference/cli/authelia/authelia_debug_expression.md
  docs/content/reference/cli/authelia/authelia_debug_oidc.md
  docs/content/reference/cli/authelia/authelia_debug_oidc_claims.md
  internal/commands/const.go
  internal/commands/debug.go
  internal/oidc/claims.go
  internal/oidc/claims_test.go
  internal/oidc/client.go
  internal/oidc/types.go
Due: backend

refactor: debug oidc claims hydration (#9470)
  docs/content/reference/cli/authelia/authelia_debug_expression.md
  docs/content/reference/cli/authelia/authelia_debug_oidc.md
  docs/content/reference/cli/authelia/authelia_debug_oidc_claims.md
  internal/commands/const.go
  internal/commands/debug.go
  internal/oidc/claims.go
  internal/oidc/claims_test.go
  internal/oidc/client.go
  internal/oidc/types.go
Due: backend

release: v4.39.2
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/integration/openid-connect/adventure-log/index.md
  docs/content/integration/openid-connect/apache-guacamole/index.md
  docs/content/integration/openid-connect/beszel/index.md
  docs/content/integration/openid-connect/chronograf/index.md
  docs/content/integration/openid-connect/drupal/index.md
  docs/content/integration/openid-connect/gatus/index.md
  docs/content/integration/openid-connect/glitchtip/index.md
  docs/content/integration/openid-connect/gravitee/index.md
  docs/content/integration/openid-connect/home-assistant/index.md
  docs/content/integration/openid-connect/mailcow/index.md
  docs/content/integration/openid-connect/meshcentral/index.md
  docs/content/integration/openid-connect/miniflux/index.md
  docs/content/integration/openid-connect/minio/index.md
  docs/content/integration/openid-connect/openproject/index.md
  docs/content/integration/openid-connect/opkssh/index.md
  docs/content/integration/openid-connect/pangolin/index.md
  docs/content/integration/openid-connect/plesk/index.md
  docs/content/integration/openid-connect/rustdesk-server-pro/index.md
  docs/content/integration/openid-connect/semaphore/index.md
  docs/content/integration/openid-connect/sftpgo/index.md
  docs/content/integration/openid-connect/stalwart/index.md
  docs/content/integration/openid-connect/synapse/index.md
  docs/content/integration/openid-connect/tandoor/index.md
  docs/content/integration/openid-connect/xen-orchestra/index.md
  docs/content/integration/openid-connect/youtrack/index.md
  docs/content/reference/cli/authelia/authelia_debug_expression.md
  docs/content/reference/cli/authelia/authelia_debug_oidc.md
  docs/content/reference/cli/authelia/authelia_debug_oidc_claims.md
  docs/data/misc.json
  internal/commands/debug.go
  web/package.json
Due: backend, frontend

release: v4.39.2 (#9466)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/integration/openid-connect/adventure-log/index.md
  docs/content/integration/openid-connect/apache-guacamole/index.md
  docs/content/integration/openid-connect/beszel/index.md
  docs/content/integration/openid-connect/chronograf/index.md
  docs/content/integration/openid-connect/drupal/index.md
  docs/content/integration/openid-connect/gatus/index.md
  docs/content/integration/openid-connect/glitchtip/index.md
  docs/content/integration/openid-connect/gravitee/index.md
  docs/content/integration/openid-connect/home-assistant/index.md
  docs/content/integration/openid-connect/mailcow/index.md
  docs/content/integration/openid-connect/meshcentral/index.md
  docs/content/integration/openid-connect/miniflux/index.md
  docs/content/integration/openid-connect/minio/index.md
  docs/content/integration/openid-connect/openproject/index.md
  docs/content/integration/openid-connect/opkssh/index.md
  docs/content/integration/openid-connect/pangolin/index.md
  docs/content/integration/openid-connect/plesk/index.md
  docs/content/integration/openid-connect/rustdesk-server-pro/index.md
  docs/content/integration/openid-connect/semaphore/index.md
  docs/content/integration/openid-connect/sftpgo/index.md
  docs/content/integration/openid-connect/stalwart/index.md
  docs/content/integration/openid-connect/synapse/index.md
  docs/content/integration/openid-connect/tandoor/index.md
  docs/content/integration/openid-connect/xen-orchestra/index.md
  docs/content/integration/openid-connect/youtrack/index.md
  docs/content/reference/cli/authelia/authelia_debug_expression.md
  docs/content/reference/cli/authelia/authelia_debug_oidc.md
  docs/content/reference/cli/authelia/authelia_debug_oidc_claims.md
  docs/data/misc.json
  internal/commands/debug.go
  web/package.json
Due: backend, frontend

feat: add device info to new ip email
  examples/templates/notifications/no-preview/NewLogin.html
  go.mod
  go.sum
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_password.go
  internal/mocks/storage.go
  internal/storage/migrations/mysql/V0023.EmailOnNewIP.up.sql
  internal/storage/migrations/postgres/V0023.EmailOnNewIP.up.sql
  internal/storage/migrations/sqlite/V0023.EmailOnNewIP.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/templates/embed/notification/NewLogin.html
  internal/templates/embed/notification/NewLogin.txt
  internal/templates/src/emails/NewLogin.tsx
  internal/templates/src/index.tsx
  internal/templates/types.go
  internal/utils/user_agent.go
  internal/utils/user_agent_test.go
Due: backend

docs: more contrib updates
  docs/content/contributing/development/build-and-test.md
  docs/content/contributing/development/environment.md
  docs/content/contributing/development/integration-suites.md
Due: none

docs: more contrib updates (#9471)
  docs/content/contributing/development/build-and-test.md
  docs/content/contributing/development/environment.md
  docs/content/contributing/development/integration-suites.md
Due: none

docs(blog): add technical article about oidc
  docs/content/blog/authelia-traefik-setup-guide/index.md
  docs/content/blog/pre-release-notes-4.37/index.md
  docs/content/blog/release-notes-4.38/index.md
  docs/content/blog/release-notes-4.39/index.md
  docs/content/blog/say-hello-to-the-new-website/index.md
  docs/content/blog/technical-oidc-nuances/index.md
  docs/layouts/partials/prefooter/blog/en.html
Due: none

docs(blog): add technical article about oidc
  docs/content/blog/technical-oidc-nuances/index.md
Due: none

docs(blog): add technical article about oidc (#9349)
  docs/content/blog/authelia-traefik-setup-guide/index.md
  docs/content/blog/pre-release-notes-4.37/index.md
  docs/content/blog/release-notes-4.38/index.md
  docs/content/blog/release-notes-4.39/index.md
  docs/content/blog/say-hello-to-the-new-website/index.md
  docs/content/blog/technical-oidc-nuances/index.md
  docs/layouts/partials/prefooter/blog/en.html
Due: none

feat(handlers): custom response headers
  internal/authentication/types.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_common.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/middlewares/authelia_context.go
Due: backend

fix: set headers properly
  internal/configuration/schema/const.go
  internal/configuration/schema/server.go
  internal/configuration/validator/server.go
  internal/handlers/const.go
  internal/handlers/handler_authz_authn.go
  internal/oidc/const_test.go
Due: backend

docs: adjust proxy examples
  docs/content/integration/get-started/bundles.md
  docs/content/integration/get-started/deployment.md
  docs/content/integration/get-started/introduction.md
  docs/content/integration/get-started/proxy.md
  docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/nginx.md
  docs/content/integration/proxies/swag.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  examples/compose/modern/docker-compose.yml
Due: none

temp
  docs/content/integration/get-started/configuration.md
  docs/content/integration/get-started/deployment.md
  docs/content/integration/get-started/introduction-old.md
  docs/content/integration/get-started/introduction.md
  docs/content/integration/get-started/proxy.md
Due: none

docs: ongoing adjustments
  docs/content/configuration/methods/files.md
  docs/content/configuration/prologue/introduction.md
  docs/content/integration/deployment/bare-metal.md
  docs/content/integration/deployment/bundles.md
  docs/content/integration/deployment/introduction.md
  docs/content/integration/deployment/kubernetes.md
  docs/content/integration/docker/_index.md
  docs/content/integration/docker/bundles.md
  docs/content/integration/docker/introduction.md
  docs/content/integration/get-started/introduction.md
  docs/content/integration/kubernetes/chart.md
  docs/content/integration/kubernetes/introduction.md
  docs/content/integration/kubernetes/istio.md
  docs/content/integration/kubernetes/nginx-ingress.md
  docs/content/integration/kubernetes/secrets.md
  docs/content/integration/kubernetes/traefik-ingress.md
  docs/content/integration/openid-connect/frequently-asked-questions.md
  docs/content/integration/proxies/_index.md
  docs/content/integration/proxies/caddy.md
  docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/forwarded-headers/index.md
  docs/content/integration/proxies/haproxy.md
  docs/content/integration/proxies/introduction.md
  docs/content/integration/proxies/nginx-proxy-manager/index.md
  docs/content/integration/proxies/nginx.md
  docs/content/integration/proxies/skipper.md
  docs/content/integration/proxies/support.md
  docs/content/integration/proxies/swag.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  docs/content/integration/trusted-header-sso/_index.md
  docs/content/integration/trusted-header-sso/frequently-asked-questions.md
  docs/content/integration/trusted-header-sso/introduction.md
  docs/content/integration/trusted-header-sso/jira/index.md
  docs/content/integration/trusted-header-sso/organizr/index.md
  docs/content/integration/trusted-header-sso/paperless/index.md
  docs/content/integration/trusted-header-sso/seafile/index.md
  docs/content/reference/guides/generating-secure-values.md
  docs/content/reference/guides/passwords.md
Due: none

docs: add komodo integration
  docs/content/integration/openid-connect/komodo/index.md
Due: none

docs: fix ai review suggestions
  docs/content/integration/openid-connect/komodo/index.md
Due: none

docs: add komodo integration (#9474)
  docs/content/integration/openid-connect/komodo/index.md
Due: none

docs: fix karakeep sitevar
  docs/content/integration/openid-connect/karakeep/index.md
Due: none

docs: fix karakeep sitevar (#9477)
  docs/content/integration/openid-connect/karakeep/index.md
Due: none

fix(oidc): jwt strategy not configured
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

fix(oidc): rfc9068 jwt strategy not configured (#9479)
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

fix(web): no redirection to completion view
  go.mod
  go.sum
  internal/configuration/validator/identity_providers.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/errors.go
  web/src/constants/SearchParams.ts
  web/src/layouts/LoginLayout.tsx
  web/src/views/ConsentPortal/CompletionView.tsx
Due: backend, frontend

fix(web): no redirection to completion view (#9480)
  go.mod
  go.sum
  internal/configuration/validator/identity_providers.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/errors.go
  web/src/constants/SearchParams.ts
  web/src/layouts/LoginLayout.tsx
  web/src/views/ConsentPortal/CompletionView.tsx
Due: backend, frontend

refactor(handlers): token endpoint log client metadata
  internal/handlers/handler_oauth2_token.go
Due: backend

refactor(handlers): token endpoint log client metadata (#9481)
  internal/handlers/handler_oauth2_token.go
Due: backend

fix(web): fetch webauthn when disabled
  internal/server/locales/en/settings.json
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsDisabledPanel.tsx
Due: backend, frontend

fix(web): fetch webauthn when disabled (#9482)
  internal/server/locales/en/settings.json
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsDisabledPanel.tsx
Due: backend, frontend

fix malformed redirect uri
  docs/content/integration/openid-connect/minio/index.md
Due: none

docs: correct redirect uri (#9483)
  docs/content/integration/openid-connect/minio/index.md
Due: none

release: v4.39.3
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/blog/technical-oidc-nuances/index.md
  docs/content/integration/openid-connect/adventure-log/index.md
  docs/content/integration/openid-connect/apache-guacamole/index.md
  docs/content/integration/openid-connect/beszel/index.md
  docs/content/integration/openid-connect/chronograf/index.md
  docs/content/integration/openid-connect/drupal/index.md
  docs/content/integration/openid-connect/gatus/index.md
  docs/content/integration/openid-connect/glitchtip/index.md
  docs/content/integration/openid-connect/gravitee/index.md
  docs/content/integration/openid-connect/home-assistant/index.md
  docs/content/integration/openid-connect/komodo/index.md
  docs/content/integration/openid-connect/mailcow/index.md
  docs/content/integration/openid-connect/meshcentral/index.md
  docs/content/integration/openid-connect/miniflux/index.md
  docs/content/integration/openid-connect/minio/index.md
  docs/content/integration/openid-connect/openid-connect-playground/index.md
  docs/content/integration/openid-connect/openproject/index.md
  docs/content/integration/openid-connect/opkssh/index.md
  docs/content/integration/openid-connect/pangolin/index.md
  docs/content/integration/openid-connect/plesk/index.md
  docs/content/integration/openid-connect/rustdesk-server-pro/index.md
  docs/content/integration/openid-connect/semaphore/index.md
  docs/content/integration/openid-connect/sftpgo/index.md
  docs/content/integration/openid-connect/stalwart/index.md
  docs/content/integration/openid-connect/synapse/index.md
  docs/content/integration/openid-connect/tandoor/index.md
  docs/content/integration/openid-connect/xen-orchestra/index.md
  docs/content/integration/openid-connect/youtrack/index.md
  docs/data/misc.json
  web/package.json
Due: frontend

release: v4.39.3 (#9484)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/blog/technical-oidc-nuances/index.md
  docs/content/integration/openid-connect/adventure-log/index.md
  docs/content/integration/openid-connect/apache-guacamole/index.md
  docs/content/integration/openid-connect/beszel/index.md
  docs/content/integration/openid-connect/chronograf/index.md
  docs/content/integration/openid-connect/drupal/index.md
  docs/content/integration/openid-connect/gatus/index.md
  docs/content/integration/openid-connect/glitchtip/index.md
  docs/content/integration/openid-connect/gravitee/index.md
  docs/content/integration/openid-connect/home-assistant/index.md
  docs/content/integration/openid-connect/komodo/index.md
  docs/content/integration/openid-connect/mailcow/index.md
  docs/content/integration/openid-connect/meshcentral/index.md
  docs/content/integration/openid-connect/miniflux/index.md
  docs/content/integration/openid-connect/minio/index.md
  docs/content/integration/openid-connect/openid-connect-playground/index.md
  docs/content/integration/openid-connect/openproject/index.md
  docs/content/integration/openid-connect/opkssh/index.md
  docs/content/integration/openid-connect/pangolin/index.md
  docs/content/integration/openid-connect/plesk/index.md
  docs/content/integration/openid-connect/rustdesk-server-pro/index.md
  docs/content/integration/openid-connect/semaphore/index.md
  docs/content/integration/openid-connect/sftpgo/index.md
  docs/content/integration/openid-connect/stalwart/index.md
  docs/content/integration/openid-connect/synapse/index.md
  docs/content/integration/openid-connect/tandoor/index.md
  docs/content/integration/openid-connect/xen-orchestra/index.md
  docs/content/integration/openid-connect/youtrack/index.md
  docs/data/misc.json
  web/package.json
Due: frontend

i18n: update translation for settings.json (Romanian)
  internal/server/locales/ro-RO/settings.json
Due: backend

i18n: update translation for settings.json (French)
  internal/server/locales/fr-FR/settings.json
Due: backend

i18n: update translation for settings.json (Spanish)
  internal/server/locales/es-ES/settings.json
Due: backend

i18n: update translation for settings.json (Arabic)
  internal/server/locales/ar-SA/settings.json
Due: backend

i18n: update translation for settings.json (Czech)
  internal/server/locales/cs-CZ/settings.json
Due: backend

i18n: update translation for settings.json (Danish)
  internal/server/locales/da-DK/settings.json
Due: backend

i18n: update translation for settings.json (German)
  internal/server/locales/de-DE/settings.json
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
