Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

Documenting details userinfo_signing_algorithm
  docs/content/en/configuration/identity-providers/open-id-connect.md
Due: none

fix: inverse logic
  internal/templates/provider.go
Due: backend

docs: seafile header sso
  docs/content/en/integration/trusted-header-sso/organizr/index.md
  docs/content/en/integration/trusted-header-sso/seafile/index.md
Due: none

Create index.md
  docs/content/en/integration/openid-connect/komga/index.md
Due: none

Update index.md
  docs/content/en/integration/openid-connect/komga/index.md
Due: none

docs: har reference guide
  docs/content/en/reference/guides/http-archive-file.md
Due: none

docs: seafile header sso (#3888)
  docs/content/en/integration/trusted-header-sso/organizr/index.md
  docs/content/en/integration/trusted-header-sso/seafile/index.md
Due: none

docs: oidc kogma (#3893)
  docs/content/en/integration/openid-connect/komga/index.md
Due: none

docs: oidc grafana env update (#3847)
  docs/content/en/integration/openid-connect/grafana/index.md
Due: none

Update docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/configuration/identity-providers/open-id-connect.md
Due: none

docs: add reference docs for oidc userinfo sig (#3875)
  docs/content/en/configuration/identity-providers/open-id-connect.md
Due: none

docs: misc consistency adjustments
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/openid-connect/komga/index.md
Due: none

docs: misc consistency adjustments
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
Due: none

docs: misc consistency adjustments
  docs/content/en/integration/openid-connect/bookstack/index.md
Due: none

docs: misc consistency adjustments (#3904)
  docs/content/en/configuration/identity-providers/open-id-connect.md
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/bookstack/index.md
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
  docs/content/en/integration/openid-connect/gitlab/index.md
  docs/content/en/integration/openid-connect/grafana/index.md
  docs/content/en/integration/openid-connect/harbor/index.md
  docs/content/en/integration/openid-connect/hashicorp-vault/index.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/nextcloud/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/openid-connect/portainer/index.md
  docs/content/en/integration/openid-connect/proxmox/index.md
  docs/content/en/integration/openid-connect/seafile/index.md
  docs/content/en/integration/openid-connect/synapse/index.md
Due: none

docs: wording
  docs/content/en/reference/guides/http-archive-file.md
Due: none

docs: layout
  docs/content/en/reference/guides/domain-sanitizaiton.md
  docs/content/en/reference/guides/http-archive-file.md
Due: none

docs: har reference guide (#3900)
  docs/content/en/reference/guides/domain-sanitizaiton.md
  docs/content/en/reference/guides/http-archive-file.md
Due: none

docs: update csp template
  docs/content/en/configuration/miscellaneous/server.md
Due: none

docs: update csp template (#3905)
  docs/content/en/configuration/miscellaneous/server.md
Due: none

docs: update get started
  docs/assets/scss/app.scss
  docs/content/en/integration/prologue/get-started.md
  docs/content/en/integration/proxies/support.md
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: update get started (#3907)
  docs/assets/scss/app.scss
  docs/content/en/integration/prologue/get-started.md
  docs/content/en/integration/proxies/support.md
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: update k8s integration
  docs/content/en/integration/kubernetes/nginx-ingress.md
  docs/content/en/integration/kubernetes/traefik-ingress.md
Due: none

docs: update k8s integration (#3908)
  docs/content/en/integration/kubernetes/nginx-ingress.md
  docs/content/en/integration/kubernetes/traefik-ingress.md
Due: none

test: add test
  internal/templates/embed_test.go
  internal/templates/provider.go
  internal/templates/util.go
Due: backend

fix(notification): text emails not encoded properly (#3854)
  .gitattributes
  docs/content/en/reference/guides/notification-templates.md
  examples/templates/notifications/envelope_with_message_id.tmpl
  internal/duo/duo.go
  internal/handlers/handler_reset_password_step2.go
  internal/middlewares/identity_verification.go
  internal/mocks/notifier.go
  internal/notification/const.go
  internal/notification/file_notifier.go
  internal/notification/notifier.go
  internal/notification/smtp_notifier.go
  internal/notification/smtp_util.go
  internal/templates/embed_test.go
  internal/templates/provider.go
  internal/templates/src/notification/Envelope.tmpl
  internal/templates/types.go
  internal/templates/util.go
  internal/utils/io.go
  web/src/assets/images/applestore-badge.svg
  web/src/assets/images/user.svg
Due: backend, frontend

release: v4.36.5
  web/package.json
Due: frontend

release: v4.36.5 (#3912)
  web/package.json
Due: frontend

docs: add offline_access to outline
  docs/content/en/integration/openid-connect/outline/index.md
Due: none

docs: add offline_access to outline (#3914)
  docs/content/en/integration/openid-connect/outline/index.md
Due: none

docs: fix date
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/trusted-header-sso/seafile/index.md
  docs/content/en/reference/guides/domain-sanitizaiton.md
  docs/content/en/reference/guides/http-archive-file.md
Due: none

docs: add missing docs
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_argon2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_bcrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_pbkdf2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_scrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_sha2crypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_validate.md
  docs/content/en/reference/cli/authelia/authelia_crypto_rand.md
Due: none

build(deps): update github.com/go-crypt/crypt
  go.mod
  go.sum
Due: none

refactor: factorize
  docs/content/en/reference/guides/passwords.md
  go.mod
  go.sum
  internal/authentication/file_user_provider.go
  internal/commands/const.go
  internal/commands/crypto_hash.go
Due: backend

fix: lint
  internal/commands/crypto_hash.go
Due: backend
