Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: update portainer oidc guide
  docs/content/integration/openid-connect/portainer/index.md
Due: none

docs: update nextcloud user_oidc guide
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

docs: update versions and links of verified integrations
  docs/content/integration/ldap/introduction.md
  docs/content/integration/openid-connect/grafana/index.md
  docs/content/integration/openid-connect/immich/index.md
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/paperless/index.md
  docs/content/integration/openid-connect/proxmox/index.md
Due: none

docs: fix portainer version
  docs/content/integration/openid-connect/portainer/index.md
Due: none

docs: load config from correct file
  docs/content/blog/authelia-traefik-setup-guide/index.md
Due: none

fix(web): remove unnecessary variable
  web/src/services/LocalStorage.ts
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

feat: add password change to user settings page
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_user_info.go
  internal/handlers/types.go
  internal/mocks/user_provider.go
  internal/model/user_info.go
  internal/server/handlers.go
  internal/session/types.go
  web/src/constants/Routes.ts
  web/src/layouts/SettingsLayout.tsx
  web/src/models/UserInfo.ts
  web/src/services/Api.ts
  web/src/services/ChangePassword.ts
  web/src/services/ResetPassword.ts
  web/src/services/UserInfo.ts
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
  web/src/views/Settings/SettingsRouter.tsx
Due: backend, frontend

fix(web): handle enter key press for session elevation dialog
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

fix(web): properly handle password reuse checks - misc ux changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/session/types.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

test(suites): new suite for account password change
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/action_change_password.go
  internal/suites/action_settings.go
  internal/suites/scenario_change_password_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(web): minor ui changes
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(suites): timing change should fix failing tests
  internal/suites/action_verify.go
Due: none

fix(suites): change password hash to default
  internal/suites/SecuritySettings/users.yml
Due: none

refactor: minor code quality changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/suites/suite_security_settings.go
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix(web): make user settings more responsive
  web/src/layouts/SettingsLayout.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

docs: update roadmap
  docs/content/roadmap/active/dashboard-control-panel-for-users.md
Due: none

fix(web): update unstable grid2 to grid2 for password change
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: frontend

fix: use new email body format for password change
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/util.go
Due: backend

fix: minor improvements for logging and text entry
  internal/authentication/ldap_user_provider.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix: code quality changes, code deduplication
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/server/handlers.go
  internal/suites/scenario_change_password_test.go
  web/src/hooks/CapsLock.ts
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix(tests): fix failing security settings test
  internal/authentication/file_user_provider.go
  internal/suites/scenario_change_password_test.go
Due: backend

feat: allow password change to be disabled
  internal/configuration/schema/authentication.go
  internal/configuration/schema/keys.go
  internal/handlers/handler_configuration.go
  internal/handlers/types.go
  internal/server/handlers.go
  internal/server/template.go
  internal/suites/SecuritySettings/configuration.yml
  web/src/models/Configuration.ts
  web/src/services/Configuration.ts
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

refactor(suites): move tests to existing suites, remove unneeded suite
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/suite_caddy_test.go
  internal/suites/suite_envoy_test.go
  internal/suites/suite_pathprefix_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  internal/suites/suite_standalone_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: frontend

docs(configuration): add documentation for password_change config
  docs/content/configuration/first-factor/introduction.md
  internal/configuration/config.template.yml
Due: backend

i18n(web): fix/add translations for password change dialog
  internal/server/locales/en/settings.json
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix: reference existing errors, add pw change to ldap suite
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/suites/suite_ldap_test.go
Due: backend

fix: config templates should be identical
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

feat(oidc): rfc8628 oauth 2.0 device code grant
  docs/content/integration/openid-connect/introduction.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oauth_authorization_claims.go
  internal/handlers/handler_oauth_device_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_implicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/types.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/oidc/config_test.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/provider.go
  internal/oidc/store.go
  internal/server/handlers.go
  internal/storage/const.go
  internal/storage/migrations/mysql/V0018.OAuth2DeviceCode.down.sql
  internal/storage/migrations/mysql/V0018.OAuth2DeviceCode.up.sql
  internal/storage/migrations/postgres/V0018.OAuth2DeviceCode.down.sql
  internal/storage/migrations/postgres/V0018.OAuth2DeviceCode.up.sql
  internal/storage/migrations/sqlite/V0018.OAuth2DeviceCode.down.sql
  internal/storage/migrations/sqlite/V0018.OAuth2DeviceCode.up.sql
  internal/storage/migrations_test.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
  internal/storage/types.go
  web/src/constants/Routes.ts
  web/src/hooks/OpenIDConnect.ts
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDeviceAuthorizationFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentPortal.tsx
Due: backend, frontend

feat(oidc): rfc7516 jwt encryption
  config.template.yml
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/configuration/prologue/common.md
  docs/content/integration/openid-connect/introduction.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  go.mod
  go.sum
  internal/configuration/config.template.yml
  internal/configuration/provider_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/util.go
  internal/handlers/handler_jwks.go
  internal/handlers/handler_oauth_device_authorization.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_oidc_wellknown.go
  internal/oidc/client.go
  internal/oidc/config.go
  internal/oidc/config_test.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/issuer.go
  internal/oidc/keys.go
  internal/oidc/keys_blackbox_test.go
  internal/oidc/keys_whitebox_test.go
  internal/oidc/provider.go
  internal/oidc/session.go
  internal/oidc/session_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  web/src/services/Claims.ts
Due: backend, frontend

release: v4.38.18
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

docs: update portainer version (#8473)
  docs/content/integration/openid-connect/portainer/index.md
Due: none

build(deps): update @simplewebauthn monorep to v13 (major)
  web/package.json
  web/pnpm-lock.yaml
  web/src/models/WebAuthn.ts
  web/src/services/WebAuthn.ts
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
Due: frontend

refactor: deprecate expand-env
  docs/content/configuration/methods/files.md
  docs/content/policies/versioning.md
  docs/content/reference/cli/authelia/authelia_config_template.md
  docs/data/misc.json
  internal/commands/const.go
  internal/commands/context.go
Due: backend

feat(templates): glob/walk/yaml/date funcs
  docs/content/reference/guides/templating.md
  internal/configuration/provider_test.go
  internal/configuration/test_resources/config_glob.yml
  internal/configuration/test_resources/config_walk.yml
  internal/configuration/test_resources/config_walk/general.yml
  internal/configuration/test_resources/config_walk/server.yml
  internal/templates/funcs.go
  internal/templates/funcs_test.go
  internal/templates/util.go
Due: backend

docs: add websockets example
  docs/content/integration/proxies/nginx.md
Due: none

refactor: deprecate expand-env (#8495)
  docs/content/configuration/methods/files.md
  docs/content/policies/versioning.md
  docs/content/reference/cli/authelia/authelia_config_template.md
  docs/data/misc.json
  internal/commands/const.go
  internal/commands/context.go
Due: backend

docs: add websockets example (#8496)
  docs/content/integration/proxies/nginx.md
Due: none

docs: authelia guide blog post
  docs/content/blog/authelia-traefik-setup-guide/index.md
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
