Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

docs: fix ntp inconsistency (#3686)
  docs/content/en/configuration/miscellaneous/ntp.md
  internal/commands/root.go
Due: backend

test: add some js logging
  web/src/hooks/RedirectionURL.ts
  web/src/services/FirstFactor.ts
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

fix: base path
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
Due: backend

build: fix mods
  go.mod
  go.sum
Due: none

fix: base path
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
Due: backend

docs: prep for doks upgrade
  docs/content/en/contributing/prologue/financial.md
  docs/content/en/contributing/prologue/financial/azure.svg
  docs/content/en/contributing/prologue/financial/balto.svg
  docs/content/en/contributing/prologue/financial/jetbrains.svg
  docs/content/en/contributing/prologue/financial/microsoft.svg
  docs/content/en/reference/guides/branding.md
Due: none

docs: sync
  docs/archetypes/blog.md
  docs/archetypes/docs.md
  docs/assets/images/default-image.png
  docs/assets/js/index.js
  docs/assets/js/to-top.js
  docs/assets/scss/common/_dark.scss
  docs/assets/scss/common/_global.scss
  docs/assets/scss/components/_buttons.scss
  docs/assets/scss/components/_images.scss
  docs/assets/scss/components/_search.scss
  docs/assets/scss/layouts/_header.scss
  docs/assets/scss/layouts/_posts.scss
  docs/config/_default/config.toml
  docs/config/_default/languages.toml
  docs/config/_default/params.toml
  docs/config/postcss.config.js
  docs/content/en/integration/kubernetes/introduction.md
  docs/data/languages.json
  docs/i18n/en.yaml
  docs/layouts/404.html
  docs/layouts/_default/baseof.html
  docs/layouts/_default/list.html
  docs/layouts/_default/terms.html
  docs/layouts/blog/single.html
  docs/layouts/contributing/single.html
  docs/layouts/partials/content/card-image.html
  docs/layouts/partials/content/figure.html
  docs/layouts/partials/content/image.html
  docs/layouts/partials/footer/script-footer.html
  docs/layouts/partials/head/custom-head.html
  docs/layouts/partials/head/favicons.html
  docs/layouts/partials/head/head.html
  docs/layouts/partials/header/header.html
  docs/layouts/partials/main/blog-meta.html
  docs/layouts/partials/sidebar/docs-toc.html
  docs/layouts/rss.xml
  docs/netlify.toml
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: show search everywhere
  docs/config/_default/params.toml
Due: none

docs: update translations
  docs/i18n/en.yaml
Due: none

docs: fix deps
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: fix blog
  docs/layouts/blog/list.html
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: fix blog image alignment
  docs/assets/scss/custom.scss
  docs/layouts/blog/single.html
  docs/layouts/partials/content/figure-blog.html
Due: none

docs: fix i18n
  docs/i18n/en.toml
Due: none

docs: fix i18n
  docs/i18n/en.yaml
Due: none

docs: add argocd oidc integration
  docs/content/en/integration/openid-connect/argocd/index.md
Due: none

docs: add argocd oidc integration (#3691)
  docs/content/en/integration/openid-connect/argocd/index.md
Due: none

docs: fix dates
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
Due: none

docs: fix dates (#3693)
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/content/en/integration/openid-connect/gitea/index.md
Due: none

docs: fix example
  docs/content/en/integration/openid-connect/argocd/index.md
Due: none

docs: fix example (#3694)
  docs/content/en/integration/openid-connect/argocd/index.md
Due: none

fix(commands): acl check panic on decode failure
  docs/content/en/integration/openid-connect/argocd/index.md
  internal/commands/acl.go
Due: backend

docs: misc grammar fix (#3655)
  docs/content/en/configuration/identity-providers/open-id-connect.md
Due: none

docs: misc fixes
  docs/content/en/integration/openid-connect/argocd/index.md
Due: none

fix(commands): acl check panic on decode failure (#3697)
  docs/content/en/integration/openid-connect/argocd/index.md
  internal/commands/acl.go
Due: backend

i18n: update translation for portal.json (French)
  internal/server/locales/fr/portal.json
Due: backend

i18n: update translation for portal.json (Chinese Simplified)
  internal/server/locales/zh-CN/portal.json
Due: backend

Add offline_access scope to Argo CD CLI
  docs/content/en/integration/openid-connect/argocd/index.md
Due: none

docs: add offline_access scope to argocd cli (#3704)
  docs/content/en/integration/openid-connect/argocd/index.md
  docs/layouts/partials/head/seo.html
Due: none

refactor: remove logging
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  web/src/hooks/RedirectionURL.ts
  web/src/services/FirstFactor.ts
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend

docs: update readme formatting
  README.md
Due: none

docs: update readme formatting (#3708)
  README.md
Due: none

docs: adjust og
  docs/layouts/partials/head/opengraph.html
Due: none

refactor: remove mid
  internal/templates/src/notification/Envelope.tmpl
Due: backend

correct link to get-started page
  docs/content/en/integration/kubernetes/introduction.md
Due: none

ci(buildkite): update hardcoded pipeline steps
  .buildkite/pipeline.yml
Due: none

fix: yamllint spacing
  .buildkite/pipeline.yml
Due: none

ci(buildkite): update hardcoded pipeline steps (#3711)
  .buildkite/pipeline.yml
Due: none

docs: correct link to get-started page (#3710)
  docs/content/en/integration/kubernetes/introduction.md
Due: none

test: fix linting issue
  internal/handlers/handler_oidc_consent.go
Due: backend
