Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

test(suites): add 403 forbidden test in 1fa suite (#5624)
  cmd/authelia-scripts/cmd/bootstrap.go
  docs/content/en/integration/proxies/haproxy.md
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/Caddy/configuration.yml
  internal/suites/Docker/configuration.yml
  internal/suites/Envoy/configuration.yml
  internal/suites/HAProxy/configuration.yml
  internal/suites/HighAvailability/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/MariaDB/configuration.yml
  internal/suites/MySQL/configuration.yml
  internal/suites/PathPrefix/configuration.yml
  internal/suites/Postgres/configuration.yml
  internal/suites/Standalone/configuration.yml
  internal/suites/Traefik/configuration.yml
  internal/suites/Traefik2/configuration.yml
  internal/suites/const.go
  internal/suites/example/compose/authelia/resources/entrypoint-frontend.sh
  internal/suites/example/compose/haproxy/docker-compose.yml
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/haproxy/http.lua
  internal/suites/example/compose/nginx/backend/docker-compose.yml
  internal/suites/example/compose/nginx/backend/html/deny/secret.html
  internal/suites/example/compose/nginx/backend/html/home/index.html
  internal/suites/example/compose/nginx/backend/nginx.conf
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/example/compose/traefik/docker-compose.yml
  internal/suites/example/compose/traefik2/docker-compose.yml
  internal/suites/example/kube/apps/nginx.yml
  internal/suites/example/kube/authelia/configs/configuration.yml
  internal/suites/scenario_one_factor_test.go
Due: none

fix(oidc): client auth basic fails on correctly encoded header
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
Due: backend

build(deps): update module github.com/go-webauthn/webauthn to v0.8.4
  go.mod
  go.sum
Due: none

docs: update caddy subpath example, fix spelling issues
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/haproxy.md
  docs/content/en/integration/proxies/nginx-proxy-manager/index.md
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/skipper.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/integration/proxies/traefik.md
  docs/content/en/integration/proxies/traefikv1.md
Due: none

docs: update caddy subpath instructions
  docs/content/en/integration/proxies/caddy.md
Due: none

docs: fix code snippets in measures.md
  docs/content/en/overview/security/measures.md
Due: none

docs: update caddy subpath example, fix spelling issues (#5661)
  docs/content/en/integration/proxies/caddy.md
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/haproxy.md
  docs/content/en/integration/proxies/nginx-proxy-manager/index.md
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/skipper.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/integration/proxies/traefik.md
  docs/content/en/integration/proxies/traefikv1.md
Due: none

fix(oidc): client auth basic fails on correctly encoded header (#5632)
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
Due: backend

fix(ntp): startup check skipped when it shouldn't be
  docs/content/en/configuration/miscellaneous/ntp.md
  internal/commands/const.go
  internal/commands/root.go
Due: backend

fix(ntp): startup check skipped when it shouldn't be (#5701)
  docs/content/en/configuration/miscellaneous/ntp.md
  internal/commands/const.go
  internal/commands/root.go
Due: backend

docs: fix code snippets in measures.md (#5681)
  docs/content/en/overview/security/measures.md
Due: none

docs: comment more unnecessary configuration options
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

docs: comment more unnecessary configuration options (#5707)
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

test(configuration): add several scenarios
  internal/commands/context.go
  internal/commands/util.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/provider_test.go
  internal/configuration/sources.go
  internal/configuration/types.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
Due: backend

feat(commands): go build info
  internal/commands/build-info.go
  internal/commands/const.go
Due: backend

build(deps): update module github.com/golang-jwt/jwt to v5
  go.mod
  go.sum
  internal/configuration/schema/types.go
  internal/middlewares/const.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/model/identity_verification.go
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
  internal/oidc/keys.go
  internal/oidc/keys_blackbox_test.go
  internal/oidc/types.go
Due: backend

feat(web): add password policy visible feedback
  internal/suites/Standalone/configuration.yml
  web/src/components/PasswordMeter.tsx
Due: frontend

refactor: adjustments
  docs/content/en/integration/openid-connect/introduction.md
  internal/middlewares/identity_verification.go
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/keys.go
Due: backend

add gettext to Dockerfile
  Dockerfile
Due: none

refactor: adjustments
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
  internal/oidc/errors.go
Due: backend

refactor: adjustments
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/response.go
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
  internal/oidc/errors.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/oidc/util.go
Due: backend

ci(buildkite): additional localised node artifacts
  .buildkite/hooks/post-artifact
  .buildkite/hooks/pre-command
Due: none

ci(buildkite): additional localised node artifacts (#5717)
  .buildkite/hooks/post-artifact
  .buildkite/hooks/pre-command
Due: none

test: add tests
  internal/middlewares/identity_verification.go
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
  internal/oidc/client.go
  internal/oidc/const_test.go
Due: backend

test: add interfaces
  internal/middlewares/authelia_context.go
  internal/middlewares/identity_verification.go
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
Due: backend

test: add missing tests
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
Due: backend

build(deps): update module github.com/golang-jwt/jwt to v5 (#5724)
  docs/content/en/integration/openid-connect/introduction.md
  go.mod
  go.sum
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/model/identity_verification.go
  internal/oidc/authentication.go
  internal/oidc/authentication_test.go
  internal/oidc/client.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/const_test.go
  internal/oidc/errors.go
  internal/oidc/keys.go
  internal/oidc/keys_blackbox_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
Due: backend

feat(oidc): per-client auth policy applied per-subject
  internal/authorization/util.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/test_resources/config_oidc.yml
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/keys.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/response.go
  internal/oidc/client.go
  internal/oidc/client_policy.go
  internal/oidc/client_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/oidc/types.go
Due: backend

feat(oidc): per-client auth policy applied per-subject
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
Due: backend

docs: add docs and clean up logs
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/roadmap/active/openid-connect.md
  internal/configuration/config.template.yml
  internal/configuration/schema/access_control.go
  internal/configuration/schema/const.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
Due: backend

refactor: layout
  internal/oidc/client_policy.go
  internal/oidc/types.go
Due: backend

feat: denied
  internal/configuration/validator/identity_providers.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/response.go
  internal/oidc/errors.go
Due: backend

refactor: names
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/response.go
  internal/oidc/client.go
  internal/oidc/client_policy.go
  internal/oidc/client_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
Due: backend

feat(oidc): client credentials grant type
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/roadmap/active/openid-connect.md
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_token.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
Due: backend

docs: Increased tested versions of Bookstack integration
  docs/content/en/integration/openid-connect/bookstack/index.md
Due: none

docs: Added note about Bookstack timeouts
  docs/content/en/integration/openid-connect/bookstack/index.md
Due: none

feat(oidc): client credentials grant type (#5729)
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/roadmap/active/openid-connect.md
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_token.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
Due: backend

refactor: policies to authorization_policies
  cmd/authelia-scripts/cmd/gen.go
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  internal/authorization/authorizer.go
  internal/authorization/authorizer_test.go
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/test_resources/config_oidc.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/authentication_test.go
  internal/oidc/client.go
  internal/oidc/client_policy.go
  internal/oidc/client_test.go
  internal/oidc/discovery_test.go
  internal/oidc/keys_blackbox_test.go
  internal/oidc/provider_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/utils/exec_test.go
Due: backend

feat(oidc): auth policy applied per-subject (#5486)
  cmd/authelia-scripts/cmd/gen.go
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/roadmap/active/openid-connect.md
  internal/authorization/authorizer.go
  internal/authorization/authorizer_test.go
  internal/authorization/util.go
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/schema/const.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/test_resources/config_oidc.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/keys.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/response.go
  internal/oidc/authentication_test.go
  internal/oidc/client.go
  internal/oidc/client_policy.go
  internal/oidc/client_test.go
  internal/oidc/discovery_test.go
  internal/oidc/errors.go
  internal/oidc/keys_blackbox_test.go
  internal/oidc/provider_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/utils/exec_test.go
Due: backend

feat(oidc): client token lifespans policy
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/oidc/client.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/types.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
