Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: remove `@root` from import paths
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

refactor: remove `@root` from import paths
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceEditDialog.tsx
Due: frontend

refactor: encryption fixes and refactoring
  config.template.yml
  internal/commands/crypto_hash.go
  internal/commands/storage_run.go
  internal/configuration/config.template.yml
  internal/storage/const.go
  internal/storage/errors.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_queries_special.go
  internal/storage/types.go
Due: backend

test: fix lint
  internal/commands/crypto_hash.go
  internal/commands/storage_run.go
Due: backend

test: fix misc
  internal/commands/crypto_hash.go
  internal/commands/storage_run.go
  internal/suites/suite_cli_test.go
Due: backend

fix: check term before output
  internal/commands/crypto_hash.go
Due: backend

refactor: use util method
  internal/commands/crypto_hash.go
  internal/commands/errors.go
  internal/commands/storage_run.go
  internal/commands/util.go
Due: backend

refactor: simplify logic
  internal/commands/crypto_hash.go
  internal/commands/storage_run.go
  internal/commands/util.go
Due: backend

refactor: storage cmd consts
  internal/commands/const.go
  internal/commands/storage.go
  internal/commands/storage_run.go
Due: backend

refactor: storage checking
  internal/commands/storage_run.go
  internal/mocks/storage.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_schema.go
  internal/storage/types.go
  internal/suites/suite_cli_test.go
Due: backend

refactor: storage checking
  internal/suites/suite_cli_test.go
Due: none

test: fix tests
  internal/commands/const.go
  internal/commands/storage_run.go
  internal/storage/const.go
  internal/storage/sql_provider_schema.go
  internal/storage/types.go
  internal/suites/suite_cli_test.go
Due: backend

refactor: remove pre1 migration path (#4356)
  config.template.yml
  docs/content/en/contributing/guidelines/database-schema.md
  docs/content/en/reference/cli/authelia/authelia_storage_migrate_down.md
  docs/content/en/reference/integrations/database-integrations.md
  docs/content/en/reference/integrations/introduction.md
  internal/commands/const.go
  internal/commands/crypto_hash.go
  internal/commands/errors.go
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/commands/util.go
  internal/configuration/config.template.yml
  internal/mocks/storage.go
  internal/storage/const.go
  internal/storage/errors.go
  internal/storage/migrations.go
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.down.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_queries_special.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_pre1.go
  internal/storage/sql_provider_schema_test.go
  internal/storage/types.go
  internal/suites/suite_cli_test.go
Due: backend

docs: update
  docs/content/en/configuration/storage/migrations.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_totp_generate.md
Due: none

docs: update (#4433)
  docs/content/en/configuration/storage/migrations.md
  docs/content/en/reference/cli/authelia/authelia_storage_user_totp_generate.md
Due: none

feat: rework webauthn devices list ui
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceDetailsDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

feat: add button to enable/disable webauthn device
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

feat: add loading skeleton to webauthn devices list in settings ui (#4406)
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

feat: implement webauthn device delete confirmation
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

refactor: move webauthn device index knowledge out of webauthndeviceitem
  web/src/services/Webauthn.ts
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

fix: don't unset deleting idx for dialog on webauthn device delete
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

feat: implement webauthn device delete confirmation (#4426)
  web/src/services/Webauthn.ts
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

feat: implement webauthn device rename with dialog (#4427)
  web/src/models/Webauthn.ts
  web/src/services/Webauthn.ts
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceEditDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

docs: update index
  docs/content/en/overview/authorization/openid-connect-1.0.md
  docs/content/en/overview/authorization/trusted-headers.md
  docs/layouts/index.html
Due: none

docs: update index (#4437)
  docs/content/en/overview/authorization/openid-connect-1.0.md
  docs/content/en/overview/authorization/trusted-headers.md
  docs/layouts/index.html
Due: none

docs: update index
  docs/layouts/index.html
Due: none

docs: update index (#4438)
  docs/layouts/index.html
Due: none

ci(web): add eslint alias linter
  web/.eslintrc.js
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

ci(web): add eslint alias linter (#4440)
  web/.eslintrc.js
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

docs: bump dependencies
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: bump dependencies (#4441)
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

feat: rework webauthn devices list ui (#4435)
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceDetailsDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

fix: remove duplicate loadingbutton from merge error
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceItem.tsx
Due: frontend

docs: update proxy docs
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/support.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/overview/prologue/supported-proxies.md
  docs/content/en/roadmap/active/openid-connect.md
  docs/layouts/shortcodes/support.html
Due: none

docs: update proxy docs (#4449)
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/support.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/overview/prologue/supported-proxies.md
  docs/content/en/roadmap/active/openid-connect.md
  docs/layouts/shortcodes/support.html
Due: none

build(deps): update module github.com/go-crypt/crypt to v0.2.0
  go.mod
  go.sum
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_database.go
  internal/authentication/file_user_provider_test.go
  internal/commands/crypto_hash.go
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
  internal/configuration/schema/types.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client_test.go
  internal/oidc/config.go
  internal/oidc/hasher.go
  internal/oidc/hasher_test.go
  internal/oidc/types.go
Due: backend

feat: improve security key naming and verbiage consistency
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceDetailsDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDeviceEditDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebauthnDevices.tsx
Due: frontend

refactor: retitle settings appbar to authelia settings
  web/src/layouts/SettingsLayout.tsx
Due: frontend

i18n: update translation for portal.json (Finnish)
  internal/server/locales/fi-FI/portal.json
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
