Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

refactor: generate
  .yamllint.yml
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/Event.txt
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationJWT.txt
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/embed/notification/IdentityVerificationOTC.txt
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
Due: backend

refactor: fix lint issues
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_validation.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/password_policy.go
  internal/configuration/validator/privacy_policy.go
  internal/configuration/validator/regulation.go
  internal/configuration/validator/server.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/oidc/store.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

refactor: fix lint issues (#7692)
  internal/configuration/schema/types.go
  internal/configuration/schema/types_test.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_validation.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/password_policy.go
  internal/configuration/validator/privacy_policy.go
  internal/configuration/validator/regulation.go
  internal/configuration/validator/server.go
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
  internal/oidc/store.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

docs: add clarity to the caddy examples
  docs/content/integration/proxies/caddy.md
Due: none

Update docs/content/integration/proxies/caddy.md
  docs/content/integration/proxies/caddy.md
Due: none

docs: add clarity to the caddy examples (#7689)
  docs/content/integration/proxies/caddy.md
Due: none

docs: fix copy/paste typo in access_token_signed_response_alg description (#7688)
  docs/content/configuration/identity-providers/openid-connect/clients.md
Due: none

fix: email template ux (#7654)
  .yamllint.yml
  examples/templates/notifications/envelope_with_message_id.tmpl
  internal/templates/embed.go
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/Event.txt
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationJWT.txt
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/embed/notification/IdentityVerificationOTC.txt
  internal/templates/embed/oidc/AuthorizeResponseFormPost.html
  internal/templates/provider.go
  internal/templates/src/.eslintrc.js
  internal/templates/src/.prettierignore
  internal/templates/src/.prettierrc.js
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
  internal/templates/src/notification/Event.html
  internal/templates/src/notification/Event.txt
  internal/templates/src/notification/IdentityVerificationJWT.html
  internal/templates/src/notification/IdentityVerificationJWT.txt
  internal/templates/src/notification/IdentityVerificationOTC.html
  internal/templates/src/notification/IdentityVerificationOTC.txt
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  internal/templates/src/postcss.config.js
  internal/templates/src/tailwind.config.ts
  internal/templates/src/tsconfig.json
  internal/templates/types.go
  internal/templates/util.go
  internal/templates/util_test.go
Due: backend

build(deps): rebuild lockfiles
  docs/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: frontend

build(deps): rebuild lockfiles (#7694)
  docs/pnpm-lock.yaml
  web/pnpm-lock.yaml
Due: frontend

build(deps): rebuild lockfiles
  Dockerfile
  Dockerfile.coverage
  Dockerfile.dev
  cmd/authelia-scripts/cmd/docker.go
  internal/suites/example/compose/authelia/Dockerfile.backend
Due: none

build(deps): use auto toolchain
  cmd/authelia-scripts/cmd/build.go
Due: none

docs: fix caddy codeblocks
  docs/content/integration/proxies/caddy.md
Due: none

docs: fix caddy codeblocks (#7705)
  docs/content/integration/proxies/caddy.md
Due: none

docs: fix shortcode
  docs/content/integration/proxies/caddy.md
Due: none

docs: fix shortcode (#7706)
  docs/content/integration/proxies/caddy.md
Due: none

feat: Added documentation for integrating Flower with Authelia
  docs/content/integration/openid-connect/flower/index.md
Due: none

fix: Added section for flower environment variable
  docs/content/integration/openid-connect/flower/index.md
Due: none

chore: Upaded workspace file
  docs/content/integration/openid-connect/flower/authelia.code-workspace
Due: none

chore: Removed workspace file
  docs/content/integration/openid-connect/flower/authelia.code-workspace
Due: none

Update docs/content/integration/openid-connect/flower/index.md
  docs/content/integration/openid-connect/flower/index.md
Due: none

Apply suggestions from code review
  docs/content/integration/openid-connect/flower/index.md
Due: none

docs(oidc): flower integration (#7710)
  docs/content/integration/openid-connect/flower/index.md
Due: none

docs(oidc): update node-red auth method
  docs/content/integration/openid-connect/node-red/index.md
Due: none

docs(oidc): update node-red auth method (#7718)
  docs/content/integration/openid-connect/node-red/index.md
Due: none

fix: fix slice init length
  internal/configuration/validator/server.go
Due: backend

test(suites): fix redis restart issue
  internal/suites/environment.go
  internal/suites/suite_high_availability_test.go
Due: none

test(suites): fix redis restart issue (#7719)
  internal/suites/environment.go
  internal/suites/suite_high_availability_test.go
Due: none

refactor: generate
  docs/content/integration/openid-connect/flower/index.md
  docs/content/integration/openid-connect/incus/index.md
  docs/content/integration/openid-connect/node-red/index.md
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/src/emails/Event.tsx
  internal/templates/src/index.tsx
Due: backend

refactor: generate (#7736)
  docs/content/integration/openid-connect/flower/index.md
  docs/content/integration/openid-connect/incus/index.md
  docs/content/integration/openid-connect/node-red/index.md
  internal/templates/embed/notification/Event.html
  internal/templates/embed/notification/IdentityVerificationJWT.html
  internal/templates/embed/notification/IdentityVerificationOTC.html
  internal/templates/src/emails/Event.tsx
  internal/templates/src/index.tsx
Due: backend

add docs
  docs/content/reference/guides/metrics.md
Due: none

increase scrape interval for dashboard use
  docs/content/reference/guides/metrics.md
Due: none

change name and make readonly by default
  examples/grafana-dashboards/simple.json
Due: none

docs: update grafana dashboard examples (#7737)
  docs/content/reference/guides/metrics.md
  examples/grafana-dashboards/simple.json
Due: none

build(deps): update @simplewebauthn monorepo to v10
  internal/handlers/handler_register_webauthn_test.go
  internal/handlers/webauthn.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/services/Api.ts
  web/src/services/WebAuthn.ts
Due: backend, frontend

build(deps): update @simplewebauthn monorepo to v10 (#7380)
  internal/handlers/handler_register_webauthn_test.go
  internal/handlers/webauthn.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/services/Api.ts
  web/src/services/WebAuthn.ts
Due: backend, frontend

docs: add more information to jwks
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/reference/guides/generating-secure-values.md
Due: none

docs: add more information to jwks (#7751)
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/reference/guides/generating-secure-values.md
Due: none

refactor(web): use new grid
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend
