Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: yamllint
  docs/configuration/password_policy.md
  internal/suites/Standalone/configuration.yml
Due: none

fix: yamllint
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

fix: pin
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor: docs
  docs/configuration/password_policy.md
Due: none

refactor: naming
  internal/handlers/handler_reset_password_step2.go
  internal/middlewares/password_policy.go
  internal/middlewares/password_policy_test.go
Due: backend

refactor: misc password policy refactoring (#3102)
  config.template.yml
  docs/configuration/password_policy.md
  docs/features/password-policy.md
  internal/commands/helpers.go
  internal/configuration/config.template.yml
  internal/configuration/schema/configuration.go
  internal/handlers/errors.go
  internal/handlers/handler_reset_password_step2.go
  internal/middlewares/const.go
  internal/middlewares/password_policy.go
  internal/middlewares/password_policy_test.go
  internal/middlewares/types.go
  internal/suites/Standalone/configuration.yml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

refactor(handlers): add password policy handler
  api/openapi.yml
  config.template.yml
  docs/configuration/password_policy.md
  internal/configuration/config.template.yml
  internal/configuration/schema/password_policy.go
  internal/handlers/handler_configuration_password_policy.go
  internal/handlers/handler_reset_password_step1.go
  internal/server/server.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/PasswordMeter.tsx
  web/src/models/PasswordPolicy.ts
  web/src/services/Api.ts
  web/src/services/PasswordPolicyConfiguration.ts
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: backend, frontend

fix: missing enable
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

test: debug log
  web/src/components/PasswordMeter.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

refactor: factorize [skip test]
  web/src/components/PasswordMeter.test.tsx
  web/src/components/PasswordMeter.tsx
  web/src/services/PasswordPolicyConfiguration.ts
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

refactor: remove logs
  web/src/components/PasswordMeter.tsx
Due: frontend

fix: unused
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

build(deps): update dependency eslint-import-resolver-typescript to v2.7.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: lint
  internal/suites/Standalone/configuration.yml
  internal/suites/example/compose/nginx/portal/docker-compose.yml
Due: none

fix: consistency
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/templates/const.go
Due: backend

refactor(handlers): ppolicy (#3103)
  api/openapi.yml
  config.template.yml
  docs/configuration/password_policy.md
  internal/configuration/config.template.yml
  internal/configuration/schema/password_policy.go
  internal/handlers/handler_configuration_password_policy.go
  internal/handlers/handler_reset_password_step1.go
  internal/server/server.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/PasswordMeter.test.tsx
  web/src/components/PasswordMeter.tsx
  web/src/models/PasswordPolicy.ts
  web/src/services/Api.ts
  web/src/services/PasswordPolicyConfiguration.ts
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: backend, frontend

feat(notification): password reset notification custom templates (#2828)
  docs/configuration/notifier/index.md
  internal/configuration/schema/notifier.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/handlers/handler_reset_password_step1.go
  internal/handlers/handler_reset_password_step2.go
  internal/middlewares/identity_verification.go
  internal/session/types.go
  internal/suites/example/compose/nginx/portal/docker-compose.yml
  internal/templates/const.go
  internal/templates/html_email_step_1.go
  internal/templates/html_email_step_2.go
  internal/templates/plaintext_email_step_1.go
  internal/templates/plaintext_email_step_2.go
Due: backend

refactor(configuration): decode_hooks blackbox and better testing (#3097)
  internal/configuration/const.go
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider_test.go
Due: backend

fix: handle consents properly
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/types_oidc.go
  internal/mocks/storage.go
  internal/oidc/types.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_rows.go
Due: backend

build(deps): update material-ui monorepo
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(web): update client rendering method
  web/src/index.tsx
Due: frontend

fix(web): update client rendering method (#3106)
  web/src/index.tsx
Due: frontend

build: enable empty out dir vite option
  web/vite.config.ts
Due: frontend

fix(server): respond with 404/405 appropriately (#3087)
  internal/handlers/response.go
  internal/handlers/types.go
  internal/server/const.go
  internal/server/handler_notfound.go
  internal/server/server.go
  internal/suites/scenario_backend_protection_test.go
Due: backend

ci: codeql only on code changes
  .github/workflows/codeql-analysis.yml
Due: none

ci: codeql only on code changes (#3108)
  .github/workflows/codeql-analysis.yml
Due: none

Apply suggestions from code review
  docs/configuration/server.md
  internal/middlewares/asset_override.go
Due: backend

fix: imports and router path
  internal/middlewares/asset_override.go
  internal/server/server.go
Due: backend

feat(web): i18n asset overrides (#3040)
  docs/configuration/migration.md
  docs/configuration/server.md
  internal/middlewares/asset_override.go
  internal/middlewares/const.go
  internal/server/asset.go
  internal/server/const.go
  internal/server/locales/de/portal.json
  internal/server/locales/en/portal.json
  internal/server/locales/es/portal.json
  internal/server/server.go
  internal/server/template.go
  web/src/App.tsx
  web/src/i18n/index.ts
  web/src/i18n/locales/de.json
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
  web/src/views/LoadingPage/LoadingPage.tsx
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: backend, frontend

build: enable empty out dir vite option (#3107)
  web/vite.config.ts
Due: frontend

build(web): remove unused types
  web/types/index.d.ts
  web/types/react-otp-input/index.d.ts
Due: frontend

build(web): remove unused types (#3109)
  web/types/index.d.ts
  web/types/react-otp-input/index.d.ts
Due: frontend

build(deps): update dependency swagger-ui to 4.10.3
  cmd/authelia-scripts/cmd_build.go
Due: none

build(deps): update dependency swagger-ui to 4.10.3 (#3110)
  cmd/authelia-scripts/cmd_build.go
Due: none

fix: merge issues
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
Due: backend

refactor: apply changes from code review
  config.template.yml
  docs/configuration/authentication/index.md
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/theme_test.go
  internal/server/server.go
  internal/server/template.go
  web/.env.development
  web/.env.production
  web/index.html
  web/src/App.tsx
  web/src/setupTests.js
  web/src/utils/Configuration.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend

feat(web): password reset custom url (#3111)
  config.template.yml
  docs/configuration/authentication/index.md
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/theme_test.go
  internal/server/server.go
  internal/server/template.go
  web/.env.development
  web/.env.production
  web/index.html
  web/src/App.tsx
  web/src/setupTests.js
  web/src/utils/Configuration.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend

fix: pre-config query
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

refactor: misc refactoring and factorization
  internal/handlers/handler_oidc_authorization.go
  internal/oidc/hasher.go
  internal/oidc/hasher_test.go
  internal/oidc/provider.go
  internal/oidc/store.go
  internal/oidc/types.go
  internal/oidc/types_test.go
Due: backend

build(deps): update dependencies in go.mod & Gemfile
  docs/Gemfile
  docs/Gemfile.lock
  go.mod
  go.sum
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
