Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

refactor(oidc): resolve linting issue
  internal/oidc/client.go
Due: backend

build(deps): update postgres docker tag to v13
  internal/suites/example/compose/postgres/docker-compose.yml
Due: none

build(deps): update dependency @types/chai to v4.2.18
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update module github.com/otiai10/copy to v1.6.0
  go.mod
Due: none

refactor(oidc): refactor several areas
  cmd/authelia/main.go
  config.template.yml
  go.mod
  go.sum
  internal/configuration/config.template.yml
  internal/configuration/reader_test.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/test_resources/config.yml
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/const.go
  internal/handlers/handler_oidc_authorize.go
  internal/handlers/handler_oidc_introspect.go
  internal/handlers/handler_oidc_jwks.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/oidc.go
  internal/handlers/register_oidc.go
  internal/oidc/keys.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/session/provider.go
  internal/session/provider_test.go
  internal/session/types.go
  internal/session/user_session.go
  internal/suites/OIDC/configuration.yml
  internal/utils/strings.go
Due: backend

ci: address linting issues
  internal/configuration/schema/identity_providers.go
  internal/handlers/handler_oidc_userinfo.go
Due: backend

test: add tests to oidc keymanager and misc fixes
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_oidc_authorize.go
  internal/oidc/keys.go
  internal/oidc/keys_test.go
  internal/oidc/provider_test.go
  internal/oidc/store.go
  internal/session/provider_test.go
  internal/session/types.go
  internal/session/user_session.go
Due: backend

test: fix lint issues
  internal/handlers/handler_oidc_authorize.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/oidc.go
  internal/handlers/types_oidc.go
  internal/oidc/keys_test.go
  internal/oidc/types.go
Due: backend

fix: unnecessary forward slash and nil ptr
  internal/handlers/handler_oidc_authorize.go
  internal/handlers/handler_oidc_wellknown.go
  internal/session/types.go
Due: backend

test: fix suite external_url
  internal/suites/OIDCTraefik/configuration.yml
Due: none

feat: add more configuration options and fix goconst lint issue
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/provider.go
Due: backend

test: expand test coverage
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client_test.go
  internal/oidc/helpers_test.go
Due: backend

feat: allow configuring client request_uris and response_modes
  config.template.yml
  docs/configuration/identity-providers/oidc.md
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
Due: backend

feat: add scope mapping back into the tokens
  docs/configuration/identity-providers/oidc.md
  internal/configuration/validator/const.go
  internal/handlers/handler_oidc_authorize.go
  internal/oidc/const.go
Due: backend

test: fix test to allow changed behaviour
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/helpers_test.go
Due: backend

doc: document alt_emails
  docs/configuration/identity-providers/oidc.md
  internal/handlers/handler_oidc_wellknown.go
Due: backend

fix: go.sum
  go.sum
Due: none

revert: external_url
  cmd/authelia/main.go
  config.template.yml
  internal/configuration/config.template.yml
  internal/configuration/reader_test.go
  internal/configuration/schema/configuration.go
  internal/configuration/test_resources/config.yml
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_authorize.go
  internal/handlers/handler_oidc_wellknown.go
  internal/oidc/provider.go
  internal/oidc/provider_test.go
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDCTraefik/configuration.yml
Due: backend

docs: add link for users to take quick survey on usage
  docs/_layouts/default.html
Due: none

refactor: shelf changes for later
  config.template.yml
  go.mod
  go.sum
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/oidc_register.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/provider.go
  internal/oidc/types.go
Due: backend

docs: add link for users to take quick survey on usage (#1993)
  docs/_layouts/default.html
Due: none

test: fix lint issue
  internal/handlers/const.go
Due: backend

doc: reword the sponsor section of readme
  README.md
  docs/images/logos/digitalocean.svg
Due: none

doc: reword the sponsor section of readme (#1994)
  README.md
  docs/images/logos/digitalocean.svg
Due: none

build(deps): update dependency prettier to v2.3.0
  web/package.json
  web/yarn.lock
Due: frontend

fix: apply suggestions from code review
  config.template.yml
  internal/configuration/config.template.yml
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_oidc_wellknown.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/keys.go
  internal/oidc/types.go
Due: backend

feat: add subject types supported oidc meta
  internal/handlers/handler_oidc_wellknown.go
  internal/oidc/types.go
Due: backend

fix(oidc): implement required subject types supported meta
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/types_oidc.go
Due: backend

build(deps): update dependency @types/react-dom to v17.0.4
  web/package.json
  web/yarn.lock
Due: frontend

fix(oidc): adjust kid length per RFC
  internal/oidc/keys.go
  internal/oidc/keys_test.go
Due: backend

fix: actually use the correct subject type
  internal/handlers/handler_oidc_wellknown.go
Due: backend

fix(oidc): implement required subject types supported meta (#1996)
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/types_oidc.go
Due: backend

release: v4.29.2
  .buildkite/RELEASE.md
Due: none

release: v4.29.2 (#1998)
  .buildkite/RELEASE.md
Due: none

fix: auth time
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_oidc_authorize.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_u2f_step2.go
  internal/handlers/response.go
  internal/session/types.go
Due: backend

revert: implementing fosite openidconnect interface
  internal/oidc/client.go
Due: backend

revert: remove unused pointer
  internal/oidc/provider.go
Due: backend

build(deps): update dependency @types/node to v15.0.3
  web/package.json
  web/yarn.lock
Due: frontend

feat(oidc): userinfo endpoint
  go.mod
  go.sum
  internal/configuration/schema/identity_providers.go
  internal/handlers/const.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/oidc_register.go
  internal/oidc/client.go
  internal/oidc/provider.go
  internal/oidc/store.go
  internal/oidc/types.go
Due: backend

build(deps): update dependency @types/react-dom to v17.0.5
  web/package.json
  web/yarn.lock
Due: frontend
