Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

docs: fix references in callouts & align overview (#8214)
  docs/content/configuration/first-factor/file.md
  docs/content/configuration/first-factor/ldap.md
  docs/content/configuration/second-factor/duo.md
  docs/content/configuration/session/introduction.md
  docs/content/integration/proxies/support.md
  docs/content/integration/proxies/swag.md
  docs/content/overview/authentication/introduction.md
  docs/content/overview/authorization/access-control.md
  docs/content/overview/authorization/openid-connect-1.0.md
  docs/content/overview/authorization/regulation.md
  docs/content/overview/authorization/statelessness.md
  docs/content/overview/authorization/trusted-headers.md
  docs/content/overview/prologue/architecture/index.md
  docs/content/overview/prologue/introduction.md
  docs/content/overview/prologue/supported-proxies.md
  docs/content/overview/security/introduction.md
  docs/content/overview/security/measures.md
  docs/content/overview/security/threat-model.md
  docs/content/reference/guides/passwords.md
  docs/content/reference/guides/proxy-authorization.md
  docs/content/reference/guides/server-asset-overrides.md
  docs/content/reference/integrations/cache-integrations.md
Due: none

test(suites): add consistency
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/BypassAll/configuration.yml
  internal/suites/CLI/configuration.yml
  internal/suites/Caddy/configuration.yml
  internal/suites/Docker/configuration.yml
  internal/suites/DuoPush/configuration.yml
  internal/suites/Envoy/configuration.yml
  internal/suites/HAProxy/configuration.yml
  internal/suites/HighAvailability/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/MariaDB/configuration.yml
  internal/suites/MultiCookieDomain/configuration.yml
  internal/suites/MySQL/configuration.yml
  internal/suites/NetworkACL/configuration.yml
  internal/suites/OneFactorOnly/configuration.yml
  internal/suites/PathPrefix/configuration.yml
  internal/suites/Postgres/configuration.yml
  internal/suites/Traefik/configuration.yml
  internal/suites/TwoFactor/configuration.yml
  internal/suites/example/kube/authelia/configs/configuration.yml
Due: none

test(suites): add consistency (#8224)
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/BypassAll/configuration.yml
  internal/suites/CLI/configuration.yml
  internal/suites/Caddy/configuration.yml
  internal/suites/Docker/configuration.yml
  internal/suites/DuoPush/configuration.yml
  internal/suites/Envoy/configuration.yml
  internal/suites/HAProxy/configuration.yml
  internal/suites/HighAvailability/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/MariaDB/configuration.yml
  internal/suites/MultiCookieDomain/configuration.yml
  internal/suites/MySQL/configuration.yml
  internal/suites/NetworkACL/configuration.yml
  internal/suites/OneFactorOnly/configuration.yml
  internal/suites/PathPrefix/configuration.yml
  internal/suites/Postgres/configuration.yml
  internal/suites/Traefik/configuration.yml
  internal/suites/TwoFactor/configuration.yml
  internal/suites/example/kube/authelia/configs/configuration.yml
Due: none

build: generate
  cmd/authelia-scripts/cmd/gen.go
  docs/content/contributors/brynn-crowley/_index.md
Due: none

refactor: smtp logging
  internal/notification/const.go
  internal/notification/file_notifier.go
  internal/notification/smtp_auth.go
  internal/notification/smtp_notifier.go
  internal/notification/util.go
  internal/notification/util_test.go
Due: backend

docs: fix adr wording
  docs/content/reference/architecture-decision-log/introduction.md
Due: none

docs: fix adr wording (#8237)
  docs/content/reference/architecture-decision-log/introduction.md
Due: none

build: generate (#8246)
  cmd/authelia-scripts/cmd/gen.go
  docs/content/contributors/brynn-crowley/_index.md
Due: none

docs: adr2, private user information
  docs/content/reference/architecture-decision-log/.adr.config.json
  docs/content/reference/architecture-decision-log/2.md
Due: none

docs: add envoy gateway api section
  docs/content/integration/proxies/envoy.md
Due: none

docs: add no preview email templates (#8113)
  examples/templates/notifications/no-preview/Event.html
  examples/templates/notifications/no-preview/IdentityVerificationJWT.html
  examples/templates/notifications/no-preview/IdentityVerificationOTC.html
  examples/templates/notifications/no-preview/README.md
  internal/templates/src/emails/Event.tsx
  internal/templates/src/emails/IdentityVerificationJWT.tsx
  internal/templates/src/emails/IdentityVerificationOTC.tsx
  internal/templates/src/index.tsx
Due: backend

docs: update code of conduct (#8175)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-gen/templates/github_issue_template_feature.yml.tmpl
  docs/content/information/code-of-conduct.md
  docs/content/policies/code-of-conduct.md
Due: none

Update docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/envoy.md
Due: none

docs: add envoy gateway api section (#8262)
  docs/content/integration/proxies/envoy.md
Due: none

docs: fix broken releases reference
  README.md
Due: none

Update docs/content/integration/openid-connect/gitea/index.md
  docs/content/integration/openid-connect/gitea/index.md
Due: none

docs: fix broken releases reference (#8265)
  README.md
Due: none

docs: update gitea flags (#8171)
  docs/content/integration/openid-connect/gitea/index.md
Due: none

feat: add password change to user settings page
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_user_info.go
  internal/handlers/types.go
  internal/mocks/user_provider.go
  internal/model/user_info.go
  internal/server/handlers.go
  internal/session/types.go
  web/src/constants/Routes.ts
  web/src/layouts/SettingsLayout.tsx
  web/src/models/UserInfo.ts
  web/src/services/Api.ts
  web/src/services/ChangePassword.ts
  web/src/services/ResetPassword.ts
  web/src/services/UserInfo.ts
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
  web/src/views/Settings/SettingsRouter.tsx
Due: backend, frontend

fix(web): handle enter key press for session elevation dialog
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

test(suites): new suite for account password change
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/action_change_password.go
  internal/suites/action_settings.go
  internal/suites/scenario_change_password_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(web): properly handle password reuse checks - misc ux changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/session/types.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix(web): minor ui changes
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(suites): timing change should fix failing tests
  internal/suites/action_verify.go
Due: none

refactor: minor code quality changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/suites/suite_security_settings.go
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix(suites): change password hash to default
  internal/suites/SecuritySettings/users.yml
Due: none

fix(web): make user settings more responsive
  web/src/layouts/SettingsLayout.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

docs: update roadmap
  docs/content/roadmap/active/dashboard-control-panel-for-users.md
Due: none

fix(web): update unstable grid2 to grid2 for password change
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: frontend

fix: use new email body format for password change
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/util.go
Due: backend

fix: minor improvements for logging and text entry
  internal/authentication/ldap_user_provider.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix: code quality changes, code deduplication
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/server/handlers.go
  internal/suites/scenario_change_password_test.go
  web/src/hooks/CapsLock.ts
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix(tests): fix failing security settings test
  internal/authentication/file_user_provider.go
  internal/suites/scenario_change_password_test.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
