Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

Apply suggestions from code review
  docs/content/integration/openid-connect/synology-dsm/index.md
Due: none

docs(oidc): update synology dsm (#7133)
  docs/content/integration/openid-connect/synology-dsm/index.md
Due: none

docs: misc additional oidc fixes
  docs/content/integration/openid-connect/apache-guacamole/index.md
  docs/content/integration/openid-connect/argocd/index.md
  docs/content/integration/openid-connect/bookstack/index.md
  docs/content/integration/openid-connect/budibase/index.md
  docs/content/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/integration/openid-connect/firezone/index.md
  docs/content/integration/openid-connect/freshrss/index.md
  docs/content/integration/openid-connect/gitea/index.md
  docs/content/integration/openid-connect/gitlab/index.md
  docs/content/integration/openid-connect/grafana/index.md
  docs/content/integration/openid-connect/harbor/index.md
  docs/content/integration/openid-connect/hashicorp-vault/index.md
  docs/content/integration/openid-connect/homarr/index.md
  docs/content/integration/openid-connect/humhub/index.md
  docs/content/integration/openid-connect/komga/index.md
  docs/content/integration/openid-connect/memos/index.md
  docs/content/integration/openid-connect/minio/index.md
  docs/content/integration/openid-connect/misago/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/ocis/index.md
  docs/content/integration/openid-connect/odoo/index.md
  docs/content/integration/openid-connect/outline/index.md
  docs/content/integration/openid-connect/pocketbase/index.md
  docs/content/integration/openid-connect/portainer/index.md
  docs/content/integration/openid-connect/powerdns/index.md
  docs/content/integration/openid-connect/proxmox/index.md
  docs/content/integration/openid-connect/roundcube/index.md
  docs/content/integration/openid-connect/seafile/index.md
  docs/content/integration/openid-connect/synapse/index.md
  docs/content/integration/openid-connect/synology-dsm/index.md
  docs/content/integration/openid-connect/uptime-kuma/index.md
  docs/content/integration/openid-connect/windmill/index.md
Due: none

docs: misc additional oidc fixes (#7150)
  docs/content/integration/openid-connect/apache-guacamole/index.md
  docs/content/integration/openid-connect/argocd/index.md
  docs/content/integration/openid-connect/bookstack/index.md
  docs/content/integration/openid-connect/budibase/index.md
  docs/content/integration/openid-connect/cloudflare-zerotrust/index.md
  docs/content/integration/openid-connect/firezone/index.md
  docs/content/integration/openid-connect/freshrss/index.md
  docs/content/integration/openid-connect/gitea/index.md
  docs/content/integration/openid-connect/gitlab/index.md
  docs/content/integration/openid-connect/grafana/index.md
  docs/content/integration/openid-connect/harbor/index.md
  docs/content/integration/openid-connect/hashicorp-vault/index.md
  docs/content/integration/openid-connect/homarr/index.md
  docs/content/integration/openid-connect/humhub/index.md
  docs/content/integration/openid-connect/komga/index.md
  docs/content/integration/openid-connect/memos/index.md
  docs/content/integration/openid-connect/minio/index.md
  docs/content/integration/openid-connect/misago/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/ocis/index.md
  docs/content/integration/openid-connect/odoo/index.md
  docs/content/integration/openid-connect/outline/index.md
  docs/content/integration/openid-connect/pocketbase/index.md
  docs/content/integration/openid-connect/portainer/index.md
  docs/content/integration/openid-connect/powerdns/index.md
  docs/content/integration/openid-connect/proxmox/index.md
  docs/content/integration/openid-connect/roundcube/index.md
  docs/content/integration/openid-connect/seafile/index.md
  docs/content/integration/openid-connect/synapse/index.md
  docs/content/integration/openid-connect/synology-dsm/index.md
  docs/content/integration/openid-connect/uptime-kuma/index.md
  docs/content/integration/openid-connect/windmill/index.md
Due: none

docs: misc nextcloud refactorings
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

docs: misc nextcloud refactorings (#7151)
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

docs: fix missing link
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

docs: fix missing link (#7152)
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

docs(oidc): add several integrations
  docs/content/integration/openid-connect/grafana/index.md
  docs/content/integration/openid-connect/hedge-doc/index.md
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/jenkins/index.md
  docs/content/integration/openid-connect/mastodon/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/content/integration/openid-connect/paperless/index.md
  docs/content/integration/openid-connect/pgadmin/index.md
  docs/content/integration/openid-connect/vikunja/index.md
  docs/content/integration/openid-connect/wekan/index.md
  docs/content/integration/openid-connect/wordpress/index.md
  docs/content/integration/trusted-header-sso/paperless/index.md
Due: none

docs(oidc): add several integrations (#7156)
  docs/content/integration/openid-connect/grafana/index.md
  docs/content/integration/openid-connect/hedge-doc/index.md
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/jenkins/index.md
  docs/content/integration/openid-connect/mastodon/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/content/integration/openid-connect/paperless/index.md
  docs/content/integration/openid-connect/pgadmin/index.md
  docs/content/integration/openid-connect/vikunja/index.md
  docs/content/integration/openid-connect/wekan/index.md
  docs/content/integration/openid-connect/wordpress/index.md
  docs/content/integration/trusted-header-sso/paperless/index.md
Due: none

docs(oidc): wordpress auth method
  docs/content/integration/openid-connect/wordpress/index.md
Due: none

docs(oidc): wordpress auth method (#7157)
  docs/content/integration/openid-connect/wordpress/index.md
Due: none

docs: make nginx location exact
  docs/content/integration/proxies/nginx.md
Due: none

docs: make nginx location exact (#7158)
  docs/content/integration/proxies/nginx.md
Due: none

docs: proxy integration session clarity
  docs/assets/js/custom.js
  docs/content/integration/proxies/caddy.md
  docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/haproxy.md
  docs/content/integration/proxies/nginx.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  docs/layouts/shortcodes/sessionTab.html
  docs/layouts/shortcodes/sessionTabs.html
Due: none

docs: proxy integration session clarity (#7159)
  docs/assets/js/custom.js
  docs/content/integration/proxies/caddy.md
  docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/haproxy.md
  docs/content/integration/proxies/nginx.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  docs/layouts/shortcodes/sessionTab.html
  docs/layouts/shortcodes/sessionTabs.html
Due: none

docs(oidc): mealie integration
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/mealie/index.md
Due: none

docs(oidc): mealie integration (#7161)
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/mealie/index.md
Due: none

refactor(handlers): simplify authz err fallback
  internal/handlers/handler_authz.go
Due: backend

docs: fix capitalization error
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
Due: none

docs: fix capitalization error (#7164)
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
Due: none

build(ci): fix godot config
  .golangci.yml
Due: none

Update authelia_config_template.md
  docs/content/reference/cli/authelia/authelia_config_template.md
Due: none

docs: update authelia_config_template.md (#7165)
  docs/content/reference/cli/authelia/authelia_config_template.md
Due: none

fix(notifier): smtp dialer has no timeout
  internal/notification/smtp_notifier.go
Due: backend

build(ci): fix godot config (#7167)
  .golangci.yml
Due: none

docs(oidc): enable paperless pkce
  docs/content/integration/openid-connect/paperless/index.md
Due: none

docs(oidc): enable proxmox pkce
  docs/content/integration/openid-connect/proxmox/index.md
Due: none

docs(oidc): enable jellyfin pkce
  docs/content/integration/openid-connect/jellyfin/index.md
Due: none

docs(oidc): enable nextcloud user_oidc pkce
  docs/content/integration/openid-connect/nextcloud/index.md
Due: none

docs(header-sso): fix paperless links
  docs/content/integration/trusted-header-sso/paperless/index.md
Due: none

Update smtp.md
  docs/content/configuration/notifications/smtp.md
Due: none

Update const.go
  internal/commands/const.go
Due: backend

docs: format adjustment (#7172)
  docs/content/configuration/notifications/smtp.md
Due: none

docs: require pkce for supported clients (#7171)
  docs/content/integration/openid-connect/jellyfin/index.md
  docs/content/integration/openid-connect/nextcloud/index.md
  docs/content/integration/openid-connect/paperless/index.md
  docs/content/integration/openid-connect/proxmox/index.md
  docs/content/integration/trusted-header-sso/paperless/index.md
Due: none

refactor(handlers): simplify authz err fallback (#7163)
  internal/handlers/handler_authz.go
Due: backend

docs(commands): fix typo in command help (#7174)
  internal/commands/const.go
Due: backend

revert: fix(web): resolve path conflicts between backend and frontend (#6906)
  internal/suites/scenario_reset_password_test.go
  internal/suites/utils.go
  web/src/App.tsx
Due: frontend

refactor: log raw path
  internal/logging/const.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
  internal/middlewares/strip_path.go
Due: backend

fix(web): adjust router basename behaviour
  internal/server/handlers.go
Due: backend
