Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(oidc): misc fix to openapi spec
  api/openapi.yml
Due: none

docs(oidc): additional spec fixes
  api/openapi.yml
Due: none

docs(oidc): misc fix to openapi spec (#5873)
  api/openapi.yml
Due: none

refactor: set session id early in refresh flow (#5796)
  internal/oidc/flow_refresh.go
  internal/oidc/flow_refresh_test.go
Due: backend

build: remove toolchain module option
  go.mod
Due: none

build: remove toolchain module option (#5875)
  go.mod
Due: none

refactor(validator): remove redundant nil check
  internal/configuration/validator/access_control.go
Due: backend

refactor(validator): remove redundant nil check (#5876)
  internal/configuration/validator/access_control.go
Due: backend

fix(oidc): par model mapping
  internal/model/oidc.go
Due: backend

fix(oidc): par model mapping (#5879)
  internal/model/oidc.go
Due: backend

fix(oidc): par consent state error
  internal/handlers/handler_oidc_authorization_consent.go
  internal/mocks/storage.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

feat(server): update default headers
  docs/content/en/overview/security/measures.md
  internal/middlewares/const.go
  internal/middlewares/headers.go
  internal/server/asset.go
  internal/server/template.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

fix(oidc): par consent state error (#5880)
  internal/handlers/handler_oidc_authorization_consent.go
  internal/mocks/storage.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

feat(server): update default headers (#5881)
  .editorconfig
  docs/content/en/overview/security/measures.md
  internal/middlewares/const.go
  internal/middlewares/headers.go
  internal/server/asset.go
  internal/server/template.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

fix: webauthn credential user id missing
  internal/handlers/webauthn.go
  internal/handlers/webauthn_test.go
  web/src/models/WebAuthn.ts
  web/src/services/WebAuthn.ts
Due: backend, frontend

fix: webauthn credential user id missing (#5882)
  internal/handlers/webauthn.go
  internal/handlers/webauthn_test.go
  web/src/models/WebAuthn.ts
  web/src/services/WebAuthn.ts
Due: backend, frontend

refactor(web): remove debug logs
  web/src/services/WebAuthn.ts
Due: frontend

refactor(web): remove debug logs (#5886)
  web/src/services/WebAuthn.ts
Due: frontend

ci(web): replace vite-plugin-eslint with vite-plugin-checker
  web/.eslintrc.js
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/PrivacyPolicyDrawer.test.tsx
  web/src/components/PrivacyPolicyLink.test.tsx
  web/src/setupTests.ts
  web/tsconfig.json
  web/vite.config.ts
Due: frontend

ci(web): replace vite-plugin-eslint with vite-plugin-checker (#5904)
  web/.eslintrc.js
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/PrivacyPolicyDrawer.test.tsx
  web/src/components/PrivacyPolicyLink.test.tsx
  web/src/setupTests.ts
  web/tsconfig.json
  web/vite.config.ts
Due: frontend

refactor: fix swagger api corp headers
  internal/middlewares/const.go
  internal/middlewares/headers.go
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/template.go
  internal/templates/provider.go
Due: backend

refactor: fix swagger api corp headers (#5907)
  internal/middlewares/const.go
  internal/middlewares/headers.go
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/template.go
  internal/templates/provider.go
Due: backend

feat(oidc): jwt response for introspection
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oidc_userinfo.go
  internal/oidc/client.go
  internal/oidc/client_credentials_test.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/types.go
  internal/oidc/util.go
  internal/suites/duo.go
Due: backend

docs: update spec
  api/openapi.yml
  internal/oidc/util.go
Due: backend

fix: encode once
  internal/handlers/handler_oauth_introspection.go
Due: backend

docs(oidc): additional roadmap items
  docs/content/en/roadmap/active/openid-connect.md
Due: none

fix: missing sub claim
  internal/model/oidc.go
  internal/oidc/util.go
Due: backend

docs(oidc): add more openapi specs
  api/openapi.yml
Due: none

fix: misc validation issues
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

logging: add more logging
  internal/handlers/handler_oidc_authorization.go
Due: backend

docs: additional debug info
  api/openapi.yml
  internal/handlers/handler_oauth_introspection.go
Due: backend

test: test introspection requester
  docs/content/en/roadmap/active/openid-connect.md
  internal/mocks/fosite_token_introspector.go
  internal/mocks/gen.go
  internal/oidc/client_test.go
  internal/oidc/handler_introspection.go
  internal/oidc/handler_introspection_test.go
Due: backend

test: add tests
  internal/mocks/fosite_storage.go
  internal/mocks/gen.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/const.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/oidc/util.go
Due: backend

feat: introspection with rs client
  internal/handlers/handler_oauth_introspection.go
  internal/oidc/const.go
  internal/oidc/handler_introspection.go
  internal/oidc/types.go
  internal/oidc/util.go
Due: backend

refactor: reduce todo
  internal/handlers/handler_oauth_introspection.go
Due: backend

test: add tests and refactor
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/oidc/util_whitebox_test.go
Due: backend

test: add tests
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/store_test.go
Due: backend

docs: code review
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
Due: none

feat(oidc): jwt response for introspection (#5840)
  api/openapi.yml
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/roadmap/active/openid-connect.md
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/mocks/fosite_storage.go
  internal/mocks/fosite_token_introspector.go
  internal/mocks/gen.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/client.go
  internal/oidc/client_credentials_test.go
  internal/oidc/client_test.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/handler_introspection.go
  internal/oidc/handler_introspection_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/oidc/util_whitebox_test.go
  internal/suites/duo.go
Due: backend

docs: misc inclusions and fixes
  docs/content/en/integration/openid-connect/introduction.md
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
