Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build(deps): update dependency jest to v27.4.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update typescript-eslint monorepo to v5.5.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/node to v16.11.11
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

feat(commands): add options to storage totp generate for issuer period and algorithm
  internal/commands/storage.go
  internal/commands/storage_run.go
Due: backend

fix: linting
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

refactor: code review
  internal/handlers/handler_register_u2f_step1_test.go
  internal/middlewares/identity_verification_test.go
  internal/storage/sql_provider_queries.go
Due: backend

feat(storage): only store identity token metadata (#2627)
  internal/handlers/handler_register_u2f_step1_test.go
  internal/middlewares/const.go
  internal/middlewares/identity_verification.go
  internal/middlewares/identity_verification_test.go
  internal/middlewares/types.go
  internal/models/model_identity_verification.go
  internal/storage/const.go
  internal/storage/migrations/V0001.Initial_Schema.all.down.sql
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/suites/suite_cli_test.go
Due: backend

build(deps): update dependency jest to v27.4.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(storage): ptr instead of struct
  internal/handlers/handler_sign_duo.go
  internal/storage/sql_provider.go
Due: backend

fix(storage): missing has_duo
  internal/models/model_userinfo.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

fix(suites): missing duo_devices table in output check
  internal/suites/suite_cli_test.go
Due: none

fix(notifier): force use of sender email in smtp from cmd (#2616)
  config.template.yml
  docs/configuration/notifier/smtp.md
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/notifier.go
  internal/configuration/test_resources/config_smtp_sender_blank.yml
  internal/configuration/test_resources/config_smtp_sender_invalid.yml
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/notification/const.go
  internal/notification/smtp_notifier.go
  internal/notification/smtp_notifier_test.go
Due: backend

docs: fix tables
  docs/configuration/authentication/ldap.md
Due: none

docs: fix tables (#2647)
  docs/configuration/authentication/ldap.md
Due: none

build(deps): update dependency jest to v27.4.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor: code review
  internal/commands/storage_run.go
  internal/duo/duo.go
  internal/duo/types.go
  internal/handlers/duo.go
  internal/handlers/handler_register_duo_device.go
  internal/handlers/handler_register_duo_device_test.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_duo_test.go
  internal/mocks/mock_duo_api.go
  internal/models/duo_device.go
  internal/models/model_userinfo.go
  internal/storage/const.go
  internal/storage/provider.go
  internal/storage/provider_mock.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_pre1.go
  internal/suites/suite_duo_push_test.go
  internal/utils/strings.go
Due: backend

test: add test
  internal/utils/strings_test.go
Due: backend

test: nolint
  internal/storage/sql_provider_schema.go
Due: backend

refactor: rename mocks
  internal/mocks/authelia_ctx.go
  internal/mocks/duo_api.go
  internal/mocks/generate.go
  internal/mocks/notifier.go
  internal/mocks/storage.go
  internal/mocks/totp.go
  internal/mocks/u2f_verifier.go
  internal/mocks/user_provider.go
Due: backend

feat(totp): digits
  config.template.yml
  docs/configuration/one-time-password.md
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/configuration/config.template.yml
  internal/configuration/schema/totp.go
  internal/configuration/validator/const.go
  internal/configuration/validator/totp.go
  internal/configuration/validator/totp_test.go
  internal/suites/action_totp.go
  internal/totp/totp.go
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
Due: backend, frontend

docs(totp): update docs
  docs/configuration/one-time-password.md
  docs/contributing/commitmsg-guidelines.md
  internal/configuration/validator/totp.go
  web/.commitlintrc.js
Due: backend, frontend

test(configuration): fix
  internal/configuration/validator/totp_test.go
Due: backend

refactor: code review
  config.template.yml
  docs/configuration/one-time-password.md
  internal/configuration/config.template.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/totp.go
Due: backend

test: new cli options
  internal/suites/suite_cli_test.go
Due: none

refactor: remove previously deprecated options (#2629)
  docs/configuration/migration.md
  internal/configuration/provider_test.go
  internal/configuration/schema/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/logging.go
  internal/configuration/validator/logging_test.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
Due: backend

refactor: remove ioutil (#2635)
  cmd/authelia-scripts/cmd_bootstrap.go
  cmd/authelia-scripts/cmd_suites.go
  cmd/authelia-suites/main.go
  internal/authentication/file_user_provider.go
  internal/authentication/file_user_provider_test.go
  internal/configuration/helpers.go
  internal/configuration/koanf_callbacks_test.go
  internal/configuration/provider_test.go
  internal/configuration/template.go
  internal/configuration/template_test.go
  internal/logging/logger_test.go
  internal/notification/file_notifier.go
  internal/server/template.go
  internal/suites/action_http.go
  internal/suites/suite_standalone.go
  internal/suites/suite_standalone_test.go
  internal/suites/utils.go
  internal/utils/certificates.go
  internal/utils/hashing_test.go
Due: backend

build(deps): update module github.com/mitchellh/mapstructure to v1.4.3
  go.mod
  go.sum
Due: none

build(deps): update dependency jest to v27.4.3
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor(handlers): utilize referer for auth logging rm/rd
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
Due: backend

fix: ctx
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
Due: backend

fix: request_method schema needs to fit method connect/delete/options
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
Due: backend

fix(storage): new auth log schema request method length
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
Due: backend

refactor(storage): totp_configurations table
  internal/models/totp_configuration.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_queries_special.go
Due: backend

fix(storage): new auth log schema request method length (#2656)
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
Due: backend

refactor(storage): totp_configurations table (#2657)
  internal/models/totp_configuration.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_queries_special.go
Due: backend

refactor(handlers): utilize referer for auth logging rm/rd (#2655)
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
Due: backend

fix(storage): duo/u2f upsert failure on postgresql
  internal/handlers/handler_register_u2f_step2.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

refactor: apply suggestions from code review
  config.template.yml
  internal/configuration/config.template.yml
Due: backend
