Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

feat: add cors config options
  config.template.yml
  docs/configuration/identity-providers/oidc.md
  internal/configuration/config.template.yml
  internal/configuration/provider_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/test_resources/config_oidc.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/const.go
  internal/oidc/provider_test.go
  internal/server/const.go
  internal/server/error_handler.go
  internal/server/helpers.go
  internal/server/server.go
  internal/server/template.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend

refactor: reorganize router init
  internal/server/helpers.go
Due: backend

fix: 404/405 status codes
  internal/server/const.go
  internal/server/handler_error.go
  internal/server/handler_notfound.go
  internal/server/handler_options.go
  internal/server/helpers.go
  internal/suites/scenario_backend_protection_test.go
Due: backend

fix: add cors to swagger
  internal/server/helpers.go
Due: backend

fix: add any handler
  internal/server/helpers.go
Due: backend

deps: bump swagger
  cmd/authelia-scripts/cmd_build.go
Due: none

fix: include all files
  internal/server/const.go
Due: backend

fix: add wildcard
  docs/configuration/identity-providers/oidc.md
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/server/handler_options.go
  internal/server/helpers.go
Due: backend

refactor: cors builder
  internal/middlewares/const.go
  internal/middlewares/cors.go
  internal/middlewares/cors_test.go
  internal/server/helpers.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend

refactor: factorize and remove cors from unecessary endpoints
  internal/server/routes.go
Due: backend

build(deps): update dependency prettier to v2.6.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency react-i18next to v11.16.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency typescript to v4.6.3
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/react to v17.0.43
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor: ensure max age/cred headers applied if not zero length
  internal/middlewares/cors.go
Due: backend

build(deps): update module github.com/golang-jwt/jwt/v4 to v4.4.1
  go.mod
  go.sum
Due: none

fix: go.sum
  go.sum
Due: none

test: use subtests
  internal/oidc/amr_test.go
Due: backend

fix: exclude .well-known dir from not found next
  internal/server/const.go
  internal/server/handler_notfound.go
Due: backend

fix: options response requires content-length
  internal/middlewares/const.go
  internal/middlewares/cors.go
  internal/middlewares/cors_test.go
Due: backend

fix: ensure path compared case sensitively
  internal/server/handler_notfound.go
Due: backend

Update internal/handlers/handler_user_info_test.go
  internal/handlers/handler_user_info_test.go
Due: backend

test: use subtests
  internal/model/user_info_test.go
Due: backend

refactor: address code review
  internal/authorization/access_control_domain.go
  internal/authorization/access_control_resource.go
  internal/authorization/authorizer_test.go
  internal/authorization/util.go
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/validator/access_control_test.go
Due: backend

docs: add rfc link
  docs/configuration/access-control.md
Due: none

fix: disable healthcheck in systemd unit file
  authelia.service
  authelia@.service
Due: none

fix: duplicate string
  internal/model/user_info_test.go
Due: backend

fix(web): show appropriate default and available methods (#2999)
  api/openapi.yml
  internal/authentication/const.go
  internal/handlers/handler_configuration.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/model/const.go
  internal/model/user_info.go
  internal/model/user_info_test.go
  internal/server/server.go
  internal/storage/sql_provider.go
  web/src/hooks/UserInfo.ts
  web/src/services/UserInfo.ts
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: backend, frontend

release: v4.34.6
  web/package.json
Due: frontend

fix(configuration): expvars and pprof mapped incorrectly
  internal/configuration/schema/server.go
Due: backend

fix: disable healthcheck in systemd unit file (#3066)
  authelia.service
  authelia@.service
Due: none

fix(configuration): expvars and pprof mapped incorrectly (#3068)
  internal/configuration/schema/server.go
Due: backend

release: v4.34.6 (#3067)
  web/package.json
Due: frontend

feat: consent in storage
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/response.go
  internal/mocks/duo_api.go
  internal/mocks/storage.go
  internal/mocks/totp.go
  internal/model/oidc.go
  internal/model/opaque_user_identifier.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/store.go
  internal/session/types.go
  internal/storage/const.go
  internal/storage/migrations/V0004.OpenIDConenct.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConenct.postgres.up.sql
  internal/storage/migrations/V0004.OpenIDConenct.sqlite.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.all.down.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

fix: nil
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/suites/scenario_oidc_test.go
Due: backend

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix: nil
  internal/handlers/handler_oidc_consent.go
  internal/suites/scenario_oidc_test.go
Due: backend

test: check individual claims
  internal/handlers/handler_oidc_consent.go
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/scenario_oidc_test.go
Due: backend

fix(storage): mysql migration
  internal/storage/migrations/V0004.OpenIDConenct.mysql.up.sql
Due: backend

test: comment test
  internal/suites/scenario_oidc_test.go
Due: none
