Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

.codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      backend:
        flags:
          - backend
      frontend:
        flags:
          - frontend
      integration:
        flags:
          - integration

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"
  integration:
    paths:
      - "internal/suites/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

Utilise frontend assets from unit testing for Docker build steps
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/buildimages.sh
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
Due: none

Fix integration tests
  Dockerfile.coverage
Due: none

Fix response schema for /api/user/info/2fa_method
  swagger/authelia-api.yml
Due: none

Add U2F endpoints
  swagger/authelia-api.yml
Due: none

Fix tag for /api/user/* endpoints
  swagger/authelia-api.yml
Due: none

Change swagger directory to api
  Dockerfile.coverage
  api/index.html
  api/openapi.yml
  cmd/authelia-scripts/cmd_build.go
  internal/server/const.go
Due: backend

Add authentication for u2f endpoints
  api/openapi.yml
Due: none

suggestions from code review
  BREAKING.md
  internal/configuration/validator/configuration.go
  internal/configuration/validator/notifier.go
Due: backend

Modify u2f endpoint descriptions
  api/openapi.yml
Due: none

Rename and fix u2f 2fa sign endpoints
  api/openapi.yml
Due: none

Fix request body for /api/secondfactor/u2f/sign endpoint
  api/openapi.yml
Due: none

[FEATURE] Add API docs and swagger-ui (#1544)
  .buildkite/hooks/pre-command
  .buildkite/pipeline.sh
  .buildkite/steps/buildimages.sh
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
  api/index.html
  api/openapi.yml
  cmd/authelia-scripts/cmd_build.go
  cmd/authelia-scripts/const.go
  internal/server/const.go
  internal/server/index.go
  internal/server/public_html.gen.go
  internal/server/server.go
  internal/server/template.go
  web/.gitignore
Due: backend, frontend

[FEATURE] Enhance LDAP/SMTP TLS Configuration and Unify Them (#1557)
  BREAKING.md
  cmd/authelia/main.go
  config.template.yml
  docs/configuration/authentication/ldap.md
  docs/configuration/index.md
  docs/configuration/miscellaneous.md
  docs/configuration/notifier/smtp.md
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_connection_factory_mock.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/configuration/reader.go
  internal/configuration/schema/authentication.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/notifier.go
  internal/configuration/schema/shared.go
  internal/configuration/schema/validator.go
  internal/configuration/schema/validator_test.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/configuration/validator/storage_test.go
  internal/notification/smtp_notifier.go
  internal/notification/smtp_notifier_test.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/ShortTimeouts/configuration.yml
  internal/suites/example/kube/authelia/configs/configuration.yml
  internal/utils/certificates.go
  internal/utils/certificates_test.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend, integration

[FEATURE] Validate ACLs and add network groups (#1568)
  config.template.yml
  docs/configuration/access-control.md
  internal/authorization/authorizer.go
  internal/authorization/const.go
  internal/authorization/ip_matcher.go
  internal/authorization/ip_matcher_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/schema/const.go
  internal/configuration/test_resources/config.yml
  internal/configuration/test_resources/config_alt.yml
  internal/configuration/test_resources/config_bad_keys.yml
  internal/configuration/test_resources/config_with_secret.yml
  internal/configuration/validator/access_control.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/suites/NetworkACL/configuration.yml
Due: backend, integration

[RELEASE] v4.25.0
  .buildkite/RELEASE.md
  BREAKING.md
Due: none

wording
  BREAKING.md
Due: none

[RELEASE] v4.25.0 (#1578)
  .buildkite/RELEASE.md
  BREAKING.md
Due: none

[CI] Simplify coverage Dockerfile
  Dockerfile.coverage
Due: none

[CI] Update QEMU to v5.2.0-2
  cmd/authelia-scripts/cmd_docker.go
Due: none

[CI] Update QEMU to v5.2.0-2 (#1582)
  cmd/authelia-scripts/cmd_docker.go
Due: none

[CI] Simplify coverage Dockerfile (#1583)
  Dockerfile.coverage
Due: none

[FEATURE] Add theme support
  config.template.yml
  docs/configuration/theme.md
  internal/configuration/schema/configuration.go
  internal/configuration/schema/theme.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/theme.go
  internal/configuration/validator/theme_test.go
  internal/server/server.go
  internal/server/template.go
  web/.env.development
  web/.env.production
  web/public/index.html
  web/src/App.tsx
  web/src/assets/images/user.svg
  web/src/index.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/setupTests.js
  web/src/themes/Custom.ts
  web/src/themes/Dark.ts
  web/src/themes/Grey.ts
  web/src/themes/Light.ts
  web/src/themes/index.ts
  web/src/utils/Configuration.ts
  web/src/views/LoadingPage/LoadingPage.tsx
Due: backend, frontend

Add themes to integration tests
  internal/configuration/validator/theme.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/Standalone/configuration.yml
Due: backend, integration

Remove custom theme
  config.template.yml
  docs/configuration/theme.md
  internal/configuration/schema/configuration.go
  internal/configuration/schema/theme.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/theme.go
  internal/configuration/validator/theme_test.go
  internal/server/server.go
  internal/server/template.go
  internal/suites/ActiveDirectory/configuration.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/Standalone/configuration.yml
  web/.env.development
  web/.env.production
  web/public/index.html
  web/src/App.tsx
  web/src/setupTests.js
  web/src/themes/Custom.ts
  web/src/themes/index.ts
  web/src/utils/Configuration.ts
Due: backend, frontend, integration

[BUGFIX] Fix incorrect docs and Certificate PEM extensions
  docs/configuration/miscellaneous.md
  internal/utils/certificates.go
Due: backend

[BUGFIX] Fix incorrect docs and Certificate PEM extensions (#1589)
  docs/configuration/miscellaneous.md
  internal/utils/certificates.go
Due: backend

[RELEASE] v4.25.1
  .buildkite/RELEASE.md
Due: none

[RELEASE] v4.25.1 (#1590)
  .buildkite/RELEASE.md
Due: none

[CI] Update PR commentary
  .github/probot.js
Due: none

[CI] Update PR commentary (#1592)
  .github/probot.js
Due: none

Fix docker tag used for readme badge
  README.md
Due: none

[CI] Fix CI/CD for forked master branches
  .github/probot.js
Due: none

[CI] Fix CI/CD for forked master branches (#1596)
  .github/probot.js
Due: none

[DOCS] Specify docker tag for readme badges (#1593)
  README.md
Due: none

[MISC] Validate all sections of ACLs on startup
  internal/authorization/const.go
  internal/authorization/ip_matcher.go
  internal/authorization/ip_matcher_test.go
  internal/authorization/path_matcher.go
  internal/authorization/subject_matcher.go
  internal/configuration/schema/access_control.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/configuration.go
  internal/suites/DuoPush/configuration.yml
Due: backend, integration

Change error format to clearly identify values
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
Due: backend

[MISC] Add CLI suite
  .buildkite/hooks/post-command
  .gitignore
  internal/suites/CLI/configuration.yml
  internal/suites/CLI/docker-compose.yml
  internal/suites/CLI/users.yml
  internal/suites/docker.go
  internal/suites/environment.go
  internal/suites/example/compose/authelia/Dockerfile.backend
  internal/suites/example/compose/authelia/resources/run-backend-dev.sh
  internal/suites/suite_cli.go
  internal/suites/suite_cli_test.go
  internal/suites/suites.go
Due: integration

[BUGFIX] Disable colored logging outputs when file is specified
  internal/logging/const.go
  internal/logging/logger.go
Due: backend

[MISC] Fix OTP countdown circle
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
Due: frontend

[BUGFIX] Disable colored logging outputs when file is specified (#1603)
  internal/logging/const.go
  internal/logging/logger.go
Due: backend
