Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

release: v4.38.0 (#6851)
  .github/ISSUE_TEMPLATE/bug-report.yml
  web/package.json
Due: frontend

docs: release
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/blog/release-notes-4.38/index.md
  docs/data/misc.json
Due: none

docs: release (#6853)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/content/blog/release-notes-4.38/index.md
  docs/data/misc.json
Due: none

docs: fix misc
  docs/content/blog/release-notes-4.38/index.md
  docs/content/policies/privacy.md
  docs/content/policies/security.md
  docs/content/policies/versioning.md
Due: none

docs: fix misc (#6855)
  docs/content/blog/release-notes-4.38/index.md
  docs/content/policies/privacy.md
  docs/content/policies/security.md
  docs/content/policies/versioning.md
Due: none

refactor: ensure generator outputs the correct versions
  cmd/authelia-gen/cmd_docs_cli.go
  cmd/authelia-gen/cmd_docs_jsonschema.go
Due: none

docs: collapse cli reference
  docs/content/blog/release-notes-4.38/index.md
  docs/content/reference/cli/authelia-gen/_index.md
  docs/content/reference/cli/authelia-scripts/_index.md
  docs/content/reference/cli/authelia/_index.md
Due: none

docs: collapse cli reference (#6856)
  docs/content/blog/release-notes-4.38/index.md
  docs/content/reference/cli/authelia-gen/_index.md
  docs/content/reference/cli/authelia-scripts/_index.md
  docs/content/reference/cli/authelia/_index.md
Due: none

fix(configuration): default redirection url check fails
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

fix(storage): mysql failure to upgrade webauthn
  internal/storage/migrations/mysql/V0012.WebAuthnMultiCookieDomain.up.sql
Due: backend

docs(oidc): fix powerdns admin integration
  docs/content/integration/openid-connect/powerdns/index.md
Due: none

docs(oidc): fix powerdns admin integration (#6871)
  docs/content/integration/openid-connect/powerdns/index.md
Due: none

fix(configuration): default redirection url check fails (#6867)
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
Due: backend

fix(storage): mysql migrate failure webauthn (#6866)
  internal/storage/migrations/mysql/V0012.WebAuthnMultiCookieDomain.up.sql
Due: backend

refactor: ensure generator outputs the correct versions (#6854)
  cmd/authelia-gen/cmd_docs_cli.go
  cmd/authelia-gen/cmd_docs_jsonschema.go
Due: none

release: v4.38.1
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

release: v4.38.1 (#6872)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

refactor(server): log tls handshake errors
  internal/server/const.go
  internal/server/handlers.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

refactor(server): clear logs for tls handshake errors (#6873)
  internal/server/const.go
  internal/server/handlers.go
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

docs(configuration): fix invalid `reset_password` example config
  docs/content/configuration/identity-validation/reset-password.md
Due: none

docs: clarifications
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/configuration/methods/files.md
  docs/content/roadmap/active/internationalization.md
Due: none

docs: clarifications (#6876)
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/configuration/methods/files.md
  docs/content/roadmap/active/internationalization.md
Due: none

docs: fix invalid `reset_password` example config (#6874)
  docs/content/configuration/identity-validation/reset-password.md
Due: none

<docs>(golangci-lint): update golangci-lint link to reflect link change in source documentation
  docs/content/contributing/development/environment.md
Due: none

docs: update golangci-lint link (#6878)
  docs/content/contributing/development/environment.md
Due: none

docs: fix links
  README.md
  docs/content/policies/versioning.md
  docs/static/images/1FA.png
  docs/static/images/2FA-METHODS.png
  docs/static/images/archi.png
  docs/static/images/authelia-title.png
  docs/static/images/default-image.png
  docs/static/images/logos/caddy.png
  docs/static/images/logos/docker.logo.png
  docs/static/images/logos/envoy.png
  docs/static/images/logos/haproxy.png
  docs/static/images/logos/kubernetes.png
  docs/static/images/logos/nginx.png
  docs/static/images/logos/traefik.png
Due: none

docs: fix links (#6879)
  README.md
  docs/content/policies/versioning.md
  docs/static/images/1FA.png
  docs/static/images/2FA-METHODS.png
  docs/static/images/archi.png
  docs/static/images/authelia-title.png
  docs/static/images/default-image.png
  docs/static/images/logos/caddy.png
  docs/static/images/logos/docker.logo.png
  docs/static/images/logos/envoy.png
  docs/static/images/logos/haproxy.png
  docs/static/images/logos/kubernetes.png
  docs/static/images/logos/nginx.png
  docs/static/images/logos/traefik.png
Due: none

docs: fix svgs
  README.md
Due: none

docs: fix svgs (#6880)
  README.md
Due: none

fix(server): invalid base url
  internal/server/template.go
Due: backend

fix(server): invalid base url (#6881)
  internal/server/template.go
Due: backend

build(deps): update authelia.com/provider/oath2 to v0.1.1
  go.mod
  go.sum
Due: none

build(deps): update module authelia.com/provider/oauth2 to v0.1.1 (#6886)
  go.mod
  go.sum
Due: none

release: v4.38.2
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

ci(web): simplify import-alias configuration
  web/.eslintrc.cjs
Due: frontend

ci(web): simplify import-alias configuration (#6894)
  web/.eslintrc.cjs
Due: frontend

docs: additional clarity
  docs/content/blog/release-notes-4.38/index.md
  docs/content/configuration/identity-providers/openid-connect/clients.md
Due: none

docs: additional clarity (#6896)
  docs/content/blog/release-notes-4.38/index.md
  docs/content/configuration/identity-providers/openid-connect/clients.md
Due: none

release: v4.38.2 (#6897)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
