Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

docs: misc inclusions and fixes (#5915)
  docs/content/en/integration/openid-connect/introduction.md
Due: none

docs: fix generator
  cmd/authelia-gen/cmd_github.go
  internal/model/semver.go
  internal/model/semver_test.go
Due: backend

test: fix lint
  cmd/authelia-gen/cmd_github.go
Due: none

docs: fix generator (#5931)
  cmd/authelia-gen/cmd_github.go
  internal/model/semver.go
  internal/model/semver_test.go
Due: backend

feat(oidc): rfc9207 server issuer identification
  docs/content/en/integration/openid-connect/introduction.md
  internal/handlers/handler_oidc_authorization.go
  internal/middlewares/util.go
  internal/oidc/client_credentials.go
  internal/oidc/client_credentials_test.go
  internal/oidc/client_policy.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/flow_client_credentials.go
  internal/oidc/flow_refresh.go
  internal/oidc/resposne_mode.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/scenario_oidc_test.go
Due: backend

feat(oidc): server issuer identification (#5912)
  docs/content/en/integration/openid-connect/introduction.md
  internal/handlers/handler_oidc_authorization.go
  internal/middlewares/util.go
  internal/oidc/client_credentials.go
  internal/oidc/client_credentials_test.go
  internal/oidc/client_policy.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/flow_client_credentials.go
  internal/oidc/flow_refresh.go
  internal/oidc/resposne_mode.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/scenario_oidc_test.go
Due: backend

refactor: factorize
  internal/oidc/client_credentials_test.go
  internal/oidc/jarm.go
  internal/oidc/keys.go
  internal/oidc/keys_blackbox_test.go
  internal/oidc/response_mode.go
  internal/oidc/resposne_mode.go
  internal/oidc/util.go
Due: backend

refactor: simplify rfc9207
  internal/configuration/config.template.yml
  internal/oidc/config.go
  internal/oidc/handler_introspection.go
  internal/oidc/handlers.go
  internal/oidc/jarm.go
  internal/oidc/response_mode.go
  internal/oidc/types.go
  internal/oidc/util.go
Due: backend

feat(oidc): jwt secured authorization response mode
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/integration/openid-connect/introduction.md
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/discovery.go
  internal/oidc/discovery_test.go
  internal/oidc/jarm.go
  internal/oidc/provider.go
  internal/oidc/resposne_mode.go
  internal/oidc/types.go
  internal/oidc/util.go
Due: backend

test: add tests
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/oidc/client.go
  internal/oidc/client_policy_test.go
  internal/oidc/client_test.go
  internal/oidc/handlers_test.go
  internal/oidc/jarm.go
  internal/oidc/jarm_test.go
  internal/oidc/response_mode.go
  internal/oidc/response_mode_test.go
  internal/oidc/types.go
  internal/oidc/util_blackbox_test.go
Due: backend

feat(oidc): rfc9207 server issuer identification
  internal/oidc/util.go
Due: backend

build: bump webauthn dep
  web/package.json
  web/pnpm-lock.yaml
  web/src/services/WebAuthn.ts
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: frontend

feat(oidc): jwt profile for oauth 2.0 access tokens
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/roadmap/active/openid-connect.md
  docs/data/configkeys.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/util.go
  internal/handlers/handler_oidc_userinfo.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/config.go
  internal/oidc/config_test.go
  internal/oidc/const.go
  internal/oidc/core_strategy_jwt.go
  internal/oidc/core_strategy_jwt_blackbox_test.go
  internal/oidc/introspector_jwt.go
  internal/oidc/introspector_jwt_test.go
  internal/oidc/session.go
  internal/oidc/session_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/storage/migrations/V0011.JWTProfileAccessToken.all.down.sql
  internal/storage/migrations/V0011.JWTProfileAccessToken.mysql.up.sql
  internal/storage/migrations/V0011.JWTProfileAccessToken.postgres.up.sql
  internal/storage/migrations/V0011.JWTProfileAccessToken.sqlite.up.sql
  internal/storage/migrations_test.go
  internal/storage/sql_provider.go
Due: backend

test: refactor and add tests
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/core_strategy_hmac_blackbox_test.go
  internal/oidc/session.go
  internal/oidc/session_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util_blackbox_test.go
  internal/session/provider_test.go
  internal/session/user_session.go
  internal/storage/sql_provider.go
Due: backend

test: refactor and add tests (#5934)
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_userinfo.go
  internal/model/oidc.go
  internal/model/oidc_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/core_strategy_hmac_blackbox_test.go
  internal/oidc/session.go
  internal/oidc/session_test.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util_blackbox_test.go
  internal/session/provider_test.go
  internal/session/user_session.go
  internal/storage/sql_provider.go
Due: backend

docs: require build info in issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
Due: none

docs: require build info in issue template (#5937)
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
Due: none

feat(oidc): jwt profile for oauth 2.0 access tokens (#5913)
  cmd/authelia-gen/cmd_docs_date.go
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/roadmap/active/openid-connect.md
  docs/data/configkeys.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oidc_userinfo.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/config.go
  internal/oidc/config_test.go
  internal/oidc/const.go
  internal/oidc/core_strategy_jwt.go
  internal/oidc/core_strategy_jwt_blackbox_test.go
  internal/oidc/handler_introspection.go
  internal/oidc/introspector_jwt.go
  internal/oidc/introspector_jwt_test.go
  internal/oidc/jarm.go
  internal/oidc/jarm_test.go
  internal/oidc/session.go
  internal/oidc/session_test.go
  internal/oidc/types.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/storage/migrations/V0011.JWTProfileAccessToken.all.down.sql
  internal/storage/migrations/V0011.JWTProfileAccessToken.mysql.up.sql
  internal/storage/migrations/V0011.JWTProfileAccessToken.postgres.up.sql
  internal/storage/migrations/V0011.JWTProfileAccessToken.sqlite.up.sql
  internal/storage/migrations_test.go
Due: backend

docs: add prom example (#5170)
  docs/content/en/reference/guides/metrics.md
Due: none

refactor: build compiler
  internal/commands/build-info.go
  internal/commands/const.go
Due: backend

refactor(logging): log user at startup
  internal/commands/context.go
  internal/commands/root.go
  internal/configuration/validator/const.go
  internal/configuration/validator/log.go
  internal/configuration/validator/log_test.go
  internal/logging/const.go
  internal/logging/logger.go
Due: backend

refactor(logging): log user at startup (#5941)
  internal/commands/context.go
  internal/commands/root.go
  internal/configuration/validator/const.go
  internal/configuration/validator/log.go
  internal/configuration/validator/log_test.go
  internal/logging/const.go
  internal/logging/logger.go
Due: backend

docs: pretty format json data
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/cmd_locales.go
  docs/data/configkeys.json
  docs/data/languages.json
  docs/data/misc.json
Due: none

docs: pretty format json data (#5947)
  cmd/authelia-gen/cmd_docs_data.go
  cmd/authelia-gen/cmd_locales.go
  docs/data/configkeys.json
  docs/data/languages.json
  docs/data/misc.json
Due: none

feat: export schemas
  cmd/authelia-gen/cmd_docs_jsonschema.go
  cmd/authelia-gen/cmd_root.go
  cmd/authelia-gen/const.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/static/schemas/v4.38/exports.identifiers.json
  docs/static/schemas/v4.38/exports.totp.json
  docs/static/schemas/v4.38/exports.webauthn.json
  internal/model/totp_configuration.go
  internal/model/user_opaque_identifier.go
  internal/model/webauthn.go
Due: backend

docs: adjust paths and add docs
  cmd/authelia-gen/cmd_docs_jsonschema.go
  cmd/authelia-gen/const.go
  docs/content/en/configuration/methods/files.md
  docs/content/en/reference/guides/schemas.md
  docs/static/schemas/latest/configuration.json
  docs/static/schemas/latest/user-database.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/exports.identifiers.json
  docs/static/schemas/v4.38/json-schema/exports.totp.json
  docs/static/schemas/v4.38/json-schema/exports.webauthn.json
  docs/static/schemas/v4.38/json-schema/user-database.json
  internal/commands/storage_run.go
  internal/commands/util.go
Due: backend

test: add tests
  internal/configuration/schema/types.go
  internal/configuration/schema/types_address.go
  internal/configuration/schema/types_test.go
Due: backend

feat: final theoretical tweaks
  cmd/authelia-gen/cmd_docs_jsonschema.go
  cmd/authelia-gen/const.go
  docs/content/en/reference/guides/schemas.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/latest/json-schema/exports.identifiers.json
  docs/static/schemas/latest/json-schema/exports.totp.json
  docs/static/schemas/latest/json-schema/exports.webauthn.json
  docs/static/schemas/latest/json-schema/user-database.json
  internal/commands/util.go
  internal/model/const.go
Due: backend

docs: adjust mkdir in generator
  cmd/authelia-gen/cmd_docs_jsonschema.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/content/en/reference/guides/schemas.md
Due: none

docs: adjust mkdir in generator (#5949)
  cmd/authelia-gen/cmd_docs_jsonschema.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_server.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_cli.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_keys.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_data_misc.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_github_issue-templates_feature-request.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_locales.md
  docs/content/en/reference/guides/schemas.md
Due: none

docs: tuning links
  docs/content/en/integration/openid-connect/frequently-asked-questions.md
  docs/content/en/reference/guides/passwords.md
Due: none

build(deps): update module github.com/authelia/jsonschema to v0.1.7
  cmd/authelia-gen/cmd_docs_jsonschema.go
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  go.mod
  go.sum
  internal/configuration/schema/types.go
  internal/configuration/schema/types_address.go
Due: backend

build(deps): update module github.com/authelia/jsonschema to v0.1.7 (#5950)
  cmd/authelia-gen/cmd_docs_jsonschema.go
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  go.mod
  go.sum
  internal/configuration/schema/types.go
  internal/configuration/schema/types_address.go
Due: backend

docs: tuning links (#5952)
  docs/content/en/integration/openid-connect/frequently-asked-questions.md
  docs/content/en/reference/guides/passwords.md
Due: none
