Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: down migrations
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.down.sql
Due: backend

fix: down migrations
  internal/storage/migrations.go
  internal/storage/migrations_test.go
Due: backend

fix(oidc): subject generated for anonymous users (#3238)
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oauth_revocation.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_token.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/model/types.go
  internal/oidc/types_test.go
  internal/storage/const.go
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

fix: go.sum
  go.sum
Due: none

build(deps): update dependency eslint to v8.14.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

release; v4.35.1
  web/package.json
Due: frontend

fix: unit tests
  internal/suites/suite_cli_test.go
Due: none

refactor: ensure bad consent sessions and identifiers are deleted
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
Due: backend

refactor: ensure bad consent sessions and identifiers are deleted (#3241)
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
Due: backend

test: fix additional suites
  internal/suites/suite_cli_test.go
Due: none

fix(commands): invalid opaque id service name (#3235)
  internal/commands/const.go
  internal/commands/storage.go
  internal/commands/storage_run.go
  internal/suites/suite_cli_test.go
Due: backend

refactor: exclude id from sqlite3 table recreate
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
Due: backend

docs: add migration docs
  docs/configuration/storage/migrations.md
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
Due: backend

refactor: exclude id from sqlite3 migration (#3242)
  docs/configuration/storage/migrations.md
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
Due: backend

release; v4.35.1 (#3240)
  web/package.json
Due: frontend

build(deps): update dependency vite-plugin-eslint to v1.6.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update typescript-eslint monorepo to v5.21.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix(oidc): pre-conf consent skipped entirely for anon users
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/response.go
Due: backend

fix: duplicated log message
  internal/handlers/handler_oidc_authorization.go
Due: backend

fix: set consent subject valid
  internal/handlers/response.go
Due: backend

fix(authentication): follow ldap referrals
  internal/authentication/ldap_connection.go
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

build(deps): update dependency axios to v0.27.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite to v2.9.6
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update react monorepo
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/react to v18.0.8
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

ci(buildkite): allow manual retry on passed coverage step
  .buildkite/pipeline.sh
Due: none

ci(buildkite): allow manual retry on passed coverage step (#3254)
  .buildkite/pipeline.sh
Due: none

fix: add toggle
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_connection.go
  internal/authentication/ldap_connection_factory.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
  internal/authentication/types.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/keys.go
Due: backend

build(deps): update dependency haproxy to v2.5.6
  internal/suites/example/compose/haproxy/Dockerfile
Due: none

fix(authentication): utilize msad password history control
  go.mod
  internal/authentication/const.go
  internal/authentication/ldap_ber.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

test: add tests
  internal/authentication/ldap_user_provider_test.go
Due: backend

build(deps): update dependency @types/node to v16.11.31
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency jest to v28
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): explicitly include jest-environment-jsdom
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update commitlint monorepo to v16.2.4
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

ci(buildkite): add qemu registration for specific nodes
  .buildkite/hooks/pre-command
Due: none

ci(buildkite): add qemu registration for specific nodes (#3262)
  .buildkite/hooks/pre-command
Due: none

build(deps): update dependency axios to v0.27.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update github.com/duosecurity/duo_api_golang digest to fa137a8
  go.mod
  go.sum
Due: none

build(deps): update dependency jest-watch-typeahead to v1.1.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend
