Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

ci(buildkite): log ghcr id on tag removal (#1889)
  .buildkite/hooks/post-command
Due: none

build(deps): update module github.com/go-ldap/ldap/v3 to v3.3.0
  go.mod
  go.sum
Due: none

build(deps): update swagger-ui to v3.46.0
  cmd/authelia-scripts/cmd_build.go
Due: none

fix: update authelia.service dependencies (#1883)
  authelia.service
Due: none

build(deps): update swagger-ui to v3.46.0 (#1891)
  cmd/authelia-scripts/cmd_build.go
Due: none

fix: yaml linting config and pipeline
  .reviewdog.yml
  .yamllint.yml
  config.template.yml
Due: none

fix: restore missing files
  examples/compose/lite/authelia/configuration.yml
  examples/compose/lite/authelia/users_database.yml
  examples/compose/local/authelia/configuration.yml
  examples/compose/local/authelia/users_database.yml
  examples/compose/local/setup.sh
  examples/compose/local/traefik/certificates.yml
Due: none

Apply suggestions from code review
  README.md
  config.template.yml
  docs/community/using-remote-user-header-for-sso-with-jira.md
  docs/configuration/miscellaneous.md
  docs/configuration/notifier/filesystem.md
  docs/configuration/session/redis.md
  docs/configuration/storage/sqlite.md
  docs/contributing/authelia-scripts.md
  docs/contributing/build-and-dev.md
Due: none

fix: apply suggestions from code review
  .yamllint.yml
  docs/_config.yml
  internal/configuration/config.template.yml
Due: backend

fix: apply suggestions from code review
  docs/contributing/style-guide.md
Due: none

build(deps): update dependency typescript to v4.2.4
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update module github.com/otiai10/copy to v1.5.1
  go.mod
  go.sum
Due: none

fix: yamllint
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

ci: fix inconsistencies in yamllint
  .buildkite/pipeline.yml
  .golangci.yml
  api/openapi.yml
  internal/configuration/test_resources/config_bad_quoting.yml
  internal/suites/BypassAll/users.yml
  internal/suites/CLI/users.yml
  internal/suites/Docker/users.yml
  internal/suites/DuoPush/users.yml
  internal/suites/HAProxy/users.yml
  internal/suites/LDAP/configuration.yml
  internal/suites/Mariadb/users.yml
  internal/suites/MySQL/users.yml
  internal/suites/NetworkACL/users.yml
  internal/suites/OneFactorOnly/users.yml
  internal/suites/PathPrefix/users.yml
  internal/suites/Postgres/users.yml
  internal/suites/ShortTimeouts/users.yml
  internal/suites/Standalone/users.yml
  internal/suites/Traefik/users.yml
  internal/suites/Traefik2/users.yml
Due: backend, integration

ci: fix erroneous golangci lint adds
  .golangci.yml
Due: none

fix: unit test failure due to line changes in yaml
  internal/configuration/reader_test.go
Due: backend

ci: remove yamllint from this pr
  .reviewdog.yml
  .yamllint.yml
Due: none

ci: skip yamllint on web/node_modules
  .yamllint.yml
Due: none

ci: make rules more specific
  .buildkite/pipeline.yml
  internal/authentication/users_database.template.yml
  internal/suites/example/kube/apps/apps.yml
  internal/suites/example/swarm/docker-compose.yml
Due: backend, integration

build(deps): update traefik docker tag to v1.7.30
  internal/suites/example/compose/traefik/docker-compose.yml
Due: integration

fix: misleading warning for empty acl domains
  internal/authorization/access_control_rule.go
  internal/authorization/authorizer.go
  internal/authorization/const.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/const.go
Due: backend

fix: const issue
  internal/authorization/authorizer.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/const.go
Due: backend

fix: wording
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
Due: backend

[DOCS] Add an example of deploying authelia lite on docker swarm
  docs/community/example-of-authelia-lite-on-docker-swarm.md
Due: none

[DOCS] Add placement constraints for docker swarm
  docs/community/example-of-authelia-lite-on-docker-swarm.md
Due: none

[DOCS] Add github repo with full config files of docker swarm
  docs/community/example-of-authelia-lite-on-docker-swarm.md
Due: none

docs: Add a page in docs for listing the links to various community resources.
  docs/community/additional-resources.md
Due: none

fix: beautify consent view.
  internal/handlers/const.go
  web/src/layouts/LoginLayout.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: backend, frontend

fix: bump gems used to generate documentation.
  docs/Gemfile.lock
Due: none

fix: Fix loading screen after denying consent.
  web/src/components/NotificationBar.tsx
  web/src/hooks/RemoteCall.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

docs: Add a page in docs for listing the links to various community resources. (#1901)
  docs/community/additional-resources.md
Due: none

Update docs/community/example-of-authelia-lite-on-docker-swarm.md
  docs/community/example-of-authelia-lite-on-docker-swarm.md
Due: none

docs: add an example of deploying authelia lite on docker swarm (#1899)
  docs/community/example-of-authelia-lite-on-docker-swarm.md
Due: none

apply suggestions from code review
  internal/authorization/access_control_rule.go
  internal/authorization/authorizer.go
  internal/authorization/const.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/const.go
  internal/handlers/handler_firstfactor_test.go
  internal/session/provider.go
Due: backend

apply suggestions from code review
  internal/authorization/authorizer.go
Due: backend

ci: include config templates in yamllint
  .yamllint.yml
Due: none

ci: remove compose/ from yamllint ignores
  .yamllint.yml
Due: none

docs: add slightly more LDAP docs
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/configuration/config.template.yml
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/
  frontend: any of: web/
  integration: any of: internal/suites/
