Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build(deps): bump
  go.mod
  go.sum
Due: none

refactor: imports
  internal/oidc/keys.go
  internal/oidc/types.go
Due: backend

ci: fix pre-commit scripts compatibility with posix shells (#4243)
  .github/pre-commit
  .github/required-apps
Due: none

fix: set engine
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.up.sql
Due: backend

docs: update docs and revert conditionals
  docs/content/en/configuration/storage/mysql.md
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.all.down.sql
Due: backend

fix: drop table order
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
Due: backend

fix: proc
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.up.sql
Due: backend

fix: indent
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.up.sql
Due: backend

fix: drop if exists
  internal/storage/migrations/V0007.ConsistencyFixes.postgres.up.sql
Due: backend

fix: proc
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.up.sql
Due: backend

docs: update docs
  docs/content/en/configuration/storage/migrations.md
  docs/content/en/configuration/storage/mysql.md
  docs/content/en/contributing/guidelines/database-schema.md
Due: none

refactor: adjust mysql engine statements
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
Due: backend

refactor: adjust query format
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.postgres.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.sqlite.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.up.sql
Due: backend

refactor: more consistencies
  internal/model/webauthn.go
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.all.down.sql
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.down.sql
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.postgres.down.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.down.sql
Due: backend

docs: update docs
  docs/content/en/reference/cli/authelia/authelia_storage.md
  docs/content/en/reference/integrations/database-integrations.md
  docs/content/en/reference/integrations/introduction.md
Due: none

refactor: helper
  cmd/authelia-gen/cmd_docs_cli.go
Due: none

docs: clarifications
  docs/content/en/contributing/guidelines/database-schema.md
  docs/content/en/reference/integrations/database-integrations.md
Due: none

docs: clarifications
  docs/content/en/reference/integrations/database-integrations.md
Due: none

fix: postgres indexes
  internal/storage/migrations/V0007.ConsistencyFixes.postgres.up.sql
Due: backend

ci: fix docker tag manifest hashes
  cmd/authelia-scripts/cmd/docker.go
  cmd/authelia-scripts/cmd/helpers_docker.go
Due: none

ci: fix docker tag manifest hashes (#4354)
  cmd/authelia-scripts/cmd/docker.go
  cmd/authelia-scripts/cmd/helpers_docker.go
Due: none

refactor: misc improvements to postgres
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0002.Webauthn.postgres.down.sql
  internal/storage/migrations/V0002.Webauthn.postgres.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.postgres.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.postgres.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.mysql.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.postgres.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
Due: backend

ci: re-enable eslint
  web/vite.config.ts
Due: frontend

refactor: move webauthn devices endpoint into enabled conditional
  internal/server/handlers.go
Due: backend

refactor: remove pre1 migration path
  internal/storage/const.go
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_queries_special.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_pre1.go
  internal/storage/types.go
Due: backend

refactor: lint
  internal/storage/sql_provider_schema.go
Due: backend

refactor: ignore order for duo_devices
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
Due: backend

feat: redirect from settings to login if unauthenticated
  web/src/views/Settings/SettingsView.tsx
Due: frontend

feat: reorganize various components in login flow
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/Settings/SettingsView.tsx
Due: frontend

feat: reorganize uri namespace so root uri is logged in landing page
  web/src/App.tsx
  web/src/constants/Routes.ts
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

refactor: use explicit indexes
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.sqlite.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.sqlite.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.down.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
Due: backend

revert: docs(deps): bump all deps (#4303)
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

test: disable csp
  docs/layouts/index.headers
Due: none

test: enable csp
  docs/layouts/index.headers
Due: none

docs: adjust csp
  docs/layouts/index.headers
Due: none

docs: bump deps
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: adjust csp (#4361)
  docs/layouts/index.headers
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

refactor: restore if/not/exists
  internal/storage/migrations/V0001.Initial_Schema.all.down.sql
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/migrations/V0002.Webauthn.mysql.down.sql
  internal/storage/migrations/V0002.Webauthn.mysql.up.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.down.sql
  internal/storage/migrations/V0002.Webauthn.sqlite.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.mysql.up.sql
  internal/storage/migrations/V0003.WebauthnKIDLength.sqlite.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.all.down.sql
  internal/storage/migrations/V0004.OpenIDConnect.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConnect.sqlite.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.mysql.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.postgres.up.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.down.sql
  internal/storage/migrations/V0006.ConsentPreConfiguration.sqlite.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.postgres.up.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.down.sql
  internal/storage/migrations/V0007.ConsistencyFixes.sqlite.up.sql
Due: backend

feat: provide webauthn device description from frontend on registration
  api/openapi.yml
  internal/handlers/handler_register_webauthn.go
  web/src/services/Webauthn.ts
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
Due: backend, frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
