Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

Update internal/server/locales/en/portal.json
  internal/server/locales/en/portal.json
Due: backend

fix(i18n): lack of privacy policy message consistency (#8845)
  internal/server/asset.go
  internal/server/locales/en/portal.json
  internal/server/server.go
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/constants/constants.ts
Due: backend, frontend

refactor(api): disable external swagger validation (#8844)
  api/index.html
Due: none

i18n: update translations (#8847)
  internal/server/locales/zh-CN/portal.json
  internal/server/locales/zh-CN/settings.json
Due: backend

build(deps): update transitive dependencies
  docs/content/contributing/development/environment.md
  docs/netlify.toml
  docs/package.json
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): update transitive dependencies (#8523)
  docs/content/contributing/development/environment.md
  docs/netlify.toml
  docs/package.json
  internal/templates/src/package.json
  internal/templates/src/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: backend, frontend

build(deps): react@v19 mui@v7 eslint@v9
  web/.eslintrc.cjs
  web/eslint.config.js
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
  web/src/themes/index.ts
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDecisionFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentDeviceAuthorizationFormView.tsx
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentLoginFormView.tsx
  web/src/views/LoadingPage/BaseLoadingPage.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/FirstFactor/PasskeyForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/PasswordForm.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsGrid.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
Due: frontend

build(deps): react@v19 mui@v7 eslint@v9
  web/eslint.config.js
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.test.tsx
Due: frontend

build(deps): react@v19 mui@v7 eslint@v9
  web/eslint.config.js
  web/package.json
  web/tsconfig.json
Due: frontend

build(deps): react@v19 mui@v7 eslint@v9
  web/eslint.config.js
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update react monorepo to v19 (major)
  web/package.json
  web/pnpm-lock.yaml
  web/src/views/ConsentPortal/OpenIDConnectConsentPortal/OpenIDConnectConsentLoginFormView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PasswordForm.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
  web/src/views/Settings/Common/SecondFactorMethodOneTimePassword.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
Due: frontend

fix(web): revert change to medium breakpoint
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
Due: frontend

build(deps): update react monorepo to v19 (major)
  web/package.json
  web/src/App.tsx
  web/src/components/NotificationBar.test.tsx
  web/src/contexts/LocalStorageMethodContext.tsx
  web/src/contexts/ThemeContext.tsx
  web/src/hooks/NotificationsContext.ts
  web/src/index.tsx
  web/src/serviceWorker.ts
  web/src/views/LoadingPage/LoadingPage.tsx
Due: frontend

i18n: update translation for portal.json (Portuguese, Brazilian)
  internal/server/locales/pt-BR/portal.json
Due: backend

i18n: update translation for portal.json (Romanian)
  internal/server/locales/ro-RO/portal.json
Due: backend

i18n: update translation for portal.json (Spanish)
  internal/server/locales/es-ES/portal.json
Due: backend

i18n: update translation for portal.json (Czech)
  internal/server/locales/cs-CZ/portal.json
Due: backend

i18n: update translation for portal.json (Danish)
  internal/server/locales/da-DK/portal.json
Due: backend

i18n: update translation for portal.json (German)
  internal/server/locales/de-DE/portal.json
Due: backend

i18n: update translation for portal.json (Italian)
  internal/server/locales/it-IT/portal.json
Due: backend

i18n: update translation for portal.json (Dutch)
  internal/server/locales/nl-NL/portal.json
Due: backend

i18n: update translation for portal.json (Norwegian)
  internal/server/locales/no-NO/portal.json
Due: backend

i18n: update translation for portal.json (Polish)
  internal/server/locales/pl-PL/portal.json
Due: backend

i18n: update translation for portal.json (Portuguese)
  internal/server/locales/pt-PT/portal.json
Due: backend

i18n: update translation for portal.json (Swedish)
  internal/server/locales/sv-SE/portal.json
Due: backend

i18n: update translation for portal.json (Ukrainian)
  internal/server/locales/uk-UA/portal.json
Due: backend

i18n: update translation for portal.json (Norwegian Bokmal)
  internal/server/locales/nb-NO/portal.json
Due: backend

build: remove service worker and target es2022
  .renovaterc
  internal/suites/environment.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/index.tsx
  web/src/serviceWorker.ts
  web/tsconfig.json
Due: frontend

i18n: update translations (#8861)
  internal/server/locales/cs-CZ/portal.json
  internal/server/locales/da-DK/portal.json
  internal/server/locales/de-DE/portal.json
  internal/server/locales/es-ES/portal.json
  internal/server/locales/it-IT/portal.json
  internal/server/locales/nb-NO/portal.json
  internal/server/locales/nl-NL/portal.json
  internal/server/locales/no-NO/portal.json
  internal/server/locales/pl-PL/portal.json
  internal/server/locales/pt-BR/portal.json
  internal/server/locales/pt-PT/portal.json
  internal/server/locales/ro-RO/portal.json
  internal/server/locales/sv-SE/portal.json
  internal/server/locales/uk-UA/portal.json
Due: backend

build: remove service worker and target es2022 (#8862)
  .renovaterc
  internal/suites/environment.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/index.tsx
  web/src/serviceWorker.ts
  web/tsconfig.json
Due: frontend

feat(metrics): record passkey logins separately
  docs/content/reference/guides/metrics.md
  internal/metrics/prometheus.go
Due: backend

feat(metrics): record passkey logins separately (#8866)
  docs/content/reference/guides/metrics.md
  internal/metrics/prometheus.go
Due: backend

refactor(webauthn): include all failures for passkeys
  internal/handlers/func_test.go
  internal/handlers/handler_firstfactor_passkey.go
  internal/handlers/handler_firstfactor_passkey_test.go
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_sign_webauthn_test.go
  internal/mocks/authelia_ctx.go
  internal/regulation/regulator_test.go
  internal/regulation/util.go
Due: backend

feat: add password change to user settings page
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_user_info.go
  internal/handlers/types.go
  internal/mocks/user_provider.go
  internal/model/user_info.go
  internal/server/handlers.go
  internal/session/types.go
  web/src/constants/Routes.ts
  web/src/layouts/SettingsLayout.tsx
  web/src/models/UserInfo.ts
  web/src/services/Api.ts
  web/src/services/ChangePassword.ts
  web/src/services/ResetPassword.ts
  web/src/services/UserInfo.ts
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
  web/src/views/Settings/SettingsRouter.tsx
Due: backend, frontend

fix(web): properly handle password reuse checks - misc ux changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/session/types.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix(web): handle enter key press for session elevation dialog
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

test(suites): new suite for account password change
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/action_change_password.go
  internal/suites/action_settings.go
  internal/suites/scenario_change_password_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(web): minor ui changes
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(suites): timing change should fix failing tests
  internal/suites/action_verify.go
Due: none

refactor: minor code quality changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/suites/suite_security_settings.go
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend
