Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor: adjustments
  internal/server/server.go
Due: backend

test(authentication): add tests for ldap password change
  internal/authentication/ldap_user_provider_test.go
Due: backend

refactor: minor adjustments
  internal/handlers/handler_change_password_test.go
  internal/mocks/authelia_ctx.go
Due: backend

fix: add more detailed errors for password-change failures
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_util.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
Due: backend

test(handlers): new tests to check log output, more structured logging
  internal/handlers/handler_change_password.go
  internal/handlers/handler_change_password_test.go
  internal/mocks/authelia_ctx.go
Due: backend

fix: use structured logging and proper log call
  internal/handlers/handler_change_password.go
Due: backend

refactor(handlers): add more detailed errors for password-change failures (#8899)
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/authentication/ldap_util.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_change_password_test.go
  internal/mocks/authelia_ctx.go
Due: backend

refactor: code review
  web/src/components/AppBarItemAccountSettings.tsx
  web/src/components/AppBarItemLanguage.tsx
  web/src/components/AppBarLoginPortal.tsx
  web/src/components/Brand.tsx
  web/src/components/LanguageSelector.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
  web/src/models/LocaleInformation.ts
  web/src/services/LocaleInformation.ts
  web/src/services/ResetPassword.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/PasswordMethod.tsx
  web/src/views/Settings/Common/SecondFactorDialog.tsx
Due: frontend

refactor: lint
  web/src/components/AppBarLoginPortal.tsx
  web/src/services/Api.ts
Due: frontend

refactor: remove custom langs
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/templates.go
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  docs/data/languages.json
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/server.go
  internal/utils/locale.go
  web/src/components/AppBarItemLanguage.tsx
  web/src/i18n/index.ts
Due: backend, frontend

refactor: additional error handling
  internal/server/asset.go
  internal/server/const.go
  internal/server/handlers.go
  internal/server/server.go
Due: backend

fix: item key and height max
  web/src/components/AppBarItemLanguage.tsx
Due: frontend

fix(web): bad ux on mobile
  web/src/components/AppBarItemLanguage.tsx
Due: frontend

perf(web): optimize render effects
  web/src/components/AppBarItemLanguage.tsx
Due: frontend

feat(web): shared language between tabs
  web/src/App.tsx
  web/src/components/AppBarItemLanguage.tsx
  web/src/contexts/LanguageContext.tsx
  web/src/contexts/ThemeContext.tsx
  web/src/i18n/detectors/localStorageCustom.ts
  web/src/layouts/LoginLayout.tsx
  web/src/services/LocalStorage.ts
  web/src/utils/localStorage.ts
Due: frontend

fix: local language modifications
  docs/data/languages.json
  internal/server/locales/es-419/portal.json
  internal/server/locales/es-ES/consent.json
  internal/server/locales/es-ES/portal.json
  internal/server/locales/es-ES/settings.json
  internal/server/locales/es/settings.json
  internal/server/locales/nb-NO/consent.json
  internal/server/locales/nb-NO/portal.json
  internal/server/locales/nb-NO/settings.json
  web/src/i18n/index.ts
Due: backend, frontend

fix: missing middleware
  internal/server/handlers.go
Due: backend

fix: unnecessary middlewares
  internal/server/handlers.go
Due: backend

fix: aliases
  internal/server/asset.go
Due: backend

fix: fully qualified langs
  internal/server/asset.go
  internal/server/locales/en/portal.json
  web/src/components/AppBarItemLanguage.tsx
Due: backend, frontend

refactor(configuration): default ldap timeout 20 seconds
  config.template.yml
  docs/content/configuration/first-factor/ldap.md
  internal/authentication/ldap_client_factory.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
Due: backend

test: add test fixes
  internal/authentication/ldap_user_provider_test.go
Due: backend

refactor(configuration): default ldap timeout 20 seconds (#8924)
  config.template.yml
  docs/content/configuration/first-factor/ldap.md
  internal/authentication/ldap_client_factory.go
  internal/authentication/ldap_user_provider_test.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
Due: backend

feat(web): language picker (#6716)
  .editorconfig
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/types.go
  docs/data/languages.json
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/locales/en/portal.json
  internal/server/server.go
  internal/suites/Standalone/compose.yml
  internal/suites/environment.go
  internal/utils/const.go
  internal/utils/locale.go
  internal/utils/types.go
  web/src/App.tsx
  web/src/components/AppBarItemAccountSettings.tsx
  web/src/components/AppBarItemLanguage.tsx
  web/src/components/AppBarLoginPortal.tsx
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/contexts/LanguageContext.tsx
  web/src/contexts/ThemeContext.tsx
  web/src/i18n/detectors/localStorageCustom.ts
  web/src/i18n/index.ts
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/MinimalLayout.tsx
  web/src/models/LocaleInformation.ts
  web/src/services/Api.ts
  web/src/services/LocalStorage.ts
  web/src/services/LocaleInformation.ts
  web/src/services/ResetPassword.ts
  web/src/views/LoginPortal/SecondFactor/PasswordMethod.tsx
  web/src/views/Settings/Common/SecondFactorDialog.tsx
Due: backend, frontend

i18n: update translation for portal.json (Portuguese, Brazilian)
  internal/server/locales/pt-BR/portal.json
Due: backend

i18n: update translation for portal.json (Romanian)
  internal/server/locales/ro-RO/portal.json
Due: backend

i18n: update translation for portal.json (Spanish)
  internal/server/locales/es-ES/portal.json
Due: backend

i18n: update translation for portal.json (Czech)
  internal/server/locales/cs-CZ/portal.json
Due: backend

i18n: update translation for portal.json (Danish)
  internal/server/locales/da-DK/portal.json
Due: backend

i18n: update translation for portal.json (German)
  internal/server/locales/de-DE/portal.json
Due: backend

i18n: update translation for portal.json (Italian)
  internal/server/locales/it-IT/portal.json
Due: backend

i18n: update translation for portal.json (Dutch)
  internal/server/locales/nl-NL/portal.json
Due: backend

i18n: update translation for portal.json (Norwegian)
  internal/server/locales/no-NO/portal.json
Due: backend

i18n: update translation for portal.json (Polish)
  internal/server/locales/pl-PL/portal.json
Due: backend

i18n: update translation for portal.json (Portuguese)
  internal/server/locales/pt-PT/portal.json
Due: backend

i18n: update translation for portal.json (Swedish)
  internal/server/locales/sv-SE/portal.json
Due: backend

i18n: update translation for portal.json (Ukrainian)
  internal/server/locales/uk-UA/portal.json
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
