Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: gofmt
  internal/commands/crypto_hash.go
Due: backend

release: v4.36.6 (#3939)
  web/package.json
Due: frontend

fix: lint
  internal/handlers/handler_verify_test.go
Due: backend

Fix 404 in readme
  README.md
Due: none

docs: fix 404 in overview (#3940)
  README.md
Due: none

fix: swagger build
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-scripts/cmd/build.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
Due: none

fix: swagger build
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-scripts/cmd/build.go
  cmd/authelia-scripts/cmd/gen.go
Due: none

docs: update nginx example (#3795)
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/traefik.md
Due: none

fix: ensure legacy portal url retrieval operates the same
  internal/handlers/handler_authz.go
Due: backend

refactor: cleanup uri funcs
  internal/handlers/handler_checks_safe_redirection.go
  internal/handlers/handler_logout.go
  internal/handlers/response.go
  internal/utils/const.go
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

refactor: clean up uri checking functions
  internal/handlers/handler_checks_safe_redirection.go
  internal/handlers/handler_logout.go
  internal/handlers/response.go
  internal/utils/const.go
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

refactor: primarily use parseuri
  internal/authorization/types_test.go
  internal/commands/acl.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/identity_providers.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
  internal/middlewares/cors.go
  internal/utils/strings.go
  internal/utils/strings_test.go
  internal/utils/url_test.go
Due: backend

fix: https instead of http
  internal/authorization/access_control_subjects.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
Due: backend

fix: ptr receivers
  internal/model/oidc.go
  internal/model/totp_configuration.go
  internal/oidc/keys.go
  internal/oidc/store.go
  internal/session/user_session.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_schema.go
Due: backend

refactor: remove debug
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
Due: backend

fix: gen comment
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  web/src/i18n/index.ts
Due: frontend

refactor: locale gen
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  cmd/authelia-gen/types.go
  docs/data/languages.json
Due: none

build(deps): update hugo
  docs/package.json
Due: none

fix(commands): potential nil ptr error on shutdown
  internal/commands/root.go
Due: backend

refactor: clean up uri checking functions (#3943)
  internal/authorization/access_control_subjects.go
  internal/authorization/types_test.go
  internal/commands/acl.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/identity_providers.go
  internal/handlers/handler_checks_safe_redirection.go
  internal/handlers/handler_logout.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/response.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
  internal/middlewares/cors.go
  internal/model/oidc.go
  internal/model/totp_configuration.go
  internal/oidc/keys.go
  internal/oidc/store.go
  internal/session/user_session.go
  internal/storage/sql_provider_encryption.go
  internal/storage/sql_provider_schema.go
  internal/utils/const.go
  internal/utils/strings.go
  internal/utils/strings_test.go
  internal/utils/url.go
  internal/utils/url_test.go
Due: backend

docs: Clarify that Chrome did not deprecate WebAuthn
  docs/content/en/roadmap/active/webauthn.md
Due: none

docs: Clarify port 465 is the preferred port
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/overview/security/measures.md
Due: none

docs: Remove mentions of SMTPS
  docs/content/en/overview/security/measures.md
Due: none

docs: clarify chromes deprecation of u2f in favor of webauthn (#3949)
  docs/content/en/roadmap/active/webauthn.md
Due: none

docs: Respect style guidelines - line width 120 chars
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/overview/security/measures.md
Due: none

fix: lint
  internal/commands/root.go
Due: backend

fix(commands): potential nil ptr error on shutdown (#3947)
  internal/commands/root.go
Due: backend

build(npm): add pnpm install to bootstrap
  bootstrap.sh
Due: none

build: add pnpm install in bootstrap.go
  bootstrap.sh
  cmd/authelia-scripts/cmd/bootstrap.go
Due: none

fix(handlers): fix forbidden acl for anonymous user
  internal/authorization/authorizer.go
  internal/authorization/authorizer_test.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/handlers/response.go
Due: backend

fix(handlers): verify handler (#3956)
  internal/authorization/authorizer.go
  internal/authorization/authorizer_test.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/handlers/response.go
Due: backend

build: bootstrap: add pnpm install
  cmd/authelia-scripts/cmd/bootstrap.go
Due: none

build: bootstrap: add pnpm install (#3959)
  cmd/authelia-scripts/cmd/bootstrap.go
Due: none

fix(web): i18n explicit lng ignored
  crowdin.yml
  internal/server/asset.go
  internal/server/locales/nl/portal.json
  internal/server/locales/pt/portal.json
  internal/server/locales/zh/portal.json
  web/src/i18n/index.ts
Due: backend, frontend

i18n: update translation for portal.json (Chinese Simplified)
  internal/server/locales/zh-CN/portal.json
Due: backend

i18n: update translations for portal.json (chinese simplified) (#3962)
  internal/server/locales/zh-CN/portal.json
Due: backend

fix(web): i18n explicit lang ignored (#3961)
  crowdin.yml
  internal/server/asset.go
  internal/server/locales/nl/portal.json
  internal/server/locales/pt/portal.json
  internal/server/locales/zh/portal.json
  web/src/i18n/index.ts
Due: backend, frontend

feat(web): i18n local storage detector
  web/src/i18n/index.ts
  web/src/i18n/localStorageCustom.ts
Due: frontend

docs: fix reference info to smtps (#3950)
  docs/content/en/configuration/notifications/smtp.md
  docs/content/en/overview/security/measures.md
Due: none

release: v4.36.7
  web/package.json
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
