Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: remove makestyles
  web/src/components/AppStoreBadges.tsx
  web/src/components/ColoredSnackbarContent.tsx
  web/src/components/FixedTextField.tsx
  web/src/components/LinearProgressBar.tsx
  web/src/index.css
  web/src/layouts/LoginLayout.tsx
  web/src/themes/theme.d.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/IconWithContext.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodItem.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethodIcon.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

build(deps): update mui and emotion
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: misc issues and inconsistencies
  web/src/components/LinearProgressBar.tsx
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/IconWithContext.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: frontend

fix: dead code
  web/src/views/LoginPortal/SecondFactor/WebauthnMethodIcon.tsx
Due: frontend

feat(web): add de i18n translation (#3043)
  web/src/i18n/index.ts
  web/src/i18n/locales/de.json
Due: frontend

refactor: fix lang indent
  internal/server/locales/de/portal.json
Due: backend

feat(configuration): allow rfc4918 http verbs in acl (#2988)
  api/openapi.yml
  docs/configuration/access-control.md
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/const.go
Due: backend

feat(oidc): implement amr claim (#2969)
  docs/configuration/identity-providers/oidc.md
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/oidc.go
  internal/handlers/oidc_test.go
  internal/handlers/response.go
  internal/model/oidc.go
  internal/oidc/amr.go
  internal/oidc/amr_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/const.go
  internal/oidc/store.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/session/provider_test.go
  internal/session/types.go
  internal/session/user_session.go
  internal/suites/example/compose/oidc-client/docker-compose.yml
  internal/suites/example/compose/oidc-client/entrypoint.sh
Due: backend

feat(authorization): domain regex match with named groups (#2789)
  config.template.yml
  docs/configuration/access-control.md
  internal/authorization/access_control_domain.go
  internal/authorization/access_control_resource.go
  internal/authorization/access_control_rule.go
  internal/authorization/access_control_subjects.go
  internal/authorization/authorizer_test.go
  internal/authorization/const.go
  internal/authorization/types.go
  internal/authorization/types_test.go
  internal/authorization/util.go
  internal/authorization/util_test.go
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/test_resources/config_domain_bad_regex.yml
  internal/configuration/test_resources/config_domain_regex.yml
  internal/configuration/validator/access_control.go
  internal/configuration/validator/access_control_test.go
  internal/configuration/validator/const.go
Due: backend

docs: fix missing description
  docs/configuration/identity-providers/oidc.md
Due: none

fix(server): respond with 404/405 appropriately
  internal/handlers/response.go
  internal/handlers/types.go
  internal/server/const.go
  internal/server/handler_notfound.go
  internal/server/server.go
  internal/suites/scenario_backend_protection_test.go
Due: backend

feat(templates): display link in mails sent by authelia (#2785)
  internal/templates/html_email.go
Due: backend

fix: merge issues
  internal/templates/html_email_step_1.go
  internal/templates/html_email_step_2.go
  internal/templates/plaintext_email_step_1.go
  internal/templates/plaintext_email_step_2.go
Due: backend

refactor: additional refactoring
  internal/templates/html_email_step_1.go
  internal/templates/html_email_step_2.go
Due: backend

fix: also handle 405
  internal/server/server.go
Due: backend

refactor: explicitly enable 405 handling
  internal/server/server.go
Due: backend

refactor: add static folder
  internal/server/const.go
Due: backend

refactor: use code to check grant validity
  internal/handlers/handler_oidc_authorization.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_rows.go
  internal/suites/scenario_oidc_test.go
Due: backend

docs: fix oidc applications table display
  docs/community/oidc-integrations.md
Due: none

refactor: apply changes from 3087
  internal/handlers/response.go
  internal/handlers/types.go
  internal/server/const.go
  internal/server/handler_notfound.go
  internal/server/routes.go
Due: backend

docs: fix oidc applications table display (#3088)
  docs/community/oidc-integrations.md
Due: none

ci: skip codeql on repo or doc files
  .github/workflows/codeql-analysis.yml
Due: none

ci: skip codeql on repo or doc files (#3093)
  .github/workflows/codeql-analysis.yml
Due: none

docs: fix regex examples
  config.template.yml
  docs/configuration/access-control.md
  docs/configuration/index.md
  docs/features/access-control.md
  internal/configuration/config.template.yml
Due: backend

ci: skip internal/configuration/config.template.yml
  .github/workflows/codeql-analysis.yml
Due: none

ci: skip internal/configuration/config.template.yml (#3095)
  .github/workflows/codeql-analysis.yml
Due: none

docs: add oidc details for miniflux app
  docs/community/oidc-integrations.md
Due: none

docs: fix regex examples (#3094)
  config.template.yml
  docs/configuration/access-control.md
  docs/configuration/index.md
  docs/features/access-control.md
  internal/configuration/config.template.yml
Due: backend

docs: add oidc details for miniflux app (#3096)
  docs/community/oidc-integrations.md
Due: none

refactor(configuration): decode_hooks blackbox and better testing
  internal/configuration/const.go
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider_test.go
Due: backend

feat(oidc): consent pre-configuration
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/types_oidc.go
  internal/oidc/client.go
  internal/oidc/types.go
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_rows.go
  web/src/hooks/Consent.ts
  web/src/services/Consent.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: backend, frontend

refactor: password policy api
  internal/configuration/schema/configuration.go
  internal/configuration/schema/password_policy.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/password_policy.go
  internal/handlers/handler_reset_password_step1.go
  internal/handlers/handler_reset_password_step2.go
  internal/suites/Standalone/configuration.yml
  internal/utils/bools.go
  internal/utils/bools_test.go
Due: backend

refactor: password policy frontend
  web/src/components/PasswordMeter.tsx
Due: frontend

refactor: applied gofmt
  internal/suites/Standalone/configuration.yml
  internal/utils/bools.go
  internal/utils/bools_test.go
Due: backend

refactor: docs and defaults values
  docs/configuration/password_policy.md
  internal/configuration/schema/password_policy.go
  internal/suites/Standalone/configuration.yml
Due: backend

feat(authentication): password policy (#2723)
  docs/configuration/password_policy.md
  docs/features/password-policy.md
  docs/images/password-policy-classic-1.png
  docs/images/password-policy-zxcvbn-1.png
  internal/configuration/schema/configuration.go
  internal/configuration/schema/password_policy.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/password_policy.go
  internal/handlers/const.go
  internal/handlers/errors.go
  internal/handlers/handler_reset_password_step1.go
  internal/handlers/handler_reset_password_step2.go
  internal/handlers/types.go
  internal/suites/Standalone/configuration.yml
  internal/utils/bools.go
  internal/utils/bools_test.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/PasswordMeter.test.tsx
  web/src/components/PasswordMeter.tsx
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: backend, frontend

build(deps): pin dependency zxcvbn to 4.4.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency prettier to v2.6.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: styles
  internal/suites/example/compose/nginx/portal/docker-compose.yml
  internal/templates/html_email_step_1.go
Due: backend

refactor: misc password policy refactoring
  config.template.yml
  docs/configuration/password_policy.md
  docs/features/password-policy.md
  internal/commands/helpers.go
  internal/configuration/config.template.yml
  internal/configuration/schema/configuration.go
  internal/handlers/errors.go
  internal/handlers/handler_reset_password_step2.go
  internal/middlewares/const.go
  internal/middlewares/password_policy.go
  internal/middlewares/password_policy_test.go
  internal/middlewares/types.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
