Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: lint
  internal/oidc/provider.go
Due: backend

fix: lint
  internal/oidc/config.go
Due: backend

refactor: oauth session type as int
  internal/storage/const.go
  internal/storage/sql_provider.go
Due: backend

refactor: move handler newups
  internal/oidc/config.go
  internal/oidc/provider.go
  internal/oidc/store.go
  internal/oidc/store_test.go
Due: backend

refactor: set defaults
  internal/oidc/config.go
Due: backend

fix(oidc): handle authorization post requests
  internal/handlers/handler_oidc_authorization.go
  internal/middlewares/cors.go
  internal/server/handlers.go
Due: backend

fix(oidc): handle authorization post requests (#4270)
  internal/handlers/handler_oidc_authorization.go
  internal/middlewares/cors.go
  internal/server/handlers.go
Due: backend

build(deps): update module github.com/mattn/go-sqlite3 to v1.14.16
  go.mod
  go.sum
Due: none

build(deps): update module github.com/mattn/go-sqlite3 to v1.14.16 (#4279)
  go.mod
  go.sum
Due: none

feat(oidc): pushed authorization requests
  docs/content/en/integration/openid-connect/introduction.md
  internal/handlers/handler_oidc_authorization.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/provider.go
  internal/oidc/store.go
  internal/oidc/store_test.go
  internal/oidc/types.go
  internal/server/handlers.go
  internal/storage/const.go
  internal/storage/migrations.go
  internal/storage/migrations/pre/V0007.OpenIDConnectPAR.all.down.sql
  internal/storage/migrations/pre/V0007.OpenIDConnectPAR.mysql.up.sql
  internal/storage/migrations/pre/V0007.OpenIDConnectPAR.postgres.up.sql
  internal/storage/migrations/pre/V0007.OpenIDConnectPAR.sqlite.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
  internal/storage/sql_provider_queries.go
Due: backend

fix(authentication): erroneously escaped group base dn
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

fix(authentication): erroneously escaped group base dn (#4288)
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_startup.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

release: v4.37.2
  web/package.json
Due: frontend

release: v4.37.2 (#4289)
  web/package.json
Due: frontend

docs: gen
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-scripts/cmd/gen.go
  docs/content/en/reference/guides/generating-secure-values.md
Due: none

docs: gen (#4293)
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-scripts/cmd/gen.go
  docs/content/en/reference/guides/generating-secure-values.md
Due: none

feat: implement a ui for supporting multiple u2f devices
  internal/handlers/handler_webauthn_devices.go
  internal/model/webauthn.go
  internal/server/handlers.go
  web/src/App.tsx
  web/src/constants/Routes.ts
  web/src/layouts/LoginLayout.tsx
  web/src/models/Webauthn.ts
  web/src/services/Api.ts
  web/src/services/UserWebauthnDevices.ts
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/Settings/AddSecurityDialog.tsx
  web/src/views/Settings/SettingsView.tsx
  web/vite.config.ts
Due: backend, frontend

fix(configuration): certificate_chains can't be defined as secrets
  docs/data/configkeys.json
  internal/configuration/const.go
Due: backend

docs(deps): bump all deps
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: fix missing links
  docs/content/en/configuration/methods/secrets.md
Due: none

docs(deps): bump all deps (#4303)
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

fix(configuration): certificate_chains can't be defined as secrets (#4302)
  docs/content/en/configuration/methods/secrets.md
  docs/data/configkeys.json
  internal/configuration/const.go
Due: backend

docs: update example docker versions
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/traefik.md
Due: none

refactor: uuid parse bytes
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_implicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/handler_oidc_consent.go
Due: backend

docs: update proxy versions (#4310)
  docs/content/en/integration/proxies/envoy.md
  docs/content/en/integration/proxies/traefik.md
Due: none

refactor: uuid parse bytes (#4311)
  internal/handlers/handler_oidc_authorization_consent_explicit.go
  internal/handlers/handler_oidc_authorization_consent_implicit.go
  internal/handlers/handler_oidc_authorization_consent_pre_configured.go
  internal/handlers/handler_oidc_consent.go
Due: backend

refactor: use internal strategy
  go.mod
  internal/oidc/config.go
  internal/oidc/hmac.go
Due: backend

poc: authorization bearer [skip test]
  cmd/authelia-gen/cmd_code.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/handlers/handler_oidc_automatic_authorization_bearer.go
  internal/handlers/handler_verify.go
  internal/oidc/config.go
  internal/oidc/const.go
  internal/oidc/provider.go
Due: backend

poc: skip auth
  internal/handlers/handler_oidc_automatic_authorization_bearer.go
  internal/oidc/const.go
  internal/oidc/hasher.go
Due: backend

refactor(commands): include rfc3986 charset
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_argon2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_bcrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_pbkdf2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_scrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_sha2crypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_rand.md
  internal/commands/const.go
  internal/commands/crypto.go
  internal/commands/crypto_hash.go
  internal/commands/util.go
  internal/utils/const.go
Due: backend

fix: lint
  internal/commands/util.go
Due: backend

refactor(commands): include rfc3986 charset (#4328)
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_argon2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_bcrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_pbkdf2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_scrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_sha2crypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_rand.md
  internal/commands/const.go
  internal/commands/crypto.go
  internal/commands/crypto_hash.go
  internal/commands/util.go
  internal/utils/const.go
Due: backend

refactor: pkce
  internal/handlers/handler_oidc_automatic_authorization_bearer.go
  internal/handlers/handler_oidc_token.go
  internal/oidc/hasher.go
  internal/oidc/pkce.go
Due: backend

refactor: ldap filter
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/integration/ldap/introduction.md
  docs/content/en/reference/guides/ldap.md
  internal/configuration/schema/authentication.go
Due: backend

refactor: ldap filter (#4329)
  docs/content/en/configuration/first-factor/ldap.md
  docs/content/en/integration/ldap/introduction.md
  docs/content/en/reference/guides/ldap.md
  internal/configuration/schema/authentication.go
Due: backend

refactor: matching
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/oidc/provider.go
Due: backend

refactor: few misc issues
  docs/content/en/reference/guides/ldap.md
  internal/utils/const.go
Due: backend

refactor: few misc issues (#4330)
  docs/content/en/reference/guides/ldap.md
  internal/utils/const.go
Due: backend

Update docker.md (gramatical changes)
  docs/content/en/integration/deployment/docker.md
Due: none
