Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: misc
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
Due: backend

fix: test
  internal/authentication/file_user_provider_test.go
Due: backend

refactor: factorize
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_argon2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_bcrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_pbkdf2.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_scrypt.md
  docs/content/en/reference/cli/authelia/authelia_crypto_hash_generate_sha2crypt.md
  docs/content/en/reference/cli/authelia/authelia_hash-password.md
  internal/commands/acl.go
  internal/commands/configuration.go
  internal/commands/const.go
  internal/commands/crypto_hash.go
  internal/commands/storage_run.go
  internal/commands/util.go
  internal/commands/validate.go
Due: backend

refactor: newline
  internal/commands/crypto_hash.go
Due: backend

docs: update docs
  config.template.yml
  docs/content/en/configuration/first-factor/file.md
  docs/content/en/reference/guides/passwords.md
  internal/configuration/config.template.yml
Due: backend

docs: update ref
  docs/content/en/reference/guides/passwords.md
Due: none

Creation of OpenLDAP & FreeIPA Configuration Examples
  docs/content/en/integration/ldap/introduction.md
Due: none

Spelling
  docs/content/en/integration/ldap/introduction.md
Due: none

Spelling v2, remove of bad reference/tip
  docs/content/en/integration/ldap/introduction.md
Due: none

docs: nextcloud missing oidc scope
  docs/content/en/integration/openid-connect/nextcloud/index.md
Due: none

docs: nextcloud missing oidc scope (#3926)
  docs/content/en/integration/openid-connect/nextcloud/index.md
Due: none

refactor: misc
  docs/content/en/configuration/first-factor/file.md
  go.mod
  go.sum
  internal/authentication/file_user_provider.go
  internal/commands/crypto_hash.go
  internal/configuration/schema/authentication.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/const.go
Due: backend

fix: invalid defaults
  config.template.yml
  docs/content/en/configuration/first-factor/file.md
  internal/configuration/config.template.yml
Due: backend

docs: fix dates
  docs/content/en/integration/openid-connect/apache-guacamole/index.md
  docs/content/en/integration/openid-connect/komga/index.md
  docs/content/en/integration/openid-connect/outline/index.md
  docs/content/en/integration/trusted-header-sso/seafile/index.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_code_scripts.md
  docs/content/en/reference/guides/domain-sanitizaiton.md
  docs/content/en/reference/guides/http-archive-file.md
  docs/content/en/reference/guides/internationalization.md
Due: none

docs: fix scope gen
  cmd/authelia-gen/cmd_commit_msg.go
  cmd/authelia-gen/templates.go
  cmd/authelia-gen/templates/docs-contributing-development-commitmsg.md.tmpl
  docs/content/en/contributing/development/guidelines-commit-message.md
Due: none

docs: fix locales order
  cmd/authelia-gen/cmd_locales.go
  docs/data/languages.json
  web/src/i18n/index.ts
Due: frontend

docs: gen
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-scripts/cmd/gen.go
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint_issue-templates.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint_issue-templates_bug-report.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_commit-lint_issue-templates_feature-request.md
Due: none

docs: cloudflare zt fixes
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
Due: none

docs: cloudflare zt fixes (#3931)
  docs/content/en/integration/openid-connect/cloudflare-zerotrust/index.md
Due: none

i18n: update translation for portal.json (Portuguese)
  internal/server/locales/pt-PT/portal.json
Due: backend

i18n: update translation for portal.json (portuguese) (#3932)
  internal/server/locales/pt-PT/portal.json
Due: backend

docs: update langs
  docs/data/languages.json
  web/src/i18n/index.ts
Due: frontend

fix(web): update locales
  web/src/i18n/index.ts
Due: frontend

fix(web): update locales (#3934)
  web/src/i18n/index.ts
Due: frontend

fix(configuration): incorrect deprecated version
  internal/configuration/deprecation.go
Due: backend

fix: remove version from feature template and refactor
  .github/ISSUE_TEMPLATE/feature-request.yml
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_commit_msg.go
  cmd/authelia-gen/cmd_docs.go
  cmd/authelia-gen/cmd_docs_cli.go
  cmd/authelia-gen/cmd_docs_date.go
  cmd/authelia-gen/cmd_github.go
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/cmd_root.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/templates/github_issue_template_feature.yml.tmpl
Due: none

docs: bump deps
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: bump deps (#3936)
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

docs: regen docs
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

docs: misc adjustments
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/cmd_github.go
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
Due: none

refactor: spacing/layout
  cmd/authelia-gen/cmd_code.go
  cmd/authelia-gen/cmd_docs_date.go
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/cmd_root.go
  cmd/authelia-scripts/cmd/bootstrap.go
  cmd/authelia-scripts/cmd/build.go
  cmd/authelia-scripts/cmd/ci.go
  cmd/authelia-scripts/cmd/clean.go
  cmd/authelia-scripts/cmd/docker.go
  cmd/authelia-scripts/cmd/root.go
  cmd/authelia-scripts/cmd/serve.go
  cmd/authelia-scripts/cmd/suites.go
  cmd/authelia-scripts/cmd/unittest.go
  cmd/authelia-scripts/cmd/xflags.go
  cmd/authelia-suites/main.go
  internal/commands/acl.go
  internal/commands/build-info.go
  internal/commands/crypto.go
  internal/commands/hash.go
  internal/commands/root.go
  internal/commands/storage.go
  internal/commands/validate.go
Due: backend

fix: disable tag
  cmd/authelia-scripts/cmd/docker.go
  internal/commands/storage.go
Due: backend

fix: disable tag
  internal/commands/crypto.go
  internal/commands/crypto_hash.go
Due: backend

fix: grammar
  internal/commands/crypto.go
Due: backend

docs: fix default timeouts
  docs/content/en/configuration/telemetry/metrics.md
Due: none

docs: fix default timeouts (#3938)
  docs/content/en/configuration/telemetry/metrics.md
  docs/content/en/reference/cli/authelia-gen/authelia-gen_docs_date.md
Due: none

fix(configuration): incorrect deprecated version (#3935)
  internal/configuration/deprecation.go
Due: backend

release: v4.36.6
  web/package.json
Due: frontend
