Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: linting issues
  web/src/App.tsx
  web/src/themes/Grey.ts
  web/src/themes/theme.d.ts
Due: frontend

fix(configuration): remember me duration disabled impossible
  internal/configuration/provider_test.go
  internal/configuration/schema/const.go
  internal/configuration/test_resources/config_alt.yml
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/handlers/handler_firstfactor.go
  internal/server/server.go
Due: backend

fix: show appropriate default and available methods
  internal/authentication/const.go
  internal/handlers/handler_configuration.go
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/middlewares/authelia_context.go
  internal/middlewares/authelia_context_test.go
  internal/model/const.go
  internal/model/user_info.go
  internal/model/user_info_test.go
  internal/storage/sql_provider.go
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: backend, frontend

fix(configuration): remember me duration disabled impossible (#2997)
  internal/configuration/provider_test.go
  internal/configuration/schema/const.go
  internal/configuration/test_resources/config_alt.yml
  internal/configuration/validator/session.go
  internal/configuration/validator/session_test.go
  internal/handlers/handler_firstfactor.go
  internal/server/server.go
Due: backend

fix: remove methods button
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
Due: frontend

test: add more tests
  internal/handlers/handler_user_info_test.go
Due: backend

feat: proper sub claim
  internal/handlers/handler_oidc_authorization.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/oidc/store.go
  internal/storage/const.go
  internal/storage/migrations/V0004.OpenIDConenct.mysql.up.sql
  internal/storage/migrations/V0004.OpenIDConenct.postgres.up.sql
  internal/storage/migrations/V0004.OpenIDConenct.sqlite.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

refactor: store facts instead of claim values
  internal/handlers/handler_oidc_authorization.go
  internal/oidc/amr.go
  internal/oidc/amr_test.go
  internal/session/provider_test.go
  internal/session/types.go
  internal/session/user_session.go
Due: backend

refactor: remove unused
  internal/oidc/amr.go
  internal/session/const.go
Due: backend

fix(oidc): provide options handler and cors headers
  internal/handlers/const.go
  internal/handlers/handler_jwks.go
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oauth_revocation.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_consent.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/handler_oidc_wellknown.go
  internal/handlers/oidc_register.go
  internal/middlewares/const.go
  internal/middlewares/cors.go
  internal/middlewares/cors_test.go
  internal/server/server.go
Due: backend

Small description fix for OIDC groups
  docs/configuration/identity-providers/oidc.md
Due: none

Fix #3006
  docs/configuration/access-control.md
Due: none

Small description fix for OIDC groups (#3007)
  docs/configuration/identity-providers/oidc.md
Due: none

docs: adjust acl policy example to be possible (#3008)
  docs/configuration/access-control.md
Due: none

Update .all-contributorsrc
  .all-contributorsrc
Due: none

build(deps): update dependency react-i18next to v11.15.7
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency i18next-http-backend to v1.4.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency eslint-plugin-react to v7.29.4
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update typescript-eslint monorepo to v5.15.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor: consistency
  internal/handlers/handler_oidc_wellknown.go
  internal/server/server.go
Due: backend

fix(oidc): add detailed trace/debug logs
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_introspection.go
  internal/handlers/handler_oidc_jwks.go
  internal/handlers/handler_oidc_revocation.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/oidc.go
  internal/oidc/types.go
Due: backend

refactor: address code review
  api/openapi.yml
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/model/user_info.go
  internal/model/user_info_test.go
  internal/server/server.go
  internal/storage/sql_provider.go
  web/src/hooks/UserInfo.ts
  web/src/services/UserInfo.ts
  web/src/views/LoginPortal/LoginPortal.tsx
Due: backend, frontend

refactor: address code review
  internal/handlers/handler_user_info.go
  internal/handlers/handler_user_info_test.go
  internal/model/user_info.go
  internal/model/user_info_test.go
  internal/storage/sql_provider.go
Due: backend

test: fix missing test
  internal/model/user_info_test.go
Due: backend

test: add tests and fix issues
  internal/oidc/types.go
  internal/oidc/types_test.go
Due: backend

build(deps): update font awesome to v6.1.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update module github.com/stretchr/testify to v1.7.1
  go.mod
  go.sum
Due: none

fix(oidc): add detailed trace/debug logs (#3012)
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_introspection.go
  internal/handlers/handler_oidc_jwks.go
  internal/handlers/handler_oidc_revocation.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/handlers/oidc.go
  internal/oidc/types.go
  internal/oidc/types_test.go
Due: backend

build(deps): update dependency @fortawesome/fontawesome-svg-core to v6
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build: fix go.sum
  go.sum
Due: none

fix(oidc): userinfo jti claim potential panic
  internal/handlers/handler_oidc_userinfo.go
  internal/middlewares/identity_verification.go
  internal/storage/sql_provider_encryption.go
Due: backend

fix: userinfo jti generation
  internal/handlers/handler_oidc_userinfo.go
Due: backend

fix(oidc): userinfo jti claim potential panic (#3017)
  internal/handlers/handler_oidc_userinfo.go
  internal/middlewares/identity_verification.go
  internal/storage/sql_provider_encryption.go
Due: backend

build(deps): update dependency haproxy to v2.5.5
  internal/suites/example/compose/haproxy/Dockerfile
Due: none

docs: update docs
  docs/configuration/access-control.md
Due: none

build(deps): update dependency prettier to v2.6.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

refactor: include url hook func
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider.go
Due: backend

fix: type checking logic incorrect
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
Due: backend

test: fix test case
  internal/configuration/validator/access_control_test.go
Due: backend

refactor: include url hook func (#3022)
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider.go
Due: backend
