Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs(oidc): fix quotes in template (#10006)
  docs/layouts/shortcodes/oidc-escape-hatch-claims-hydration.html
Due: none

Update docs/content/integration/openid-connect/clients/seafile/index.md
  docs/content/integration/openid-connect/clients/seafile/index.md
Due: none

docs(oidc): add dashy
  docs/content/integration/openid-connect/clients/dashy/index.md
  docs/content/integration/openid-connect/clients/envoy-gateway/index.md
  docs/content/integration/openid-connect/clients/grafana/index.md
  docs/content/integration/openid-connect/clients/headscale/index.md
  docs/content/integration/openid-connect/clients/leantime/index.md
  docs/content/integration/openid-connect/clients/minio/index.md
  docs/content/integration/openid-connect/clients/pangolin/index.md
  docs/content/integration/openid-connect/clients/passbolt/index.md
  docs/content/integration/openid-connect/clients/romm/index.md
Due: none

docs(oidc): add dashy (#10043)
  docs/content/integration/openid-connect/clients/dashy/index.md
  docs/content/integration/openid-connect/clients/envoy-gateway/index.md
  docs/content/integration/openid-connect/clients/grafana/index.md
  docs/content/integration/openid-connect/clients/headscale/index.md
  docs/content/integration/openid-connect/clients/leantime/index.md
  docs/content/integration/openid-connect/clients/minio/index.md
  docs/content/integration/openid-connect/clients/pangolin/index.md
  docs/content/integration/openid-connect/clients/passbolt/index.md
  docs/content/integration/openid-connect/clients/romm/index.md
Due: none

docs(oidc): refactoring
  docs/content/integration/openid-connect/clients/apache-guacamole/index.md
  docs/content/integration/openid-connect/clients/bookstack/index.md
  docs/content/integration/openid-connect/clients/cloudflare-zerotrust/index.md
  docs/content/integration/openid-connect/clients/trillium/index.md
Due: none

docs(oidc): refactoring (#10044)
  docs/content/integration/openid-connect/clients/apache-guacamole/index.md
  docs/content/integration/openid-connect/clients/bookstack/index.md
  docs/content/integration/openid-connect/clients/cloudflare-zerotrust/index.md
  docs/content/integration/openid-connect/clients/trillium/index.md
Due: none

refactor: move socket healthcheck disablement to config
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/server/server.go
Due: backend

fix(configuration): healthchecks for unix are unhealthy (#9988)
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
Due: backend

fix(oidc): alg none allowed for jarm
  cmd/authelia-scripts/cmd/gen.go
  config.template.yml
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/discovery.go
Due: backend

fix(oidc): alg none allowed for jarm (#10045)
  cmd/authelia-scripts/cmd/gen.go
  config.template.yml
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/discovery.go
Due: backend

i18n: update translation for portal.json (Czech) (#9980)
  internal/server/locales/cs-CZ/portal.json
Due: backend

fix(regulation): ip not marked (#9949)
  internal/handlers/handler_firstfactor_password.go
  internal/handlers/handler_firstfactor_password_test.go
  internal/regulation/regulator.go
Due: backend

docs(oidc): update forgejo documentation to include ssh public key sync (#10014)
  docs/content/integration/openid-connect/clients/forgejo/forgejo-sshpubkey.png
  docs/content/integration/openid-connect/clients/forgejo/index.md
Due: none

docs(oidc) seafile existing users instructions (#10007)
  docs/content/integration/openid-connect/clients/seafile/index.md
Due: none

docs: adr2 and misc updates
  docs/content/configuration/methods/environment.md
  docs/content/configuration/methods/secrets.md
  docs/content/overview/authorization/statelessness.md
  docs/content/reference/architecture-decision-log/.adr.config.json
  docs/content/reference/architecture-decision-log/2.md
Due: none

docs: adr2 and misc updates (#10054)
  docs/content/configuration/methods/environment.md
  docs/content/configuration/methods/secrets.md
  docs/content/overview/authorization/statelessness.md
  docs/content/reference/architecture-decision-log/.adr.config.json
  docs/content/reference/architecture-decision-log/2.md
Due: none

test: add test coverage
  internal/authentication/ldap_client_dialer_test.go
  internal/authorization/util_test.go
  internal/utils/locale_test.go
Due: backend

test: add test coverage
  internal/authentication/file_user_provider_test.go
  internal/configuration/provider_test.go
  internal/handlers/func_test.go
  internal/mocks/authelia_ctx.go
  internal/suites/action_http.go
  internal/suites/action_mail.go
  internal/suites/duo.go
  internal/suites/suite_high_availability_test.go
Due: backend

test: add test coverage
  internal/model/identity_verification_test.go
  internal/model/oidc_test.go
Due: backend

test: add test coverage
  internal/configuration/schema/types.go
  internal/configuration/test_resources/crypto/rsa.2048.chain.crt
  internal/utils/crypto.go
  internal/utils/crypto_test.go
Due: backend

test: add test coverage
  internal/authentication/gen.go
  internal/authentication/ldap_client_dialer_mock_test.go
  internal/authentication/ldap_client_dialier_test.go
  internal/authorization/amr_test.go
  internal/authorization/types_test.go
  internal/authorization/util_test.go
  internal/logging/file.go
  internal/logging/file_test.go
  internal/logging/printf_test.go
  internal/utils/locale_test.go
Due: backend

test: add test coverage
  internal/clock/fixed_test.go
  internal/clock/real_test.go
  internal/duo/duo.go
  internal/duo/duo_test.go
  internal/duo/types.go
  internal/handlers/duo.go
  internal/handlers/handler_register_duo_device.go
  internal/handlers/handler_register_duo_device_test.go
  internal/handlers/handler_sign_duo.go
  internal/handlers/handler_sign_duo_test.go
  internal/metrics/prometheus_test.go
  internal/middlewares/errors_test.go
  internal/middlewares/headers.go
  internal/middlewares/headers_test.go
  internal/middlewares/http_to_authelia_handler_adaptor.go
  internal/middlewares/http_to_authelia_handler_adaptor_test.go
  internal/middlewares/identity_verification_test.go
  internal/mocks/duo_api.go
  internal/mocks/duo_base_api.go
  internal/mocks/gen.go
  internal/mocks/oauth2_access_token_strategy.go
  internal/mocks/oauth2_token_introspector.go
  internal/server/handlers.go
  internal/utils/hashing.go
  internal/utils/integers_test.go
  internal/utils/locale_test.go
Due: backend

test: add test coverage
  internal/logging/file_test.go
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/model/oidc_test.go
Due: backend

test: add test coverage
  internal/templates/provider.go
  internal/templates/provider_test.go
  internal/templates/util.go
  internal/templates/util_test.go
Due: backend

test: fix lint
  internal/templates/provider_test.go
  internal/templates/util_test.go
Due: backend

docs(oidc): update peertube auth method for latest plugin version
  docs/content/integration/openid-connect/clients/peertube/index.md
Due: none

docs(oidc): update peertube auth method for latest plugin version (#10063)
  docs/content/integration/openid-connect/clients/peertube/index.md
Due: none

chore(docs): add missing oled theme entry
  docs/content/configuration/miscellaneous/introduction.md
Due: none

docs: add missing oled theme entry (#10067)
  docs/content/configuration/miscellaneous/introduction.md
Due: none

adjusted tested versions
  docs/content/integration/openid-connect/clients/grafana/index.md
Due: none

docs(oidc): adjusted tested grafana versions (#10086)
  docs/content/integration/openid-connect/clients/grafana/index.md
Due: none

fix(web): remove invalid fragment and use array
  web/src/components/AppBarItemLanguage.tsx
Due: frontend

fix(web): remove invalid fragment and use array (#10093)
  web/src/components/AppBarItemLanguage.tsx
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
