Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: cred props
  internal/handlers/handler_register_webauthn.go
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/webauthn.go
  internal/session/types.go
Due: backend

fix(handlers): legacy authz failure on nginx
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_impl_legacy_test.go
Due: backend

fix(handlers): legacy authz failure on nginx (#4956)
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_impl_legacy_test.go
Due: backend

fix: deps
  go.mod
  go.sum
  internal/configuration/koanf_util.go
  internal/configuration/koanf_util_test.go
  internal/configuration/provider.go
  internal/configuration/sources.go
  internal/configuration/types.go
Due: backend

fix: encoding
  go.mod
  go.sum
  internal/handlers/handler_sign_webauthn.go
  internal/handlers/webauthn.go
  web/src/services/Webauthn.ts
Due: backend, frontend

test: fix test
  go.mod
  go.sum
  internal/handlers/webauthn_test.go
Due: backend

test: fix test
  internal/handlers/webauthn.go
  internal/handlers/webauthn_test.go
Due: backend

test: fix test
  internal/storage/migrations/V0008.WebauthnMultiCookieDomain.postgres.up.sql
  internal/suites/scenario_backend_protection_test.go
Due: backend

refactor: down migrations
  internal/storage/migrations/V0008.WebauthnMultiCookieDomain.all.down.sql
  internal/storage/migrations/V0008.WebauthnMultiCookieDomain.mysql.down.sql
  internal/storage/migrations/V0008.WebauthnMultiCookieDomain.postgres.down.sql
  internal/storage/migrations/V0008.WebauthnMultiCookieDomain.sqlite.down.sql
Due: backend

test(web): additional frontend component tests
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/NotificationBar.test.tsx
  web/src/components/PrivacyPolicyDrawer.test.tsx
  web/src/components/PrivacyPolicyLink.test.tsx
  web/src/setupTests.js
Due: frontend

fix(commands): internal services not cleaned up properly
  internal/commands/const.go
  internal/commands/services.go
  internal/suites/environment.go
Due: backend

refactor: wording
  internal/commands/services.go
Due: backend

fix(commands): internal services not cleaned up properly (#4966)
  internal/commands/const.go
  internal/commands/services.go
  internal/suites/environment.go
Due: backend

docs: update swag docs
  docs/content/en/integration/proxies/swag.md
Due: none

docs: update swag docs (#4979)
  docs/content/en/integration/proxies/swag.md
Due: none

docs: update ngnix docs
  docs/content/en/integration/proxies/nginx-proxy-manager/index.md
  docs/content/en/integration/proxies/swag.md
Due: none

docs: update ngnix docs (#4980)
  docs/content/en/integration/proxies/nginx-proxy-manager/index.md
  docs/content/en/integration/proxies/swag.md
Due: none

run systemd unit as authelia user
  authelia.service
  authelia.sysusers.conf
  authelia.tmpfiles
  authelia@.service
Due: none

docs: update integration docs
  docs/content/en/integration/proxies/nginx.md
  docs/content/en/integration/proxies/support.md
  docs/content/en/integration/proxies/swag.md
  docs/content/en/integration/proxies/traefikv1.md
  docs/content/en/overview/prologue/supported-proxies.md
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: none

docs: update integration docs
  docs/content/en/integration/proxies/nginx.md
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: none

docs: update integration docs
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: none

build(deps): bump
  go.mod
  go.sum
Due: none

docs: update issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-scripts/cmd/gen.go
Due: none

docs: update issue template (#4992)
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
  cmd/authelia-scripts/cmd/gen.go
Due: none

docs: fix issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
Due: none

docs: fix issue template (#4993)
  .github/ISSUE_TEMPLATE/bug-report.yml
  cmd/authelia-gen/templates/github_issue_template_bug_report.yml.tmpl
Due: none

ci: fix misc and refactorings
  internal/server/public_html/index.html
  internal/suites/suite_activedirectory.go
  internal/suites/suite_bypass_all.go
  internal/suites/suite_caddy.go
  internal/suites/suite_cli.go
  internal/suites/suite_docker.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_envoy.go
  internal/suites/suite_haproxy.go
  internal/suites/suite_high_availability.go
  internal/suites/suite_ldap.go
  internal/suites/suite_mariadb.go
  internal/suites/suite_multi_cookie_domain.go
  internal/suites/suite_mysql.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_oidc.go
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_one_factor_only.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_postgres.go
  internal/suites/suite_short_timeouts.go
  internal/suites/suite_standalone.go
  internal/suites/suite_traefik.go
  internal/suites/suite_traefik2.go
  internal/suites/utils.go
Due: backend

ci: additional fix
  internal/suites/const.go
  internal/suites/utils.go
Due: none

ci: fix misc and refactorings (#4994)
  internal/server/public_html/index.html
  internal/suites/const.go
  internal/suites/suite_activedirectory.go
  internal/suites/suite_bypass_all.go
  internal/suites/suite_caddy.go
  internal/suites/suite_cli.go
  internal/suites/suite_docker.go
  internal/suites/suite_duo_push.go
  internal/suites/suite_envoy.go
  internal/suites/suite_haproxy.go
  internal/suites/suite_high_availability.go
  internal/suites/suite_ldap.go
  internal/suites/suite_mariadb.go
  internal/suites/suite_multi_cookie_domain.go
  internal/suites/suite_mysql.go
  internal/suites/suite_network_acl.go
  internal/suites/suite_oidc.go
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_one_factor_only.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_postgres.go
  internal/suites/suite_short_timeouts.go
  internal/suites/suite_standalone.go
  internal/suites/suite_traefik.go
  internal/suites/suite_traefik2.go
  internal/suites/utils.go
Due: backend

refactor: add support to new docker compose cli
  examples/compose/local/setup.sh
Due: none

feat(server): handle head method
  api/openapi.yml
  internal/handlers/handler_oidc_wellknown.go
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/template.go
  internal/suites/scenario_backend_protection_test.go
  internal/suites/scenario_request_method_test.go
  internal/suites/suite_standalone_test.go
Due: backend

feat(server): handle head method
  internal/suites/scenario_request_method_test.go
Due: none

refactor: reuse buffer
  internal/server/template.go
Due: backend

refactor: include more tests
  internal/suites/scenario_request_method_test.go
Due: none

refactor: 405 handler
  internal/server/handlers.go
Due: backend

feat(server): handle head method (#5003)
  api/openapi.yml
  internal/handlers/handler_oidc_wellknown.go
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/template.go
  internal/suites/scenario_backend_protection_test.go
  internal/suites/scenario_request_method_test.go
  internal/suites/suite_standalone_test.go
Due: backend

fix(logging): injected time format inconsistent
  docs/content/en/configuration/miscellaneous/logging.md
  internal/logging/logger.go
Due: backend

fix(logging): injected time format inconsistent (#5004)
  docs/content/en/configuration/miscellaneous/logging.md
  internal/logging/logger.go
Due: backend

refactor: timing attack delayer
  internal/authentication/delayed.go
  internal/authentication/types.go
  internal/commands/context.go
  internal/duo/duo.go
  internal/duo/types.go
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_firstfactor_test.go
  internal/handlers/handler_reset_password_step1.go
  internal/middlewares/identity_verification.go
  internal/middlewares/timing_attack_delay.go
  internal/middlewares/timing_attack_delay_test.go
  internal/middlewares/types.go
  internal/random/cryptographical.go
  internal/random/mathematical.go
  internal/server/handlers.go
Due: backend

build(deps): update swagger-ui to 4.17.0
  cmd/authelia-scripts/cmd/gen.go
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
