Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build(deps): update mariadb docker tag to v10.6.2
  internal/suites/example/compose/mariadb/docker-compose.yml
Due: none

fix(web): utilise craco for production build and tests
  web/.cracorc.js
  web/package.json
  web/tsconfig.extend.json
  web/tsconfig.json
  web/yarn.lock
Due: frontend

refactor(web): add root alias and fix themes references
  web/src/App.test.tsx
  web/src/index.tsx
  web/src/themes/index.ts
  web/tsconfig.extend.json
Due: frontend

refactor(web): rename extended tsconfig.json
  web/.cracorc.js
  web/tsconfig.aliases.json
  web/tsconfig.json
Due: frontend

refactor: drop cgo requirement for sqlite
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
  cmd/authelia-scripts/cmd_build.go
  go.mod
  go.sum
  internal/storage/sqlite_provider.go
  internal/suites/example/compose/authelia/Dockerfile.backend
Due: backend

build(deps): pin dependencies
  web/package.json
  web/yarn.lock
Due: frontend

remove dead code and fix ci issues
  api/openapi.yml
  internal/mocks/mock_authelia_ctx.go
  internal/suites/suite_one_factor_only_test.go
  web/src/services/SafeRedirection.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
Due: backend, frontend

fix infinite loop in frontend
  web/src/hooks/Redirector.ts
  web/src/views/LoginPortal/LoginPortal.tsx
Due: frontend

build(deps): update dependency @types/chai to v4.2.19
  web/package.json
  web/yarn.lock
Due: frontend

refactor(web): move eslint and prettier to dev deps
  web/package.json
Due: frontend

refactor(web): move chai, enzyme, jest and react-test-renderer
  web/package.json
Due: frontend

refactor(web): move linting and testing deps to dev deps (#2105)
  web/package.json
Due: frontend

build(deps): update module github.com/valyala/fasthttp to v1.27.0
  go.mod
  go.sum
Due: none

refactor: newline for consistency with dockerfiles
  Dockerfile.coverage
Due: none

feat: implement secrets
  cmd/authelia-scripts/helpers.go
  internal/commands/root.go
  internal/commands/validate.go
  internal/configuration/callbacks.go
  internal/configuration/const.go
  internal/configuration/decoders.go
  internal/configuration/koanf_callbacks.go
  internal/configuration/koanf_provider_secrets.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/reader.go
  internal/configuration/reader_test.go
  internal/configuration/schema/access_control.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/validator.go
  internal/configuration/template.go
  internal/configuration/test_resources/example_secret
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/configuration_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/keys.go
  internal/configuration/validator/keys_test.go
  internal/configuration/validator/logging.go
  internal/configuration/validator/logging_test.go
  internal/configuration/validator/secrets.go
  internal/configuration/validator/secrets_test.go
  internal/handlers/handler_verify.go
  internal/logging/logger.go
Due: backend

build(deps): update module github.com/fasthttp/router to v1.4.0
  go.mod
  go.sum
Due: none

fix: various linting issues
  internal/commands/rsa.go
  internal/configuration/const.go
  internal/configuration/koanf_callbacks.go
  internal/configuration/koanf_provider_secrets.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
Due: backend

fix: use flags() instead of persistentflags()
  internal/commands/root.go
Due: backend

fix: govet
  internal/commands/certificates.go
Due: backend

fix: validator
  internal/configuration/schema/validator.go
Due: backend

fix: remove err wrap
  internal/commands/rsa.go
Due: backend

build(deps): update dependency query-string to v7.0.1
  web/package.json
  web/yarn.lock
Due: frontend

build(deps): update module github.com/fasthttp/session/v2 to v2.4.0
  go.mod
  go.sum
Due: none

refactor: fix several linting and test issues
  internal/commands/root.go
  internal/configuration/const.go
  internal/configuration/provider_test.go
  internal/logging/logger.go
Due: backend

refactor: fix several linting and test issues
  internal/commands/root.go
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: backend

refactor: fix import order
  internal/commands/hash.go
  internal/commands/root.go
Due: backend

refactor: drop cgo requirement for sqlite (#2101)
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  Dockerfile.coverage
  cmd/authelia-scripts/cmd_build.go
  go.mod
  go.sum
  internal/storage/sqlite_provider.go
  internal/suites/example/compose/authelia/Dockerfile.backend
Due: backend

fix: cert flags
  internal/commands/certificates.go
Due: backend

fix: logging
  internal/commands/certificates.go
  internal/commands/root.go
  internal/logging/logger.go
  internal/suites/suite_cli_test.go
Due: backend

fix: missing unmarshal
  internal/commands/validate.go
Due: backend

fix: missing key validation
  internal/commands/certificates.go
  internal/commands/root.go
  internal/commands/validate.go
  internal/suites/suite_cli_test.go
Due: backend

refactor: adjust error case
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

fix: linting
  internal/session/user_session.go
Due: backend

test: add config.template.yml test
  config.template.yml
  internal/configuration/configuration_test.go
  internal/configuration/const.go
  internal/configuration/provider_test.go
  internal/utils/const.go
  internal/utils/errs.go
  internal/utils/hashing.go
  internal/utils/hashing_test.go
Due: backend

docs: update config and secret docs
  docs/configuration/index.md
  docs/configuration/secrets.md
Due: none

refactor: add stylized labels and address code review
  docs/configuration/access-control.md
Due: none

fix: k8s env
  internal/configuration/const.go
  internal/configuration/koanf_callbacks.go
Due: backend

fix: code review changes
  docs/configuration/access-control.md
Due: none

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
