Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, integration

.codecov.yml:

codecov:
  require_ci_to_pass: yes

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      backend:
        flags:
          - backend
      frontend:
        flags:
          - frontend
      integration:
        flags:
          - integration

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"
  integration:
    paths:
      - "internal/suites/"

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

Update Dockerfile
  Dockerfile
Due: none

removed write perms for user on entrypoint script
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
Due: none

Update Dockerfile.arm32v7
  Dockerfile.arm32v7
Due: none

fix entrypoint permissions to account for non-root user
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
Due: none

support for running as non-root
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  scripts/entrypoint.sh
Due: none

Update Dockerfile.arm64v8
  Dockerfile.arm64v8
Due: none

very rough draft documentation
  docs/security/measures.md
Due: none

added missing header
  docs/security/measures.md
Due: none

typo changes -> changed
  docs/security/measures.md
Due: none

Update entrypoint.sh
  entrypoint.sh
Due: none

Apply suggestions from code review
  docs/security/measures.md
Due: none

[FEATURE] Container privilege de-escalation (#1370)
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  docs/security/measures.md
  entrypoint.sh
Due: none

[BUGFIX] Fix Dockerfile WORKDIR
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
Due: none

[BUGFIX] Fix Dockerfile WORKDIR (#1392)
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
Due: none

[CI] Update QEMU to v5.1.0-5
  cmd/authelia-scripts/cmd_docker.go
Due: none

[CI] Update QEMU to v5.1.0-5 (#1393)
  cmd/authelia-scripts/cmd_docker.go
Due: none

[FEATURE] Add Remote-Name and Remote-Email headers
  compose/lite/docker-compose.yml
  compose/local/docker-compose.yml
  docs/deployment/supported-proxies/haproxy.md
  docs/deployment/supported-proxies/index.md
  docs/deployment/supported-proxies/nginx.md
  docs/deployment/supported-proxies/traefik1.x.md
  docs/deployment/supported-proxies/traefik2.x.md
  docs/security/threat-model.md
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/suites/HighAvailability/configuration.yml
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/httpbin/docker-compose.yml
  internal/suites/example/compose/nginx/backend/docker-compose.yml
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/example/compose/traefik2/docker-compose.yml
  internal/suites/scenario_custom_headers_test.go
Due: backend, integration

[FEATURE] Add Remote-Name and Remote-Email headers (#1402)
  compose/lite/docker-compose.yml
  compose/local/docker-compose.yml
  docs/deployment/supported-proxies/haproxy.md
  docs/deployment/supported-proxies/index.md
  docs/deployment/supported-proxies/nginx.md
  docs/deployment/supported-proxies/traefik1.x.md
  docs/deployment/supported-proxies/traefik2.x.md
  docs/security/threat-model.md
  internal/handlers/const.go
  internal/handlers/handler_verify.go
  internal/handlers/handler_verify_test.go
  internal/suites/HighAvailability/configuration.yml
  internal/suites/example/compose/haproxy/haproxy.cfg
  internal/suites/example/compose/httpbin/docker-compose.yml
  internal/suites/example/compose/nginx/backend/docker-compose.yml
  internal/suites/example/compose/nginx/portal/nginx.conf
  internal/suites/example/compose/traefik2/docker-compose.yml
  internal/suites/scenario_custom_headers_test.go
Due: backend, integration

[BUGFIX] Add ability to specify SMTP HELO/EHLO identifier
  config.template.yml
  docs/configuration/notifier/smtp.md
  internal/configuration/schema/notifier.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/notification/smtp_notifier.go
Due: backend

[BUGFIX] Add ability to specify SMTP HELO/EHLO identifier (#1416)
  config.template.yml
  docs/configuration/notifier/smtp.md
  internal/configuration/schema/notifier.go
  internal/configuration/validator/const.go
  internal/configuration/validator/notifier.go
  internal/notification/smtp_notifier.go
Due: backend

[FEATURE] Add health checks to containers
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
Due: none

[FEATURE] Add health checks to containers (#1425)
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
Due: none

[MISC] Warn for poorly tuned argon2id deployments
  internal/server/server.go
Due: backend

[FEATURE] Add Optional Check for Session Username on VerifyGet
  internal/handlers/const.go
  internal/handlers/handler_verify.go
Due: backend

[MISC] Warn for poorly tuned argon2id deployments (#1426)
  internal/server/server.go
Due: backend

* use strings.EqualFold to compare case insensitively
  internal/handlers/handler_verify.go
Due: backend

Cast style to React.CSSProperties for LinearProgressBar
  web/src/components/LinearProgressBar.tsx
Due: frontend

Fix HAProxy suite
  internal/suites/example/compose/haproxy/haproxy.cfg
Due: integration

[MISC] Disable auto capitalization of username field on mobile
  web/src/components/FixedTextField.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

[MISC] Disable auto capitalization of username field on mobile (#1435)
  web/src/components/FixedTextField.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

[RELEASE] v4.23.0
  .buildkite/RELEASE.md
Due: none

[RELEASE] v4.23.0 (#1436)
  .buildkite/RELEASE.md
Due: none

[CI] Run codecov in verbose mode
  .buildkite/hooks/post-command
Due: none

[CI] Run codecov in verbose mode (#1439)
  .buildkite/hooks/post-command
Due: none

[BUGFIX] Dynamically determine healthcheck URL
  Dockerfile
  Dockerfile.arm32v7
  Dockerfile.arm64v8
  entrypoint.sh
  healthcheck.sh
Due: none

[BUGFIX] Fix re-rendering callbacks
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecurityKeyMethod.tsx
Due: frontend
