Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

i18n: update translation for portal.json (Nepali)
  internal/server/locales/ne-NP/portal.json
Due: backend

i18n: update translation for portal.json (Tahitian)
  internal/server/locales/ty-PF/portal.json
Due: backend

i18n: update translation for portal.json (Somali)
  internal/server/locales/so-SO/portal.json
Due: backend

i18n: update translation for portal.json (Chinese Traditional, Singapore)
  internal/server/locales/zh-SG/portal.json
Due: backend

i18n: update translation for portal.json (Sardinian)
  internal/server/locales/sc-IT/portal.json
Due: backend

i18n: update translation for portal.json (Sundanese)
  internal/server/locales/su-ID/portal.json
Due: backend

i18n: update translation for portal.json (Venetian)
  internal/server/locales/vec-IT/portal.json
Due: backend

i18n: update translation for portal.json (Serbian)
  internal/server/locales/srp/portal.json
Due: backend

refactor: rebase
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_test.go
Due: backend

feat(handlers): basic authz caching
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/authentication/cached.go
  internal/authentication/cached_test.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_builder_test.go
  internal/handlers/handler_authz_test.go
Due: backend

refactor: review
  internal/authentication/cached.go
  internal/configuration/schema/keys.go
  internal/handlers/handler_authz_authn.go
Due: backend

docs: 4.39 blog
  docs/content/blog/release-notes-4.39/index.md
  docs/content/roadmap/active/openid-connect.md
Due: none

docs: add more 4.39 blog features
  docs/content/blog/release-notes-4.39/index.md
Due: none

refactor: feedback
  internal/handlers/handler_authz_authn.go
Due: backend

feat(handlers): basic authz caching (#8320)
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/authentication/cached.go
  internal/authentication/cached_test.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_builder_test.go
  internal/handlers/handler_authz_test.go
Due: backend

refactor: rebase
  examples/compose/local/setup.sh
  internal/suites/example/compose/smtp/compose.auth.yml
  internal/suites/example/compose/smtp/compose.ports.yml
Due: none

i18n: update translation for consent.json (Chinese Simplified)
  internal/server/locales/zh-CN/consent.json
Due: backend

i18n: update translation for consent.json (Chinese Simplified) (#8821)
  internal/server/locales/zh-CN/consent.json
Due: backend

docs: fix links in callouts
  docs/content/configuration/identity-providers/openid-connect/clients.md
Due: none

docs: fix missing reference
  docs/content/integration/openid-connect/introduction.md
Due: none

docs: fix missing link
  docs/content/reference/guides/attributes.md
Due: none

feat: add new oled theme
  internal/configuration/schema/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/theme_test.go
  web/src/contexts/ThemeContext.tsx
  web/src/themes/Oled.ts
  web/src/themes/index.ts
Due: backend, frontend

refactor: rebase
  docs/content/configuration/miscellaneous/server-endpoint-rate-limits.md
  docs/data/configkeys.json
  docs/data/languages.json
  docs/data/misc.json
  internal/configuration/schema/keys.go
  internal/suites/DuoPush/configuration.yml
  internal/suites/Standalone/configuration.yml
  internal/suites/TwoFactor/configuration.yml
  web/src/i18n/index.ts
Due: backend, frontend

feat(web): add new oled theme (#8838)
  internal/configuration/schema/configuration.go
  internal/configuration/validator/const.go
  internal/configuration/validator/theme_test.go
  web/src/contexts/ThemeContext.tsx
  web/src/themes/Oled.ts
  web/src/themes/index.ts
Due: backend, frontend

feat(embed): make authelia embedable
  docs/content/contributing/guidelines/commit-message.md
  docs/data/languages.json
  docs/data/misc.json
  experimental/embed/config.go
  experimental/embed/doc.go
  experimental/embed/embed.go
  experimental/embed/provider/authentication.go
  experimental/embed/provider/general.go
  experimental/embed/provider/notification.go
  experimental/embed/provider/storage.go
  experimental/embed/types.go
  internal/commands/context.go
  internal/commands/helpers.go
  internal/commands/services.go
  internal/middlewares/util.go
  internal/server/handlers.go
  internal/server/server.go
  internal/server/server_test.go
  internal/services/const.go
  internal/services/file_watcher.go
  internal/services/provider.go
  internal/services/server.go
  internal/services/util.go
  internal/storage/sql_provider.go
  web/.commitlintrc.cjs
  web/src/i18n/index.ts
Due: backend, frontend

feat(api): disable external swagger validation
  api/index.html
Due: none

fix: ensure consistent privacy policy message across translations
  internal/server/asset.go
  internal/server/locales/en/portal.json
  internal/server/server.go
  web/src/components/Brand.tsx
  web/src/components/PrivacyPolicyDrawer.tsx
  web/src/constants/constants.ts
Due: backend, frontend

test(handlers): fix failing webauthn test with regex
  internal/handlers/func_test.go
  internal/handlers/handler_sign_webauthn_test.go
Due: backend

test(handlers): fix failing webauthn test with regex (#8846)
  internal/handlers/func_test.go
  internal/handlers/handler_sign_webauthn_test.go
Due: backend

refactor: suggestion
  web/src/views/Revoke/RevokeResetPasswordTokenView.tsx
Due: frontend

i18n: update translation for portal.json (Chinese Simplified)
  internal/server/locales/zh-CN/portal.json
Due: backend

i18n: update translation for settings.json (Chinese Simplified)
  internal/server/locales/zh-CN/settings.json
Due: backend

feat(oidc): merged id token claims
  cmd/authelia-scripts/cmd/gen.go
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/integration/openid-connect/introduction.md
  docs/data/languages.json
  docs/data/misc.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oauth_device_authorization.go
  internal/handlers/handler_oidc_authorization.go
  internal/oidc/claims.go
  internal/oidc/const.go
  web/src/i18n/index.ts
Due: backend, frontend

feat(oidc): merged id token claims (#8851)
  cmd/authelia-scripts/cmd/gen.go
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/integration/openid-connect/introduction.md
  docs/data/languages.json
  docs/data/misc.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/handlers/handler_oauth_device_authorization.go
  internal/handlers/handler_oidc_authorization.go
  internal/oidc/claims.go
  internal/oidc/const.go
  web/src/i18n/index.ts
Due: backend, frontend

refactor: lint
  internal/configuration/defaults.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
