Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

i18n: update translation for portal.json (French)
  internal/server/locales/fr-FR/portal.json
Due: backend

i18n: update translation for portal.json (Chinese Simplified)
  internal/server/locales/zh-CN/portal.json
Due: backend

i18n: update translation for settings.json (Chinese Simplified)
  internal/server/locales/zh-CN/settings.json
Due: backend

i18n: update translations (#6900)
  internal/server/locales/fr-FR/portal.json
  internal/server/locales/zh-CN/portal.json
  internal/server/locales/zh-CN/settings.json
Due: backend

fix(web): resolve path conflicts between backend and frontend
  web/src/App.tsx
Due: frontend

fix(suites): refactor suite pathprefix utils
  internal/suites/utils.go
Due: none

fix(suites): broken pathprefix for reset password scenario
  internal/suites/scenario_reset_password_test.go
Due: none

docs: remove connection headers
  docs/content/blog/release-notes-4.38/index.md
  docs/content/integration/proxies/nginx.md
Due: none

fix(web): resolve path conflicts between backend and frontend (#6906)
  internal/suites/scenario_reset_password_test.go
  internal/suites/utils.go
  web/src/App.tsx
Due: frontend

docs: remove connection headers (#6907)
  docs/content/blog/release-notes-4.38/index.md
  docs/content/integration/proxies/nginx.md
Due: none

fix(oidc): expose allow multiple auth methods
  cmd/authelia-gen/cmd_docs_jsonschema.go
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/integration/openid-connect/outline/index.md
  docs/data/languages.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/oidc/client.go
Due: backend

fix(oidc): expose allow multiple auth methods (#6910)
  cmd/authelia-gen/cmd_docs_jsonschema.go
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/integration/openid-connect/outline/index.md
  docs/data/languages.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/oidc/client.go
Due: backend

fix(configuration): include more helpful address mapping logs
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/commands/context.go
  internal/configuration/const.go
  internal/configuration/deprecation.go
  internal/configuration/helpers.go
  internal/configuration/helpers_test.go
  internal/configuration/koanf_util.go
  internal/configuration/koanf_util_test.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/schema/storage.go
  internal/configuration/sources.go
  internal/configuration/validator/const.go
  internal/configuration/validator/const_test.go
  internal/configuration/validator/keys.go
  internal/configuration/validator/keys_test.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
Due: backend

fix(configuration): include more helpful address mapping logs (#6909)
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/commands/context.go
  internal/configuration/const.go
  internal/configuration/deprecation.go
  internal/configuration/helpers.go
  internal/configuration/helpers_test.go
  internal/configuration/koanf_util.go
  internal/configuration/koanf_util_test.go
  internal/configuration/provider.go
  internal/configuration/provider_test.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/schema/storage.go
  internal/configuration/sources.go
  internal/configuration/validator/const.go
  internal/configuration/validator/const_test.go
  internal/configuration/validator/keys.go
  internal/configuration/validator/keys_test.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/configuration/validator/storage.go
  internal/configuration/validator/storage_test.go
Due: backend

build(deps): update module authelia.com/provider/oauth2 to v0.1.2
  go.mod
  go.sum
  internal/oidc/client.go
Due: backend

refactor(commands): show enabled filters
  internal/commands/config.go
  internal/commands/const.go
  internal/configuration/const.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/sources.go
Due: backend

fix(commands): config template empty feedback (#6917)
  internal/commands/config.go
  internal/commands/const.go
  internal/configuration/const.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/configuration/sources.go
Due: backend

fix(handlers): bypass fails with authorization header
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
Due: backend

build(deps): update module authelia.com/provider/oauth2 to v0.1.2 (#6918)
  go.mod
  go.sum
  internal/oidc/client.go
Due: backend

fix(handlers): bypass fails with authorization header (#6919)
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
Due: backend

fix(handlers): bearer authorization assumed intention
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/middlewares/authelia_context.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
Due: backend

fix(handlers): bearer authorization assumed intention (#6920)
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/middlewares/authelia_context.go
  internal/oidc/types.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
Due: backend

fix(server): advanced cross origin headers oidc failure
  docs/content/overview/security/measures.md
  internal/handlers/handler_authz_test.go
  internal/server/handlers.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

docs: fix misc
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  docs/content/integration/kubernetes/istio.md
  docs/content/integration/kubernetes/nginx-ingress.md
  docs/content/integration/kubernetes/traefik-ingress.md
  docs/content/integration/proxies/caddy.md
  docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/haproxy.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  docs/content/reference/guides/proxy-authorization.md
Due: none

fix(server): oidc flow failure due to corb (#6921)
  docs/content/overview/security/measures.md
  internal/handlers/handler_authz_test.go
  internal/server/handlers.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

fix: spelling and grammar
  docs/content/blog/release-notes-4.38/index.md
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/methods/files.md
  docs/content/configuration/miscellaneous/logging.md
  docs/content/configuration/miscellaneous/ntp.md
  docs/content/configuration/prologue/common.md
  docs/content/configuration/session/introduction.md
  docs/content/contributing/guidelines/pull-request.md
  docs/content/integration/deployment/docker.md
  docs/content/integration/prologue/get-started.md
  docs/content/integration/proxies/caddy.md
  docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/forwarded-headers/cloudflare_1.png
  docs/content/integration/proxies/forwarded-headers/cloudflare_2.png
  docs/content/integration/proxies/forwarded-headers/index.md
  docs/content/integration/proxies/haproxy.md
  docs/content/integration/proxies/nginx-proxy-manager/index.md
  docs/content/integration/proxies/nginx.md
  docs/content/integration/proxies/skipper.md
  docs/content/integration/proxies/swag.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  docs/content/reference/guides/rule-operators.md
  docs/content/reference/guides/templating.md
  docs/content/reference/integrations/database-integrations.md
Due: none

docs: refactor headers (#6922)
  docs/content/blog/release-notes-4.38/index.md
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/configuration/methods/files.md
  docs/content/configuration/miscellaneous/logging.md
  docs/content/configuration/miscellaneous/ntp.md
  docs/content/configuration/miscellaneous/server-endpoints-authz.md
  docs/content/configuration/prologue/common.md
  docs/content/configuration/session/introduction.md
  docs/content/contributing/guidelines/pull-request.md
  docs/content/integration/deployment/docker.md
  docs/content/integration/kubernetes/istio.md
  docs/content/integration/kubernetes/nginx-ingress.md
  docs/content/integration/kubernetes/traefik-ingress.md
  docs/content/integration/prologue/get-started.md
  docs/content/integration/proxies/caddy.md
  docs/content/integration/proxies/envoy.md
  docs/content/integration/proxies/forwarded-headers/cloudflare_1.png
  docs/content/integration/proxies/forwarded-headers/cloudflare_2.png
  docs/content/integration/proxies/forwarded-headers/index.md
  docs/content/integration/proxies/haproxy.md
  docs/content/integration/proxies/nginx-proxy-manager/index.md
  docs/content/integration/proxies/nginx.md
  docs/content/integration/proxies/skipper.md
  docs/content/integration/proxies/swag.md
  docs/content/integration/proxies/traefik.md
  docs/content/integration/proxies/traefikv1.md
  docs/content/reference/guides/proxy-authorization.md
  docs/content/reference/guides/rule-operators.md
  docs/content/reference/guides/templating.md
  docs/content/reference/integrations/database-integrations.md
Due: none

release: v4.38.3
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

release: v4.38.3 (#6923)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

i18n(handlers): add language merge func
  internal/server/asset.go
Due: backend

docs: fix roadmap
  docs/content/roadmap/active/openid-connect.md
Due: none

i18n(handlers): add support for custom locales
  cmd/authelia-gen/cmd_locales.go
  internal/server/asset.go
  internal/server/handlers.go
  internal/suites/Standalone/docker-compose.yml
  internal/suites/Standalone/locales/es-AR/portal.json
  internal/utils/locale.go
  internal/utils/types.go
Due: backend

docs: fix roadmap (#6928)
  docs/content/roadmap/active/openid-connect.md
Due: none

fix(server): header inconsistencies
  internal/middlewares/headers.go
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/template.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

fix(configuration): include logs about loaded files and filters
  internal/commands/context.go
Due: backend

fix(configuration): include logs about loaded files and filters (#6935)
  internal/commands/context.go
Due: backend

fix(server): header inconsistencies (#6929)
  internal/middlewares/headers.go
  internal/server/asset.go
  internal/server/handlers.go
  internal/server/template.go
  internal/suites/example/compose/nginx/portal/nginx.conf
Due: backend

release: v4.38.4
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

release: v4.38.4 (#6938)
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

fix(web): add missing translations and align for consistency
  internal/server/locales/en/portal.json
  internal/server/locales/en/settings.json
  internal/suites/action_reset_password.go
  internal/suites/action_totp.go
  internal/suites/action_webauthn.go
  internal/suites/scenario_one_factor_test.go
  internal/suites/scenario_password_complexity_test.go
  internal/suites/scenario_regulation_test.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/suite_one_factor_only_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/verify_mail.go
  web/src/models/WebAuthn.ts
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/OneTimePasswordMethod.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/WebAuthnMethod.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/Common/SecondFactorMethodMobilePush.tsx
  web/src/views/Settings/Common/SecondFactorMethodWebAuthn.tsx
  web/src/views/Settings/SettingsView.tsx
  web/src/views/Settings/TwoFactorAuthentication/OneTimePasswordPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
Due: backend, frontend
