Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

i18n: update translation for settings.json (Finnish)
  internal/server/locales/fi-FI/settings.json
Due: backend

i18n: update translation for settings.json (Italian)
  internal/server/locales/it-IT/settings.json
Due: backend

i18n: update translation for settings.json (Japanese)
  internal/server/locales/ja-JP/settings.json
Due: backend

i18n: update translation for settings.json (Portuguese, Brazilian)
  internal/server/locales/pt-BR/settings.json
Due: backend

i18n: update translation for settings.json (Dutch)
  internal/server/locales/nl-NL/settings.json
Due: backend

i18n: update translation for settings.json (Norwegian)
  internal/server/locales/no-NO/settings.json
Due: backend

i18n: update translation for settings.json (Polish)
  internal/server/locales/pl-PL/settings.json
Due: backend

i18n: update translation for settings.json (Portuguese)
  internal/server/locales/pt-PT/settings.json
Due: backend

i18n: update translation for settings.json (Russian)
  internal/server/locales/ru-RU/settings.json
Due: backend

i18n: update translation for settings.json (Swedish)
  internal/server/locales/sv-SE/settings.json
Due: backend

i18n: update translation for settings.json (Ukrainian)
  internal/server/locales/uk-UA/settings.json
Due: backend

i18n: update translation for settings.json (Norwegian Bokmal)
  internal/server/locales/nb-NO/settings.json
Due: backend

test(suites): use specific nginx image (#8889)
  internal/suites/example/compose/authelia/compose.frontend.dist.yml
  internal/suites/example/compose/nginx/backend/compose.yml
  internal/suites/example/compose/nginx/portal/compose.yml
Due: none

i18n: update translations (#8892)
  internal/server/locales/ar-SA/settings.json
  internal/server/locales/cs-CZ/settings.json
  internal/server/locales/da-DK/settings.json
  internal/server/locales/de-DE/settings.json
  internal/server/locales/el-GR/settings.json
  internal/server/locales/es-ES/settings.json
  internal/server/locales/fi-FI/settings.json
  internal/server/locales/fr-FR/settings.json
  internal/server/locales/it-IT/settings.json
  internal/server/locales/ja-JP/settings.json
  internal/server/locales/nb-NO/settings.json
  internal/server/locales/nl-NL/settings.json
  internal/server/locales/no-NO/settings.json
  internal/server/locales/pl-PL/settings.json
  internal/server/locales/pt-BR/settings.json
  internal/server/locales/pt-PT/settings.json
  internal/server/locales/ro-RO/settings.json
  internal/server/locales/ru-RU/settings.json
  internal/server/locales/sv-SE/settings.json
  internal/server/locales/uk-UA/settings.json
Due: backend

Update security-sensitive-values.md
  docs/content/configuration/prologue/security-sensitive-values.md
Due: none

docs: adjust formatting (#8894)
  docs/content/configuration/prologue/security-sensitive-values.md
Due: none

i18n: update translation for settings.json (Chinese Simplified)
  internal/server/locales/zh-CN/settings.json
Due: backend

i18n: update translation for settings.json (Chinese Simplified) (#8898)
  internal/server/locales/zh-CN/settings.json
Due: backend

Update traefik.md
  docs/content/integration/proxies/traefik.md
Due: none

docs: fix typo (#8904)
  docs/content/integration/proxies/traefik.md
Due: none

docs: links in callouts and missing references (#8907)
  docs/content/configuration/identity-providers/openid-connect/clients.md
  docs/content/integration/openid-connect/introduction.md
  docs/content/reference/guides/attributes.md
Due: none

feat: listen on file descriptor
  docs/content/configuration/miscellaneous/server.md
  internal/configuration/schema/const.go
  internal/configuration/schema/types_address.go
  internal/configuration/schema/types_address_test.go
  internal/configuration/schema/types_addresses_nix.go
Due: backend

refactor: adjustments
  config.template.yml
  docs/content/configuration/prologue/common.md
  internal/configuration/config.template.yml
  internal/configuration/schema/const.go
  internal/configuration/schema/notifier.go
  internal/configuration/schema/server.go
  internal/configuration/schema/storage.go
  internal/configuration/schema/telemetry.go
  internal/configuration/schema/types_address.go
  internal/configuration/schema/types_address_test.go
  internal/configuration/schema/types_addresses_nix.go
  internal/configuration/validator/server_test.go
  internal/configuration/validator/storage_test.go
  internal/configuration/validator/telemetry_test.go
Due: backend

build(deps): update dependency path-to-regexp to v8
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

docs: 4.39 blog
  docs/content/blog/release-notes-4.39/index.md
  docs/content/roadmap/active/openid-connect.md
Due: none

docs: add more 4.39 blog features
  docs/content/blog/release-notes-4.39/index.md
Due: none

docs: add docker and clarify others
  docs/content/blog/release-notes-4.39/index.md
Due: none

docs: blog 4.39 (#8915)
  docs/content/blog/release-notes-4.39/index.md
  docs/content/roadmap/active/openid-connect.md
Due: none

docs: generate
  docs/content/blog/release-notes-4.39/index.md
  docs/content/configuration/miscellaneous/server-endpoint-rate-limits.md
  docs/content/integration/openid-connect/zipline/index.md
  docs/data/configkeys.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/keys.go
Due: backend

docs: generate (#8916)
  docs/content/blog/release-notes-4.39/index.md
  docs/content/configuration/miscellaneous/server-endpoint-rate-limits.md
  docs/content/integration/openid-connect/zipline/index.md
  docs/data/configkeys.json
  docs/static/schemas/v4.39/json-schema/configuration.json
  internal/configuration/schema/keys.go
Due: backend

build(deps): update dependency path-to-regexp to v8 (#8914)
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

feat(embed): make authelia embedable
  docs/content/contributing/guidelines/commit-message.md
  experimental/embed/config.go
  experimental/embed/doc.go
  experimental/embed/embed.go
  experimental/embed/provider/authentication.go
  experimental/embed/provider/general.go
  experimental/embed/provider/notification.go
  experimental/embed/provider/storage.go
  experimental/embed/types.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider_lifecycle.go
  internal/authentication/ldap_user_provider_test.go
  internal/authentication/user_provider.go
  internal/commands/context.go
  internal/commands/helpers.go
  internal/commands/services.go
  internal/middlewares/util.go
  internal/mocks/user_provider.go
  internal/server/handlers.go
  internal/server/server.go
  internal/server/server_test.go
  internal/services/const.go
  internal/services/file_watcher.go
  internal/services/provider.go
  internal/services/server.go
  internal/services/signal.go
  internal/services/util.go
  internal/storage/sql_provider.go
  web/.commitlintrc.cjs
Due: backend, frontend

feat(embed): make authelia embedable
  internal/commands/const.go
  internal/commands/root.go
  internal/commands/services.go
  internal/service/const.go
  internal/service/file_watcher.go
  internal/service/provider.go
  internal/service/server.go
  internal/service/signal.go
  internal/service/signal_test.go
  internal/service/util.go
Due: backend

feat(embed): make authelia embedable
  internal/commands/root.go
  internal/middlewares/const.go
  internal/middlewares/startup.go
  internal/middlewares/types.go
Due: backend

feat(embed): make authelia embedable
  docs/content/contributing/guidelines/commit-message.md
  experimental/embed/config.go
  experimental/embed/context.go
  experimental/embed/doc.go
  experimental/embed/embed.go
  experimental/embed/provider/authentication.go
  experimental/embed/provider/general.go
  experimental/embed/provider/notification.go
  experimental/embed/provider/storage.go
  experimental/embed/types.go
  internal/commands/const.go
  internal/commands/context.go
  internal/commands/root.go
  internal/commands/util.go
  internal/middlewares/authelia_context.go
  internal/middlewares/const.go
  internal/middlewares/startup.go
  internal/middlewares/types.go
  internal/middlewares/util.go
  internal/mocks/user_provider.go
  internal/server/handlers.go
  internal/service/file_watcher.go
  internal/service/provider.go
  internal/service/server.go
  internal/service/signal_test.go
  web/.commitlintrc.cjs
Due: backend, frontend

test: add tests
  experimental/embed/config_test.go
  experimental/embed/context_test.go
  experimental/embed/embed_test.go
  experimental/embed/types_test.go
  internal/configuration/koanf_util.go
  internal/configuration/test_resources/config_with_definitions.yml
  internal/service/file_watcher.go
  internal/service/file_watcher_test.go
  internal/service/provider_test.go
  internal/service/sever_test.go
Due: backend

feat(embed): make authelia embedable
  internal/commands/root.go
  internal/middlewares/util.go
  internal/service/util.go
Due: backend

test: add more tests
  experimental/embed/context_test.go
  internal/commands/context.go
  internal/middlewares/authelia_context_test.go
  internal/middlewares/timing_attack_delay_test.go
  internal/service/file_watcher.go
  internal/service/file_watcher_test.go
  internal/service/sever_test.go
  internal/service/signal_test.go
Due: backend

test: add more tests
  internal/service/file_watcher_test.go
  internal/service/sever_test.go
  internal/service/signal_test.go
Due: backend

test: add more tests
  internal/server/server.go
Due: backend
