Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

ci: fix yamllint issues
  internal/suites/OIDC/configuration.yml
  internal/suites/OIDC/docker-compose.yml
  internal/suites/OIDC/users.yml
Due: none

docs: add labels to most configuration sections
  docs/_sass/custom/custom.scss
  docs/configuration/authentication/file.md
  docs/configuration/authentication/index.md
  docs/configuration/authentication/ldap.md
  docs/configuration/duo-push-notifications.md
  docs/configuration/index.md
  docs/configuration/miscellaneous.md
  docs/configuration/notifier/filesystem.md
  docs/configuration/notifier/index.md
  docs/configuration/notifier/smtp.md
  docs/configuration/one-time-password.md
  docs/configuration/regulation.md
  docs/configuration/secrets.md
  docs/configuration/server.md
  docs/configuration/session/index.md
  docs/configuration/session/redis.md
  docs/configuration/storage/index.md
  docs/configuration/storage/mariadb.md
  docs/configuration/storage/mysql.md
  docs/configuration/storage/postgres.md
  docs/configuration/storage/sqlite.md
  docs/configuration/theme.md
Due: none

fix: secrets use TrimRight instead of ReplaceAll to remove newlines
  internal/configuration/validator/secrets.go
Due: backend

refactor(authentication): add trace logs for the user/group baseDN
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

fix(oidc): use specific auth validator instead of standard one
  internal/handlers/handler_oidc_authorize.go
  internal/handlers/handler_oidc_consent.go
  internal/oidc/provider.go
Due: backend

fix(examples): fix yamllint issues in examples
  examples/compose/lite/authelia/configuration.yml
  examples/compose/lite/authelia/users_database.yml
  examples/compose/lite/docker-compose.yml
  examples/compose/local/authelia/configuration.yml
  examples/compose/local/authelia/users_database.yml
  examples/compose/local/docker-compose.yml
  examples/compose/local/traefik/certificates.yml
Due: none

fix(examples): fix yamllint missing newline
  examples/compose/lite/authelia/configuration.yml
Due: none

fix(examples): fix yamllint missing spaces
  examples/compose/lite/authelia/configuration.yml
Due: none

docs: fix license link
  docs/_config.yml
Due: none

docs: fix license link (#1905)
  docs/_config.yml
Due: none

ci: fix yamllint issues
  config.template.yml
  internal/configuration/config.template.yml
  internal/suites/example/compose/oidc-client/docker-compose.yml
Due: backend

fix: refactoring mistake
  internal/handlers/handler_firstfactor_test.go
  internal/session/provider.go
Due: backend

refactor(authentication): early log message about users filter
  internal/authentication/ldap_user_provider.go
Due: backend

refactor(authentication): add trace logs for the user/group baseDN (#1904)
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
Due: backend

docs: misc fixes to documentation after overhaul
  docs/configuration/index.md
  docs/configuration/miscellaneous.md
  docs/configuration/server.md
  docs/configuration/storage/index.md
  docs/configuration/theme.md
Due: none

docs: misc fixes to documentation after overhaul (#1906)
  docs/configuration/index.md
  docs/configuration/miscellaneous.md
  docs/configuration/server.md
  docs/configuration/storage/index.md
  docs/configuration/theme.md
Due: none

fix: bump gems used to generate documentation. (#1902)
  docs/Gemfile.lock
Due: none

docs: Add a page listing supported proxies.
  docs/home/supported-proxies.md
Due: none

docs(proxy): clarify the workflow of a client request payload. (#1838)
  docs/home/architecture.md
Due: none

fix(handlers): logout redirection
  internal/handlers/handler_logout.go
  internal/suites/action_logout.go
  internal/suites/suite_standalone_test.go
  web/src/services/Client.ts
  web/src/services/SignOut.ts
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: backend, frontend

ci: resolve linting issues
  internal/suites/action_logout.go
  web/src/services/SignOut.ts
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: frontend

ci: resolve missing callback deps
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: frontend

ci: make safe redirect a useState
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: frontend

ci: increase timeout
  internal/suites/suite_standalone_test.go
Due: none

fix: remove ReplyOK
  internal/handlers/handler_logout.go
Due: backend

fix: use correct url
  internal/suites/suite_standalone_test.go
Due: none

refactor: use camelcase for json properties and update openapi spec
  api/openapi.yml
  internal/handlers/handler_logout.go
  web/src/services/SignOut.ts
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: backend, frontend

test: add logging to debug test
  internal/suites/action_logout.go
  internal/suites/verify_url_is.go
Due: none

fix: lint and trailing slash
  internal/suites/action_logout.go
  internal/suites/suite_standalone_test.go
  internal/suites/verify_url_is.go
Due: none

ci: test logout redirection in the redirection check scenario instead
  internal/suites/scenario_redirection_check_test.go
  internal/suites/suite_standalone_test.go
Due: none

ci: remove debug logs
  internal/suites/action_logout.go
  internal/suites/verify_url_is.go
Due: none

ci: add scenario to standalone, add logging
  internal/suites/action_logout.go
  internal/suites/scenario_redirection_check_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/verify_url_is.go
Due: none

ci: remove logging
  internal/suites/action_logout.go
  internal/suites/scenario_redirection_check_test.go
  internal/suites/verify_url_is.go
Due: none

fix(handlers): logout redirection validation (#1908)
  api/openapi.yml
  internal/handlers/handler_logout.go
  internal/suites/action_logout.go
  internal/suites/scenario_redirection_check_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/verify_url_is.go
  web/src/services/Client.ts
  web/src/services/SignOut.ts
  web/src/views/LoginPortal/SignOut/SignOut.tsx
Due: backend, frontend

docs: Add a page listing supported proxies. (#1907)
  docs/home/supported-proxies.md
Due: none

release: 4.28.0
  .buildkite/RELEASE.md
Due: none

release: 4.28.0 (#1910)
  .buildkite/RELEASE.md
Due: none

build(deps): update dependency eslint-config-prettier to v8.2.0
  web/package.json
  web/yarn.lock
Due: frontend

refactor: removed deprecated smtp/ldap options
  cmd/authelia/main.go
  config.template.yml
  docs/configuration/authentication/ldap.md
  internal/authentication/ldap_user_provider.go
  internal/authentication/ldap_user_provider_test.go
  internal/configuration/config.template.yml
  internal/configuration/schema/authentication.go
  internal/configuration/schema/notifier.go
  internal/configuration/validator/authentication.go
  internal/configuration/validator/authentication_test.go
  internal/configuration/validator/const.go
  internal/configuration/validator/keys.go
  internal/configuration/validator/keys_test.go
  internal/configuration/validator/notifier.go
  internal/configuration/validator/notifier_test.go
  internal/utils/certificates.go
  internal/utils/certificates_test.go
Due: backend
