Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

build(deps): update traefik docker tag to v2.5.4
  internal/suites/example/compose/traefik2/docker-compose.yml
Due: none

build(deps): update swagger-ui to v4.1.0
  cmd/authelia-scripts/cmd_build.go
Due: none

build(deps): update swagger-ui to v4.1.0 (#2576)
  cmd/authelia-scripts/cmd_build.go
Due: none

build(deps): update dependency @types/node to v16.11.7
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: invalid spacing
  internal/notification/smtp_notifier.go
Due: backend

build(deps): update dependency eslint-plugin-react-hooks to v4.3.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: use crlf
  internal/notification/const.go
Due: backend

build(deps): update dependency vite-plugin-svgr to v0.5.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @vitejs/plugin-react to v1.0.8
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite to v2.6.14
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency react-router-dom to v6.0.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update module github.com/otiai10/copy to v1.7.0
  go.mod
  go.sum
Due: none

build(deps): update mariadb docker tag to v10.6.5
  internal/suites/example/compose/mariadb/docker-compose.yml
Due: none

build(deps): update mariadb docker tag to v10.7.1
  internal/suites/example/compose/mariadb/docker-compose.yml
Due: none

feat: add alpha tables
  docs/configuration/storage/migrations.md
  docs/contributing/style-guide.md
  internal/commands/const.go
  internal/commands/storage.go
  internal/storage/const.go
  internal/storage/migrations/V0001.Initial_Schema.all.down.sql
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0002.Duo_Devices.all.down.sql
  internal/storage/migrations/V0002.Duo_Devices.mysql.up.sql
  internal/storage/migrations/V0002.Duo_Devices.postgres.up.sql
  internal/storage/migrations/V0002.Duo_Devices.sqlite.up.sql
  internal/storage/schema.go
  internal/storage/schema_pre1.go
  internal/storage/sql_provider.go
  internal/storage/types.go
Due: backend

refactor: factorize
  internal/storage/provider.go
  internal/storage/provider_mock.go
  internal/storage/schema.go
  internal/storage/types.go
Due: backend

refactor: cleanup
  internal/models/model_migration.go
  internal/storage/const.go
  internal/storage/errors.go
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_queries_special.go
  internal/storage/sql_provider_schema.go
  internal/storage/sql_provider_schema_pre1.go
Due: backend

refactor: remove irrelevant options
  internal/configuration/schema/storage.go
  internal/configuration/validator/storage.go
  internal/storage/postgres_provider.go
Due: backend

build(deps): update dependency eslint-plugin-react to v7.27.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

fix: add check to validated config
  internal/commands/storage.go
Due: backend

fix: remove additional unrelated options
  internal/commands/storage.go
  internal/configuration/validator/const.go
Due: backend

fix: broken mocks
  internal/mocks/mock_notifier.go
  internal/mocks/mock_user_provider.go
  internal/storage/provider_mock.go
Due: backend

fix: missing param
  internal/storage/sql_provider.go
Due: backend

revert: fix: missing param
  internal/storage/sql_provider.go
Due: backend

fix: skip migrate on already latest
  internal/storage/sql_provider.go
Due: backend

build(deps): update dependency eslint-plugin-import to v2.25.3
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency eslint-plugin-jsx-a11y to v6.5.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Add introspection_endpoint to .well-known/openid-configuration
  internal/handlers/handler_oidc_wellknown.go
  internal/oidc/types.go
Due: backend

docs: add hashicorp vault oidc configuration and update minio tested version
  docs/community/oidc-integrations.md
Due: none

fix: missing comma
  internal/storage/migrations/V0002.Duo_Devices.postgres.up.sql
Due: backend

refactor: remove auth logs specific changes
  internal/storage/migrations/V0001.Initial_Schema.mysql.up.sql
  internal/storage/migrations/V0001.Initial_Schema.postgres.up.sql
  internal/storage/migrations/V0001.Initial_Schema.sqlite.up.sql
  internal/storage/sql_provider_queries.go
  internal/storage/sql_provider_queries_special.go
Due: backend

feat(regulator): store request and remote ip information
  internal/handlers/handler_firstfactor.go
  internal/regulation/regulator.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

refactor: resolve rebase conflicts
  internal/storage/sql_provider_queries_special.go
Due: backend

fix: invalid sql
  internal/storage/sql_provider_queries.go
Due: backend

feat(oidc): include introspection_endpoint in .well-known/openid-configuration
  internal/handlers/handler_oidc_wellknown.go
  internal/oidc/types.go
Due: backend

docs: add hashicorp vault oidc configuration and update minio tested version (#2592)
  docs/community/oidc-integrations.md
Due: none

fix(session): use crypto/rand for session id generator
  internal/session/const.go
  internal/session/provider_config.go
  internal/utils/const.go
  internal/utils/strings.go
Due: backend

refactor: final adjustments
  internal/authentication/const.go
  internal/authentication/password_hash.go
  internal/notification/smtp_notifier.go
  internal/server/template.go
  internal/utils/const.go
  internal/utils/hashing_test.go
  internal/utils/strings.go
  internal/utils/strings_test.go
Due: backend

refactor: linting and avoid double conversion using helper funcs
  internal/authentication/password_hash.go
  internal/utils/strings.go
Due: backend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
