Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

refactor: new use styles syntax
  web/src/components/FixedTextField.tsx
  web/src/components/PasswordMeter.tsx
Due: frontend

refactor: new use styles syntax in components
  web/src/components/FixedTextField.tsx
  web/src/components/LinearProgressBar.tsx
  web/src/components/PasswordMeter.tsx
  web/src/models/StylesProperties.ts
Due: frontend

refactor: use v4 theme colors
  web/src/themes/Dark.ts
  web/src/themes/Light.ts
Due: frontend

fix: text field background
  web/src/components/FixedTextField.tsx
Due: frontend

revert: color adjustment
  web/src/components/FixedTextField.tsx
  web/src/themes/Light.ts
Due: frontend

fix: light color mode
  web/src/themes/Light.ts
Due: frontend

refactor: use makestyles and return as styles
  web/src/components/FixedTextField.tsx
  web/src/components/LinearProgressBar.tsx
  web/src/components/PasswordMeter.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/models/StylesProperties.ts
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/IconWithContext.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

refactor: explicitly use theme
  web/src/components/LinearProgressBar.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
  web/src/views/DeviceRegistration/RegisterWebauthn.tsx
  web/src/views/LoginPortal/Authenticated.tsx
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/DeviceSelectionContainer.tsx
  web/src/views/LoginPortal/SecondFactor/IconWithContext.tsx
  web/src/views/LoginPortal/SecondFactor/MethodContainer.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/OTPDial.tsx
  web/src/views/LoginPortal/SecondFactor/PushNotificationMethod.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/LoginPortal/SecondFactor/WebauthnMethod.tsx
  web/src/views/LoginPortal/SignOut/SignOut.tsx
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
Due: frontend

fix: qrcode implementation
  web/package.json
  web/pnpm-lock.yaml
  web/src/views/DeviceRegistration/RegisterOneTimePassword.tsx
Due: frontend

refactor: update grey theme
  web/src/themes/Grey.ts
Due: frontend

build(deps): update dependency vite-plugin-eslint to v1.5.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update module github.com/mitchellh/mapstructure to v1.5.0
  go.mod
  go.sum
Due: none

fix: go mod tidy
  go.sum
Due: none

ci: force renovate to use go 1.17
  .renovaterc
Due: none

build(deps): update dependency esbuild to v0.14.37
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency vite-plugin-eslint to v1.5.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update node.js to v18
  Dockerfile.coverage
  Dockerfile.dev
  internal/suites/example/compose/authelia/Dockerfile.frontend
  internal/suites/example/compose/duo-api/Dockerfile
Due: none

build(deps): update dependency @types/react to v18.0.6
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency @types/react-dom to v18.0.2
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

ci(buildkite): adjust debhelper step for new makedeb spec
  .buildkite/steps/debhelper.sh
Due: none

refactor: use authelia/debpackager for supported makedeb
  .buildkite/steps/debhelper.sh
Due: none

ci(buildkite): adjust debhelper step for new makedeb spec (#3231)
  .buildkite/steps/debhelper.sh
Due: none

build(deps): update dependency esbuild to v0.14.38
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

feat(server): prometheus metrics
  cmd/authelia-scripts/cmd_gen.go
  config.template.yml
  go.mod
  go.sum
  internal/commands/helpers.go
  internal/commands/root.go
  internal/configuration/config.template.yml
  internal/configuration/decode_hooks.go
  internal/configuration/decode_hooks_test.go
  internal/configuration/provider.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/schema/types.go
  internal/configuration/validator/server.go
  internal/handlers/response.go
  internal/metrics/metrics.go
  internal/metrics/prometheus.go
  internal/middlewares/authelia_context.go
  internal/middlewares/metrics.go
  internal/middlewares/types.go
  internal/middlewares/wrap.go
  internal/regulation/regulator.go
  internal/regulation/types.go
  internal/server/handlers.go
  internal/server/server.go
Due: backend

ci: force renovate to use go 1.17 (#3226)
  .renovaterc
Due: none

fix: remove manual registration
  docs/contributing/commitmsg-guidelines.md
  internal/metrics/prometheus.go
  web/.commitlintrc.js
Due: backend, frontend

fix: adjust recording auth type
  internal/metrics/prometheus.go
  internal/regulation/regulator.go
  internal/regulation/types.go
Due: backend

feat(metrics): add authentication time metric
  internal/handlers/handler_firstfactor.go
  internal/handlers/handler_reset_password_step1.go
  internal/metrics/metrics.go
  internal/metrics/prometheus.go
  internal/middlewares/identity_verification.go
  internal/middlewares/timing_attack_delay.go
  internal/middlewares/timing_attack_delay_test.go
  internal/server/handlers.go
Due: backend

refactor: metrics as part of telemetry
  internal/commands/helpers.go
  internal/commands/root.go
  internal/configuration/schema/configuration.go
  internal/configuration/schema/server.go
  internal/configuration/schema/telemetry.go
  internal/configuration/validator/configuration.go
  internal/configuration/validator/server.go
  internal/configuration/validator/telemetry.go
  internal/metrics/prometheus.go
  internal/server/server.go
Due: backend

feat(commands): user opaque id generate command
  internal/commands/storage.go
  internal/commands/storage_run.go
Due: backend

fix(commands): openid_connect should be openid
  internal/commands/const.go
  internal/commands/storage.go
  internal/commands/storage_run.go
Due: backend

fix(oidc): sub generated for anonymous users
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/mocks/storage.go
  internal/model/oidc.go
  internal/model/types.go
  internal/oidc/types_test.go
  internal/storage/const.go
  internal/storage/migrations/V0005.ConsentSubjectNULL.all.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
  internal/storage/provider.go
  internal/storage/sql_provider.go
  internal/storage/sql_provider_queries.go
Due: backend

build(deps): update dependency jekyll to v4
  docs/Gemfile
Due: none

fix: mark subject valid
  internal/handlers/handler_oidc_authorization.go
Due: backend

fix: queries
  internal/storage/sql_provider.go
  internal/storage/sql_provider_backend_postgres.go
Due: backend

refactor: move pre-configured consent lookup to func
  internal/handlers/handler_oauth_introspection.go
  internal/handlers/handler_oauth_revocation.go
  internal/handlers/handler_oidc_authorization.go
  internal/handlers/handler_oidc_authorization_consent.go
  internal/handlers/handler_oidc_token.go
  internal/storage/migrations/V0005.ConsentSubjectNULL.all.down.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.mysql.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.postgres.up.sql
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
Due: backend

fix: sqlite migration
  internal/storage/migrations/V0005.ConsentSubjectNULL.sqlite.up.sql
Due: backend

fix: missing update to null uuid validity
  internal/handlers/handler_oidc_authorization_consent.go
Due: backend

build(deps): update module github.com/jackc/pgx/v4 to v4.16.0
  go.mod
  go.sum
Due: none

fix: misc
  internal/storage/migrations.go
  internal/storage/migrations_test.go
  internal/storage/sql_provider.go
Due: backend
