Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

Update internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers.go
Due: backend

test: add additional cases
  internal/configuration/provider_test.go
  internal/configuration/test_resources/config_oidc_empty_jwk_key.yml
  internal/configuration/validator/identity_providers_test.go
Due: backend

fix(configuration): jwk without required key startup panic (#8023)
  internal/configuration/provider_test.go
  internal/configuration/test_resources/config_oidc_empty_jwk_key.yml
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
Due: backend

fix(web): use circular spinners
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

feat(web): add loading bar and form disable for password reset
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

refactor(suites): browser should ignore cert errors satisfy Amir's ocd Co-authored-by: Amir Zarrinkafsh <nightah@me.com>
  internal/suites/webdriver.go
Due: none

fix(web): move loading state to async function, allow error to reset
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

fix(web): remove redundant spinner
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

test(web): add test for empty username for password reset
  internal/suites/action_reset_password.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/verify_is_password_reset_page.go
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

fix(suites): adjust blank username reset password test
  internal/suites/action_reset_password.go
  internal/suites/scenario_reset_password_test.go
  internal/suites/verify_is_password_reset_page.go
  internal/suites/webdriver.go
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: frontend

test(suites): check aria-invalid
  internal/suites/scenario_reset_password_test.go
  internal/suites/utils.go
Due: none

i18n: add translation
  internal/server/locales/en/portal.json
Due: backend

fix(web): feedback missing from password reset (#8021)
  internal/server/locales/en/portal.json
  internal/suites/scenario_reset_password_test.go
  internal/suites/utils.go
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
Due: backend, frontend

docs(oidc): gitea cli oauth example (#7518)
  docs/content/integration/openid-connect/gitea/index.md
Due: none

docs: fix dark mode / light mode
  docs/assets/scss/common/_custom.scss
Due: none

docs: fix dark mode / light mode (#8033)
  docs/assets/scss/common/_custom.scss
Due: none

docs: use scss mixins
  docs/assets/scss/common/_custom.scss
Due: none

docs: use scss mixins (#8034)
  docs/assets/scss/common/_custom.scss
Due: none

i18n: update translation for portal.json (Russian)
  internal/server/locales/ru-RU/portal.json
Due: backend

i18n: update translation for portal.json (Ukrainian)
  internal/server/locales/uk-UA/portal.json
Due: backend

i18n: update translations (#8040)
  internal/server/locales/ru-RU/portal.json
  internal/server/locales/uk-UA/portal.json
Due: backend

fix mocks: rename oauth2_pkce_request_storage
  internal/mocks/gen.go
  internal/mocks/oauth2_pkce_request_storage.go
Due: backend

feat: add password change to user settings page
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_user_info.go
  internal/handlers/types.go
  internal/mocks/user_provider.go
  internal/model/user_info.go
  internal/server/handlers.go
  internal/session/types.go
  web/src/constants/Routes.ts
  web/src/layouts/SettingsLayout.tsx
  web/src/models/UserInfo.ts
  web/src/services/Api.ts
  web/src/services/ChangePassword.ts
  web/src/services/ResetPassword.ts
  web/src/services/UserInfo.ts
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
  web/src/views/Settings/SettingsRouter.tsx
Due: backend, frontend

fix(web): properly handle password reuse checks - misc ux changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/session/types.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix(web): handle enter key press for session elevation dialog
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

test(suites): new suite for account password change
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/action_change_password.go
  internal/suites/action_settings.go
  internal/suites/scenario_change_password_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(web): minor ui changes
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(suites): timing change should fix failing tests
  internal/suites/action_verify.go
Due: none

refactor: minor code quality changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/suites/suite_security_settings.go
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix(suites): change password hash to default
  internal/suites/SecuritySettings/users.yml
Due: none

fix(web): make user settings more responsive
  web/src/layouts/SettingsLayout.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

docs: update roadmap
  docs/content/roadmap/active/dashboard-control-panel-for-users.md
Due: none

fix(web): update unstable grid2 to grid2 for password change
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: frontend

fix: use new email body format for password change
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/util.go
Due: backend

fix: minor improvements for logging and text entry
  internal/authentication/ldap_user_provider.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix: code quality changes, code deduplication
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/server/handlers.go
  internal/suites/scenario_change_password_test.go
  web/src/hooks/CapsLock.ts
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix(tests): fix failing security settings test
  internal/authentication/file_user_provider.go
  internal/suites/scenario_change_password_test.go
Due: backend

feat: allow password change to be disabled
  internal/configuration/schema/authentication.go
  internal/configuration/schema/keys.go
  internal/handlers/handler_configuration.go
  internal/handlers/types.go
  internal/server/handlers.go
  internal/server/template.go
  internal/suites/SecuritySettings/configuration.yml
  web/src/models/Configuration.ts
  web/src/services/Configuration.ts
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

refactor(suites): move tests to existing suites, remove unneeded suite
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/suite_caddy_test.go
  internal/suites/suite_envoy_test.go
  internal/suites/suite_pathprefix_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  internal/suites/suite_standalone_test.go
  internal/suites/suite_traefik2_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: frontend

refactor: traefik v1 dropped
  docs/content/integration/proxies/support.md
  docs/content/integration/proxies/traefik.md
  docs/content/overview/prologue/supported-proxies.md
  internal/suites/Traefik/configuration.yml
  internal/suites/Traefik/docker-compose.yml
  internal/suites/Traefik/favicon.ico
  internal/suites/Traefik/logo.png
  internal/suites/Traefik/users.yml
  internal/suites/Traefik3/configuration.yml
  internal/suites/Traefik3/docker-compose.yml
  internal/suites/Traefik3/users.yml
  internal/suites/example/compose/traefik/config/dynamic/tls.yml
  internal/suites/example/compose/traefik/config/static.yml
  internal/suites/example/compose/traefik/docker-compose.v2.yml
  internal/suites/example/compose/traefik/docker-compose.v3.yml
  internal/suites/example/compose/traefik/docker-compose.yml
  internal/suites/example/compose/traefik3/docker-compose.yml
  internal/suites/suite_oidc_traefik.go
  internal/suites/suite_pathprefix.go
  internal/suites/suite_traefik.go
  internal/suites/suite_traefik2.go
  internal/suites/suite_traefik2_test.go
  internal/suites/suite_traefik_test.go
Due: none
