Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

fix: webauthn user handle encoding
  web/src/services/WebAuthn.ts
Due: frontend

feat: authz bearer
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/miscellaneous/server-endpoints-authz.md
  docs/content/en/configuration/miscellaneous/server.md
  docs/content/en/integration/openid-connect/introduction.md
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/schema/const.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/schema/keys.go
  internal/configuration/schema/server.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/configuration/validator/util.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_builder.go
  internal/handlers/handler_authz_test.go
  internal/handlers/handler_authz_types.go
  internal/model/authorization.go
  internal/model/authorization_test.go
  internal/model/const.go
  internal/oidc/amr.go
  internal/oidc/const.go
  internal/server/locales/en/portal.json
  web/src/views/LoginPortal/ConsentView/ConsentView.tsx
Due: backend, frontend

refactor: temp totp
  internal/handlers/handler_sign_totp.go
  internal/handlers/handler_sign_totp_test.go
  internal/handlers/handler_webauthn_credentials_test.go
Due: backend

feat: recover panics
  internal/middlewares/authelia_context.go
  internal/middlewares/errors.go
  internal/middlewares/log_request.go
  internal/middlewares/wrap.go
  internal/server/handlers.go
Due: backend

refactor: temp webauthn
  internal/server/locales/en/settings.json
  web/src/models/WebAuthn.ts
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialItem.tsx
Due: backend, frontend

refactor: improvements
  docs/content/en/configuration/security/access-control.md
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/content/en/reference/guides/templating.md
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/authorization/access_control_subjects.go
  internal/authorization/authorizer_test.go
  internal/authorization/const.go
  internal/authorization/types.go
  internal/authorization/util.go
  internal/configuration/schema/server.go
  internal/configuration/schema/types.go
  internal/configuration/validator/access_control.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/configuration/validator/server.go
  internal/configuration/validator/server_test.go
  internal/handlers/handler_authz.go
  internal/handlers/handler_authz_authn.go
  internal/handlers/handler_authz_types.go
  internal/handlers/handler_oidc_token.go
  internal/handlers/handler_oidc_userinfo.go
  internal/model/oidc_test.go
  internal/oidc/const.go
  internal/oidc/flow_client_credentials.go
  internal/oidc/flow_client_credentials_test.go
  internal/oidc/flow_refresh.go
  internal/oidc/session.go
  internal/oidc/types_test.go
  internal/oidc/util.go
  internal/oidc/util_blackbox_test.go
  internal/templates/funcs.go
Due: backend

fix(oidc): public client authentication panic
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  internal/oidc/client.go
  internal/oidc/client_credentials.go
Due: backend

refactor: use template get env
  docs/content/en/configuration/identity-providers/openid-connect/clients.md
  docs/content/en/configuration/methods/files.md
  docs/content/en/roadmap/active/openid-connect.md
  internal/commands/root.go
  internal/commands/services.go
  internal/configuration/koanf_provider_filtered_file.go
  internal/templates/funcs.go
  web/pnpm-lock.yaml
Due: backend, frontend

deprecate: issuer_private_key and issuer_certificate_chain
  config.template.yml
  docs/content/en/configuration/identity-providers/openid-connect/provider.md
  docs/content/en/configuration/methods/secrets.md
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
  docs/data/configkeys.json
  docs/static/schemas/latest/json-schema/configuration.json
  docs/static/schemas/v4.38/json-schema/configuration.json
  internal/configuration/config.template.yml
  internal/configuration/deprecation.go
  internal/configuration/helpers_test.go
  internal/configuration/schema/identity_providers.go
  internal/configuration/validator/const.go
  internal/configuration/validator/identity_providers.go
  internal/configuration/validator/identity_providers_test.go
  web/pnpm-lock.yaml
Due: backend, frontend

Adding the rule policy to trace log messages
  internal/authorization/authorizer.go
  internal/authorization/const.go
Due: backend

Fix small typo example-two instead of example-three
  docs/content/en/integration/openid-connect/oauth-2.0-bearer-token-usage.md
Due: none

feat(web): add language picker
  .editorconfig
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  internal/suites/environment.go
  web/src/components/LanguageSelector.tsx
  web/src/i18n/index.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

fix(web): lint
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

feat(web): add i18n local store support
  web/src/components/LanguageSelector.tsx
  web/src/i18n/detectors/localStorageCustom.ts
  web/src/utils/localStorage.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

build(bundler): add ldap bundler
  examples/compose/ldap/authelia/.gitignore
  examples/compose/ldap/authelia/configuration.yml
  examples/compose/ldap/docker-compose.yml
  examples/compose/ldap/ldif/01-pp.ldif
  examples/compose/ldap/ldif/02-ppcfg.ldif
  examples/compose/ldap/ldif/03-base.ldif
  examples/compose/ldap/ldif/04-access.ldif
Due: none

feat(web): eliminate duplicated picker items
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  cmd/authelia-gen/types.go
  docs/data/languages.json
  web/src/i18n/index.ts
Due: frontend

Update cmd/authelia-gen/types.go
  cmd/authelia-gen/types.go
Due: none

feat(web): add select mode to language selector ase enter the commit message for your changes. Lines starting
  cmd/authelia-gen/cmd_locales.go
  docs/data/languages.json
  web/src/components/LanguageSelector.tsx
  web/src/i18n/index.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: frontend

feat(web): add better lang picker
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/templates/web_i18n_index.ts.tmpl
  cmd/authelia-gen/types.go
  docs/data/languages.json
  internal/server/locales/es-ES/portal.json
  web/src/components/LanguageSelector.tsx
  web/src/i18n/index.ts
Due: backend, frontend

refactor(commands): move get language logic to internal/utils
  cmd/authelia-gen/cmd_locales.go
  cmd/authelia-gen/const.go
  cmd/authelia-gen/types.go
  internal/utils/const.go
  internal/utils/locale.go
  internal/utils/types.go
Due: backend

feat(handlers): add handler for available locales list
  docs/data/languages.json
  internal/server/asset.go
  internal/server/handlers.go
  internal/utils/locale.go
  web/src/components/LanguageSelector.tsx
  web/src/i18n/index.ts
Due: backend, frontend

docs(oidc): add role mapping config for grafana
  docs/content/en/integration/openid-connect/grafana/index.md
Due: none

feat(web): use backend calls for language picker
  internal/server/asset.go
  internal/utils/types.go
  web/src/components/LanguageSelector.tsx
  web/src/models/LocaleInformation.ts
  web/src/services/Api.ts
  web/src/services/LocaleInformation.ts
  web/src/views/LoginPortal/FirstFactor/FirstFactorForm.tsx
Due: backend, frontend

refactor(web): apply the rabbit recommendations
  web/src/models/LocaleInformation.ts
  web/src/services/LocaleInformation.ts
  web/src/utils/localStorage.ts
Due: frontend

docs: additional notes for versioning
  docs/content/en/policies/versioning.md
Due: none

docs: additional notes for versioning (#6765)
  docs/content/en/policies/versioning.md
Due: none

docs: fix missing version policy link
  docs/config/_default/menus/menus.en.toml
  docs/content/en/policies/versioning.md
Due: none

docs: fix missing version policy link (#6766)
  docs/config/_default/menus/menus.en.toml
  docs/content/en/policies/versioning.md
Due: none

docs(pocketbase): add the integration page for standard OIDC
  docs/content/en/integration/openid-connect/pocketbase/index.md
Due: none

Update docs/content/en/integration/openid-connect/pocketbase/index.md
  docs/content/en/integration/openid-connect/pocketbase/index.md
Due: none

fix: change bad copy/paste
  docs/content/en/integration/openid-connect/pocketbase/index.md
Due: none

perf(web): lazy loading
  web/src/App.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/vite.config.ts
Due: frontend

feat(web): per-device two factor method
  internal/middlewares/require_first_factor.go
  web/src/constants/LocalStorage.ts
  web/src/i18n/detectors/localStorageCustom.ts
  web/src/services/Configuration.ts
  web/src/services/LocalStorage.ts
  web/src/services/UserInfo.ts
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/MethodSelectionDialog.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
Due: backend, frontend

refactor(web): misc refactoring
  web/package.json
  web/pnpm-lock.yaml
  web/src/App.test.tsx
  web/src/components/AccountSettingsMenu.tsx
  web/src/components/PasswordMeter.test.tsx
  web/src/index.tsx
  web/src/layouts/LoginLayout.tsx
  web/src/layouts/SettingsLayout.tsx
  web/src/services/LocalStorage.ts
  web/src/views/LoginPortal/AuthenticatedView/AuthenticatedView.tsx
  web/src/views/LoginPortal/LoginPortal.tsx
  web/src/views/LoginPortal/SecondFactor/SecondFactorForm.tsx
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
  web/src/views/Settings/Test/TestView.tsx
  web/src/views/Settings/TwoFactorAuthentication/CredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/DeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPConfiguration.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPDeleteDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TOTPRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationOptionsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/TwoFactorAuthenticationView.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialDetailsDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialInformationDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialItem.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialRegisterDialog.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsGrid.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsPanel.tsx
  web/src/views/Settings/TwoFactorAuthentication/WebAuthnCredentialsStack.tsx
  web/vite.config.ts
Due: frontend
