Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

---
codecov:
  require_ci_to_pass: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      backend:
        base: auto
        flags:
          - backend
      frontend:
        base: auto
        flags:
          - frontend

flags:
  backend:
    paths:
      - "cmd/authelia/"
      - "internal/"
      - "!internal/suites/"
  frontend:
    paths:
      - "web/"

ignore:
  - "web/src/serviceWorker.ts"

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false
...

build(deps): update dependency mariadb to v10.8.3
  internal/suites/example/compose/mariadb/docker-compose.yml
Due: none

i18n: update translation for portal.json (Swedish)
  internal/server/locales/sv/portal.json
Due: backend

i18n: update translations (#3425)
  internal/server/locales/sv/portal.json
Due: backend

Swedish language corrections
  internal/server/locales/sv/portal.json
Due: backend

build(deps): update dependency @commitlint/cli to v17.0.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

i18n: update sv translation of portal.json (#3430)
  internal/server/locales/sv/portal.json
Due: backend

build(deps): update dependency i18next-http-backend to v1.4.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

release: v4.35.6
  web/package.json
Due: frontend

release: v4.35.6 (#3433)
  web/package.json
Due: frontend

ci: fix editorconfig
  .editorconfig
Due: none

ci: fix editorconfig (#3436)
  .editorconfig
Due: none

fix(commands): hash-password usage instructions
  .editorconfig
  internal/commands/hash.go
  internal/configuration/sources.go
  internal/configuration/types.go
  internal/configuration/validator/authentication.go
Due: backend

docs: add docs
  docs/configuration/authentication/file.md
Due: none

build(deps): update module github.com/go-rod/rod to v0.107.0
  go.mod
  go.sum
Due: none

build(deps): update dependency vite-tsconfig-paths to v3.5.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): update dependency esbuild to v0.14.40
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

i18n: update translation for portal.json (Chinese Simplified)
  internal/server/locales/zh/portal.json
Due: backend

build(deps): update module gopkg.in/yaml.v3 to v3.0.1
  go.mod
  go.sum
Due: none

feat:adding zh-TW translation
  internal/server/locales/zh-TW/portal.json
Due: backend

build(deps): update dependency esbuild to v0.14.41
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

i18n: update translation for portal.json (Spanish)
  internal/server/locales/es/portal.json
Due: backend

i18n: add zh-tw translation for portal.json (#3439)
  internal/server/locales/zh-TW/portal.json
Due: backend

i18n(web): add zh-tw support
  web/src/i18n/index.ts
Due: frontend

i18n: update translation for portal.json (Chinese Traditional)
  internal/server/locales/zh/portal.json
Due: backend

fix: crowdin config
  crowdin.yml
Due: none

fix: crowdin config
  .editorconfig
  crowdin.yml
Due: none

i18n(web): add zh-tw support (#3445)
  .editorconfig
  crowdin.yml
  web/src/i18n/index.ts
Due: frontend

i18n: update translation for portal.json (Chinese Simplified)
  internal/server/locales/zh-CN/portal.json
Due: backend

i18n: update translation for portal.json (Swedish)
  internal/server/locales/sv-SE/portal.json
Due: backend

i18n: update translation for portal.json (Chinese Traditional)
  internal/server/locales/zh-TW/portal.json
Due: backend

i18n: update translations (#3447)
  internal/server/locales/es/portal.json
  internal/server/locales/sv-SE/portal.json
Due: backend

build(deps): update dependency @testing-library/react to v13.3.0
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

build(deps): mui 5.8.1
  web/package.json
  web/pnpm-lock.yaml
Due: frontend
