Repository authelia/authelia: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: swagger-ui csp, strict csp static files and cleanup obselete files (#7966)
  api/index.html
  api/openapi.yml
  cmd/authelia-scripts/cmd/build.go
  internal/middlewares/const.go
  internal/middlewares/headers.go
  internal/server/asset.go
  internal/server/const.go
  internal/server/handlers.go
  internal/server/template.go
  internal/server/template_test.go
Due: backend

refactor(suites): prevent log truncation in buildkite
  internal/suites/docker.go
Due: none

refactor(suites): prevent log truncation in buildkite (#7967)
  internal/suites/docker.go
Due: none

ci(codecov): fix suites and hooks to ensure successful codecov uploads
  .buildkite/hooks/post-command
  internal/suites/example/compose/k3d/docker-compose.yml
  internal/suites/example/kube/authelia/authelia.yml
  internal/suites/kubernetes.go
Due: none

ci(buildkite): fix conditional exclusion for bypassall frontend
  .buildkite/hooks/post-command
Due: none

test(web): fix typo in variable name
  web/src/components/PasswordMeter.test.tsx
Due: frontend

refactor(cmd): fix relative exec error
  cmd/authelia-scripts/authelia-scripts
  internal/utils/exec.go
Due: backend

refactor(cmd): fix relative exec error (#7973)
  cmd/authelia-scripts/authelia-scripts
  internal/utils/exec.go
Due: backend

test(web): fix typo in variable name (#7972)
  web/src/components/PasswordMeter.test.tsx
Due: frontend

ci(codecov): fix suites and hooks to ensure successful codecov uploads (#7971)
  .buildkite/hooks/post-command
  internal/suites/example/compose/k3d/docker-compose.yml
  internal/suites/example/kube/authelia/authelia.yml
  internal/suites/kubernetes.go
Due: none

fix: typos, grammar
  docs/content/integration/openid-connect/introduction.md
Due: none

fix: inconsistently capitalized Relying Party
  docs/content/integration/openid-connect/introduction.md
Due: none

feat: improve oidc defined endpoint readability
  docs/content/integration/openid-connect/introduction.md
Due: none

fix(integration-hedgedoc) : Missing parameter added
  docs/content/integration/openid-connect/hedge-doc/index.md
Due: none

docs(oidc): update hedgedoc (#7981)
  docs/content/integration/openid-connect/hedge-doc/index.md
Due: none

docs: update caddy session header removal regex (#7943)
  docs/content/integration/proxies/caddy.md
Due: none

docs(oicd): matomo
  docs/content/integration/openid-connect/matomo/index.md
Due: none

docs(oidc): matomo (#7985)
  docs/content/integration/openid-connect/matomo/index.md
Due: none

docs: adjust container widths
  docs/assets/scss/common/_variables-custom.scss
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/reference/guides/proxy-authorization.md
Due: none

docs: adjust container widths (#7987)
  docs/assets/scss/common/_variables-custom.scss
  docs/content/configuration/identity-providers/openid-connect/provider.md
  docs/content/reference/guides/proxy-authorization.md
Due: none

docs: update issuer jwks info
  docs/content/configuration/identity-providers/openid-connect/provider.md
Due: none

docs: update issuer jwks info (#7988)
  docs/content/configuration/identity-providers/openid-connect/provider.md
Due: none

docs: fix config template guidance
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

docs: fix config template guidance (#7990)
  config.template.yml
  internal/configuration/config.template.yml
Due: backend

fix mocks: rename oauth2_pkce_request_storage
  internal/mocks/gen.go
  internal/mocks/oauth2_pkce_request_storage.go
Due: backend

feat: add password change to user settings page
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/authentication/user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/handler_user_info.go
  internal/handlers/types.go
  internal/mocks/user_provider.go
  internal/model/user_info.go
  internal/server/handlers.go
  internal/session/types.go
  web/src/constants/Routes.ts
  web/src/layouts/SettingsLayout.tsx
  web/src/models/UserInfo.ts
  web/src/services/Api.ts
  web/src/services/ChangePassword.ts
  web/src/services/ResetPassword.ts
  web/src/services/UserInfo.ts
  web/src/views/ResetPassword/ResetPasswordStep1.tsx
  web/src/views/ResetPassword/ResetPasswordStep2.tsx
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
  web/src/views/Settings/SettingsRouter.tsx
Due: backend, frontend

fix(web): properly handle password reuse checks - misc ux changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/const.go
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/session/types.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix(web): handle enter key press for session elevation dialog
  web/src/views/Settings/Common/IdentityVerificationDialog.tsx
Due: frontend

test(suites): new suite for account password change
  internal/suites/SecuritySettings/configuration.yml
  internal/suites/SecuritySettings/docker-compose.yml
  internal/suites/SecuritySettings/users.yml
  internal/suites/action_change_password.go
  internal/suites/action_settings.go
  internal/suites/scenario_change_password_test.go
  internal/suites/suite_security_settings.go
  internal/suites/suite_security_settings_test.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(web): minor ui changes
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

fix(suites): timing change should fix failing tests
  internal/suites/action_verify.go
Due: none

refactor: minor code quality changes
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/suites/suite_security_settings.go
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

fix(suites): change password hash to default
  internal/suites/SecuritySettings/users.yml
Due: none

fix(web): make user settings more responsive
  web/src/layouts/SettingsLayout.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: frontend

docs: update roadmap
  docs/content/roadmap/active/dashboard-control-panel-for-users.md
Due: none

fix(web): update unstable grid2 to grid2 for password change
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: frontend

fix: use new email body format for password change
  internal/handlers/handler_change_password.go
  internal/handlers/handler_reset_password.go
  internal/handlers/util.go
Due: backend

fix: minor improvements for logging and text entry
  internal/authentication/ldap_user_provider.go
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
Due: backend, frontend

fix: code quality changes, code deduplication
  internal/authentication/const.go
  internal/authentication/file_user_provider.go
  internal/authentication/ldap_user_provider.go
  internal/handlers/handler_change_password.go
  internal/server/handlers.go
  internal/suites/scenario_change_password_test.go
  web/src/hooks/CapsLock.ts
  web/src/views/Settings/Security/ChangePasswordDialog.tsx
  web/src/views/Settings/Security/SecurityView.tsx
Due: backend, frontend

release: v4.38.16
  .github/ISSUE_TEMPLATE/bug-report.yml
  docs/data/misc.json
  web/package.json
Due: frontend

Path conditions:
  backend: any of: cmd/authelia/, internal/, but not: internal/suites/, web/src/serviceWorker.ts
  frontend: any of: web/, but not: web/src/serviceWorker.ts
